.learnMoreButton {
  align-self: flex-start;
  padding: 0;
  color: var(--neutral-light-2);
}

.learnMoreArrow {
  width: var(--unit-4);
  height: var(--unit-4);
}

.innerDescription {
  display: flex;
  flex-direction: column;
  gap: var(--unit-4);
}
