.listItem {
  display: flex;
  align-items: center;
  background-color: var(--harmony-n-25);
  border-radius: var(--harmony-unit-1);
  border: 1px solid var(--harmony-n-100);
  padding: 0 var(--harmony-unit-6) 0 0;
  overflow: hidden;
}

.listItemImage {
  flex-grow: 0;
  height: var(--harmony-unit-14);
  width: var(--harmony-unit-14);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--harmony-n-200);
}

.listItemImage img {
  width: 100%;
}

.listItemDivider {
  margin: 0;
  flex-grow: 0;
  border-width: 0px thin 0px 0px;
  border-style: solid;
  border-color: var(--harmony-n-100);
  height: auto;
  align-self: stretch;
}

.listItemAppName {
  padding: var(--harmony-spacing-l) 0 var(--harmony-spacing-l)
    var(--harmony-spacing-xl);
  flex-grow: 1;
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-medium);
  color: var(--harmony-neutral);
  overflow: hidden;
  text-overflow: ellipsis;
}

.listItemOptions {
  padding: 0 0 0 var(--harmony-spacing-xl);
}
