.modalBody {
  max-width: 400px;
  width: 100%;
}

.modalHeader {
  margin: 0px 16px;
}

.modalTitle {
  color: var(--neutral-light-4);
  font-size: var(--font-l);
  font-weight: var(--font-heavy);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.container {
  padding: 16px;
}

.header {
  width: 452px;
  color: var(--neutral);
  font-family: var(--font-family);
  font-size: var(--font-m);
  font-weight: var(--font-bold);
  text-align: center;
  margin: 24px auto 8px;
}

.description {
  color: var(--neutral);
  font-family: var(--font-family);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  text-align: center;
  margin: 0px auto 24px;
  max-width: 360px;
  line-height: 21px;
}

.multiline {
  display: inline-flex;
  flex-direction: column;
}

.buttons {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.deleteButton {
  cursor: pointer;
  margin-right: 31px;
  text-transform: uppercase;
}

.nevermindButton {
  cursor: pointer;
  text-transform: uppercase;
}
