.container {
  position: relative;
  min-width: 960px;
}

.apiBanner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  opacity: 1;
  height: 475px;
  z-index: -1;
  background: url(../../assets/img/apiBanner@2x.png);
  background-position: center;
  background-size: cover;
  background-blend-mode: hard-light, multiply, overlay, normal;
  box-shadow: 0px 16px 20px rgba(36, 36, 56, 0.15);
  border-radius: 8px;
}

.learnMore {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 472px;
  padding: 16px 48px;
  background: var(--static-white);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 39px;
  margin-bottom: 52px;
  user-select: none;
  font-family: Proxima Nova;
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary);
  cursor: pointer;
  transform: scale3d(1, 1, 1);
  transition: all 0.07s ease-in-out;
}

.learnMore:hover {
  transform: scale3d(1.02, 1.02, 1.02);
}

.learnMore:active {
  transform: scale3d(0.99, 0.99, 0.99);
}

.rewardsCTABanner {
  margin: 32px 0px 24px;
}
