package components

import "github.com/AudiusProject/audius-protocol/core/console/styles"

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>Audius Console</title>
			<script src="https://cdn.tailwindcss.com"></script>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@1.8.0/dist/htmx.min.js"></script>
		</head>
		<body
			class={ styles.BodyClass }
		>
			{ children... }
		</body>
	</html>
}
