package components

type TxPageProps struct {
	Hash   string
	Height string
}

templ TxPage(props TxPageProps) {
	@HeaderBar() {
		<div class="bg-white shadow-md rounded-lg p-4 h-full">
			<h1>
				Transaction Page
			</h1>
			<div>
				Hash: { props.Hash }
			</div>
			<div>
				Height: { props.Height }
			</div>
		</div>
	}
}
