.searchBar {
  /* Position relative ensures that the absolutely positioned drop down stays mounted
   * at the search bar rather than the window. */
  position: relative;
  display: inline-block;
}

.loadingAnimation {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 0;
  right: 8px;
  bottom: 2px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.loadingAnimation.show {
  opacity: 1;
}

.loadingAnimation > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingAnimation svg {
  max-height: 16px;
  max-width: 16px;
}

.loadingAnimation g path {
  stroke: var(--neutral-light-3) !important;
}

.searchBar :global(.ant-select-selection) {
  background: none;
  margin-bottom: 4px;
}

.searchBar :global(.ant-select-auto-complete.ant-select) {
  line-height: 1;
}
.searchBar
  :global(
    .ant-select-auto-complete.ant-select .ant-select-selection-search-input
  ) {
  border-radius: 4px;
  width: 160px;
  box-shadow: 0 2px 5px 0 var(--search-bar-shadow);
  background-color: var(--search-bar-background);
  transition: width 0.2s ease-in-out, background 0.04s ease-in-out;
  padding: 0 12px;
  color: var(--neutral);
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  border: none;
}
.searchBar :global(.ant-select-auto-complete.ant-select .ant-input) {
  height: 24px;
  margin-left: 2px;
  background-color: unset !important;
  transition: width 0.2s ease-in-out, background 0.04s ease-in-out;
  color: var(--neutral) !important;
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
}

.searchBar :global(.ant-select-auto-complete) {
  border-radius: 4px;
}

.searchBar
  :global(
    .ant-select-auto-complete.ant-select
      .ant-select-selection-search.expanded
      .ant-select-selection-search-input
  ) {
  background-color: var(--search-bar-expanded);
  width: 280px;
}

.searchBar :global(.ant-input:focus) {
  border: none;
  box-shadow: none;
}
.searchBar :global(.ant-input::placeholder) {
  color: var(--neutral-light-4);
}

.searchBar :global(.ant-input-prefix) > svg {
  height: 12px;
  width: 12px;
}

.searchBar :global(.ant-input-prefix) > svg g path {
  fill: var(--neutral-light-4);
}

/* Hide the placeholder text when selecting. */
.searchBar :global(.ant-input:focus::placeholder) {
  opacity: 0;
}

.searchBar :global(.ant-select-dropdown .rc-virtual-list-holder) {
  max-height: unset !important;
}
.searchBar :global(.ant-select-dropdown) {
  -webkit-app-region: none;
  animation-duration: 0.2s !important;
  box-shadow: 0 2px 5px 0 rgba(133, 129, 153, 0.15);
  position: absolute;
  background: var(--white);
  width: 100%;
  top: 32px !important;
  border-radius: 4px;
  padding: 0;
}

.searchBox :global(.ant-select-dropdown-menu) {
  width: 280px;
  max-height: none;
}

.searchBox :global(.ant-select-item-option) {
  margin: auto 8px;
  padding: 0px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: unset;
  height: auto;
  line-height: 10px;
  border-radius: 4px;
  transition: all ease-in-out 0.04s;
}

.searchBox :global(.ant-select-item-option):last-child {
  margin: 0;
  padding: 0;
}
.searchBox.hasResults :global(.ant-select-item-option):last-child {
  margin: 12px 0 0;
  padding: 0;
  border-radius: 0px 0px 4px 4px;
}

.searchBox :global(.ant-select-item-option) .allResultsOption {
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 2px;
}

.searchBox
  :global(.ant-select-item-option.ant-select-item-option-active)
  .allResultsOption {
  border-top: 1px solid var(--secondary-dark-1) !important;
}

.searchBox
  :global(
    .ant-select-dropdown-menu
      .ant-select-dropdown-menu-root
      .ant-select-dropdown-menu-vertical
  ) {
  padding-top: 4px;
}

.searchBox :global(.ant-select-item-group) {
  height: 14px;
  min-height: 8px;
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 2px;
  color: var(--neutral);
  font-size: var(--font-xs);
  font-weight: var(--font-bold);
  letter-spacing: 0.7px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0;
}

.customHr {
  height: 1px;
  width: 100%;
  margin-left: 12px;
  margin-right: 16px;
  background-color: rgba(133, 129, 153, 0.1);
}

.searchResultHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchBox
  :global(
    .ant-select-dropdown-menu-item-group
      .ant-select-dropdown-menu-item-group-list
      .ant-select-item-option
  ) {
  border-radius: 4px;
}

.searchBox
  :global(
    .ant-select-dropdown-menu-item-group
      .ant-select-dropdown-menu-item-group-list
      .ant-select-item-option:last-child
  ) {
  border-radius: 4px;
}

/**
 * To make this bg color work with both hover & keyboard selection, we set bg color in the ant
 * active state, AND unset bg color in the ant built in hover state. Active state must take precedence (!important),
 * otherwise unsetting in hover will unset us everywhere.
 */
.searchBox :global(.ant-select-item-option.ant-select-item-option-active) {
  background-color: var(--secondary) !important;
}
.searchBox :global(.ant-select-item-option:hover) {
  background-color: unset;
}

.searchBox
  :global(.ant-select-item-option.ant-select-item-option-active)
  > div
  > div
  > div
  > div
  > .resultText {
  color: var(--static-white);
}

.allResultsOptionWrapper {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allResultsOption span {
  cursor: pointer;
  margin-right: 6px;
  color: var(--neutral);
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
}

:global(.ant-select-item-option.ant-select-item-option-active)
  .allResultsOption
  > div
  > div
  > span {
  color: var(--white);
}

:global(.ant-select-item-option.ant-select-item-option-active)
  .allResultsOption
  > div
  > div
  > .iconArrow
  g
  path {
  fill: var(--white);
}

.searchBox
  :global(
    .ant-select-item-option.ant-select-item-option-active
  ).noResultsOption {
  background-color: var(--white);
}

.noResults {
  height: 48px;
  line-height: 48px;
  width: 100%;
  text-align: center;
  color: var(--neutral);
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
}

.searchBox
  :global(.ant-select-item-option.ant-select-item-option-active)
  .noResultsOption
  span {
  color: var(--white);
}

/* Overrides for special items.
* TODO: Don't make this !important?
*/
.allResultsOption,
.searchBox :global(.ant-select-item-option) .allResultsOption {
  height: 29px !important;
  line-height: 24px;
  border-top: 1px solid rgba(133, 129, 153, 0.1) !important;
}

/* Do not display the dummy search item used to let the user arrow back up to the search bar. */
.searchBarDummyOption,
.searchBox :global(.ant-select-item-option.searchBarDummyOption) {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
}

.searchBox :global(.ant-select-item-option.searchBarDummyOption) {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
}

.tagSearchPopup {
  position: absolute;
  height: 48px;
  width: 280px;
  border-radius: 6px;
  background-color: var(--white);
  font-weight: var(--font-demi-bold);
  font-size: var(--font-xs);
  top: 32px;
  box-shadow: 0 0 1px 0 rgba(133, 129, 153, 0.2),
    0 2px 3px 0 rgba(133, 129, 153, 0.15);
  z-index: 1;
  padding: 8px;
}

.tagSearchPopup > div {
  color: var(--neutral-light-2);
  background-color: var(--white);
  transition: background-color 0.25s, color 0.25s;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 8px;
  user-select: none;
}

.tagSearchPopup .enabled {
  cursor: pointer;
}

.tagSearchPopup > .enabled:hover,
.tagSearchPopup > .focused {
  background-color: var(--secondary);
  color: var(--white);
}

.tagArrow {
  margin-left: auto;
  margin-right: 4px;
  height: 8px;
}

.tagArrow path {
  fill: var(--neutral-light-2);
}

.tagSearchPopup:hover path,
.focused path {
  fill: var(--white);
}
