.text {
  margin-right: 8px;
}

.link {
  color: var(--harmony-white);
  border-bottom: 1px solid var(--harmony-white);
  transition: border-color 100ms;
}

.link:hover {
  color: var(--harmony-white);
  border-color: rgba(0, 0, 0, 0);
}
