.container {
  display: inline-flex;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--secondary);
  padding: 12px 16px;
  margin: auto;
  max-width: 80%;

  color: var(--static-white);
  font-family: var(--harmony-font-family);
  font-size: var(--harmony-font-s);
  font-weight: var(--harmony-font-demi-bold);
  text-align: center;
}
