.root {
  padding: 18px 24px;
  border-top: 1px solid var(--harmony-n-150);
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--harmony-neutral);
  font-weight: var(--harmony-font-bold);
  font-size: var(--harmony-font-s);
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.iconRobot {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.iconRobot path {
  fill: var(--harmony-neutral);
}

.description {
  display: flex;
  font-size: var(--harmony-font-s);
  line-height: 17px;
  font-weight: var(--harmony-font-medium);
  color: var(--harmony-neutral);
  margin-bottom: 16px;
  text-align: left;
}

.link {
  color: var(--harmony-secondary);
  font-size: var(--harmony-font-s);
  line-height: 17px;
  font-weight: var(--harmony-font-medium);
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.attributedUser {
  margin-left: 4px;
  display: flex;
  align-items: center;
  color: var(--harmony-secondary);
}

.attributedUser:hover {
  color: var(--harmony-secondary);
  cursor: pointer;
  text-decoration: underline;
}

.attributedUser:active {
  color: var(--harmony-s-500);
}

.badgeIcon {
  margin-left: 4px;
}
