.badge {
  padding: 10px 17px;
  height: 36px;
  border-radius: 6px;
  background: linear-gradient(315deg, #196ae3 0%, #1977e3 100%);
  user-select: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.badgeIcon {
  filter: drop-shadow(0 1px 2px rgba(39, 31, 71, 0.25));
}
.badgeIcon svg {
  width: 16px;
}
.badgeIcon path {
  fill: var(--harmony-static-white);
}

.badgeTextLabel {
  display: inline-block;
  margin-top: 1px;
  color: var(--harmony-static-white);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.7px;
  padding-left: 9px;
  vertical-align: text-top;
  text-transform: uppercase;
  white-space: nowrap;
  word-break: keep-all;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}
