.container {
    --border-radius: var(--unit-1);
    --size: var(--unit-16);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-default);
    overflow: hidden;
    width: var(--size);
    height: var(--size);
    flex: 0 0 var(--size);
}

.small {
    --size: var(--unit-10);
}

.default {
    --size: var(--unit-16);
}