.giantTrackTile {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  text-align: left;
  user-select: none;
}

.topSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  background-color: var(--neutral-light-10);

  padding: 24px;
}

.infoSection {
  flex: 1 0 338px;
  padding-left: 22px;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-wrap: break-word;
  padding-bottom: 4px;
  margin-bottom: -4px;
}

.infoSectionHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.typeLabel {
  color: var(--neutral-light-4);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  letter-spacing: 3.5px;
  line-height: 28px;

  user-select: none;
}

.premiumContent .typeLabel {
  display: flex;
  align-items: center;
  color: var(--accent-blue);
  letter-spacing: 2px;
}

.premiumContent svg {
  margin-right: 10px;
}

.premiumContent path {
  fill: var(--accent-blue);
}

.title {
  color: var(--neutral);
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 12px;
  width: 100%;
  position: relative;
  min-height: 38px;
}

.title h1 {
  color: var(--neutral);
}

.trackLength {
  padding-left: 18px;
  color: var(--neutral-light-4);
  font-size: 12px;
  font-weight: 600;
}

.artistWrapper {
  color: var(--neutral-light-5);
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.artistWrapper :global(.artistPopover) {
  display: inline;
}

.artistWrapper .artist {
  display: inline-flex;
  color: var(--secondary);
  font-size: var(--font-l);
  font-weight: var(--font-medium);
  padding-left: 4px;
  align-items: center;
}

.artistWrapper .artist:hover {
  color: var(--primary);
  cursor: pointer;
  text-decoration: underline;
}

.playSection {
  margin-top: 7px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.playSection > * {
  margin-top: 16px;
}

.playButton {
  width: 180px !important;
  height: 60px !important;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-right: 24px;
}

.playButton .playButtonText {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  letter-spacing: 0.71px;
  text-transform: uppercase;
}

.infoSection .numberOfListens {
  color: var(--neutral);
  font-size: var(--font-l);
  font-weight: bold;
}

.infoSection .listenText {
  color: var(--neutral-light-5);
  font-size: var(--font-l);
  font-weight: bold;
  padding-left: 8px;
}

.infoSection .firstListen {
  color: var(--neutral-light-4);
  font-size: var(--font-m);
  font-weight: var(--font-medium);
}

.statsSection .numberOfListens,
.statsSection .listenText,
.statsSection .firstListen {
  font-size: var(--font-m);
}

.progressText,
.completeText {
  color: var(--neutral-light-4);
  font-size: var(--font-m);
  font-weight: bold;
}

.progressTextSlider {
  height: 4px;
  width: 140px;
}

.completeText {
  display: flex;
  align-items: center;
  gap: 4px;
}

.completeTextIcon {
  height: 18px;
  width: 18px;
}
.completeTextIcon path {
  fill: var(--neutral-light-4);
}

.actionButtons {
  display: flex;
  align-items: center;
  column-gap: var(--unit-2);
  margin-top: var(--unit-4);
}

.commonButtonSection {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 22px;
}

.commonButtonSection > * {
  margin-right: 16px;
}

.menuKebabContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.premiumContentSection {
  margin: 0 24px 24px 24px;
  padding: 16px;
  background: var(--white);
  border: 1px solid var(--neutral-light-7);
  border-radius: 8px;
}

.premiumContentSectionLocked {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.premiumContentSectionTitle {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: var(--font-heavy);
  font-size: var(--font-m);
}

.premiumContentSectionDescription {
  font-weight: var(--font-demi-bold);
}

.premiumContentSectionDescription > p {
  display: flex;
  align-items: center;
}

.premiumContentSectionDescription img {
  width: 32px;
  height: 32px;
  border: 1px solid var(--neutral-light-7);
  border-radius: 4px;
}

.premiumContentSectionCollection {
  display: flex;
  align-items: center;
  margin-top: 8px;
  width: fit-content;
}

.premiumContentSectionCollection:hover {
  cursor: pointer;
}

.premiumContentSectionButton {
  display: flex;
  width: 250px;
}

.premiumContentSectionButton button {
  width: 100%;
}

.premiumContentSectionButton .buttonText {
  font-size: var(--font-l);
}

.premiumContentSectionButton .buttonIcon svg {
  width: 16px;
  height: 16px;
}

.premiumContentSectionButton .followButton {
  width: 100%;
  flex: unset;
  max-width: none;
  height: 46px;
}

.premiumContentSectionButton .followButton > span {
  font-size: var(--font-l);
}

.collectibleName {
  color: var(--secondary);
}

.collectibleName:hover {
  color: var(--secondary);
  cursor: pointer;
  text-decoration: underline;
}

.collectibleName:active {
  color: var(--secondary-dark-2);
}

.lockedIcon,
.unlockedIcon,
.collectibleIcon,
.specialAccessIcon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.lockedIcon path,
.unlockedIcon path,
.collectibleIcon path,
.specialAccessIcon path {
  fill: var(--neutral);
}

.badges {
  display: flex;
  position: absolute;
  right: 24px;
  justify-content: flex-end;
}

.badgeIcon {
  margin-left: 4px;
}

.badgeIcon svg {
  margin-right: 0px !important; /* to override the !important in UserBadges */
}

.badgeAi {
  background: linear-gradient(
      180deg,
      var(--ai-primary) 0%,
      var(--ai-secondary) 100%
    ),
    var(--ai-primary);
  margin-right: 8px;
}

.suffix {
  margin-left: 4px;
}

.verifiedGreenIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.verifiedGreenIcon path:nth-child(1) {
  fill: var(--accent-green);
}

.verifiedGreenIcon path:nth-child(2) {
  fill: var(--static-white);
}

.bottomSection {
  padding: 20px 24px 20px;
  border-top: 1px solid var(--neutral-light-8);
}

.infoLabelsSection {
  display: flex;
  flex-wrap: wrap;
}

.infoLabelsSection .infoLabelPlacement {
  display: inline-block;
  padding-right: 24px;
}

.description {
  padding-top: 13px;
  white-space: pre-line;
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  line-height: 26px;
}

.description > a {
  color: var(--primary);
}

.tagSection {
  padding-top: 13px;
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
}

.tagSection .tagFormatting {
  margin-right: 8px;
  margin-bottom: 8px;
}

.downloadButtonsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 6px;
}

.verified {
  margin-left: 8px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.makePublicButton {
  width: 166px;
  flex-shrink: 0;
}

.headerContainer {
  padding-top: 20px;
  padding-bottom: 22px;
  display: flex;
}

.downloadableIconContainer {
  margin-left: 10px;
  position: relative;
  top: -2px;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
}

.skeleton {
  position: absolute;
  top: 0;
}

.statsSection {
  margin-top: 20px;
  min-height: 26px;
  display: flex;
  align-items: center;
}

.spinner {
  display: block;
  height: 16px;
  width: 16px;
}

.spinner g path {
  stroke: var(--static-white) !important;
}

.premiumContentSectionDescription > div {
  display: flex;
  align-items: center;
  text-align: left;
  line-height: 150%;
  flex-wrap: wrap;
}

.premiumContentSectionDescription > div > span {
  flex-shrink: 0;
  text-align: left;
  line-height: 150%;
  max-width: 100%;
}

.premiumContentSectionDescription .spinner {
  margin-right: 8px;
  height: 24px;
  width: 24px;
}

.premiumContentSectionDescription .spinner path {
  stroke: var(--neutral-light-4) !important;
}

.collectionIconsContainer {
  display: flex;
  align-items: center;
}

.collectionChainIcon {
  position: relative;
  left: -8px;
  background: var(--white);
  padding: var(--unit-1);
  width: var(--unit-5);
  height: var(--unit-5);
  border: 1px solid var(--neutral-light-7);
  border-radius: 50%;
}

.premiumTrackOwner {
  display: flex;
  align-items: center;
  color: var(--secondary);
}

.premiumTrackOwner:hover {
  color: var(--secondary);
  cursor: pointer;
  text-decoration: underline;
}

.premiumTrackOwner:active {
  color: var(--secondary-dark-2);
}

@media screen and (max-width: 1148px) {
  .premiumContentSectionLocked {
    flex-direction: column;
  }

  .premiumContentSectionButton {
    width: 100%;
  }
}
