.container {
  align-items: center;
  justify-content: center;
  gap: var(--unit-1);
  background-color: var(--neutral-light-4);
  border-radius: var(--unit-20);
  display: flex;
  height: var(--unit-4);
  padding: var(--unit-half) var(--unit-2);
}

.container.hasText {
  padding: var(--unit-1) var(--unit-2);
}

.unlocked.gated,
.coloredWhenLocked.gated {
  background-color: var(--accent-blue);
}

.unlocked.premium,
.coloredWhenLocked.premium {
  background-color: var(--special-light-green);
}

.icon.medium {
  width: 14px;
  height: 14px;
}

.icon.small {
  width: 12px;
  height: 12px;
}

.icon path {
  fill: var(--static-white);
}

.text {
  color: var(--static-white);
  text-decoration: none;
}