.trackDetails {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--harmony-unit-4);
  padding: var(--harmony-unit-4);
  background: var(--neutral-light-10);
  border: 1px solid var(--neutral-light-7);
  border-radius: var(--harmony-unit-2);
}

.gatedContentLabel {
  margin-bottom: var(--harmony-unit-5);
  display: flex;
  align-items: center;
  gap: var(--harmony-unit-2);
  letter-spacing: 2px;
  font-weight: var(--harmony-font-demi-bold);
  font-size: var(--harmony-font-s);
  color: var(--accent-blue);
  text-transform: uppercase;
}

.usdcContentLabel {
  color: var(--special-light-green);
}

.dogEar {
  position: absolute;
  top: -1px;
  left: -1px;
}

.trackTitle {
  margin-bottom: var(--harmony-unit-2);
  font-weight: var(--harmony-font-bold);
  font-size: var(--harmony-font-2xl);
  text-transform: capitalize;
}

.trackImageWrapper {
  width: 124px;
  height: 124px;
}

.trackImage {
  border-radius: 4px;
}

.trackTextWrapper {
  flex: 1;
}

.by {
  font-weight: var(--harmony-font-bold);
  color: var(--neutral-light-4);
}

.trackOwner {
  display: flex;
  align-items: center;
}

.trackOwnerName {
  margin: 0 var(--harmony-unit-1);
  color: var(--secondary);
}

.badgeIcon {
  display: flex;
}
