.trackInfoWrapper {
  position: relative;
}

.trackTitle.extraLarge {
  font-size: var(--harmony-font-xl);
  font-weight: var(--harmony-font-demi-bold);
  padding-bottom: 5px;
}
.trackTitle.large {
  font-size: 15px;
  font-weight: var(--harmony-font-bold);
  line-height: normal;
  padding-bottom: 5px;
}
.trackTitle.medium {
  font-size: var(--harmony-font-s);
  line-height: normal;
  font-weight: var(--harmony-font-bold);
  padding-bottom: 2px;
}

.trackTitle.medium.condense {
  padding: 2px 0px;
}

.trackTitle.small {
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-regular);
  line-height: normal;
  padding-bottom: 3px;
}
.trackTitle.tiny {
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-medium);
  line-height: normal;
}
.trackTitle.miniscule {
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-bold);
  line-height: normal;
  padding-bottom: 2px;
}

.artistName.extraLarge,
.artistName.large {
  font-size: var(--harmony-font-s);
  font-weight: var(--harmony-font-medium);
  line-height: normal;
  padding-bottom: 2px;
}
.artistName.medium {
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-medium);
  line-height: normal;
  padding-bottom: 7px;
}
.artistName.playlistCreator.medium {
  padding-bottom: 2px;
}
.artistName.small,
.artistName.miniscule {
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-medium);
  line-height: normal;
}
.artistName.tiny {
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-demi-bold);
}

.trackTitle,
.artistName {
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.artistName :global(.artistPopover) {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iconVerified {
  flex: 0 0 10px;
  margin-left: 4px;
}

.miniscule .iconVerified {
  height: 8px;
  width: 8px;
}

.active {
  color: var(--harmony-primary);
}
.volumeIcon {
  margin-left: 6px;
  display: flex;
  align-items: center;
}
.volumeIcon svg {
  height: 8px;
}
.volumeIcon path {
  fill: var(--harmony-primary);
}

.trackInfoWrapper :global(.ant-skeleton) {
  position: absolute;
  top: 0;
  left: 0;
}
.titleSkeleton {
  margin-bottom: 4px;
}
.artistNameSkeleton {
  width: 30%;
}

.skeleton {
  position: absolute;
  top: 0;
  height: 18px !important;
}

.miniscule .skeleton {
  height: 12px !important;
}

.hide,
.show {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
}

.trackName {
  line-height: 20px;
}

.trackTitle.extraLarge .trackName {
  line-height: normal;
}

.trackName,
.artistName {
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trackNameLink:hover,
.artistNameLink:hover {
  cursor: pointer;
  color: var(--harmony-primary);
  text-decoration: underline;
  text-decoration-color: var(--harmony-p-100);
}

.disabled .trackNameLink:hover,
.disabled .artistNameLink:hover {
  cursor: default;
  color: inherit;
  text-decoration: none;
}

.createdBy {
  color: var(--harmony-neutral);
  padding-right: 3px;
}

.playlistCreator {
  color: var(--harmony-neutral);
}
