/* Bottom Row Track TIle */
.iconButton {
  display: flex;
  height: var(--harmony-unit-6);
  width: var(--harmony-unit-6);
  align-items: center;
  transform: scale3d(1, 1, 1);
  transition: all 0.12s ease-in-out !important;
}

.iconButton:hover {
  transform: scale3d(1.18, 1.18, 1.18);
}

.iconButtonContainer.isDisabled .iconButton:hover {
  transform: scale3d(1, 1, 1);
}

.iconButton:active {
  transform: scale3d(0.95, 0.95, 0.95);
}

.iconButtonContainer.isDisabled .iconButton:active {
  transform: scale3d(1, 1, 1);
}

.iconShareContainer {
  height: var(--harmony-unit-6);
  width: var(--harmony-unit-6);
}

/* Make the icon buttons a larger click target */
.iconButton:after {
  content: '';
  padding: var(--harmony-unit-4);
  position: absolute;
  left: var(--negative-unit);
  top: var(--negative-unit);
}
