.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: var(--neutral);
  margin-bottom: 28px;
  text-align: left;
  width: 100%;
  padding: 28px 32px 0;
  box-sizing: border-box;
}

.container {
  min-height: 375px;
  display: flex;
  align-items: center;
  user-select: none;
}

.playlists {
  padding: 0 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.playlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
  border-top: 1px solid var(--neutral-light-8);
}

.playlist:hover, .playlist.active {
  background: #393A54;
  cursor: pointer;
}

.playlist .info {
  display: flex;
  align-items: center;
}

.playlist .artwork {
  margin-left: 32px;
  height: 56px;
  width: 56px;
  border-radius: 4px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.playlist .text {
  min-width: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 24px;
  margin-right: 24px;
  justify-self: flex-start;
}

.playlist .playlistTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
  cursor: pointer;
  color: var(--neutral);
}

.playlist .handle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--neutral-light-4);
}

.plays {
  color: var(--neutral-light-4);
  margin-right: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  flex-shrink: 0;
}
