/* Page Layout */
.savedPageWrapper {
  position: relative;
  text-align: left;
}

.bodyWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Header */
.savedPageHeader {
  justify-content: left;
}

.headerBottomBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* Filter */
.filterContainer {
  transition: all 0.5s;
  padding-bottom: var(--harmony-unit-5);
}

.savedPageWrapper :global(.ant-input-affix-wrapper) {
  position: absolute;
  right: 0px;
  top: 60px;
  width: 120px;
  z-index: 1;
}

.savedPageWrapper :global(.ant-input-affix-wrapper .ant-input) {
  border-radius: 4px;
  border: 1px solid var(--harmony-n-100) !important;
  box-shadow: 0 2px 5px 0 var(--search-bar-shadow);
  background-color: var(--harmony-n-25);
  transition:
    width 0.2s ease-in-out,
    background 0.04s ease-in-out;
  color: var(--harmony-neutral);
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-medium);
  border: none;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 24px;
}

.savedPageWrapper :global(.ant-input-prefix) > svg {
  width: 12px;
  height: 12px;
}

.savedPageWrapper :global(.ant-input-prefix) > svg g path {
  fill: var(--harmony-n-400);
}

/* Tabs */
.tabElement {
  justify-content: flex-start;
}

/* Loading */
.spinner {
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

.spinner g path {
  stroke: var(--harmony-secondary);
}

/* Cards */
.cardsContainer {
  gap: var(--harmony-unit-6) var(--harmony-unit-4);
  margin-bottom: var(--harmony-unit-4);
}

/* Play Button */
.playButtonContainer {
  transition: all 0.25s;
}

.albumsWrapper {
  flex: 1 1 0;
}

.createPlaylistCard {
  display: flex;
  flex-direction: column;
  row-gap: var(--harmony-unit-2);
  align-items: center;
  justify-content: center;
}

.createPlaylistText {
  font-size: var(--harmony-font-xl);
  font-weight: var(--harmony-font-bold);
  color: var(--harmony-n-600);
}

.createPlaylistIcon {
  height: var(--harmony-unit-5);
  width: var(--harmony-unit-5);
}

.createPlaylistIcon circle {
  fill: var(--harmony-n-600);
}
