.emptySectionContainer {
  width: 100%;
  border-radius: 8px;
  background-color: var(--harmony-white);
  box-shadow: 0 2px 5px -2px rgba(133, 129, 153, 0.25);
  padding: 54px 32px;
  text-align: center;
}

.emptySectionText {
  height: 74px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  color: var(--harmony-neutral);
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-medium);
}

.startListeningButton {
  margin-top: 24px;
}
