.textContainer {
  position: relative;
  display: inline-flex;
  gap: 4px;
  max-width: 100%;
}

.textCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.trackCell {
  composes: textCell;
  display: block;
}

.trackName {
  display: flex;
  align-items: center;
}

.trackName:hover:not(:has(.locked)) {
  cursor: pointer;
  transition: color 0.07s ease-out;
  color: var(--harmony-primary);
  text-decoration: underline;
  text-decoration-color: var(--harmony-p-100);
}

.artistCellContainer {
  width: 100%;
}

.badges {
  display: inline-flex;
  align-items: center;
}

.trackActionsContainer {
  display: inline-flex;
  gap: 16px;
}

.trackActionsContainer .tableActionButton {
  opacity: 0;
}

.trackActionsContainer .placeholderButton {
  width: 14px;
}

.tableActionButton.active {
  opacity: 1;
}

.tablePlayButton {
  position: absolute;
  opacity: 0;
  transition: opacity 0.07s ease-out;
}

.tablePlayButton.active {
  opacity: 1;
}

.hiddenIcon {
  position: absolute;
  opacity: 1;
  transition: opacity 0.07s ease-out;
}

.hiddenIcon.hidden {
  opacity: 0;
  pointer-events: none;
}

.hiddenIcon path {
  fill: var(--harmony-n-400);
}

.tableRow:hover .tablePlayButton,
.tableRow:hover .trackActionsContainer .tableActionButton {
  opacity: 1;
}

.tableRow:hover .hiddenIcon {
  opacity: 0;
  pointer-events: none;
}

.tableRow.disabled {
  cursor: default;
  color: var(--harmony-n-400);
  background-color: var(--harmony-n-50);
}

.tableRow.disabled * {
  color: var(--harmony-n-400);
  background-color: var(--harmony-n-50);
}

.tableRow.disabled:hover {
  box-shadow: none;
  background-color: var(--harmony-n-50);
}

.tableRow.disabled:hover .tablePlayButton {
  opacity: 0;
  pointer-events: none;
}

.tableRow.disabled:hover .hiddenIcon {
  opacity: 1;
}

.tableRow.lockedRow {
  background-color: var(--harmony-white);
}

.locked {
  margin-left: var(--harmony-unit-1);
  display: flex;
  align-items: center;
  padding: 2px var(--harmony-unit-2);
  background-color: var(--harmony-blue);
  border-radius: 80px;
  font-weight: var(--harmony-font-demi-bold);
  font-size: var(--harmony-font-2xs);
  color: var(--harmony-white);
}

.locked:hover {
  text-decoration: none;
}

.locked svg {
  margin-right: 2px;
  width: 10px;
  height: 10px;
}

.locked svg path {
  fill: var(--harmony-white);
}

.lockedTrackName {
  max-width: calc(100% - 64px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
