.container {
  overflow: hidden;
}

.row {
  background: var(--background-white);
}

.row:not(:first-child) {
  border-top: 1px solid var(--border-default);
}

.row:first-child {
  background: var(--background-surface-1);
}

.rowGrayBackground {
  background: var(--background-surface-1);
}

.radioGroup {
  width: 100%;
}
