.container {
  overflow: hidden;
}

.expander {
  transition: transform var(--harmony-expressive);
  cursor: pointer;
}

.expander.expanded {
  transform: rotate(-180deg);
}

.expandableContainer {
  transition: height var(--harmony-expressive);
}

.radioGroup {
  width: 100%;
}
