.page {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.uploadProgress {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.uploadProgressBar {
  height: 16px;
}

.uploadHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: var(--background-surface-1);
  border-bottom: 1px solid var(--border-strong);
}

.headerInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerProgressInfo {
  display: flex;
  gap: 16px;
  align-items: center;
}

.uploadFooter {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--background-surface-1);
  border-top: 1px solid var(--border-strong);
}

.uploadTrackList {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.uploadTrackItem {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px;
}

.trackItemArtwork {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--border-strong);
}

.emptyProgressIndicator {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  border: 2px solid var(--harmony-neutral);
}

.progressIndicator {
  height: 16px;
  width: 16px;
}

.visitLink:hover {
  text-decoration: none !important;
}
