.root {
  display: flex;
}

.image {
  border-radius: 50%;
  border: 1px solid var(--white);
  box-shadow: 0 0 1px 0 rgba(133, 129, 153, 0.5);

  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--default-profile-picture-background);
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  flex: 0 0 48px;
  height: 48px;
  width: 48px;
}

.skeleton {
  border-radius: 50%;
}
