.header {
    z-index: 5;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);
    mix-blend-mode: normal;
    backdrop-filter: blur(40px);
    box-shadow: 0 1px 0 0 #f2f2f4;
    border-radius: 0.75rem 0.75rem 0 0;
    color: #7E1BCC;
    transition: 0.2s ease;
    cursor: pointer;
}
.header.leftPad {
    padding: 1rem 1rem 1rem 3rem;
}

.headerInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}
.headerInfo h2 {
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}
.headerInfo .userInfo {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}
.headerInfo .userInfo h2 {
    opacity: 0.5;
}
.headerInfo .userInfo svg {
    height: 1rem;
    width: 1rem;
}

.backButton {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0.5rem;
    transform: translate(0,-50%) rotate(180deg);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
    cursor: pointer;
}
.backButton.visible {
    opacity: 1;
    transform: translate(1rem,-50%) rotate(180deg);
    pointer-events: all;
}
.backButton path {
    fill: var(--neutral-light-4);
}

.logo path {
  fill: #7E1BCC;
}

@media only screen and (max-width: 600px) {
    .headerInfo {
        flex-direction: column;
        align-items: flex-start;
    }
}
