.imgContainer {
    position: relative;
    padding-bottom: 100%;
}

/* 1px added to height and width to remove white space showing up */
.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    height: calc(100% + 1px);
    width: calc(100% + 1px);
    backface-visibility: hidden;
    opacity: 0;
    cursor: pointer;
}
.imageWrapper > * {
    transition: 0.15s ease-in-out;
    will-change: transform;
}
.imageWrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0);
    transition: 0.15s ease-in-out;
}
.imageWrapper:hover > * {
    transform: scale(1.08);
}
.imageWrapper:hover::after {
    background-color: rgba(0,0,0,0.1);
}

.video {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* 10px added to height and width to clip border radius on certain nfts */
.image {
    position: absolute;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    object-fit: cover;
}

.fadeIn {
    animation: fadeIn 0.3s forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
