.card {
    height: 100% !important;
    width: 100% !important;
    max-width: 1200px;
    overflow: hidden;
}

.container {
    overflow: hidden auto;
    height: 100%;
}

.container.noScroll {
    overflow: hidden;
}

.collectiblesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.detailsModal {
    z-index: 3;
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
}
.detailsModal.isOpen {
    opacity: 1;
    pointer-events: all;
}

.fadeIn {
    animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media only screen and (max-width: 600px) {
    .detailsModal {
        top: 88px;
    }
}
