.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 34px 36px 32px;
}

/* Header Section */
.header {
  margin-bottom: 14px;
  text-align: center;
  user-select: none;
}

.title {
  font-weight: var(--font-bold);
  font-size: var(--font-xl);
  line-height: 26px;
  color: var(--secondary);
}

.subTitle {
  font-weight: var(--font-medium);
  font-size: 16px;
  line-height: 26px;
  color: var(--secondary-light-2);
}

/* Pick For Me */
.cardsHeader {
  padding: 13px 8px 14px;
  flex-basis: 100%;
  width: 0;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 920px;
}

.pickForMe {
  display: inline-flex;
  align-items: center;
  color: var(--neutral);
  font-size: var(--font-m);
  font-weight: var(--font-medium);
  letter-spacing: 0.15px;
  line-height: 20px;
  transition: all 0.07s ease-in-out;
  cursor: pointer;
}

.pickForMe:hover {
  transform: scale(1.03);
  text-decoration: underline;
  color: var(--neutral-light-2);
}

.pickForMe:active {
  transform: scale(0.98);
}

.iconWand {
  margin-right: 8px;
  height: 20px;
  width: 20px;
}

.pickForMe:hover .iconWand path {
  fill: var(--neutral-light-2);
}

/* Header Section */
.pillSection {
  margin-bottom: 24px;
  text-align: center;
  max-width: 1100px;
}

/* Card Section */
.cardSection {
  background-color: var(--neutral-light-9);
  margin: 0px auto 12px;
  padding: 0px 44px 48px;
  width: 100%;
  max-width: 1100px;
  border: 1px solid var(--neutral-light-6);
  border-radius: 8px;
  max-height: 400px;
}

.cards {
  display: inline-flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  max-width: 920px;
}

.cards.hide {
  opacity: 0;
}

.cards.show {
  transition: opacity 0.14s ease-in-out !important;
  opacity: 1;
}

.userCard {
  margin: 0px 8px 16px;
}

/* Continue Button */
.continueButton .continueButtonText {
  font-size: var(--font-l);
  font-weight: var(--font-bold);
}

/* Following Count */
.followCount {
  margin-top: 8px;
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
}
