/* Metamask Button */
.metaMaskSignupButton {
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 52px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.metaMaskSignupButton input {
  height: 52px;
  width: 246px;
  border: 1px solid #dad9e0;
  border-radius: 4px;
  background-color: #ffffff;
}

.metaMaskSignupText {
  display: inline-flex;
  justify-content: space-between;
  width: 214px;
  align-items: center;
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-bold);
}

.unsetWidth {
  width: unset;
}

.metaMaskLogo {
  height: 20px;
  width: 109px;
}

/* Not recommended */
.subText {
  margin-bottom: 12px;
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
}
