.root {
  box-shadow: var(--harmony-shadow-far);
  /* TODO: should this be on box/flex? */
  overflow: hidden;
}

.valuesRoot {
  background: radial-gradient(
      77.16% 77.16% at 50% 51.81%,
      rgba(91, 35, 225, 0.8) 0%,
      rgba(113, 41, 230, 0.64) 67.96%,
      rgba(162, 47, 235, 0.5) 100%
    ),
    url('../../../../assets/img/2-DJ-4-3.jpg'), lightgray 50% / cover no-repeat;
  background-position: -175px;
  background-size: cover;
}
