/* Twitter Button */
.twitterOverlayContainer {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  padding-top: 32px;
  background-color: rgba(255, 255, 255, 0.75);
  transition: all 0.07s ease-in-out;
}

.twitterButton {
  margin-bottom: 40px;
  height: 80px !important;
  width: 320px !important;
  border-radius: 6px;
  background-color: var(--static-twitter-blue);
  box-shadow: 0 2px 5px -2px rgba(133, 129, 153, 0.5),
    0 2px 8px -2px rgba(27, 161, 241, 0.25);
}
.twitterButton svg {
  height: 42px !important;
  width: 42px !important;
}

.twitterButton .btnText {
  color: var(--white);
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  letter-spacing: 0.25px;
}

.twitterButton .btnIcon svg {
  height: 48px;
  width: 48px;
}

.instagramButton {
  height: 80px !important;
  width: 320px !important;
  margin-bottom: 16px;
}

.instagramButton .instagramText {
}

.instagramButton .btnIcon svg {
  height: 48px;
  width: 48px;
}

.verified {
  height: 14px;
  width: 14px;
}

.ifApplicable {
  margin-top: 6px;
  margin-bottom: -18px;
  font-weight: var(--font-medium);
  font-size: var(--font-xs);
  text-align: left;
  color: var(--neutral-light-4);
}

/* Checklist  */

.autofill {
  font-weight: var(--font-demi-bold);
  margin-bottom: 18px;
  cursor: default;
  user-select: none;
  max-width: 320px;
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-m);
  line-height: 23px;
}

.autofillChecklist {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
  width: 100%;
  max-width: 224px;
}

.checkItem {
  width: 100%;
  max-width: 180px;
  display: inline-flex;
  align-items: center;
  color: var(--neutral);
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  cursor: default;
  user-select: none;
}

.checkIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  margin-right: 12px;
  border-radius: 50%;
}

.checkIcon svg {
  height: 32px;
  width: 32px;
}

.pwdCheckLabel {
  color: var(--neutral);
  font-size: var(--font-xs);
  cursor: default;
  user-select: none;
}

.divider {
  border-bottom: 1px solid var(--neutral-light-8);
  max-width: 224px;
  width: 100%;
  margin-bottom: 16px;
}

/* manual */

.manualText {
  all: unset;
  color: var(--secondary-light-2);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.manualText:hover {
  color: var(--secondary);
  text-decoration: underline;
}

/* Loading */
.loadingContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  height: 48px;
  width: 48px;
}
