.backButton {
  height: 24px;
  width: 24px;
  padding: 0;
  margin-right: var(--unit-4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.12s ease-out !important;
}

/* TODO: KJ - Remove this once a Harmony icon button is created and does this */
.backButton:hover {
  transform: scale3d(1.11, 1.11, 1.11) !important;
}

.backButton:active {
  transform: scale3d(0.98, 0.98, 0.98) !important;
}

.backButton svg {
  height: 24px;
  width: 24px;
}

.backButton path {
  transition: 0.12s ease-out;
  fill: var(--neutral-light-4);
}

.backButton:hover path {
  fill: var(--neutral-light-6);
}

.backButton:active path {
  fill: var(--neutral-dark-2);
}
