.audio {
  opacity: 0;
  position: relative;
  min-height: 16px;
}

.audio:hover:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color:var(--neutral-light-4);
  left: -40px;
  border-radius: 4px;
}

.audio.show {
  display: flex;
  align-items: center;
  padding-left: 8px;
  height: 16px;
  transition: opacity ease-in-out 0.5s;
  opacity: 1;
}

.audio.show .earnAudio:hover {
  transform: scale(1.03);
}

.audio.show .earnAudio:active {
  transform: scale(.97);
}

.audio.hasBalance {
  cursor: pointer;
}

.audioAmount {
  margin-left: 4px;
  font-size: var(--font-s);
  font-weight: var(--font-heavy);
  color: var(--neutral-light-4);
  transition: color 0.07s ease-in-out;
  cursor: pointer;
}

.hasBalance .audioAmount:hover {
  color: var(--neutral-light-3);
}

.earnAudio {
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding: 4px 8px;
  color: var(--static-white);
  background: var(--secondary);
  border-radius: 16px;
  font-size: var(--font-2xs);
  font-weight: var(--font-bold);
  letter-spacing: 0.1em;
  transition: all 0.07s ease-in-out;
}

.earnAudioCaret {
  margin-left: 2px;
  height: 12px;
  width: 10px;
}

.earnAudioCaret path {
  fill: var(--static-white);
}
