.navColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: var(--neutral-light-10);
  border-right: 1px solid var(--neutral-light-8);
  user-select: none;
  overflow: visible;
}

.navColumn :global(.ant-modal-wrap) {
  position: absolute;
  overflow: visible;
  height: 100vh;
  width: 100vw;
}

.navColumn .logo {
  display: block;
  height: 25px;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.navContent {
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, box-shadow 0.2s ease;
  flex-grow: 1;
}

.navContent.dragScrollingUp {
  box-shadow: inset 0px 8px 5px -5px var(--tile-shadow-3);
}

.navContent.dragScrollingDown {
  box-shadow: inset 0px -8px 5px -5px var(--tile-shadow-3);
}

.navContent.show {
  opacity: 1;
}

svg.logo path {
  fill: var(--neutral-light-5);
}

.navColumn .scrollable {
  padding-top: 24px;
}

.navColumn .userHeader {
  margin-left: 24px;
  margin-bottom: 24px;
}

.navColumn .accountWrapper {
  display: block;
  margin-bottom: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  transition: all ease-in-out 0.18s;

  color: var(--neutral);
}

.navColumn .accountWrapper .wrapperPhoto {
  position: relative;
  cursor: pointer;

  overflow: hidden;
  flex: 0 0 48px;
  height: 48px;
}

.navColumn .accountWrapper .dynamicPhoto {
  height: 48px;
  border-radius: 30px;
  border: 1px solid var(--white);
  box-shadow: 0 0 1px 0 rgba(133, 129, 153, 0.5);

  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--default-profile-picture-background);
}

.navColumn .accountWrapper .wrapperPhotoSkeleton {
  border-radius: 50%;
}

.navColumn .accountWrapper .photo {
  position: relative;
  cursor: pointer;

  overflow: hidden;
  flex: 0 0 48px;
  height: 48px;
  border-radius: 30px;
  border: 1px solid var(--white);
  box-shadow: 0 0 1px 0 rgba(133, 129, 153, 0.5);

  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--default-profile-picture-background);
}

.navColumn .accountWrapper .userInfoWrapper {
  margin-left: 16px;
  text-align: left;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
}
.navColumn .accountWrapper .userInfoWrapper .name {
  font-size: var(--font-s);
  line-height: 17px;
  font-weight: var(--font-demi-bold);
  padding-bottom: 4px;
  padding-right: 4px;
  color: var(--neutral);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.badge {
  margin-left: 4px;
}

.navColumn .accountWrapper .userInfoWrapper .name:hover {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--primary-light-2);
}

.navColumn .accountWrapper .userInfoWrapper .handleContainer {
  display: inline-flex;
  overflow: hidden;
  line-height: 14px;
  cursor: pointer;
  padding-right: 4px;
}

.navColumn .accountWrapper .userInfoWrapper .handle {
  font-size: var(--font-xs);
  color: var(--neutral);
  font-weight: var(--font-medium);
  transition: all 0.07s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navColumn .accountWrapper .userInfoWrapper .handleContainer:hover .handle {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--primary-light-2);
}

.navColumn .accountWrapper .userInfoWrapper .handleContainer svg {
  transition: all 0.07s ease-in-out;
}

.navColumn .accountWrapper .userInfoWrapper .handleContainer:hover g path {
  fill: var(--primary);
}

.navColumn .accountWrapper .userInfoWrapper .haveAccount {
  color: var(--neutral);
  font-weight: var(--font-demi-bold);
  font-size: var(--font-s);
  line-height: 18px;
}

.navColumn .accountWrapper .userInfoWrapper .logIn {
  color: var(--secondary);
  font-size: var(--font-xs);
  line-height: 14px;
  cursor: pointer;
}

.navColumn .accountWrapper .userInfoWrapper .logIn:hover {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--primary-light-2);
}

.handleMenuContainer {
  margin-top: -2px;
  margin-left: 1px;
}

.iconContainer {
  display: flex;
  padding: 5px;
}

.handleCaretIcon {
  height: 5px;
  width: 9px;
}

.menuItem {
  display: flex;
  align-items: center;
  font-size: var(--font-s);
}

.menuIcon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.menuDropdown:global(.ant-tooltip) {
  padding-top: 12px;
  z-index: 12;
}

.menuDropdown :global(.ant-menu-vertical > .ant-menu-item) {
  height: 28px;
  width: 176px !important;
}

.navColumn .links {
  flex: 1 1 auto;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navColumn .links .linkGroup {
  margin: 0px 16px 25px;
}

.navColumn .links .groupHeader {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: var(--font-l);
  font-weight: var(--font-heavy);
  line-height: 22px;
  padding-bottom: 2px;
  padding-left: 16px;
  color: var(--nav-column-group-header);

  display: flex;
  align-items: center;
  transition: color 0.07s ease-in-out;
}

.navColumn .links .link {
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  position: relative;
  display: table;
  min-width: 100px;

  /* negative margin so the link hover chip shows up. */
  margin-left: -16px;
  /* left padding is visibly (32px + -16px margin =) 16px to match the left padding of .groupHeader */
  padding: 5px 0 5px 32px;
  color: var(--nav-column-link);
  transition: color 0.07s ease-in-out;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  border: 0;
  background: none;
  text-align: inherit;
}

.navColumn .links .link:hover {
  cursor: pointer;
}

.navColumn .links a.link,
.navColumn .links button.link {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
}

.navColumn .links a.link.editable,
.navColumn .links button.link.editable {
  /** Add 12px to the width so that we can free up some space for the horizontal kebab (which only appears on hover). This won't cause
  overflow because there is already a -16px margin on nav link buttons. */
  width: calc(100% + 12px);
}

.navColumn .links a.link.disabledLink,
.navColumn .links button.link.disabledLink {
  opacity: 0.6;
  cursor: not-allowed;
}

.navColumn .links a.link.droppableLink {
  color: var(--secondary);
}

.navColumn .groupHeader.droppableLink {
  color: var(--secondary);
}

.droppable {
  background-color: rgba(0, 0, 0, 0);
  transition: background 0.07s ease-in-out;
  border-radius: 6px;
  width: 100%;
}

.droppableGroup {
  padding-top: 10px;
  margin-top: -10px;
  transition: background 0.07s ease-in-out;
  border-radius: 6px;
}

.navColumn .links .droppable .link {
  margin-left: -16px;
}

.droppableHover {
  background-color: rgba(152, 73, 214, 0.15);
}

.droppableGroupHover {
  background-color: rgba(152, 73, 214, 0.15);
}

.links .link:hover:before {
  border-right: 4px solid var(--neutral-light-4);
}
.links .link.disabled:hover {
  border-right: none;
}
.links .link:global(.active):before {
  border-right: 4px solid var(--primary);
}
.links .link:hover:before,
.links .link:global(.active):before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -16px;
  border-radius: 4px;
}
.links .link:hover {
  color: var(--nav-column-link-hover);
}
.links .link:global(.active) {
  color: var(--primary) !important;
  font-weight: var(--font-medium);
}
.links .link.disabled,
.links .link.disabled:hover {
  color: var(--neutral-light-4);
  pointer-events: none;
}

.newPlaylist {
  margin-left: 24px;
}

.navAnchor {
  padding-top: 17px;
  border-top: 1px solid var(--neutral-light-8);
  display: block;
  text-align: center;
}

.profileCompletionContainer {
  display: flex;
  justify-content: center;
}

.updateDotContainer {
  /* margin left = -(6px width + 4px margin-right on update dot element) so that list items stay aligned */
  margin-left: -10px;
}

.updateDotTooltip :global(.ant-tooltip-arrow) {
  left: 24px;
}
