.navLink {
  transition: opacity 1s ease-in-out;
}

.folderButton {
  /** Add 12px to the width so that we can free up some space for the horizontal kebab (which only appears on hover). This won't cause
  overflow because there is already a -16px margin on nav link buttons. */
  width: calc(100% + 12px);
}

.folderButtonContentContainer {
  height: 100%;
  line-height: normal;
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.folderNameContainer {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.iconFolder {
  flex-shrink: 0;
  margin-right: 8px;
}

.iconCaret,
.iconKebabHorizontal {
  flex-shrink: 0;
  margin-left: 10px;
}

.iconKebabHorizontal {
  color: var(--nav-column-link);
  opacity: 100;
  transition: all 0.1s ease-in-out;
}

.iconKebabHorizontal:hover,
.iconKebabHorizontal:active,
.iconKebabHorizontal:focus {
  color: var(--nav-column-link-hover);
}

.iconKebabHorizontal.hidden {
  opacity: 0;
  visibility: hidden;
}

.iconFolder.iconFolderUpdated {
  color: var(--secondary);
}

.dragging {
  opacity: 0.5;
}

.droppable {
  position: relative;
}

.droppable::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 70%;
  left: 20px;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--secondary);
  opacity: 0;
  transition: opacity 0.13s ease-in-out;
}

.droppableHover::after {
  opacity: 1;
}

.top {
  padding-top: 4px;
  margin-top: -4px;
}
