.navLink {
  transition: opacity 1s ease-in-out;
}

.libraryLinkContentContainer {
  height: 100%;
  line-height: normal;
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.libraryLinkTextContainer {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
}

.iconFolder {
  flex-shrink: 0;
  margin-right: 8px;
}

.iconCaret,
.iconKebabHorizontal {
  flex-shrink: 0;
  margin-left: 10px;
}

.iconCaret {
  transition: transform 0.15s ease;
}

.iconCaretDown {
  transform: rotate(90deg);
}

.iconKebabHorizontal {
  color: var(--nav-column-link);
  opacity: 100;
  transition: opacity 0.1s ease-in-out;
}

.iconKebabHorizontal:hover,
.iconKebabHorizontal:active,
.iconKebabHorizontal:focus {
  color: var(--nav-column-link-hover);
}

.iconKebabHorizontal.hidden {
  opacity: 0;
  visibility: hidden;
}

.iconFolder.iconFolderUpdated {
  color: var(--secondary);
}

.dragging {
  opacity: 0.5;
}

.droppable {
  position: relative;
}

.droppable::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 70%;
  left: 20px;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--secondary);
  opacity: 0;
  transition: opacity 0.13s ease-in-out;
}

.droppableHover::after {
  opacity: 1;
}

.top {
  padding-top: 4px;
  margin-top: -4px;
}

.folderContentsContainer {
  padding-top: 8px;
  padding-left: 8px;
}
