.notificationDot {
  display: block;
  border-radius: 100%;
  background: var(--secondary);
}

.large {
  width: var(--unit-3);
  height: var(--unit-3);
}

.small {
  width: var(--unit-2);
  height: var(--unit-2);
}
