.content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.spinner {
  width: 24px;
  height: 24px;
}

.helpText {
  white-space: pre-line;
  line-height: 150%;
}
