.skeleton {
  width: 100%;
  height: 100%;
  background-color: var(--skeleton);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton:not(.noShimmer)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--skeleton) 0%,
    var(--skeleton) 32%,
    var(--skeleton-highlight) 46%,
    var(--skeleton-highlight) 54%,
    var(--skeleton) 68%,
    var(--skeleton) 100%
  );
  transform: translateX(-50%);
  animation: skeleton-anim 1.5s infinite ease;
}

.skeleton.noShimmer {
  animation: none;
}

@keyframes skeleton-anim {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
