.notFoundPageWrapper {
  position: relative;
}

.bodyWrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 100%;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 16px 20px 0 var(--table-shadow);
  margin-bottom: 35px;
  overflow: hidden;
}

.bodyWrapperMobile {
  border-radius: 0px;
}

.bodyWrapper:not(.isMobile) {
  margin-top: 100px;
}

.contentWrapper {
  margin: 0 auto;
  padding: 140px 120px;
}

.mainContent {
  display: flex;
  flex-direction: row;
}

.animation {
  max-width: 380px;
}

.textWrapper {
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  max-width: 350px;
}
.textWrapper .mainText {
  font-size: 64px;
  font-weight: var(--font-bold);
  color: var(--neutral);
}
.textWrapper .mainText > span {
  padding-left: 20px;
  font-size: 56px;
}
.textWrapper .subText {
  font-size: 24px;
  font-weight: var(--font-bold);
  color: var(--neutral-light-3);
  margin-top: 16px;
  line-height: 33px;
}

.buttonWrapper {
  margin-top: 100px;
}

/* Mobile styles */
.isMobile {
  padding: 0px !important;
  height: 100%;
}

.isMobile .notFoundPageWrapper {
  height: 100%;
}

.isMobile .bodyWrapper {
  justify-content: center;
  height: 100%;
  margin: 0px;
}

.isMobile .contentWrapper {
  padding: 0px 47px;
  width: 100%;
}

.isMobile .mainContent {
  display: inline-flex;
  flex-direction: column;
}

.isMobile .textWrapper {
  text-align: center;
  margin: 31px 0px 0px;
}

.isMobile .mainText {
  font-size: 40px;
  line-height: 53px;
  text-align: center;
}

.isMobile .subText {
  max-width: 191px;
  color: var(--neutral-light-2);
  font-size: var(--font-l);
  font-weight: var(--font-demi-bold);
  line-height: 25px;
  text-align: center;
  margin: 16px auto 0px;
}

.isMobile .buttonWrapper {
  margin: 40px 0px 60px;
}
