.container {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 9px 9px 10px 38px;
  border-radius: 8px;
  background-color: var(--secondary);
  transition: all .07s ease-in-out;
}

.notice {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.53px;
  line-height: 21px;
  text-align: left;
  user-select: none;
  margin-right: 9px;
}

.dismiss {
  border: 1px solid var(--white);
  border-radius: 8px;
  background-color: var(--secondary);
  padding: 6px 12px;
  color: var(--white);
  font-family: var(--font-family);
  font-size: var(--font-s);
  font-weight: var(--font-demi-bold);
  letter-spacing: 0.47px;
  white-space: nowrap;
  transition: all .07s ease-in-out;
  cursor: pointer;
  user-select: none;
  width: 71px;
}

.dismiss:hover {
  transform: scale3d(1.04, 1.04, 1.04);
}

.dismiss:active {
  transform: scale3d(0.99, 0.99, 0.99);
}

.container.hidden {
  display: block;
  max-height: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}