.select {
  display: flex;
}

.dropzone {
  flex: 1 1 0;
  height: 600px;
  position: relative;
}
.uploaded {
  flex: 1 1 0;
  transition: flex-grow ease-in-out 0.18s;
  margin-left: 16px;
  max-width: 50%;
}
.uploaded.hide {
  flex-grow: 0.0001;
  margin: 0;
}

.dropdown {
  width: 200px;
  margin-bottom: 16px;
}

.count {
  margin-top: 16px;
  padding-left: 8px;
  text-align: left;
  user-select: none;

  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  line-height: 14px;
}

.continue {
  text-align: right;
}

.continueButton .continueButtonText {
  font-weight: var(--font-bold);
  font-size: var(--font-l);
}

.invalidFileType {
  position: absolute;
  top: 152px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.addTrackNotifications {
  margin-bottom: 8px;
}
