.root {
  width: 720px;
}

.title {
  color: var(--neutral-light-2);
  text-transform: uppercase;
}

.titleIcon path {
  fill: var(--neutral-light-2);
}

.content {
  display: inline-flex;
  flex-direction: column;
  gap: var(--harmony-unit-4);
}

.switchLabel {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.switchLabelText {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
}

.description {
  font-size: var(--font-l);
  font-weight: var(--font-medium);
  line-height: 150%;
}

.markdownFrame {
  background: var(--background);
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 24px 24px 0px 24px;
  margin-bottom: 24px;
}

.eula {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px 16px 0px 0px;
  padding: 24px 32px 32px;
  background: var(--white);
  scroll-padding-right: 4px;
  overflow: scroll;
}
