.description {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--font-m);
  text-align: center;
  color: #bec5e0;
  margin: 27px auto;
}

.btnContainer {
  display: inline-flex;
  justify-content: center;
}

.okayBtn {
  margin-right: 8px;
}

.openExtensionBtn {
  margin-left: 8px;
}

.externalLink {
  color: var(--neutral);
}

.externalLink:hover {
  opacity: 0.8;
}

.externalLink:active {
  opacity: 0.5;
}
