.btn {
  margin: 24px 0px;
}

.title {
  font-weight: var(--font-medium);
  font-size: var(--font-m);
  line-height: 24px;
  text-align: center;
  color: var(--neutral);
  text-align: center;
  margin: 24px 0px;
  max-width: 440px;
}