.modalBody {
  width: 720px;
}

.modalHeader {
  font-weight: var(--font-heavy);
  color: var(--neutral-light-2);
}

.modalHeader.mobile {
  margin: 0;
  padding: 0;
  border: none;
}

.modalHeader h2 {
  color: var(--neutral-light-2);
  font-weight: var(--font-heavy);
}

.modalHeaderDismissButton {
  color: var(--neutral-light-2);
}

.modalTitleIcon {
  width: var(--unit-5);
  height: var(--unit-5);
}

.modalTitleIcon path {
  fill: var(--neutral-light-2);
}

.modalContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--unit-6);
}

.gatedTrackSectionWrapper {
  margin: 0;
  padding: 0;
  border: none;
}

.gatedTrackSection {
  flex-direction: column;
  gap: var(--unit-6);
}

.gatedTrackSectionButton {
  width: 100%;
}
