.modalBody {
  width: 720px;
}

.modalHeader {
  font-weight: var(--font-heavy);
  color: var(--neutral-light-2);
}
.modalHeader.mobile {
  margin: 0;
  padding: 0;
  border: none;
}

.modalHeader h2 {
  color: var(--neutral-light-2);
  font-weight: var(--font-heavy);
}

.modalHeaderDismissButton {
  color: var(--neutral-light-2);
}

.modalTitleIcon {
  width: var(--unit-5);
  height: var(--unit-5);
}

.modalTitleIcon path {
  fill: var(--neutral-light-2);
}

.trackDetails {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--unit-4);
  margin-bottom: var(--unit-10);
  padding: var(--unit-4);
  background: var(--neutral-light-10);
  border: 1px solid var(--neutral-light-7);
  border-radius: var(--unit-2);
  overflow: hidden;
}

.premiumContentLabel {
  margin-bottom: var(--unit-5);
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 2px;
  font-weight: var(--font-demi-bold);
  font-size: var(--font-s);
  color: var(--text-subdued);
}

.premiumContentLabel svg path {
  fill: var(--text-subdued);
}

.trackTitle {
  margin-bottom: var(--unit-2);
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  text-transform: capitalize;
}

.trackImageWrapper {
  width: 124px;
  height: 124px;
}

.trackImage {
  border-radius: 4px;
}

.by {
  font-weight: var(--font-bold);
  color: var(--neutral-light-4);
}

.trackOwner {
  display: flex;
  align-items: center;
}

.trackOwnerName {
  margin: 0 var(--unit-1);
  font-weight: var(--font-medium);
  color: var(--secondary);
}

.trackOwnerName:hover {
  color: var(--secondary);
}

.badgeIcon {
  display: flex;
}

.premiumTrackSectionWrapper {
  margin: 0;
  padding: 0;
  border: none;
}

.premiumTrackSection {
  flex-direction: column;
  gap: var(--unit-6);
}

.premiumTrackSectionButton {
  width: 100%;
}
