.favoriteButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.favoriteButton > div {
  display: flex;
  align-items: center;
}

.icon {
  width: 16px;
  height: 16px;
  padding: 2px;
  margin: -2px;
  box-sizing: content-box;
  position: relative;
  transition: all .17s ease-in-out !important;
}
.icon.remove {
  position: absolute;
  top: 1px;
}
.icon.remove g path {
  fill: var(--neutral-light-2);
}
.icon.heart g path {
  fill: var(--neutral-light-5);
}
.icon.heart:hover g path {
  fill: var(--neutral-light-2);
}
.icon.heart.favorited g path {
  fill: var(--primary);
}

.favoriteButton:hover .icon {
  transform: scale3d(1.10,1.10,1.10);
}
.favoriteButton:active .icon {
  transform: scale3d(0.9, 0.9, 0.9);
}

/* Swap out icons on hover */
.favoriteButton .icon.heart {
  opacity: 1.0;
}
.favoriteButton .icon.remove {
  opacity: 0.0;
}
.favoriteButton:hover .icon.heart.hoverOut {
  opacity: 0.0;
}
.favoriteButton:hover .icon.remove {
  opacity: 1.0;
}

.icon g path {
  fill: var(--neutral-light-4) !important;
}

.disabled .icon g path {
  fill: var(--neutral-light-7) !important;
  transform: none !important;
}

.disabled {
  cursor: default !important;
}