.content {
  position: relative;
}

.flair {
  position: absolute;
  background-color: var(--harmony-white);
  border-radius: 4px;

}

.flair.tiny {
  bottom: 2px;
  right: -2px;
}

.flair.small {
  bottom: -4px;
  right: -5px;
}

.flair.medium {
  bottom: -3px;
  right: -3px;
}

.flair.large {
  bottom: -8px;
  right: -8px;
}

.flair.xlarge {
  bottom: -7px;
  right: -8px;
}

.children {
  width: 100%;
  height: 100%;
}

.tooltip :global(.ant-tooltip-inner) {
  padding: 8px 16px;
  overflow: hidden;
  border: 1px solid var(--harmony-n-100);
  border-radius: 12px;
}
