.root {
  display: inline-flex;
  flex-direction: column;
  gap: var(--harmony-unit-2);
  min-width: 640px;
}

.collectionFields {
  display: flex;
  padding: var(--harmony-unit-4);
  flex-direction: column;
  gap: var(--harmony-unit-4);
}

.row {
  display: flex;
  gap: var(--harmony-unit-4);
}

.collectionInfo {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: var(--harmony-unit-4);
}

.artwork {
  height: 248px;
  width: 248px;
}

.description {
  flex-grow: 1;
}

.trackDetails {
  display: flex;
  padding: var(--harmony-unit-4) var(--harmony-unit-6);
  flex-direction: column;
  gap: var(--harmony-unit-4);
}
