.modalBody {
  width: 100%;
  max-width: 1080px;
  /* Need to account for the dropdown outside modal */
  overflow-y: visible !important;
  overflow-x: visible !important;
}

.spinner {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
