.profilePictureWrapper {
  height: var(--unit-10);
  width: var(--unit-10);
}

.profilePictureWrapper:hover {
  opacity: 0.8;
}

.profilePicture {
  border-radius: 50%;
  border: 2px solid var(--white);
  background-color: var(--default-profile-picture-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
