.container {
  all: unset;
  cursor: pointer;
  display: inline-block;
  opacity: 1;
  color: var(--neutral);
}

.container:hover {
  color: var(--neutral-dark-3);
}

.disabled {
  opacity: 0.5;
  cursor: auto;
}

.container:active svg {
  transform: var(--shrink);
}

.container svg {
  transition: all var(--quick);
}
