.root {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-2);
  padding: var(--harmony-unit-4);
  background: var(--harmony-bg-surface-1);
  border: 1px solid var(--harmony-border-strong);
  border-radius: var(--harmony-unit-2);
}

.radio {
  margin-right: var(--harmony-unit-1);
}

.row {
  display: flex;
  align-items: center;
  gap: var(--harmony-unit-2);
}

.row:not(.disabled) {
  cursor: pointer;
}

.icon path {
  fill: var(--harmony-n-400);
}

.tooltip :global(.ant-tooltip-inner) {
  width: 272px;
  text-align: center;
}

.disabled .radio input {
  cursor: default;
}

.disabled span {
  color: var(--harmony-n-400);
}
