.invalidFileType {
  max-width: 320px;
  padding: var(--harmony-unit-2) var(--harmony-unit-4);
  border-radius: 8px;
  background-color: var(--accent-red);
  color: var(--white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: var(--font-s);
  font-weight: var(--font-demi-bold);
}

.message {
  text-align: center;
}
