.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--harmony-unit-1);
  padding: var(--harmony-unit-8);
}

.icon {
  width: var(--harmony-unit-6);
  height: var(--harmony-unit-6);
  display: flex;
  align-items: center;
}

.iconPlus {
  composes: icon;
}

.iconPlus circle {
  fill: var(--neutral-light-2);
}

.iconUpload {
  composes: icon;
}

.iconUpload path {
  fill: var(--neutral-light-2);
}

.text {
  color: var(--neutral-light-2);
}

/* card */

.card {
  height: 304px;
  width: 230px;

  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  letter-spacing: 0.72px;
  line-height: 27px;
}

/* nav */

.nav {
  height: 86px;
  width: 100%;
  font-size: var(--font-m);
  font-weight: var(--font-bold);
  letter-spacing: 0.57px;
}

/* tile */

.tile {
  flex-direction: row;
  height: 88px;
  width: 100%;
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  letter-spacing: 0.72px;
  line-height: 27px;

  margin-bottom: 8px;
}
