.modalBodyStyle {
  width: 100%;
}

.container > div {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--neutral-light-8);
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--neutral);
}

.row {
  cursor: pointer;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.23px;
  line-height: 26px;
  color: var(--action-sheet-text);
}

.row:active {
  background-color: var(--neutral-light-9);
}

.destructiveAction {
  color: var(--accent-red-dark-1);
}

.darkAction {
  color: var(--static-white);
}
