.container {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.copyContainer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--harmony-n-100);
  align-items: center;
  height: 57px;
  width: 100%;
}

.mobile .copyContainer {
  justify-content: space-between;
}

.loading {
  margin: 0px 36px;
  height: 24px;
  width: 24px;
}

.loading svg path {
  stroke: var(--harmony-neutral);
}

:global(#bitski-dialog-container) {
  z-index: 1000000 !important;
}

.walletsHeader {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 14px;
}

.walletsHeader > *:first-child {
  flex-basis: 135px;
}

.walletsHeader > * {
  flex-basis: 100px;
}

.collectibleCount {
  flex: 1;
  text-align: right;
}

.audioBalance {
  flex: 0 0 100px;
  text-align: right;
}

.noActions .audioBalance {
  flex: 1;
  padding-right: 24px;
}

.mobile.noActions .audioBalance {
  flex: 0 0 100px;
  padding-right: 24px;
}

.balanceContainer {
  display: inline-block;
}

.copyContainer .balanceContainer .balance {
  font-weight: var(--harmony-font-demi-bold);
  font-size: var(--harmony-font-m);
  line-height: normal;
  text-align: right;
  color: var(--harmony-neutral);
  background: none;
  -webkit-text-fill-color: initial;
  -webkit-background-clip: initial;
}
