.hideRemixes {
  display: inline-flex;
  align-items: center;
  margin-top: 17px;
  height: 34px;
}

.hideRemixesText {
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  margin-right: 8px;
}
