.bottomButtons {
  align-items: center;
  border-top: 1px solid var(--harmony-n-100);
  display: flex;
  height: var(--harmony-unit-32);
  justify-content: space-between;
}

.actions {
  align-items: center;
  display: flex;
  gap: var(--harmony-unit-8);
  justify-content: flex-start;
}

.button {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: var(--harmony-unit-8);
  height: var(--harmony-unit-8);
}

.buttonContent {
  width: var(--harmony-unit-6);
  height: var(--harmony-unit-6);
}

.button path {
  fill: var(--harmony-neutral) !important;
}

.activeButton path {
  fill: var(--harmony-primary) !important;
}

.disabledButton path {
  fill: var(--harmony-n-100) !important;
}

.tinted path {
  fill: var(--harmony-n-400);
}

.share {
  position: relative;
  top: -1px;
  height: var(--harmony-unit-8);
  width: var(--harmony-unit-8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overflow {
  height: var(--harmony-unit-8);
  width: var(--harmony-unit-8);
}

.gatedContentContainer {
  height: var(--harmony-unit-8);
  padding-top: var(--harmony-unit-2);
}

.gatedContent {
  align-items: center;
  background-color: var(--harmony-blue);
  border-radius: var(--harmony-unit-1);
  color: var(--harmony-static-white);
  display: flex;
  gap: var(--harmony-unit-1);
  height: var(--harmony-unit-6);
  padding: var(--harmony-unit-2) var(--harmony-unit-3);
}

.gatedContent svg {
  width: var(--harmony-unit-4);
  height: var(--harmony-unit-4);
}

.gatedContent path {
  fill: var(--harmony-static-white);
}

.spinner {
  height: var(--harmony-unit-4);
  width: var(--harmony-unit-4);
}

.spinner g path {
  stroke: var(--harmony-static-white);
}
