.searchBarResultContainer {
  height: 48px;
  width: 100%;
  position: relative;
  display: inline-flex;
}

.imageContainer {
  margin-right: 8px;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  align-self: center;
}

.userImageContainerSkeleton {
  border-radius: 50%;
}

.image {
  width: 33px;
  height: 33px;
  display: block;
  border-radius: 2px;
  border: 1px solid var(--harmony-n-100);
  transition: border 0.18 ease-in-out;
}

.userImage {
  border-radius: 50%;
}

.emptyUserImage {
  background-color: var(--default-profile-picture-background);
}

.textContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.primaryContainer {
  display: inline-flex;
  align-items: center;
  color: var(--harmony-neutral);
  font-family: var(--harmony-font-family);
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-medium);
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primaryText {
  display: inline-block;
  max-width: 194px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.secondaryContainer {
  color: var(--harmony-neutral);
  font-family: var(--harmony-font-family);
  font-size: var(--harmony-font-2xs);
  font-weight: var(--harmony-font-medium);
  line-height: 10px;
  margin-top: 4px;
  display: flex;
}

.primaryContainer .verified {
  margin-left: 4px;
}

.secondaryContainer .verified {
  margin-left: 4px;
}
