:global(#bgModal) {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  position: fixed;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
}

:global(#bgModal):global(.bgModalVisible) {
  overflow: hidden;
  pointer-events: all;
  opacity: 1;
  position: fixed;
}

:global(.scrollLock) {
  overflow: hidden;
  position: fixed;
}

:global(.scrollLock.isMobile) {
  /* This causes a scroll-top like effect on desktop
   * Do we need this on mobile even?
   */
  height: auto !important;
}

:global(#modalRoot) {
  /* This needs to position `absolute` instead of `fixed` (which is what it should be)
   * due to this utterly absurd webkit iOS bug:
   * https://gist.github.com/avesus/957889b4941239490c6c441adbe32398
   */
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 10000;
  overflow: hidden;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  z-index: 10000;
  user-select: none;
  display: flex;
  justify-content: center;
  pointer-events: all;
}

.body {
  border-radius: 6px;
  background-color: var(--white);
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 85vh;
  -webkit-overflow-scrolling: touch;
}

.body.noScroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.top {
  align-items: flex-start;
}

.bottom {
  align-items: flex-end;
}

.center {
  align-items: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--neutral-light-6);
  padding: 20px 0px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  color: var(--neutral);
  margin: 0px 16px 0px;
}

.subtitle {
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  color: var(--neutral-light-4);
  text-align: center;
  line-height: 18px;
}

.dismissButton {
  z-index: 1;
  position: absolute;
  cursor: pointer;
  left: 16px;
  top: 16px;
}

.dismissButton path {
  fill: var(--neutral-light-4);
}
