/* Container Modal Styles */

.container {
  z-index: 20;
  position: fixed;
  height: 100vh;
  left: 0;
  right: 0;
  background: var(--white);
}

.followPage {
  position: relative;
}

.background {
  z-index: 19;
}

:global(#fullscreenRoot) {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.containerModal {
  min-height: 393px;
  max-width: 478px;
  max-height: none;
}

.mobileWarningContainer {
  max-width: 290px;
  min-height: 318px;
}

.followPageWrapper {
  width: 100%;
  background-color: var(--white);
  z-index: 12;
  overflow: scroll;
  left: 0;
  right: 0;
  -webkit-overflow-scrolling: touch;
}

.fullPageWrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  z-index: 12;
  overflow: scroll;
  position: fixed;
  left: 0;
  right: 0;
  -webkit-overflow-scrolling: touch;
}

.modalWrapper {
  position: relative !important;
}

/* Close Icon */
.closeIcon {
  position: absolute;
  cursor: pointer;
  top: 8px;
  left: 8px;
  transition: all 0.07s ease-in-out;
  width: 32px;
  height: 32px;
  /* On top of search */
  z-index: 1200;
}

.closeIcon path {
  fill: var(--neutral-light-4);
}

.closeIcon:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.closeIcon:active {
  transform: scale3d(0.95, 0.95, 0.95);
}

/* ... */

.followContent {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
}

.followContainer {
  max-width: 1200px;
  min-width: 800px;
  width: 100%;
  height: 864px;
}

.loadingContent {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
}

.loadingContainer {
  height: 656px;
  margin-top: 64px;
  max-width: 1200px;
  min-width: 800px;
}

.startContainer {
  width: 100%;
  height: 656px;
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  position: relative;
}

.startContent {
  width: 100%;
  height: 100%;
}

.pageContent {
  height: 100%;
  max-width: 1250px !important;
}

.pageContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  /* On top of search */
  z-index: 1200;
}

.bgWaves {
  opacity: 1;
}

.hidden {
  opacity: 0;
  z-index: -10 !important;
  transition: all 0.2s ease-in-out;
}

.profileImage {
  position: absolute;
  z-index: 15;
  left: 400px;
  width: calc(100% - 400);
  height: 100%;
}

.accountToastOverlay {
  top: 16px !important;
  left: 64px !important;
  right: -64px !important;
  justify-content: center;
  width: 100%;
  padding: 0px;
  max-width: calc(100% - 128px) !important;
}

.accountToastOverlay > :global(.ant-tooltip-content) {
  display: flex;
  justify-content: center;
  width: 100%;
}

.accountToastOverlay :global(.ant-tooltip-inner) {
  max-width: 720px;
  width: 100%;
  margin: 0px 16px;
  background-color: var(--white) !important;
  color: var(--secondary) !important;
  font-size: var(--font-s);
}
