.somethingWrong {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: var(--harmony-background);
}

.content {
  text-align: center;
  color: var(--harmony-neutral);

  margin: 0 auto;
  padding: 40px;
  width: 80%;
  max-width: 1080px;
  height: 595px;
  min-height: 595px;
  border-radius: 8px;
  background-color: var(--harmony-white);
  box-shadow: 0 16px 20px 0 var(--table-shadow);

  display: flex;
  flex-direction: column;
  justify-content: center;

  user-select: none;
}

.body {
  font-size: var(--harmony-font-5xl);
  font-weight: var(--harmony-font-bold);
  line-height: 52px;
}

.cta {
  margin-top: 48px;
}

/* Mobile Styles */

.isMobile .content {
  width: 100%;
  height: 100%;
}

.isMobile .body {
  text-align: center;
  margin: 0px auto;
}
