.DS_Store

node_modules

lerna-debug.log

**/.hooks/*.local.json

**/.hooks/*.local.json
.log

.yalc
yalc.lock

# ignored until ci has custom image with correct python version
.python-version

# Solana
app-keypair.json