# TODO: Remove legacy-peer-deps when all peerDependency conflicts
# have been resolved in the dependency tree
legacy-peer-deps=true

# ECONNRESET on npm i
# possible fix: https://stackoverflow.com/a/61378723
timeout=60000
prefer-offline=true