.amountPreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 66px;

  font-size: var(--font-l);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  color: var(--neutral-light-5);
  line-height: 140%;
}

.amountPreviewBuy {
  letter-spacing: 0.1em;
}

.amountPreview {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: var(--font-2xl);
  color: var(--secondary);
}

.label {
  width: 100%;
  margin-bottom: 8px;
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  color: var(--neutral-light-4);
}
