.successPage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 24px;
  padding-bottom: 24px;

  font-weight: var(--harmony-font-bold);
}

.message {
  text-align: center;
  font-size: var(--harmony-font-l);
}

.label,
.message,
.review {
  color: var(--harmony-n-400);
}

.results {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.purchasedAmount {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--harmony-green);
  font-size: var(--harmony-font-l);
}

.newBalance {
  display: flex;
  gap: 4px;
  font-size: var(--harmony-font-3xl);
}

.review {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--harmony-font-s);
}
