.apiLogo {
  margin: 24px auto;
  opacity: 1;
  width: 224px;
  filter: brightness(0) invert(1);
}

.header {
  margin: 0px auto 24px;
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  line-height: 29px;
  text-align: center;
  text-transform: capitalize;
  color: var(--neutral);
}

.description {
  font-weight: var(--font-bold);
  font-size: var(--font-m);
  line-height: 160%;
  text-align: center;
  color: var(--neutral);
  margin: 0px auto;
}

.btn {
  margin: 24px auto 8px;
}