# dependencies
node_modules

# builds
build
dist
.rpt2_cache

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
todo*
.vscode

# other
logs

npm-debug.log*

local-storage
