.inputContainer {
  padding: var(--unit-4);

  border-radius: 8px;
  border: 1px solid var(--border-strong);
  background: var(--background-surface-1);
}

.inputRoot {
  background: var(--background-white);
}
