<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:audius.co</string>
		<string>applinks:staging.audius.co</string>
		<string>applinks:general-admission.staging.audius.co</string>
		<string>applinks:redirect.audius.co</string>
		<string>applinks:redirect.staging.audius.co</string>
	</array>
	<key>com.apple.developer.networking.wifi-info</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)co.audius.audiusmusic</string>
		<string>$(AppIdentifierPrefix)io.fullstack.oauth.AUTH_MANAGER</string>
	</array>
</dict>
</plist>
