.container {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.slider {
  background-color: var(--neutral-light-9);
  box-shadow: inset 1px 1px 7px -2px rgba(53, 54, 79, 0.25);
  border-radius: 22px;
  height: 24px;
  overflow: hidden;
  position: relative;
}

.sliderBar {
  background: linear-gradient(
    315deg,
    var(--page-header-gradient-color-1) 2.04%,
    var(--page-header-gradient-color-2) 100%
  );
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 0.3s ease-in-out;
}

.labels {
  display: flex;
  font-size: var(--font-s);
  justify-content: space-between;
  margin-top: 8px;
  padding: 0 4px;
}

.minLabel,
.maxLabel {
  color: var(--neutral-light-4);
  font-weight: var(--font-bold);
}
