.description {
  font-size: var(--harmony-font-xl);
  text-align: center;
  font-weight: var(--harmony-font-medium);

  color: var(--harmony-neutral);
  margin: 24px 0px;
}

.spinner g path {
  stroke: var(--harmony-secondary);
}

.warning {
  font-size: var(--harmony-font-xl);
  text-align: center;
  font-weight: var(--harmony-font-medium);
  color: var(--harmony-red);
  margin: 24px 0px;
}
