.titleWrapper {
  margin: 24px 0px;
}

.addressWrapper {
  display: flex;
  flex-direction: column;
  color: var(--harmony-n-400);
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-medium);
  align-items: center;
}

.arrow {
  margin: 10px auto;
  transform: rotateZ(90deg);
  height: 18px;
  width: 18px;
}

.arrow path {
  fill: var(--harmony-n-400);
}

.buttonWrapper {
  margin: 24px 0px;
}

.spinner {
  margin: 24px;
  width: 80px;
}

.message {
  font-weight: var(--harmony-font-medium);
  font-size: var(--harmony-font-m);
  line-height: 24px;
  text-align: center;
  color: var(--harmony-neutral);
  text-align: center;
  margin-bottom: 24px;
}
