.buttonContainer {
  padding: 8px 12px;
}

.button {
  width: 100%;
  box-shadow: 0px 2px 5px var(--table-shadow);
  border-color: var(--neutral-light-7);
  height: 40px !important;
}

.button:hover {
  transform: none;
}

.buttonText {
  color: var(--neutral-light-2) !important;
}

.icon path {
  fill: var(--neutral-light-2) !important;
}