.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Header Section */
.header {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary);
  text-align: center;
  user-select: none;
}

.title {
  color: var(--secondary);
  font-size: var(--font-4xl);
  font-weight: var(--font-bold);
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 68px;
}

.subTitle {  
  color: var(--secondary-light-2);
  font-size: var(--font-l);
  font-weight: var(--font-medium);
  text-align: center;
}

.spinner {
  height: 72px;
  width: 72px;
}
.spinner :global(.ant-spin-dot) {
  height: 72px;
  width: 72px;
}
.spinner :global(.ant-spin-dot i) {
  width: 36px;
  height: 36px;
  background-color: var(--secondary) !important;
}
