.root {
  max-width: 488px;
}

.content > div {
  line-height: 150%;
  font-weight: var(--font-medium);
  font-size: var(--font-l);
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-4);
}
