.root {
  background-color: var(--white);
}

.form {
  margin: var(--unit-4);
  padding: var(--unit-2) var(--unit-4);
}

button.sendButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--unit-8);
  width: var(--unit-8);
  border-radius: var(--unit-4);
  background-color: var(--primary);
  transform: scale(1);
  transition: all var(--quick);
}

button.sendButton:not(:disabled):hover {
  transform: scale(1.05);
  background-color: var(--primary-light-2);
}

button.sendButton:not(:disabled):active {
  background-color: var(--primary-dark-2);
  transform: scale(0.95);
}

button.sendButton:disabled {
  opacity: 0.5;
}
