.root {
  background-color: var(--harmony-white);
}

.form {
  padding: var(--harmony-spacing-l);
  position: relative;
}

.textArea {
  padding: 6px 0;
}

.textArea.focused {
  border: 1px solid var(--harmony-secondary);
}
