.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--harmony-unit-2);
  padding: var(--harmony-unit-4) var(--harmony-unit-6);
  background-color: var(--harmony-white);
  border-bottom: 1px solid var(--neutral-light-8);

  cursor: pointer;
  position: relative;
}

.root:hover {
  background-color: var(--neutral-light-9);
}

.root.active::before {
  content: '';
  position: absolute;
  width: var(--harmony-unit-1);
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--harmony-s-100);
}

.root.active:hover::before {
  background-color: var(--harmony-secondary);
}

.unreadIndicatorTag {
  align-self: flex-start;
  margin-left: auto;

  padding: 5.5px var(--harmony-unit-2);
  background: var(--harmony-secondary);
  border-radius: 2px;

  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-bold);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--harmony-static-white);
  white-space: nowrap;
}

.messagePreview {
  width: 100%;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 130%;
}

@media (max-width: 1080px) {
  .messagePreview,
  .userText,
  .unreadIndicatorTag {
    display: none;
  }
}
