.left {
  display: flex;
  align-items: flex-end;
  width: 400px;
  padding: var(--harmony-unit-4);
  border-right: 1px solid var(--harmony-n-100);
}

.left .options {
  margin-left: auto;
  display: flex;
  gap: var(--harmony-unit-6);
}

.gutterOverride {
  box-shadow: 1px 2px 5px -1px rgba(133, 129, 153, 0.25) !important;
}

.right {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding: var(--harmony-unit-4);
}

@media (max-width: 1080px) {
  .header {
    display: none;
  }
  .left {
    width: 96px;
  }
  .left .options {
    gap: var(--harmony-unit-1);
  }
}
