.root {
  display: flex;
  gap: var(--harmony-unit-2);
  width: 100%;
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--harmony-unit-1);
  min-width: 0;
}

.text > :global(.artistPopover) {
  max-width: 100%;
}

.nameAndBadge {
  display: flex;
  align-items: center;
  gap: var(--harmony-unit-1);
  font-weight: var(--font-bold);
  font-size: var(--font-l);
  line-height: 130%;
  max-width: 100%;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.nameAndBadge,
.handle,
.profilePicture {
  cursor: pointer;
}

.profilePicture {
  width: var(--harmony-unit-12);
  height: var(--harmony-unit-12);
}
