.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--harmony-unit-6);

  width: calc(100% - var(--harmony-unit-24));
  max-width: 700px;
  margin: var(--harmony-unit-12) auto;
  padding: var(--harmony-unit-6);

  border-radius: var(--harmony-unit-2);
  box-shadow: var(--box-shadow-near);
  background-color: var(--white);
  text-align: start;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-2);
}

.title {
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  line-height: 130%;
}

.subtitle {
  font-weight: var(--font-medium);
  font-size: var(--font-l);
  line-height: 130%;
}
