.root {
  display: flex;
  align-items: flex-start;
  padding: var(--unit-4);
  border-bottom: 1px solid var(--neutral-light-8);
}

.root:hover {
  cursor: pointer;
  background: var(--neutral-light-10);
}

.notPermitted {
  display: flex;
  align-items: center;
  gap: var(--unit-2);
  width: fit-content;
  padding: var(--unit-2) var(--unit-4);
  background: var(--neutral-light-9);
  border: 1px solid var(--neutral-light-7);
  border-radius: var(--unit-1);

  font-weight: var(--font-bold);
  line-height: 120%;
}
