.root {
  display: flex;
  align-items: center;
  gap: var(--unit-6);

  width: calc(100% - var(--unit-24));
  max-width: 700px;
  margin: var(--unit-12) auto;
  padding: var(--unit-6);

  border-radius: var(--unit-2);
  box-shadow: var(--box-shadow-near);
  background-color: var(--white);
  text-align: start;
}

.title {
  margin-bottom: var(--unit-2);

  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  line-height: 130%;
}

.text {
  font-size: var(--font-l);
  line-height: 130%;
}
