.root {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-2);
  padding: var(--harmony-unit-4) var(--harmony-unit-6);
  background: var(--harmony-white);
  border-bottom: 1px solid var(--harmony-n-100);
}

.user {
  display: flex;
  gap: var(--harmony-unit-2);
}

.profilePic {
  border-radius: 50%;
  width: var(--harmony-unit-12);
  height: var(--harmony-unit-12);
}

.profile {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-3);
}

.name {
  width: 100px;
  height: 16px;
  border-radius: 48px;
}

.handle {
  width: 87px;
  height: 12px;
  border-radius: 48px;
}

.message {
  width: 226px;
  height: 14px;
  border-radius: 48px;
}
