.root {
  max-width: 488px;
}

.button {
  flex: 1;
}

.content {
  line-height: 150%;
  font-weight: var(--font-medium);
  font-size: var(--font-l);
}

.footer {
  display: flex;
  gap: var(--unit-4);
  padding: 0 var(--unit-6) var(--unit-6) var(--unit-6);
}
