.rewardsTile {
  background-color: var(--harmony-white);
  margin-bottom: 32px;
  padding: 42px 28px 32px;
}
.title {
  background: var(--harmony-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}

.title.mobile {
  font-size: 30px !important;
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.subtitle.mobile {
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-regular);
  margin: 0px -10px 16px;
  line-height: 19px;
}

.rewardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.disbursed {
  background: var(--harmony-n-25);
}

.divider {
  align-self: stretch;
  margin: 24px 8px;
}

.pendingPillContainer {
  height: 24px;
  margin: 8px;
}

.pillMessage {
  height: 28px;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: var(--harmony-secondary);
  border-radius: 12px;
  border-width: 1px;
  border-color: var(--harmony-n-50);
  border-style: solid;
  background-color: var(--harmony-background);
}

.rewardTitle {
  color: var(--harmony-neutral);
  font-size: var(--harmony-font-2xl);
  font-weight: var(--harmony-font-bold);
  margin-bottom: 8px;
  text-align: left;
}
.rewardTitle i {
  margin-right: 8px;
}
.rewardTitle.mobile {
  font-size: var(--harmony-font-l);
}

.rewardProgress {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  align-items: center;
}
.rewardProgress.mobile {
  align-items: flex-start;
  flex-direction: row;
}

.rewardProgressLabel {
  color: var(--harmony-n-400);
  font-weight: var(--harmony-font-heavy);
  line-height: 20px;
  font-size: var(--harmony-font-m);
  text-transform: uppercase;
  margin-right: 16px;
}
.rewardProgressBar {
  flex: 1 1 0;
}

.loadingRewardsTile.mobile {
  height: 48px;
  width: 48px;
}

.iconCheck {
  padding: 1px;
  margin-right: 10px;
}
.iconCheck path {
  fill: var(--harmony-n-400);
}
