.container {
  display: flex;
  align-items: center;
  gap: var(--unit-1);
  background: var(--neutral-light-10);
  border: 1px solid var(--neutral-light-8);
  padding: 2px;
  padding-right: var(--unit-2);
  border-radius: var(--unit-12);
}

.amount {
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  letter-spacing: 0.5px;
}

.skeleton {
  width: var(--unit-8);
  height: 18px;
}
