.nonWrappingTooltip {
  max-width: none;
}

.tooltip {
  z-index: 10000;
  color: red !important;
  /* color: var(--harmony-static-white); */
  font-family: var(--harmony-font-family);
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-medium);
  user-select: none;
  text-transform: none;
  border-radius: 4px;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.12))
    drop-shadow(0 6px 16px rgba(0, 0, 0, 0.08))
    drop-shadow(0 9px 28px rgba(0, 0, 0, 0.05));
}

.tooltip :global(.ant-tooltip-inner) {
  border-radius: 4px;
  box-shadow: none;
}
