.root {
  display: flex;
  align-items: center;
  gap: var(--unit-6);
  padding: var(--unit-6);
  margin: var(--unit-6);

  border: 1px solid var(--neutral-light-7);
  border-radius: var(--unit-2);
  background: var(--neutral-light-10);
}

.image {
  width: var(--unit-16);
  height: var(--unit-16);
}

.text {
  display: flex;
  flex-direction: column;
  gap: var(--unit-2);
}

.header {
  font-size: var(--font-l);
  font-weight: var(--font-bold);
}

.content {
  line-height: 130%;
}
