.socialButton {
  width: 100%;
  margin-bottom: 8px;
  height: 64px !important;
}

.socialButton svg {
  height: 20px !important;
  width: 20px !important;
}

.socialButton .icon path {
  fill: var(--static-white);
}

.text {
  font-size: var(--font-xl) !important;
  font-weight: var(--font-bold) !important;
  letter-spacing: 0.15px !important;
}
