.placeholder {
  width: 100%;
  visibility: hidden;
}

.wrapper {
  width: 360px;
  position: absolute;
  z-index: 10000;
}

.popup {
  text-align: center;
  height: 240px;
  width: 100%;
  overflow: hidden;

  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0 16px 20px 0 var(--tile-shadow-1-alt);
  padding: 8px;
  user-select: none;
  color: var(--neutral);
}

.header {
  border: none;
  margin-bottom: 8px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header:after {
  content: '';
  width: 12px;
  padding-right: 2px;
}

.title {
  margin: 0 auto;
  justify-self: center;
  font-size: var(--font-m);
  font-weight: var(--font-bold);
  color: var(--neutral);
}

.iconRemove {
  cursor: pointer;
  height: 24px;
  width: 24px;
  padding-left: 2px;
  transition: all ease-in-out .07s;
}

.iconRemove g path {
  fill: var(--neutral-light-4);
}

.iconRemove:hover {
  transform: scale(1.1);
}

.iconRemove:hover g path {
  fill: var(--neutral);
}

.iconRemove:active {
  transform: scale(0.95);
}