/**
 * {{#lambda.indented_star_1}}{{{unescapedDescription}}}{{/lambda.indented_star_1}}
 * @export
 * @interface {{classname}}
 */
export interface {{classname}} {{#parent}}extends {{{.}}} {{/parent}}
{{#vars.0}}
    {{#isMap}}
        {{dataType}}
    {{/isMap}}
{{/vars.0}}
{{#vars.0}}
    {{^isMap}}
    {
    {{/isMap}}
{{/vars.0}}
{{#vars}}
    {{^isMap}}
        /**
        * {{#lambda.indented_star_4}}{{{unescapedDescription}}}{{/lambda.indented_star_4}}
        * @type {{=<% %>=}}{<%&datatype%>}<%={{ }}=%>
        * @memberof {{classname}}
        */
        {{#isReadOnly}}readonly {{/isReadOnly}}{{name}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{#isNullable}} | null{{/isNullable}}{{/isEnum}};
    {{/isMap}}
{{/vars}}
{{#vars.0}}
    {{^isMap}}
    }
    {{/isMap}}
{{/vars.0}}
{{#hasEnums}}
{{#vars}}
{{#isEnum}}
/**
* @export
* @enum {string}
*/
export enum {{classname}}{{enumName}} {
{{#allowableValues}}
    {{#enumVars}}
    {{{name}}} = {{{value}}}{{^-last}},{{/-last}}
    {{/enumVars}}
{{/allowableValues}}
}{{/isEnum}}{{/vars}}{{/hasEnums}}