.drawer {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px 32px;
}

.title {
  font-weight: var(--harmony-font-heavy);
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 24px;
  text-align: center;
  user-select: none;
  background-image: var(--page-header-gradient);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.visit {
  font-weight: var(--harmony-font-medium);
  font-size: var(--harmony-font-2xl);
  line-height: 29px;
  text-align: center;
}
