/* User Info Tile */
.userInfo {
  position: relative;
  flex: 1;
  padding: 24px 0px 18px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 202px;
  justify-content: center;
}

/* Rank */
.rankContainer {
  position: absolute;
  top: 16px;
  right: 16px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.rankLabel {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--font-s);
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #777C96;
}

.rankValue {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-xl);

  color: #BEC5E0;
}

.userImg {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.userName,
.userWallet {
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  text-align: center;

  color: #BEC5E0;
}

.userName {
  font-size: var(--font-2xl);
  min-height: var(--font-2xl);
  margin-bottom: 8px
}


.userWallet {
  font-size: var(--font-s);
  margin-bottom: 24px
}

.buttonContainer {
  position: absolute;
  top: 24px;
  left: 20px;
}

.boxLabel {
  font-family: Avenir Next LT Pro;
  font-weight: var(--font-bold);
  font-size: var(--font-s);
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #BEC5E0;
  margin-bottom: 4px;
}

.boxValue {
  font-family: Avenir Next LT Pro;
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  line-height: 29px;
  text-align: center;
  color: #BEC5E0;
}

.boxName {
  font-size: var(--font-s);
}

.boxSpacing {
  margin-bottom: 16px
}

.undelegateButton {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
