.container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
}

/*  */
.logo {
  max-height: 180px;
  max-width: 159px;
  height: 100%;
  width: 100%;
  margin: 32px auto;
}

/* Title */
.title {
  color: var(--secondary);
  font-family: var(--font-family);
  font-size: var(--font-2xl);
  font-weight: var(--font-bold);
  text-align: center;
  height: 32px;
}

.header {
  margin-top: 9px;
  height: 52px;
}

.header .text {
  color: var(--secondary);
  font-size: var(--font-l);
  font-weight: var(--font-demi-bold);
  line-height: 26px;
  text-align: center;
}

.metaMask .header {
  display: none;
}

/* Sign In Input */

.metaMask .signInInput {
  margin-bottom: 24px;
}

.signInInput {
  margin-top: 32px;
  margin-bottom: 39px;
  text-align: center;
  height: 66px;
  width: 354px;
}
.signInInput > input {
  height: 100% !important;
  width: 100% !important;
  font-size: var(--font-xl) !important;
  color: var(--neutral);
  border: 1px solid var(--neutral-light-8);
  border-radius: 4px;
  box-shadow: none;
}

.signInInput.placeholder > input {
  color: var(--neutral-light-4);
}

.signInInput.inputError {
  margin-bottom: 0px;
}

.signInInput :global(.placeholder) {
  top: 37% !important;
  left: 19px !important;
  font-size: var(--font-xl) !important;
  font-weight: var(--font-demi-bold) !important;
}

.signInInput :global(.placeholder.focus) {
  font-weight: var(--font-demi-bold) !important;
  transform: translate(0px, -12px) !important;
}

/* Error Message */
.errorMessage {
  width: 354px;
  margin-top: 13px;
  margin-bottom: 24px;
}

.errMetaMask {
  margin-bottom: 13px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Sign In Button */
.signInButton {
  width: 100%;
}

.signInButton .signInButtonText {
  font-size: var(--font-l);
  font-weight: var(--font-bold);
}

.hasAccount {
  flex: 1;
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}

.metaMask .hasAccountErrMetaMask {
  margin-top: 8px;
  margin-bottom: 8px;
}

.hasAccount.hasAccountErr {
  margin-top: 17px;
}

.signInText {
  text-decoration: none;
  color: var(--secondary);
  cursor: pointer;
}

.signInText:hover,
.signInText:active {
  text-decoration: underline !important;
  color: var(--secondary);
}

/* Mobile Version */
.isMobile.container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
}

/*  */
.isMobile .logo {
  max-height: 164px;
  max-width: 144px;
  height: 100%;
  width: 100%;
  margin: 24px auto 32px;
}

/* Title */
.isMobile .title {
  color: var(--secondary);
  font-family: var(--font-family);
  font-size: var(--font-2xl);
  font-weight: var(--font-bold);
  text-align: center;
  height: 32px;
}

.isMobile .header {
  margin-top: 9px;
  height: 52px;
}

.isMobile .header .text {
  color: var(--secondary);
  font-size: var(--font-l);
  font-weight: var(--font-demi-bold);
  line-height: 26px;
  text-align: center;
}

/* Sign In Input */
.isMobile.container {
  padding: 0px 16px;
}

.isMobile .signInInput {
  height: 42px !important;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100% !important;
  max-width: 354px !important;
}
.isMobile .signInInput > input[type='email'] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;

  height: 100% !important;
  width: 100% !important;
  font-size: var(--font-m) !important;
  border: 1px solid #f2f2f4 !important;
  border-top: 1px solid #f2f2f4 !important;
  /* border-top: none !important; */
  box-shadow: none !important;
}

.isMobile input::-webkit-input-placeholder {
  line-height: normal !important;
}

.isMobile .signInInput.placeholder > input {
  color: var(--neutral-light-4);
}

.isMobile .signInInput.inputError {
  margin-bottom: 0px;
}

/* Error Message */
.isMobile .errorMessage {
  width: 100%;
  margin-left: -24px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.isMobile .errMetaMask {
  margin-bottom: 13px;
}

.isMobile .hasAccount {
  padding: 4px 0px;
  margin: 12px 0px 6px;
  color: var(--secondary);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  user-select: none;
  cursor: default;
}

.isMobile .hasAccount.hasAccountErr {
  margin-top: 23px;
}

.isMobile .signInText {
  text-decoration: none;
  color: var(--secondary-light-2);
  cursor: pointer;
}

.isMobile .signInText:hover,
.isMobile .signInText:active {
  text-decoration: underline !important;
  color: var(--secondary);
}

.spinner {
  display: block;
  height: 18px;
  width: 18px;
  margin: 3px;
}

.spinner g path {
  stroke: var(--white) !important;
}
