.modalHeader {
  background: var(--harmony-gradient);
}

.modalTitle {
  color: var(--harmony-white);
  font-size: 24px;
}

.modalBody {
  width: 720px;
  max-height: 95vh;
}

.modalBody.gradientHeader path {
  fill: var(--harmony-white);
}
