.modalBody {
  max-width: 640px;
}

.modalContent > div {
  display: flex;
  flex-direction: column;
}

.error {
  margin: var(--unit-6) auto 0;
  font-weight: var(--font-demi-bold);
  color: var(--accent-red);
}
