.modalBody {
  max-width: 560px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  margin: 0px 16px;
  border-bottom-color: var(--neutral-light-7);
}

.modalTitle {
  color: var(--neutral);
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  letter-spacing: 0.5px;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.icon path {
  fill: var(--neutral);
}

.scrollable {
  min-height: 0;
  max-height: 690px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
