.modalBody {
  overflow: hidden;
  max-width: 528px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  margin: 0px 16px;
  padding: 20px 0px;
}

.modalHeader.mobile {
  border: none;
  margin-top: 32px;
  padding: 0;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.titleContainer.mobile {
  color: var(--secondary-light-1);
  font-weight: var(--font-demi-bold);
}

.titleContainer svg {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.modalContent {
  display: flex;
  padding: 16px 32px 24px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  justify-content: space-around;
  font-weight: var(--font-medium);
}

.message {
  line-height: 26px;
  margin-bottom: 16px;
}

.errorMessage {
  color: var(--accent-red);
}

.button {
  display: flex;
  align-items: center;
}

.button svg {
  margin-left: 8px;
}
