
/* MetaMask Option */
.orMetaMask {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 354px;
  margin-bottom: 19px;
}

.orMetaMask .border {
  width: 144px;
  border-top: 1px solid var(--neutral-light-8);
}

.orMetaMask .text {
  color: var(--neutral-light-4);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  text-align: center;
}

/* Metamask Button */
.metaMaskSignupButton {
  color: var(--neutral);
  font-family: "Avenir Next LT Pro";
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: 10px;
  height: 52px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.metaMaskSignupButton input {
  height: 52px;
  width: 246px;
  border: 1px solid #DAD9E0;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.metaMaskSignupText {
  display: inline-flex;
  justify-content: space-between;
  width: 214px;
  align-items: center;
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-bold)
}

.metaMaskLogo {
  height: 20px;
  width: 109px;
}

/* Not recommended */
.subText {
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
}
