.root {
  --border-width: 1px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: var(--border-width) solid var(--border-default);
  border-radius: var(--harmony-unit-2);
  background-color: var(--harmony-white);
  transition: all var(--harmony-expressive);
}

.borderOffset {
  position: absolute;
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
}

.flat:hover {
  border: 1px solid var(--border-strong);
  background: var(--harmony-n-50);
}

.flat:active {
  border-radius: 8px;
  border: 1px solid var(--border-strong);
  background: var(--harmony-n-100);
}

.near {
  box-shadow: var(--box-shadow-near);
  cursor: pointer;
}

.near:hover {
  background-color: var(--harmony-n-25);
  box-shadow: 0 1px 5px 1px var(--tile-shadow-1-alt),
    0 1px 0 0 var(--tile-shadow-2), 0 2px 10px -2px var(--tile-shadow-3);
  transform: scale3d(1.01, 1.01, 1.01);
}

.near:active {
  background-color: var(--harmony-n-25);
  box-shadow: 0 0 1px 0 var(--tile-shadow-1),
    0 2px 3px -2px var(--tile-shadow-3);
}

.mid {
  box-shadow: var(--box-shadow-mid);
}

.far {
  box-shadow: var(--box-shadow-far);
}

.small {
  height: 226px;
  width: 168px;
}

.medium {
  height: 304px;
  width: 232px;
}

.large {
  border-radius: var(--harmony-unit-3);
}
