.questionButtonIcon {
  margin-right: 10px;
}

.modalWidth {
  width: 510px;
}

.modalBody {
  margin: 24px;
}

.restoreAccessText {
  text-align: center;
  font-size: var(--font-m);
  line-height: 24px;
  font-weight: var(--font-demi-bold);
  margin-bottom: 24px;
}

.emailContainer {
  display: flex;
  flex-direction: row;
  padding: 12px 24px;
  border: 1px solid #dad9e0;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  column-gap: 12px;
}

.emailSubheadings {
  display: flex;
  flex-direction: column;
  width: 64px;
  color: var(--neutral-light-4);
  font-weight: var(--font-bold);
  row-gap: 12px;
}

.emailText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--neutral);
  font-weight: var(--font-demi-bold);
  row-gap: 12px;
}

.emailBody {
  cursor: pointer;
}

.emailBody:hover {
  color: var(--secondary);
}
