.container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
}

/* Title */
.header {
  margin: 40px 0px 0px;
  color: #7e1bcc;
  font-size: var(--font-l);
  font-weight: bold;
  width: 320px;
  text-align: center;
  line-height: 26px;
  width: 250px;
}

.profileContentContainer {
  position: relative;
  width: 100%;
  max-width: 368px;
  height: 536px;
}

.backButton {
  position: absolute;
  top: 60px;
  left: 38px;
  background-color: #dad9e0;
}

.hide {
  display: none;
}

/* Mobile */
.isMobile.container {
  padding: 24px 16px;
}

.isMobile .header {
  margin: 0px 0px 16px;
  font-size: var(--font-m);
  line-height: 26px;
}

.isMobile .profileContentContainer {
  position: relative;
  width: 100%;
  max-width: 368px;
  height: 536px;
}

.isMobile .header {
  margin: 0px 0px 16px;
  font-size: var(--font-m);
  line-height: 26px;
}
