.container {
  width: 100%;
  height: 100%;
}

/* Back Button */
.backButton {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #DAD9E0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backPosition {
  position: absolute;
  top: 24px;
  left: 24px;
}

svg.backIconArrow {
  width: 10px;
  height: 10px;
  transform: rotate(180deg);
}

svg.backIconArrow path{
  fill: var(--white);
}

/* Header Section */
.header {
  margin-top: 42px;
  margin-bottom: 40px;
  color: var(--secondary);
  text-align: center;
}

.title {
  font-weight: var(--font-bold);
  font-size: 24px;
  line-height: 26px;
  user-select: none;
}

.subTitle {
  font-weight: var(--font-medium);
  font-size: 16px;
  line-height: 26px;
  user-select: none;
}


/* Option Section */

.optionSection {
  display: inline-flex;
  justify-content: space-around;
  max-width: 920px;
  width: 100%;
  height: 155px;
  margin-bottom: 36px;
  margin-bottom: 23px;
  position: relative;
}

.optionContainer {
  width: 312px;
  height: 155px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.border {
  height: 152px;
  width: 1px;
  background-color: #F2F2F4;
}

.optionButton .optionButtonText {
  font-size: 18px;
}

.optionTextContainer {
  color: #858199;
  font-weight: var(--font-regular);
  font-size: 16px;
  padding-bottom: 6px;
  line-height: 24px;
  text-align: center;
  user-select: none;
}

.optionTitle {
  font-size: 16px;
  font-weight: var(--font-bold);
}

/* Continue Button */
.bgImage {
  height: calc(100% - 312px);
  width: 100%;
  box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.05);
  border-top: 1px solid var(--neutral-light-5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 0px 12px 12px;
}

.contentContainer {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.05);
}
