.icon {
  --icon-color: currentColor;
  --icon-size: var(--harmony-unit-4);
  width: var(--icon-size);
  min-width: var(--icon-size);
  height: var(--icon-size);
}

.iconColor {
  --icon-color: currentColor;
  & path {
    fill: var(--icon-color);
  }
}

.xSmall {
  --icon-size: calc(3.5 * var(--harmony-unit));
}
.small {
  --icon-size: var(--harmony-unit-4);
}
.medium {
  --icon-size: var(--harmony-unit-5);
}
.large {
  --icon-size: var(--harmony-unit-6);
}
.xLarge {
  --icon-size: calc(7.5 * var(--harmony-unit));
}
.xxLarge {
  --icon-size: var(--harmony-unit-8);
}
.xxxLarge {
  --icon-size: var(--harmony-unit-10);
}
