.radioItem {
  position: relative;
  display: flex;
  align-items: start;
  padding: 24px 0;
  border-top: 1px solid var(--neutral-light-7);
}

.radioItem:first-child {
  padding-top: 0;
  border: none;
}

.radioButton {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--neutral-light-6);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.selected.radioButton {
  background: var(--white);
  border: 6px solid var(--secondary);
}

.disabled.radioButton {
  background: var(--neutral-light-7);
  border: unset;
}

.radioItem:hover {
  cursor: pointer;
}

.radioItemContent {
  width: 100%;
}

.radioItemContent > *:not(.radioButton) {
  position: relative;
  left: 32px;
  width: calc(100% - 32px);
}
