.link {
  transition: color var(--harmony-quick);
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: inherit;
}
.link svg {
  width: 1em;
  height: 1em;
}
.link svg path {
  transition: fill var(--harmony-quick);
  fill: var(--neutral-light-4);
}
.link:hover {
  color: var(--secondary);
}
.link:hover svg path {
  fill: var(--secondary);
}

.amount,
.label {
  font-weight: var(--font-bold);
}

.label {
  color: var(--neutral-light-4);
}
