.stripeLogo path {
  fill: #00aaf5;
}

.method {
  gap: 8px;
}

.flexHorizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.change {
  color: var(--accent-green);
}
.change.negative {
  color: var(--accent-red);
}
