* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.table {
  border-collapse: collapse;
  min-width: 100%;
}
.table td,
.table th {
  border: 1px solid #ccc;
  padding: 4px;
}
.table tr:hover td {
  background: lightyellow;
}

.is-behind {
  background: rgb(254 226 226);
  color: rgb(127 29 29);
  font-weight: bold;
}
tr:hover td.is-behind {
  background: rgb(254 226 226);
}

a,
a:visited {
  color: blue;
  text-decoration: none;
}
a:hover {
  background: yellow;
  text-decoration: underline;
}
