/**
 * Audius Color Palette
 *
 * Each defined color has variants defined by the 'dark' or 'light'
 * keyword. The number signifies an increasing value for the property, e.g.
 * -dark-2 is darker than -dark-1.
 */
:root {
  --background: #f3f0f7;

  --primary: #cc0fe0;
  --primary-dark-1: #b80eca;
  --primary-dark-2: #a30cb3;
  --primary-light-1: #d127e3;
  --primary-light-2: #d63fe6;

  --secondary: #7e1bcc;
  --secondary-transparent: rgba(126, 27, 204, 0.85);
  --secondary-dark-1: #7118b8;
  --secondary-dark-2: #6516a3;
  --secondary-light-1: #8b32d1;
  --secondary-light-2: #9849d6;

  --neutral: #858199;
  --neutral-dark-1: #78748a;
  --neutral-dark-2: #6a677a;
  --neutral-dark-3: #4d535a;
  --neutral-light-1: #9d9aad;
  --neutral-light-2: #aaa7b8;
  --neutral-light-3: #b6b3c2;
  --neutral-light-4: #c2c0cc;
  --neutral-light-5: #cecdd6;
  --neutral-light-6: #dad9e0;
  --neutral-light-7: #e7e6eb;
  --neutral-light-8: #f2f2f4;
  --neutral-light-9: #f7f7f9;
  --neutral-light-10: #fcfcfc;
  --white: #ffffff;

  /* --white everywhere except darkmode, which is dracula*/
  --darkmode-static-white: var(--white);

  --accent-red: #d0021b;
  --accent-red-dark-1: #aa0115;
  --accent-red-light-1: #d51b32;

  --accent-green: #0f9e48;
  --accent-green-dark-1: #0a9400;
  --accent-green-light-1: #23ad1a;

  --accent-orange: #ff9400;
  --accent-orange-dark-1: #f28100;
  --accent-orange-light-1: #ffa70f;

  --accent-purple: #8e51cf;

  --secondary-gradient: linear-gradient(315deg, #6b0fb3 0%, #7e1bcc 100%);
  --page-header-gradient-color-1: #5b23e1;
  --page-header-gradient-color-2: #a22feb;
  --page-header-gradient: linear-gradient(
    -22deg,
    var(--page-header-gradient-color-1) 0%,
    var(--page-header-gradient-color-2) 100%
  );
  --page-header-text-shadow-color: rgba(162, 47, 235, 0.2);
  --page-header-text-shadow: 0px 2px 4px var(--page-header-text-shadow-color);
  --accent-red-gradient: linear-gradient(
    315deg,
    var(--accent-red-dark-1) 0%,
    var(--accent-red-light-1) 100%
  );
  --play-button-triangle: var(--static-white);
  --action-sheet-text: var(--secondary);
  --track-slider-rail: var(--neutral);
  --track-slider-handle: var(--static-white);
}

:root {
  --image-shadow: rgba(10, 10, 10, 0.35);
  --tile-shadow-1: rgba(133, 129, 153, 0.1);
  --tile-shadow-2: #e3e3e3;
  --tile-shadow-3: rgba(133, 129, 153, 0.25);
  --tile-shadow-1-alt: rgba(133, 129, 153, 0.2);

  --currently-playing-border: #f2f2f4;
  --currently-playing-default-shadow: rgba(242, 242, 242, 0.5);

  --card-image-shadow: rgba(133, 129, 153, 0.75);

  --search-bar-background: rgba(255, 255, 255, 0.8);
  --search-bar-expanded: rgba(255, 255, 255, 1);
  --search-bar-border: rgba(143, 149, 152, 0.1);
  --search-bar-shadow: rgba(133, 129, 153, 0.15);

  --nav-column-group-header: var(--neutral-light-4);
  --nav-column-link: var(--neutral-dark-2);
  --nav-column-link-hover: var(--neutral-dark-3);

  --stems-token-value-slider-background: var(--page-header-gradient);
  --stems-token-value-slider-background-error: var(--accent-red-gradient);

  --table-shadow: rgba(133, 129, 153, 0.15);

  --mask: rgba(243, 240, 247, 0.5);
  --skeleton-gradient: linear-gradient(
    90deg,
    #f7f7f9 25%,
    #f2f2f4 37%,
    #f7f7f9 63%
  );
  --skeleton: #f7f7f9;
  --profile-completion-shadow-1: rgba(126, 27, 204, 0.05);
  --profile-completion-shadow-2: rgba(133, 129, 153, 0.2);

  --default-profile-picture-background: var(--neutral-light-4);

  --notification-panel-box-shadow: rgba(0, 0, 0, 0.25);
  --notification-border: rgba(133, 129, 153, 0.2);
  --notification-background: #ffffff;
  --notification-border-hover: rgba(133, 129, 153, 0.2);
  --notification-background-hover: #ffffff;
  --notification-background-box-shadow: 0 2px 15px -4px rgba(133, 129, 153, 0.2);
  --notification-border-active: rgba(133, 129, 153, 0.2);
  --notification-background-active: #fafafa;

  --notification-unread-border: rgba(126, 27, 204, 0.3);
  --notification-unread-background: rgba(152, 73, 214, 0.02);
  --notification-unread-border-hover: rgba(126, 27, 204, 0.3);
  --notification-unread-background-hover: rgba(152, 73, 214, 0.02);
  --notification-unread-background-box-shadow: 0 2px 15px -4px rgba(126, 27, 204, 0.15);
  --notification-unread-border-active: rgba(126, 27, 204, 0.3);
  --notification-unread-background-active: rgba(152, 73, 214, 0.06);

  --page-header-gradient-1: rgb(252, 252, 252);
  --page-header-gradient-2: rgba(252, 252, 252, 0.85);
  --page-header-gradient-2-alt: rgba(252, 252, 252, 0.95);
  --next-and-previous-buttons: var(--neutral);
}

/**
       * Static color palette. Never overridden by theme.
       */
:root {
  --static-primary: #cc0fe0;
  --static-primary-dark-1: #b80eca;
  --static-primary-dark-2: #a30cb3;
  --static-primary-light-1: #d127e3;
  --static-primary-light-2: #d63fe6;

  --static-secondary: #7e1bcc;
  --static-secondary-transparent: rgba(126, 27, 204, 0.85);
  --static-secondary-dark-1: #7118b8;
  --static-secondary-dark-2: #6516a3;
  --static-secondary-light-1: #8b32d1;
  --static-secondary-light-2: #9849d6;

  --static-neutral: #858199;
  --static-neutral-dark-1: #78748a;
  --static-neutral-dark-2: #6a677a;
  --static-neutral-dark-3: #4d535a;
  --static-neutral-light-1: #9d9aad;
  --static-neutral-light-2: #aaa7b8;
  --static-neutral-light-3: #b6b3c2;
  --static-neutral-light-4: #c2c0cc;
  --static-neutral-light-5: #cecdd6;
  --static-neutral-light-6: #dad9e0;
  --static-neutral-light-7: #e7e6eb;
  --static-neutral-light-8: #f2f2f4;
  --static-neutral-light-9: #f7f7f9;
  --static-neutral-light-10: #fcfcfc;
  --static-white: #ffffff;

  --static-accent-red: #d0021b;
  --static-accent-red-dark-1: #aa0115;
  --static-accent-red-light-1: #d51b32;

  --static-accent-green: #0ba400;
  --static-accent-green-dark-1: #0a9400;
  --static-accent-green-light-1: #23ad1a;

  --static-accent-orange: #ff9400;
  --static-accent-orange-dark-1: #f28100;
  --static-accent-orange-light-1: #ffa70f;

  --static-twitter-blue: #1ba1f1;
}
