.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: var(--harmony-unit-3);
  background: var(--white);
  overflow: hidden;
  box-shadow: var(--table-shadow) 0px var(--harmony-unit-4)
    var(--harmony-unit-5) 0px;
  cursor: pointer;
  min-width: 400px;
}

.coverPhotoWrapper {
  height: 100px;
  border-bottom: 2px solid var(--border-default);
}

.coverPhoto {
  height: 100px;
}

.details {
  display: flex;
  padding: var(--harmony-unit-6);
  align-items: center;
}

.profilePicture {
  background-color: var(--default-profile-picture-background);
}

.profilePictureWrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid var(--border-default);
  overflow: hidden;
  margin-right: var(--harmony-unit-2);
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: var(--harmony-unit-2);
}

.name {
  display: flex;
  align-items: center;
  gap: var(--unit);
}
