*.swp
*.swo
*.swn
.DS_Store
.npmrc
local-config.json
node_modules/
npm-debug.log
file_storage/
local-storage/
local-test/
contract-config.json
eth-contract-config.json
solana-program-config.json
docker-compose/.development.env
.nyc_output/
coverage/

src/notifications/browserPush/audius.pushPackage/*.pem
src/notifications/browserPush/audius.pushPackage/*.p8
src/notifications/browserPush/audius.pushPackage/*.p12
src/notifications/browserPush/devPushPackage.zip
