*.swp
*.swo
*.swn
.DS_Store
.npmrc
local-config.json
node_modules/
npm-debug.log
file_storage/
local-storage/
local-test/
contract-config.json
eth-contract-config.json
docker-compose/.development.env
.nyc_output/
coverage/