.container {
  flex-shrink: 0;
  margin: 44px 0px 100px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1240px;
  position: relative;
}

.foreground {
  position: relative;
  z-index: 5;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productShot {
  width: 100%;
  max-width: 807px;
}

.title {
  color: #7e1bcc;
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
  width: 100%;
  text-transform: uppercase;
}

.subTitle {
  color: #858199;
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  width: 100%;
}

.dotsBackgroundContainer {
  position: absolute;
  top: -69px;
  left: -152px;
  z-index: 0;
}

.dotsBackground {
  height: 505px;
  width: 611px;
  position: absolute;
  background-repeat: repeat;
  background-size: 500px 201px;
  top: -460px;
  left: -152px;
  z-index: 0;
}

.cardMoveContainer {
  margin-bottom: 32px;
  user-select: none;
}

.artistsContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: -34px 0 0 -60px;
  width: calc(100% + 60px);
}

/*  Artist Component */

.artistContainer {
  display: inline-flex;
  flex-direction: column;
  margin: 34px 0 0 60px;
}

.artistImageWrapper {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.artistImage {
  height: 100%;
  width: 100%;
}

.artistName {
  color: #858199;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  margin: 18px auto 0px;
}

.byArtistName {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: right;
  margin-top: 4px;
}

.animateTitleContainer {
  overflow: hidden;
  width: 100%;
  margin-bottom: 48px;
}

/* Mobile */

.mobileContainer {
  overflow: hidden;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.mobileContainer .title {
  z-index: 1;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.mobileContainer .subTitle {
  z-index: 1;
  max-width: 300px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.mobileContainer .artistsContainer {
  margin: unset;
  max-width: 400px;
  z-index: 1;
  display: inline-flex;
  margin-top: 64px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.mobileContainer .artistCard {
  margin: 0px 12px 16px;
}

.mobileContainer .overflowArtistCard {
  display: inline-block;
  overflow: hidden;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  border: solid 4px #ffffff;
}

.mobileContainer .overflowArtistCard:not(:first-child) {
  margin-left: -53px;
}

.mobileContainer .overflowArtistsContainer {
  max-width: 400px;
  justify-content: center;
}

.mobileContainer .overflowArtistsText {
  color: #7e1bcc;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 6px;
  text-transform: uppercase;
  text-align: center;
}

.mobileContainer .artistImageWrapper {
  width: 150px;
  height: 150px;
  margin-bottom: 8px;
}

.mobileContainer .artistName {
  color: #7e1bcc;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  margin: 0px auto;
}

.mobileContainer .dotsBackground {
  height: 505px;
  width: 611px;
  position: absolute;
  background-repeat: repeat;
  background-size: 500px 201px;
  top: 140px;
  left: -152px;
  z-index: 0;
}
