.container {
  margin: 320px 0 240px;
  flex-shrink: 0;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  z-index: 5;
}

.content {
  max-width: 1240px;
  margin: 0 auto;
}

:global(#landingPage) .title,
:global(#landingPage) .cardTitle {
  font-family: 'Avenir Next LT Pro' !important;
}

.title {
  color: #7e1bcc;
  font-size: 56px;
  font-weight: 900;
  line-height: 68px;
  text-align: center;
  user-select: none;
}

.subTitle {
  color: #858199;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  margin-bottom: 24px;
}

/* Cards */
.cardsContainer {
  display: inline-flex;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  width: calc(100% + 24px);
}

.cardMoveContainer {
  transition: all 0.15s ease-in-out;
  transform: scale3d(1, 1, 1);
}

.cardMoveContainer:hover {
  transform: scale3d(1.02, 1.02, 1.02);
}

.cardMoveContainer:active {
  transform: scale3d(0.99, 0.99, 0.99);
}

.cardContainer {
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 10px 50px rgba(45, 70, 216, 0.4);
  background-size: cover;
  background-position: center;
}

.podcastContainer {
  box-shadow: 0 10px 50px -2px rgba(45, 70, 216, 0.4);
}

.cypherContainer {
  box-shadow: 0 10px 50px -2px rgba(216, 18, 217, 0.4);
}

.cardContent {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  height: 100%;
  width: 100%;
}

.cardTitle {
  align-self: start;
  color: #ffffff;
  font-size: 42px;
  font-weight: 900;
  line-height: 52px;
  text-shadow: 0 5px 20px rgba(25, 0, 96, 0.5);
}

.cardDescription {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-shadow: 0 2px 10px rgba(25, 0, 96, 0.5);
  margin-top: 8px;
  margin-bottom: 24px;
}

.cardButton {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  border: none;
  letter-spacing: 0.78px;
  font-size: 18px;
  font-weight: 700;
  align-self: start;
  background: none;
  color: #fff;
  transition: all 0.15s ease-in-out;
  transform: scale3d(1, 1, 1);
  padding: 0;
}

.cardButton:hover {
  transform: scale3d(1.03, 1.03, 1.03);
}

.cardButton:active {
  transform: scale3d(0.99, 0.99, 0.99);
}

.cardIcon {
  width: 20px;
  height: 20px;
}

.cardIcon path {
  fill: #fff;
}

/* Mobile */
.mobileContainer {
  margin: 120px 0;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 24px;
}

.mobileContainer .content {
  margin: 0 24px;
}

.mobileContainer .title {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  user-select: none;
}

.mobileContainer .subTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 32px;
}

.mobileContainer .mobileCard {
  position: relative;
  background-size: cover;
  background-position: center;
  margin-bottom: 24px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.mobileContainer .mobileCardBG {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
}

.mobileContainer .cardTitle {
  color: #ffffff;
  font-size: 28px;
  font-weight: 900;
  line-height: 32px;
  text-shadow: 0 5px 20px rgba(25, 0, 96, 0.5);
}

.mobileContainer .cardDescription {
  margin: 8px 0px 24px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-shadow: 0 2px 10px rgba(25, 0, 96, 0.5);
}
