.container {
  flex-shrink: 0;
  width: 100%;
  z-index: 5;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.content {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 5;
  box-shadow: 0px 10px 50px -2px rgba(53, 5, 152, 0.25);
  padding: 100px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    linear-gradient(0deg, rgba(175, 0, 255, 0.5), rgba(175, 0, 255, 0.5));
}

.appImg {
  z-index: 5;
  max-width: 542px;
}

.appImgContainer {
  z-index: 5;
  margin-right: 40px;
}

.textContent {
  max-width: 700px;
  position: relative;
  z-index: 5;
}

.title {
  color: #ffffff;
  font-size: 64px;
  font-weight: 800;
  line-height: 86px;
  text-shadow: 0 5px 20px rgba(25, 0, 96, 0.5);
  margin-bottom: 24px;
}

.title1 {
  display: inline-flex;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.title2 {
  flex-wrap: wrap;
  display: inline-flex;
}

.textAnimateTitle1 {
  margin-right: 14px;
  overflow: hidden;
  display: inline-flex;
}

.textAnimateTitle2 {
  margin-right: 18px;
  overflow: hidden;
  display: inline-flex;
}

.ctaButton {
  user-select: none;
  cursor: pointer;
  padding: 16px 40px;
  border: none;
  border-radius: 29px;
  background-color: #ffffff;
  box-shadow: 0 5px 20px -1px rgba(25, 0, 96, 0.5);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #7e1bcc;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 26px;
  text-align: center;
  transition: all 0.15s ease-in-out;
  transform: scale3d(1, 1, 1);
}

.ctaButton:hover {
  transform: scale3d(1.03, 1.03, 1.03);
  background-color: #f7f7f7;
  box-shadow: 0 10px 20px -1px rgba(25, 0, 96, 0.5);
}

.ctaButton:active {
  transform: scale3d(0.99, 0.99, 0.99);
  background-color: #f2f2f2;
  box-shadow: 0 0 2px -1px rgba(25, 0, 96, 0.5);
}

.arrowRight {
  margin-left: 4px;
  height: 24px;
  width: 24px;
}

.background {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  margin-top: -10%;
  height: 100%;
  min-height: calc(100% + 500px);
  object-fit: cover;
}

.word {
  color: #ffffff;
}

/* Mobile */

.mobileContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.mobileBgImage {
  user-select: none;
  position: absolute;
  height: 100%;
  width: 100%;
}

.mobileBackground {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 220%;
  margin: 0% -60% 0px;
  height: 100%;
  object-fit: cover;
}

.mobileContainer .textContent {
  max-width: unset;
  padding: 24px 24px 48px 24px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    linear-gradient(0deg, rgba(175, 0, 255, 0.5), rgba(175, 0, 255, 0.5));
}

@media (min-width: 510px) {
  .mobileContainer .textContent,
  .mobileContainer .titlesContainer {
    text-align: center;
  }
}

.mobileContainer .titlesContainer {
  max-width: 700px;
  margin: 0 auto;
}

.mobileContainer .title {
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  text-shadow: 0 5px 20px rgba(25, 0, 96, 0.5);
  margin-bottom: 24px;
}

.mobileContainer .title1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.title2 {
  flex-wrap: wrap;
  display: inline-flex;
}

.bgContainer {
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.parallaxBg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(87, 18, 101);
}

.bgParallax {
  position: relative;
  width: 100%;
  height: 100%;
}

.mobileContainer .appImg {
  max-width: 308px;
}

.mobileContainer .appImgContainer {
  margin-right: unset;
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
