.container {
  flex-shrink: 0;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  z-index: 5;
  padding: 0px 100px 100px;
}

.content {
  max-width: 1240px;
}

.header {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 28px;
}

:global(#landingPage) .title,
:global(#landingPage) .cardTitle {
  font-family: 'Avenir Next LT Pro Condensed' !important;
}

.title {
  color: #7e1bcc;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 56px;
}

.subTitle {
  color: #858199;
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
}

/* Cards */
.cardsContainer {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px -24px 0px 0px;
  width: calc(100% + 24px);
}

.cardMoveContainer {
  flex: 1;
  margin: 0px 24px 0px 0px;
  transition: all 0.15s ease-in-out;
  transform: scale3d(1, 1, 1);
}

.cardMoveContainer:hover {
  transform: scale3d(1.02, 1.02, 1.02);
}

.cardMoveContainer:active {
  transform: scale3d(0.99, 0.99, 0.99);
}

.cardContainer {
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 10px 50px rgba(45, 70, 216, 0.4);
  background-size: cover;
  background-position: center;
}

.podcastContainer {
  box-shadow: 0 10px 50px -2px rgba(45, 70, 216, 0.4);
}

.cypherContainer {
  box-shadow: 0 10px 50px -2px rgba(216, 18, 217, 0.4);
}

.cardContent {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  height: 100%;
  width: 100%;
}

.cardTitle {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
  text-align: center;
  text-shadow: 0 5px 20px rgba(25, 0, 96, 0.5);
}

.cardDescription {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  text-shadow: 0 2px 10px rgba(25, 0, 96, 0.5);
  margin: 25px auto;
}

.cardButton {
  user-select: none;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 5px 20px -1px rgba(25, 0, 96, 0.5);
  padding: 8px 16px;
  color: #7e1bcc;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.78px;
  line-height: 16px;
  text-align: center;
  transition: all 0.15s ease-in-out;
  transform: scale3d(1, 1, 1);
}

.cardButton:hover {
  transform: scale3d(1.03, 1.03, 1.03);
  background-color: #f7f7f7;
  box-shadow: 0 10px 20px -1px rgba(25, 0, 96, 0.5);
}

.cardButton:active {
  transform: scale3d(0.99, 0.99, 0.99);
  background-color: #f2f2f2;
  box-shadow: 0 0 2px -1px rgba(25, 0, 96, 0.5);
}

/* Mobile */
.mobileContainer {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 24px 48px;
}

.mobileContainer .title {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.mobileContainer .subTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 32px;
}

.mobileContainer .mobileCard {
  position: relative;
  background-size: cover;
  background-position: center;
  margin-bottom: 24px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.mobileContainer .mobileCardBG {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 100%;
}

.mobileContainer .cardTitle {
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  text-align: center;
  text-shadow: 0 5px 20px rgba(25, 0, 96, 0.5);
}

.mobileContainer .cardDescription {
  margin: 25px 0px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-shadow: 0 2px 10px rgba(25, 0, 96, 0.5);
}
