/* ===Base Styles=== */
.button {
  font-family: var(--harmony-font-family);
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  transition: transform var(--harmony-hover);
}

.button:focus {
  outline: none !important;
}

.button:hover,
.button.hover {
  transform: scale(1.04);
}

.button:active,
.button.active {
  transform: scale(0.98);
}

/* .hover and .active are for visual representation only in storybook */
.button.hover,
.button.active {
  pointer-events: none;
}

.disabled {
  pointer-events: none;
}

.icon path {
  fill: currentColor;
}

.fullWidth {
  width: 100%;
  flex-shrink: 1;
}
