.modal {
  width: 720px;
}

.modalRoot.mobile {
  height: 100%;
}

.modalHeader.mobile {
  margin: 0;
  padding: 0;
  border: none;
}

.title {
  align-items: center;
  display: flex;
  gap: var(--unit-2);
  justify-content: center;
  letter-spacing: 0.5px;
}

.content {
  padding: 0 0;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: var(--unit-6);
  padding: 0 var(--unit-6) var(--unit-6);
}

.spinner {
  width: var(--unit-10);
  height: var(--unit-10);
}

.mobileWrapper {
  height: 100%;
  padding: 0px 0px;
}
