.root {
  flex-shrink: 0;
  margin-left: 10px;
  visibility: hidden;
  pointer-events: none;
}

.root path,
.root path,
.root path {
  fill: var(--harmony-n-700);
}

.root:hover,
.root:active,
.root:focus,
.root:hover path,
.root:active path,
.root:focus path {
  color: var(--nav-column-link-hover);
  fill: var(--nav-column-link-hover);
}

.visible {
  visibility: visible;
  pointer-events: all;
}
