.root {
  flex-shrink: 0;
  margin-left: var(--harmony-spacing-xs);
  visibility: hidden;
  pointer-events: none;
}

.root path {
  fill: var(--harmony-n-700);
}

.root:hover,
.root:active,
.root:focus,
.root:hover path,
.root:active path,
.root:focus path {
  color: var(--harmony-neutral);
  fill: var(--harmony-n-950);
}

.visible {
  visibility: visible;
  pointer-events: all;
}
