.root {
  display: inline-flex;
  align-items: center;
  line-height: normal;
}

.iconFolder {
  flex-shrink: 0;
  margin-right: 8px;
}

.iconFolderUpdated {
  color: var(--secondary);
}

.iconCaret {
  flex-shrink: 0;
  margin-left: 10px;
}

.iconCaret {
  transition: transform 0.15s ease;
}

.iconCaretDown {
  transform: rotate(90deg);
}

.droppableHover {
  background-color: rgba(152, 73, 214, 0.15);
}

.dragging > * {
  pointer-events: none;
}
