.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.stats.large > .stat > .number {
  color: var(--neutral-light-1);
  font-size: 22px;
  font-weight: var(--harmony-font-heavy);
  letter-spacing: 0.7px;
  margin-bottom: 4px;
  transition: all ease-in-out 0.18s;
}
.stats.large > .stat > .title {
  color: var(--neutral-light-5);
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-heavy);
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.stats.medium > .stat > .number {
  color: var(--harmony-neutral);
  font-family: var(--harmony-font-family);
  font-size: 18px;
  line-height: 13px;
  font-weight: 900;
  margin-bottom: 7px;
  transition: all ease-in-out 0.18s;
}
.stats.medium > .stat > .title {
  color: var(--neutral-light-4);
  font-family: var(--harmony-font-family);
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1.03px;
  line-height: 7px;
  text-transform: uppercase;
}

.stat.clickable {
  cursor: pointer;
}
.stat.clickable:hover > .number {
  color: var(--harmony-secondary);
}
