.wrapper {
  position: relative;
}

.dropzone {
  height: 100%;
  text-align: center;
}

.invalidFileType {
  position: absolute;
  right: 0;
  left: 0;
  margin: 4px auto;
}

.button {
  height: 40px !important;
  box-sizing: content-box;
  border-radius: 6px;
  opacity: 1;
  transition: all 0.07s ease-in-out;
}

.hide {
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

.wrapper:hover .noPopup.hide {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}
