.container {
  background: white;
  position: relative;
  display: inline-flex !important;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  user-select: none;
}

.hasBanner {
  top: 56px !important;
}

.isMobile.hasBanner {
  top: 72px !important;
}

::selection {
  background: #a116b7;
  color: #fff;
}

::-moz-selection {
  background: #a116b7;
  color: #fff;
}
