/* Slider Styles */
.sliderContainer {
}

.sliderContainer .slider {
  background-color: var(--harmony-background);
  box-shadow: inset 1px 1px 7px -2px rgba(53, 54, 79, 0.25);
}

.minMaxWrapper {
  color: var(--neutral-light-4);
  font-size: var(--harmony-font-s);
}
