.amount {
  font-weight: 800;
  font-size: var(--harmony-font-3xl);
  line-height: 39px;

  background: var(--page-header-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.label {
  font-weight: var(--harmony-font-bold);
  font-size: var(--harmony-font-3xl);
  line-height: 39px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--neutral-light-4);
  margin-left: 8px;
}
