.container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.scrollableMessage {
  min-height: 132px;
  height: 100%;
  max-height: 248px;

  width: 576px;
  margin: 0px auto 24px;
  padding: 24px 20px;
  color: var(--harmony-neutral);
  background: var(--harmony-n-50);
  border: 1px solid var(--harmony-n-100);
  box-sizing: border-box;
  border-radius: 8px;
}
