.description {
  font-size: var(--harmony-font-xl);
  text-align: center;
  font-weight: var(--harmony-font-medium);

  color: var(--neutral);
  margin: 24px 0px;
}

.spinner g path {
  stroke: var(--secondary);
}

.warning {
  font-size: var(--harmony-font-xl);
  text-align: center;
  font-weight: var(--harmony-font-medium);
  color: var(--accent-red);
  margin: 24px 0px;
}
