.container {
  display: inline-flex;
  flex-direction: column;
  padding-top: 24px;
  justify-content: center;
}

.warning {
  font-size: var(--harmony-font-m);
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  color: #9147cc; /* Dark secondary */
}

.description {
  font-weight: var(--harmony-font-demi-bold);
  font-size: var(--harmony-font-m);
  line-height: 24px;
  text-align: center;
  color: var(--harmony-neutral);
  margin-bottom: 24px;
}

.solContainer {
  padding-bottom: 24px;
}

.solContainer .description {
  margin: 30px 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.chainIconSol {
  height: 132px;
  width: auto;
  margin-right: 20px;
}

.splWarning {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  list-style-type: disc;
  list-style-position: inside;
}

.iconSolContainer {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: var(--harmony-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border: 1.16667px solid var(--harmony-n-150);

  /* Light/Track Tile Shadow */
  box-shadow: 0px 0px 1px -2px rgba(133, 129, 153, 0.1),
    0px 1px 0px -2px #e3e3e3, 0px 2px 5px -2px rgba(133, 129, 153, 0.25);
}

.iconSolHeader {
  height: 20px;
  width: 20px;
}

.solClickableHeader {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.audio {
  font-weight: var(--harmony-font-bold);
}
