.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #858199;
}

.subtitle2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #858199;
  display: inline-block;
}

.subtitle2 svg {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  padding-left: 2px;
  padding-bottom: 4px;
}

/* Input Styles */
.inputContainer {
  margin-top: 24px;
  width: 100%;
}

.label {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--harmony-neutral);
  opacity: 0.5;
  margin-right: 8px;
}

.input {
  background: var(--harmony-n-50);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: var(--harmony-neutral);
}

.errorLabel {
  color: var(--accent-red);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  margin-top: 6px;
  font-weight: var(--harmony-font-medium);
  font-size: var(--harmony-font-m);
  line-height: 24px;
}

.errorLabel > * {
  margin-right: 16px;
}
