.titleWrapper {
  margin: 24px 0px;
}

.addressWrapper {
  display: flex;
  flex-direction: column;
  color: var(--neutral-light-4);
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-medium);
  align-items: center;
}

.arrow {
  margin: 10px auto;
  transform: rotateZ(90deg);
  height: 18px;
  width: 18px;
}

.arrow path {
  fill: var(--neutral-light-4);
}

.buttonWrapper {
  margin: 24px 0px;
}

.errorMessage {
  margin: 8px 32px 32px 32px;
  color: var(--accent-red);
  font-weight: var(--harmony-font-demi-bold);
  line-height: 1.2;
  text-align: center;
}

.loadingSpinner {
  height: 24px;
  width: 24px;
}

.loadingSpinner g path {
  stroke: var(--harmony-static-white) !important;
}
