.walletManagementTile {
  margin-block-end: 32px;
  background: var(--harmony-white);
  overflow: hidden;

  /* tileContainer */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  min-height: 210px;
}

.balanceContainer {
  width: 100%;
  background: var(--harmony-gradient);
  padding: 24px;
}
.spinner {
  width: var(--harmony-unit-11);
  height: var(--harmony-unit-11);
  margin: 0 auto;
  padding-top: var(--harmony-unit-2);
  padding-bottom: var(--harmony-unit-2);
}

.spinner g path {
  stroke: rgba(255, 255, 255, 0.75);
}

.balanceAmount {
  font-weight: 800;
  font-size: 96px;
  text-align: center;
  color: var(--harmony-static-static-white);
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 6px;
  opacity: 1;
  transition: opacity 0.07s ease-in-out;
}
.balance {
  opacity: 1;
  transition: opacity 0.07s ease-in-out;
  margin-top: 10px;
  font-weight: var(--harmony-font-bold);
  font-size: var(--harmony-font-2xl);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.iconInfo {
  height: 16px;
  width: 16px;
  margin-left: 4px;
  margin-bottom: 2px;
}
.iconInfo:hover {
  cursor: pointer;
}
.iconInfo path {
  fill: rgba(255, 255, 255, 0.75);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 24px 24px 8px 24px;
}

.onRampButtonTooltipContainer,
.tooltip :global(.ant-tooltip-inner) {
  border-radius: 8px;
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-demi-bold);
  width: 100%;
}
