.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 16px 20px var(--table-shadow);
  height: 100%;
  background-color: var(--white);
  padding: 33px 56px;
}

.container .btn {
  background: transparent !important;
  border: 1px solid var(--neutral-light-6);
  width: 100%;
  padding: 20px;
}

.btn .textClassName {
  color: var(--neutral);
  font-size: var(--font-s);
}

.btn .iconStyle path {
  fill: var(--neutral);
}

.btn.balanceDisabled {
  opacity: 0.5;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.disabled {
  opacity: 0.5;
}

.receiveBtn {
  margin: 16px 0px;
}

.connectWalletsBtn {
  width: 230px;
}
