.walletManagementTile {
  margin-block-end: 32px;
  background: var(--harmony-white);
  overflow: hidden;

  /* tileContainer */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 16px 20px var(--table-shadow);
  min-height: 210px;
}

.balanceContainer {
  width: 100%;
  background: var(--page-header-gradient);
  padding: 24px;
}
.spinner {
  width: var(--harmony-unit-11);
  height: var(--harmony-unit-11);
  margin: 0 auto;
  padding-top: var(--harmony-unit-2);
  padding-bottom: var(--harmony-unit-2);
}

.spinner g path {
  stroke: rgba(255, 255, 255, 0.75);
}

.balanceAmount {
  font-weight: 800;
  font-size: 96px;
  text-align: center;
  color: var(--harmony-static-white);
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 6px;
  opacity: 1;
  transition: opacity 0.07s ease-in-out;
}
.balance {
  opacity: 1;
  transition: opacity 0.07s ease-in-out;
  margin-top: 10px;
  font-weight: var(--harmony-font-bold);
  font-size: var(--harmony-font-2xl);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.iconInfo {
  height: 16px;
  width: 16px;
  margin-left: 4px;
  margin-bottom: 2px;
}
.iconInfo:hover {
  cursor: pointer;
}
.iconInfo path {
  fill: rgba(255, 255, 255, 0.75);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 24px 24px 8px 24px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.headerIcon {
  width: 71px;
  height: 71px;
}
.headerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.title {
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;

  background: var(--page-header-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.subtitle {
  font-weight: var(--harmony-font-bold);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--neutral-light-4);
  align-self: flex-start;
}

.toggle {
  border-top: 1px solid var(--neutral-light-8);
}
.toggle .advancedToggle {
  padding-top: 20px;
}

.moreOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 24px;
  gap: 24px;
  border-bottom: 1px solid var(--neutral-light-8);
}
.moreOptionsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.onRampButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.onRampButtons > div {
  flex: 1;
}
.onRampButtonTooltipContainer,
.onRampButton {
  width: 100%;
}
.onRampButtons > div:only-child > .onRampButton {
  transition: all 120ms ease-in-out !important;
}

.tooltip :global(.ant-tooltip-inner) {
  border-radius: 8px;
  padding: 12px 24px;
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-demi-bold);
}
