.statBar {
  margin-bottom: 16px;
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  align-items: center;
}

.statBar > * {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}

.rewards {
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.rewards > * {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}

.proposals {
  flex-direction: column;
  box-sizing: border-box;
  margin: 0px 0px 16px;
}

.loading {
  margin: 16px auto;
}

.proposals .title {
  user-select: none;
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--font-xl);
  color: var(--neutral);
  padding: 28px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moreText {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;

  font-family: var(--font-family);
  
  font-weight: var(--font-bold);
  font-size: var(--font-s);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #777C96;
  border-top: 1px solid #3F415B;
  user-select: none;
}

.moreText:hover,
.moreText:active {
  background: #393A54;
  cursor: pointer;
}

.wtf {
  user-select: none;
  position: relative;
  background: none;
  margin: 16px 0;
  padding: 32px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.wtf .logo {
  width: 180px;
  height: 46px;
}

.wtf .logo path {
  fill: var(--static-white);
}

.wtf .info {
  padding: 28px 32px;
  width: 50%;
  color: var(--static-white);
}

.wtf .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/img/WhatIsAudiusBackground@2x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wtf .wtfIs {
  font-family: Avenir Next LT Pro;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}

.wtf .body {
  font-weight: var(--font-regular);
  font-weight: 500;
  font-size: var(--font-l);
  line-height: 22px;
  color: var(--static-white);
}

.wtf .topRow {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
}