*.swp
*.swo
*.swn
.DS_Store
.npmrc
local-config.json
node_modules/
npm-debug.log
local-test/
eth-contract-config.json
contract-config.json
local-storage/
test_file_storage/
coverage/
.nyc_output/
compose/env/commonEnv.sh
compose/env/tmp/
file_storage/
