.balance {
  font-weight: var(--font-medium);
  font-size: var(--font-m);
  line-height: 24px;
  text-align: center;
  color: var(--neutral);
  margin: 24px auto;
}

.subtitle {
  margin: 24px auto;
  max-width: 448px;

  font-weight: var(--font-medium);
  font-size: var(--font-m);
  line-height: 24px;
  text-align: center;
  color: var(--neutral);
}

.btn {
  margin-bottom: 24px;
}