.downloadButtonContainer {
  margin-right: 6px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  height: 28px;
  border-radius: 3px;
  border: 1px solid var(--neutral-light-4);
  padding: 0px 8px;
  font-size: var(--font-s);
  text-transform: uppercase;
  font-weight: var(--font-bold);
  color: var(--neutral-light-4);
  flex-grow: 0;
  cursor: pointer;
  transition: all 0.17s;
  transform: scale(1);
  white-space: nowrap;
}

.downloadButtonContainer:not(.disabled):hover {
  transform: scale(1.02);
  opacity: 0.8;
}

.downloadButtonContainer path {
  fill: var(--neutral-light-4);
}

.icon {
  margin-right: 4px;
}

.iconProcessingContainer {
  height: 18px;
  width: 18px;
}


.iconProcessing g path {
  fill: var(--neutral-light-4);
  stroke: var(--neutral-light-4) !important;
}

.iconDownload svg {
  height: 18px !important;
  width: 18px !important;
}

.label {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  white-space: inherit;
  display: inline;
}

.disabled {
  opacity: 0.5;
  cursor: auto;
}


.downloadButtonsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
}

.downloadButtonsContainer.isHidden {
  display: none;
}
