.headerText {
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
}

.isMobile.headerText {
  text-align: left;
  display: inline-block;
  font-size: var(--font-xs);
}

.headerLink,
.headerLink:hover,
.headerLink:active,
.headerLink a,
.headerLink :global(.artistPopover) a {
  color: var(--secondary);
  font-size: var(--font-s);
  font-weight: var(--font-demi-bold);
  line-height: 21px;
  cursor: pointer;
}

.isMobile .headerLink,
.isMobile .headerLink:hover,
.isMobile .headerLink:active,
.isMobile .headerLink a,
.isMobile .headerLink :global(.artistPopover) a {
  font-size: var(--font-xs);
}

.headerLink:hover,
.headerLink:hover a {
  text-decoration: underline !important;
}

.userNameWrapper {
  display: inline-block;
}

.userName {
  display: flex;
  align-items: center;
}
.userNameDeactivated {
  color: var(--neutral-light-1);
  font-size: var(--font-s);
  font-weight: var(--font-demi-bold);
  line-height: 21px;
}

.badges {
  margin-left: 4px;
}

.rewardTitle {
  color: var(--secondary-light-1);
  display: block;
  font-weight: var(--font-demi-bold);
  margin-bottom: 4px;
}
.rewardTitle.rewardTitle i {
  height: 16px;
  width: 16px;
  margin-bottom: 4px;
  margin-right: 8px;
}

.tierTitle {
  display: flex;
  align-items: center;
  color: var(--secondary-light-1);
  font-weight: var(--font-demi-bold);
  margin-bottom: 4px;
}
.tierTitle img {
  height: 28px;
  width: 28px;
  margin-right: 8px;
}
