.name h1 {
  color: #FAFAFA;
  display: inline;
}

.name > input,
.name {
  color: #FAFAFA;
  font-size: 42px;
  font-weight: var(--font-heavy);
  letter-spacing: 0.5px;
  text-shadow: 0 1px 5px rgba(0,0,0,0.5);
  height: 52px;
  line-height: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  width: 100%;
}
.name > input {
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
  color: #FAFAFA;
  height: 50px;
  padding: 0 0 8px 0;
}
.name > .editNameContainer > .iconPencil {
  cursor: pointer;
}
.name > .editNameContainer > .iconPencil svg ,
.name > .iconVerified svg {
  height: 16px;
  width: 16px;
  margin-left: 8px;
  filter: drop-shadow(0 2px 7px rgba(0,0,0,0.75));
}
.name > .editNameContainer > .iconPencil svg {
  margin-bottom: 8px;
}
.name > .iconVerified svg {
  margin-bottom: 16px;
}

.name > .editNameContainer > .iconPencil g path,
.name > .iconVerified g path {
  fill: var(--static-white);
}

.editNameContainer {
  line-height: normal;
  width:100%;
  display: inline-flex;
  align-items: center;
}

.editingName {
  line-height: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
