.modalBody {
  max-width: 480px;
}

.content {
  line-height: 130%;
  font-size: var(--font-l);
  font-weight: var(--font-medium);
}

.footer {
  padding: 0 var(--unit-6) var(--unit-6);
}

.button {
  width: 100%;
}
