.root {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-6);
}

.amount {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-4);
}

.destination {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-2);
}

.error {
  display: flex;
  gap: var(--harmony-unit-1);
}

.tryAgain {
  cursor: pointer;
}

.tryAgain:hover {
  color: var(--secondary);
}
