.root {
  padding: var(--harmony-unit-3) var(--harmony-unit-4);
  display: flex;
  border-radius: 8px;
  border: 1px solid var(--border-strong);
  background: var(--neutral-light-9);
  gap: var(--harmony-unit-4);
}

.icon path {
  fill: var(--harmony-neutral);
}

.text {
  margin-bottom: 14px;
}

.link {
  color: var(--harmony-primary);
  font-weight: var(--harmony-font-medium);
  text-decoration: underline !important;
}

.link:hover {
  color: var(--harmony-primary);
}
