.root {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-6);
}

.amount {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-4);
}

.destination {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-2);
  margin-bottom: var(--harmony-unit-6);
}

.spinner {
  height: var(--harmony-unit-6);
  width: var(--harmony-unit-6);
  align-self: center;
  margin: var(--harmony-unit-3);
}
