.root {
  display: flex;
  flex-direction: column;
  gap: var(--unit-6);
}

.destination {
  display: flex;
  flex-direction: column;
  gap: var(--unit-2);
  align-items: flex-start;
}

.success {
  display: flex;
  gap: var(--unit-2);
  align-items: center;
  justify-content: center;
  padding: var(--unit-3) 0;
}
