.icon {
  border-radius: 4px;
  border: 1px solid var(--neutral-light-6);
  cursor: pointer;
  user-select: none;
  font-size: var(--font-xs);
  background-color: var(--white);
}

.icon path {
  fill: var(--neutral-light-4);
}

.icon:hover path {
  fill: var(--white);
}

.icon svg {
  /* Scale the animation on the icon rather than the svg */
  transform: none !important;
}

.icon.disabled {
  cursor: default;
}

.icon.disabled:hover svg {
  background: var(--white);
}

.icon.disabled path,
.icon.disabled:hover path {
  fill: var(--neutral-light-4);
}

.icon:hover {
  background: var(--secondary);
  border: 1px solid var(--secondary-dark-2);
  transform: scale(1.07);
}

.icon:active {
  transform: scale(0.95);
}

.icon.disabled:hover {
  background: none;
  border: 1px solid var(--neutral-light-6);
  transform: none;
}
