.title {
  margin: 0px;
  padding: 28px 32px;
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--font-xl);
  color: #BEC5E0;
}

.emptyTimeline {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: var(--font-m);
  color: #BEC5E0;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-top: 1px solid #3F415B;
  -webkit-user-select: none;
  user-select: none;
}

.loadingContainer {
  border-top: 1px solid #3F415B;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  margin: 16px 0px;
}

.viewAll {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--font-s);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #777C96;
  border-top: 1px solid #3F415B;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.viewAll:hover {
  background: #393A54;
  cursor: pointer;
}