.container {
  width: 100%;
  border-top: 1px solid #3f415b;
  padding: 12px 20px;
  box-sizing: border-box;
  color: var(--neutral);
  overflow: scroll;
}

.titleContainer {
  display: inline;
}

.titleSpacingLeft {
  display: inline;
  margin-left: 6px;
  white-space: nowrap;
}

.userWalletName {
  display: inline !important;
}
