.completProfileWithSocialContainer {
  width: 100%;
  height: 100%;
  padding: 40px 24px 24px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

.completProfileWithSocialContainer.isMobile {
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.completProfileWithSocialContainer > div {
  width: 100%;
}

.header {
  margin-bottom: 16px;
  color: var(--secondary);
  font-size: var(--font-l);
  font-weight: bold;
  text-align: center;
  line-height: 26px;
}

.isMobile .header {
  margin-top: auto;
}

.tile {
  background-color: var(--neutral-light-10);
  border: 1px solid var(--neutral-light-7);
  border-radius: 8px;
  padding: 16px 24px;
  margin-bottom: 24px;
  text-align: left;
  font-size: var(--font-s);
  line-height: 21px;
}

.tileHeader {
  margin-bottom: 8px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.tileListItem {
  margin-top: 8px;
  display: flex;
  align-items: center;
  font-weight: var(--font-medium);
}

.tileListItemIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  flex-shrink: 0;
}

.verifiedIcon {
  margin-right: 16px;
}

.tileListItemIconCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  border-radius: 100%;
}

.tileListItemIcon svg {
  height: 16px !important;
  width: 16px !important;
}

.tileListItemIcon svg path {
  fill: var(--white);
}

.buttonContainer {
  margin-bottom: 16px;
}

.verified {
  height: 14px;
  width: 14px;
}

.ifApplicable {
  margin-top: 6px;
  margin-bottom: -18px;
  font-weight: var(--font-medium);
  font-size: var(--font-xs);
  text-align: left;
  color: var(--neutral-light-4);
}

/* manual */

.manualText {
  all: unset;
  color: var(--secondary-light-2);
  font-size: var(--font-m);
  font-weight: var(--font-medium);
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.isMobile .manualText {
  margin-top: auto;
}

.manualText:hover {
  color: var(--secondary);
  text-decoration: underline;
}

/* Loading */
.loadingContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  height: 48px;
  width: 48px;
}
