.root {
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  background: var(--harmony-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.title {
  padding: 10px 4px;
  display: flex;
  background: linear-gradient(
    180deg,
    var(--ai-primary) 0%,
    var(--ai-secondary) 100%
  );
  align-items: center;
  color: var(--harmony-static-white);
  font-weight: var(--harmony-font-bold);
  font-size: var(--harmony-font-m);
  line-height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--neutral-light-7);
}

.body {
  margin-bottom: 12px;
}

.description {
  padding: 8px 12px 0px;
  font-size: var(--harmony-font-s);
  font-weight: var(--harmony-font-medium);
  color: var(--harmony-neutral);
  line-height: 16px;
}

.iconRobot {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.iconRobot path {
  fill: var(--harmony-static-white);
}
