.cardContainer {
  height: 192px;
  width: 168px;
  border-radius: 8px;
  background: var(--neutral-light-10);
  box-shadow: 0 0 3px 0px rgba(106, 103, 122, 0.2),
    0 2px 8px -2px rgba(133, 129, 153, 0.1);
  transition: all 0.25s ease;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.cardContainer.desktop:hover {
  background-color: var(--harmony-white);
  box-shadow: rgba(228, 230, 234, 0.5) 2px 2px 20px 4px;
  transform: translate3D(0, -2px, 0) scale(1.04);
  transition: all 0.3s ease;
}

.cardContainer.desktop:active {
  transform: scale3d(1, 1, 1);
  background-color: #fafafa;
  box-shadow: 0 0 2px 0 rgba(106, 103, 122, 0.25),
    0 0 2px -2px rgba(133, 129, 153, 0.15);
}

.cardContainer.selected {
  background: linear-gradient(135deg, #9849d6 0%, #6516a3 100%);
  box-shadow: 0 2px 5px -2px rgba(133, 129, 153, 0.5),
    0 2px 6px -2px rgba(126, 27, 204, 0.25);
}

.cardContainer.desktop.selected:hover {
  background-color: linear-gradient(135deg, #9849d6 0%, #6516a3 100%);
  box-shadow: 0 2px 15px -2px rgba(133, 129, 153, 0.5),
    0 2px 8px -2px rgba(126, 27, 204, 0.25);
}

.cardContainer.desktop.selected:active {
  background-color: rgba(101, 22, 163, 0.5);
  background: linear-gradient(135deg, #9849d6 0%, #6516a3 100%);
  box-shadow: 0 0 2px 0 rgba(133, 129, 153, 0.5),
    0 0 2px 0 rgba(126, 27, 204, 0.25);
}

.coverArtWrapper {
  height: 124px;
  width: 124px;
  margin-top: 10px;
}

.coverArtSkeleton {
  height: 124px;
  width: 124px;
  border-radius: 50%;
}

.coverArt {
  height: 100%;
  width: 100%;
  border: 2px solid var(--neutral-light-8);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--default-profile-picture-background);
}

.textContainer {
  position: relative;
  margin: 4px 0px 2px;
  color: var(--harmony-neutral);
  user-select: none;
  padding: 0px 4px;
  display: flex;
  align-items: center;
}

.cardContainer.selected .textContainer,
.cardContainer.selected .secondaryText {
  color: var(--harmony-white);
}

.primaryText {
  font-size: var(--harmony-font-s);
  line-height: 18px;
  font-weight: var(--harmony-font-bold);
  text-align: center;
  max-width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iconVerified {
  display: inline-block;
  margin-left: 4px;
}

.secondaryText {
  font-size: var(--harmony-font-xs);
  line-height: var(--harmony-font-xs);
  font-weight: 500;
  text-align: center;
  user-select: none;
}

/* Mobile Compatibility */
.mobile .coverArtWrapper {
  height: 84px;
  width: 84px;
  margin-top: 10px;
}

.mobile.cardContainer {
  flex: 1 1;
  min-width: 140px;
  max-width: 190px;
  height: 160px;
  box-shadow: 0 0 2px 0 rgba(106, 103, 122, 0.25),
    0 2px 8px -2px rgba(133, 129, 153, 0.15);
}
