package pages

templ (p *Pages) ErrorPageHTML(errorID string) {
	@p.layout.SiteFrame() {
		<div class="uk-flex uk-flex-center uk-flex-middle uk-height-match uk-text-center">
			<div>
				<p>Something went wrong 🤕, hand this to a dev</p>
				<p>error id: { errorID }</p>
				<p>node: { p.config.NodeEndpoint }</p>
			</div>
		</div>
	}
}
