.modalContent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 690px;
  width: 488px;
}

.search {
  max-width: 100%;
  padding: var(--harmony-unit-6);
  border-bottom: 1px solid var(--neutral-light-8);
}

.results {
  flex: 1;
}

.spinner {
  width: var(--harmony-unit-12);
  height: var(--harmony-unit-12);
  margin: var(--harmony-unit-4) auto;
}
