.formContainer {
  width: 100%;
  background-color: var(--white);
  min-width: 640px;

  border-radius: 8px;
  box-shadow: var(--shadow-far);
}

.trackEditForm {
  padding: var(--harmony-unit-4);
}

.advancedOptions {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-2);
}

.continue {
  margin-top: var(--harmony-unit-6);
  text-align: right;
}

.continueButton .continueButtonText {
  font-weight: var(--font-bold);
  font-size: var(--font-l);
}

.multiTrackHeader {
  padding: var(--harmony-unit-4);
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid var(--border-strong);
  background: var(--background-surface-1);
}

.multiTrackFooter {
  padding: var(--harmony-unit-4);
  border-radius: 0px 0px 8px 8px;
  border-top: 1px solid var(--border-strong);
  background: var(--background-surface-1);
  justify-content: space-between;
}

.previewButton {
  width: fit-content;
}
