.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--harmony-spacing-2xl);
}
.container h2 {
  font-weight: 900;
  font-size: 64px;
  line-height: 60px;
  background: var(--harmony-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container h3 {
  color: var(--harmony-n-400);
  font-weight: var(--harmony-font-heavy);
  line-height: 20px;
  font-size: var(--harmony-font-m);
  text-transform: uppercase;
  margin-bottom: 8px;
}
.container h4 {
  color: var(--harmony-n-400);
  font-weight: var(--harmony-font-heavy);
  line-height: 16px;
  font-size: var(--harmony-font-xs);
}

.container.mobile {
  padding: 16px 0;
}
.container.mobile h2 {
  font-size: 34px;
  line-height: 42px;
}
.container.mobile h3 {
  font-size: var(--harmony-font-m);
  line-height: 20px;
}
.container.mobile h4 {
  font-size: var(--harmony-font-xs);
  line-height: 16px;
}

.header {
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid var(--harmony-border-strong);
  margin: 0 24px;
}

.title {
  font-size: var(--harmony-font-2xl);
  font-weight: var(--harmony-font-bold);
}
.title i {
  margin-right: 8px;
}
.title.mobile {
  font-size: var(--harmony-font-l);
}

.progressBar.mobile {
  padding: 14px 0;
}

.buttonLink {
  margin-top: 32px;
}

/* QR Code Styles */
.qrContainer {
  display: flex;
}
.qrContainer.mobile {
  display: none;
}

.qr {
  height: 158px;
  width: 158px;
}

.qrTextContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 42px 32px;
}
.qrTextContainer .qrText {
  font-size: var(--harmony-font-2xl);
  line-height: 32px;
  color: var(--harmony-secondary);
  font-weight: var(--harmony-font-bold);
}
.qrTextContainer .qrSubtext {
  font-size: var(--harmony-font-m);
  text-transform: none;
  color: var(--harmony-neutral);
  font-weight: var(--harmony-font-demi-bold);
  margin: 0px;
}

/* Invite Link Styles */
.inviteButtonContainer.mobile {
  margin-top: 24px;
}

.toastContainer {
  position: relative;
  flex: 1;
}

.toastContainer.mobile {
  width: 100%;
}

/* Profile Tasks Styles */
.profileTaskContainer.mobile {
  width: 100%;
  padding: 0 12px;
  margin-top: 24px;
  margin-bottom: 0px;
}

.profileTask {
  display: flex;
  gap: 10px;
}
.profileTask p {
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-demi-bold);
}
.profileTask.mobile p {
  font-size: var(--harmony-font-s);
}

.profileTaskCircle {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  border: 1px solid var(--harmony-n-400);
}

.completeText {
  text-decoration: line-through;
}

.claimRewardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.claimRewardWrapper.mobile {
  width: 100%;
}

.claimRewardWrapper:not(.mobile) .button {
  margin-left: 16px;
  margin-right: 16px;
}

.spinner {
  width: 24px;
  height: 24px;
}

.spinner svg path {
  fill: var(--harmony-white);
  stroke: var(--harmony-white);
  stroke-width: 6px;
}

.claimRewardAmountLabel {
  margin-bottom: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--harmony-green);
  font-weight: var(--harmony-font-heavy);
}

.claimRewardClaimedAmountLabel {
  margin-top: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--harmony-n-400);
  font-weight: var(--harmony-font-bold);
  font-size: var(--harmony-font-s);
  letter-spacing: 1px;
}

.claimError {
  margin: 32px 32px 0 32px;
  color: var(--harmony-red);
  font-weight: var(--harmony-font-demi-bold);
  line-height: 1.2;
  text-align: center;
}

.rewardAmount {
  background: var(--harmony-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.verifiedChallenge {
  display: flex;
  align-items: center;
}

.verifiedChallenge svg {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  margin-top: -3px;
}

.buttonContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.buttonContainer.mobile {
  flex-direction: column;
}

.buttonSpacer {
  width: 10px;
}
