.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--harmony-spacing-m);
}
.container h2 {
  font-weight: 900;
  font-size: 64px;
  line-height: 60px;
  background: var(--page-header-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container h3 {
  color: var(--harmony-n-400);
  font-weight: var(--harmony-font-heavy);
  line-height: 20px;
  font-size: var(--harmony-font-m);
  text-transform: uppercase;
  margin-bottom: 8px;
}
.container h4 {
  color: var(--harmony-n-400);
  font-weight: var(--harmony-font-heavy);
  line-height: 16px;
  font-size: var(--harmony-font-xs);
}

.container.mobile {
  padding: 16px 0;
}
.container.mobile h2 {
  font-size: 34px;
  line-height: 42px;
}
.container.mobile h3 {
  font-size: var(--harmony-font-m);
  line-height: 20px;
}
.container.mobile h4 {
  font-size: var(--harmony-font-xs);
  line-height: 16px;
}

.header {
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid var(--harmony-border-strong);
  margin: 0 24px;
}

.title {
  font-size: var(--harmony-font-2xl);
  font-weight: var(--harmony-font-bold);
}
.title i {
  margin-right: 8px;
}
.title.mobile {
  font-size: var(--harmony-font-l);
}

.progressCard {
  width: 100%;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  border: 1px solid var(--harmony-border-strong);
  border-radius: 8px;
  overflow: hidden;
}
.progressCard.mobile {
  border-radius: 16px;
}

.progressInfo {
  display: flex;
  justify-content: center;
}
.progressInfo.mobile {
  padding: 16px 0px;
}

.progressDescription {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  gap: var(--harmony-unit-3);
  padding: var(--harmony-unit-4) var(--harmony-unit-6);
}

.progressDescription.mobile {
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 20px;
}

.progressReward {
  padding: var(--harmony-unit-4);
  text-align: center;
  border-left: 1px solid var(--harmony-border-strong);
  max-width: 200px;
}
.progressReward.mobile {
  padding: 0 16px;
  border: none;
}

.progressBarSection {
  border-top: 1px solid var(--harmony-border-strong);
  padding: 24px 72px;
}
.progressBarSection.mobile {
  flex: 1 1 0%;
  border-top: none;
  border-left: 1px solid var(--harmony-border-strong);
  padding: 0 16px;
}
.progressBar.mobile {
  padding: 14px 0;
}

.progressStatus {
  padding: 12px 32px;
  text-align: center;
}
.progressStatus h3 {
  margin-bottom: 0px;
}
.progressStatus.incomplete {
  background-color: var(--harmony-n-50);
}
.progressStatus.incomplete h3 {
  color: var(--harmony-n-400);
}
.progressStatus.inProgress {
  background-color: var(--harmony-n-50);
}
.progressStatus.inProgress h3 {
  color: var(--harmony-s-200);
}
.progressStatus.complete {
  background-color: var(--harmony-light-green);
}
.progressStatus.complete h3 {
  color: var(--harmony-white);
}

.buttonLink {
  margin-top: 32px;
}

/* QR Code Styles */
.qrContainer {
  display: flex;
  margin-top: 32px;
}
.qrContainer.mobile {
  display: none;
}

.qr {
  height: 158px;
  width: 158px;
}

.qrTextContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 42px 32px;
}
.qrTextContainer .qrText {
  font-size: var(--harmony-font-2xl);
  line-height: 32px;
  color: var(--harmony-secondary);
  font-weight: var(--harmony-font-bold);
}
.qrTextContainer .qrSubtext {
  font-size: var(--harmony-font-m);
  text-transform: none;
  color: var(--harmony-neutral);
  font-weight: var(--harmony-font-demi-bold);
  margin: 0px;
}

/* Invite Link Styles */
.inviteButtonContainer {
  gap: 10px;
  cursor: pointer;
  transition: all 0.07s ease-in-out;
  transform: scale3d(1, 1, 1);
  min-width: unset;
  min-height: 60px;
  padding: unset;
}
.inviteButtonContainer.mobile {
  padding: 16px;
  margin-top: 8px;
}
.inviteButtonContainer:hover {
  transform: scale3d(1.03, 1.03, 1.03);
}
.inviteButtonContainer:active {
  transform: scale3d(0.99, 0.99, 0.99);
}

.inviteLinkContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inviteLink {
  min-width: 0;
  font-size: var(--harmony-font-m);
}

.inviteIcon {
  height: 24px;
  flex: 0 0 24px;
  margin-right: 8px;
}

.inviteIcon path {
  fill: var(--harmony-static-white);
}

.toastContainer {
  position: relative;
  flex: 1;
}

.toastContainer.mobile {
  width: 100%;
}

/* Profile Tasks Styles */
.profileTaskContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  max-height: 100px;
  margin-bottom: 32px;
  padding: 0 64px;
}
.profileTaskContainer.mobile {
  width: 100%;
  padding: 0 12px;
  margin-top: 24px;
  margin-bottom: 0px;
}

.profileTask {
  display: flex;
  gap: 10px;
}
.profileTask p {
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-demi-bold);
}
.profileTask.mobile p {
  font-size: var(--harmony-font-s);
}

.profileTaskCircle {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  border: 1px solid var(--harmony-n-400);
}

.completeText {
  text-decoration: line-through;
}

.claimRewardWrapper {
  margin-top: 32px;
}

.claimRewardWrapper.mobile {
  width: 100%;
}

.claimRewardWrapper:not(.mobile) .button {
  margin-left: 16px;
  margin-right: 16px;
}

.spinner {
  width: 24px;
  height: 24px;
}

.spinner svg path {
  fill: var(--harmony-white);
  stroke: var(--harmony-white);
  stroke-width: 6px;
}

.claimRewardAmountLabel {
  margin-bottom: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--harmony-green);
  font-weight: var(--harmony-font-heavy);
}

.claimRewardClaimedAmountLabel {
  margin-top: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--harmony-n-400);
  font-weight: var(--harmony-font-heavy);
  font-size: var(--harmony-font-s);
}

.claimError {
  margin: 32px 32px 0 32px;
  color: var(--harmony-red);
  font-weight: var(--harmony-font-demi-bold);
  line-height: 1.2;
  text-align: center;
}

.rewardAmount {
  background: var(--page-header-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.verifiedChallenge {
  display: flex;
  align-items: center;
}

.verifiedChallenge svg {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  margin-top: -3px;
}

.buttonContainer {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 32px;
}

.buttonContainer.mobile {
  flex-direction: column;
}

.buttonSpacer {
  width: 10px;
}

/* Audio matching styles */
.audioMatchingContainer {
  gap: var(--harmony-unit-8);
}
.audioMatchingContainer.mobile {
  gap: var(--harmony-unit-6);
}
.audioMatchingDescription {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-3);
}
.audioMatchingTotalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--harmony-border-strong);
  padding: var(--harmony-unit-4) var(--harmony-unit-6);
  background-color: var(--harmony-bg-surface-2);
}
