.collectiblesTable td {
  vertical-align: middle;
}

.activeRow td {
  background-color: var(--neutral-light-9) !important;
  color: var(--harmony-primary) !important;
}

.collectibleName:hover {
  color: var(--harmony-primary);
  text-decoration: underline;
  text-decoration-color: var(--primary-light-2);
}

.playButtonFormatting {
  position: absolute;
  left: 16px;
  top: 7px;
}

:global(.colCollectiblesPlayButton) {
  width: 48px !important;
}

:global(.colChain) {
  padding-right: 30px !important;
  width: 100px !important;
}
