.notificationContainer {
  background-color: var(--harmony-white);
  padding: 8px 12px;
  width: 100%;
}

.content {
  text-align: left;
}

.backgruond {
  background-color: var(--harmony-white);
}

.spinnerContainer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 2px;
}

.spinnerContainer svg {
  max-height: 32px;
  max-width: 32px;
}

.spinnerContainer g path {
  stroke: var(--harmony-n-300) !important;
  stroke-width: 3px;
}
