.scrollContent {
  max-height: calc(100vh - 333px);
  background: var(--harmony-white);
  border-radius: 0px 0px 8px 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-2);
  padding: var(--harmony-unit-8) var(--harmony-unit-4);
  list-style-type: none;
}

.spinner {
  width: var(--harmony-unit-8);
  height: var(--harmony-unit-8);
  margin: var(--harmony-unit-4) auto;
}
