.statusContainer {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 354px;
}

.defaultStatusIcon {
  display: inline-flex;
  align-items: center;
  margin: 0px 12px;
  height: 16px;
  width: 16px;
  border: 2px solid var(--neutral);
  border-radius: 50%;
}

.statusIcon {
  position: absolute;
  left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.emptyStatusIcon {
  height: 18px;
  width: 18px;
}

.label {
  color: var(--neutral);
  font-size: var(--harmony-font-s);
  user-select: none;
  display: flex;
  align-items: center;
}

.iconArrow {
  margin-left: 4px;
}

.iconArrow path {
  fill: #e03d51;
}

.clickable .label {
  border-bottom: 1px solid #e03d51;
}

.errorLabel {
  color: #e03d51;
}

.checkIcon,
.removeIcon {
  z-index: 15;
}
