.root {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.smallContainer {
  height: 226px;
  width: 168px;
}

.mediumContainer {
  height: 304px;
  width: 232px;
}

.largeContainer {
  height: 338px;
  width: 258px;
}

.coverArt {
  box-sizing: border-box;
  border: 1px solid var(--neutral-light-8);
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
}

.smallCoverArt {
  height: 137px;
  width: 137px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.mediumCoverArt {
  box-sizing: border-box;
  margin-top: 16px;
  height: 202px;
  width: 202px;
  border: 1px solid var(--neutral-light-8);
  border-radius: 6px;
  margin-bottom: 4px;
}

.largeCoverArt {
  height: 218px;
  width: 218px;
  margin-top: 16px;
  margin-bottom: 4px;
  border: 1px solid var(--neutral-light-8);
}

.userCardImage {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  border: 2px solid var(--white);
  box-shadow: 0 1px 3px -2px rgba(133, 129, 153, 0.3);
  background-color: var(--default-profile-picture-background);
}

.textContainer {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smallTextContainer {
  width: 148px;
}

.mediumTextContainer {
  width: 202px;
  margin-bottom: 8px;
}

.largeTextContainer {
  width: 222px;
  margin-bottom: 7px;
}

.primaryText {
  color: var(--neutral);
  font-family: var(--font-family);
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  line-height: 18px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  cursor: default;
  user-select: none;
}

.secondaryText {
  position: relative;
  color: var(--neutral);
  cursor: default;
  user-select: none;
  max-width: calc(100% - 18px);
  display: flex;
}

.secondaryTextContent {
  font-family: var(--font-family);
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  line-height: 18px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mediumActionsTabContainer,
.largeActionsTabContainer {
  width: 100%;
  height: 100%;
  max-height: 36px;
  display: flex;
  align-items: flex-end;
}

.actionContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.smallActionsContainer {
  position: absolute;
  right: 8px;
  bottom: 0;
}

.iconVerified {
  margin-left: 4px;
  top: 2px;
  position: relative;
}

.userImage {
  border-radius: 50%;
}

.stats {
  display: flex;
  align-items: center;
  margin-top: 3px;
  min-width: 140px;
}

.statsWrapper {
  flex: 2;
  justify-content: flex-start !important;
  width: auto !important;
}

.statsWrapper > * {
  margin-right: auto !important;
}

.trackCount {
  color: var(--static-neutral-light-4);
  font-size: var(--font-xs);
  font-weight: var(--font-demi-bold);
  letter-spacing: 0;
  line-height: 8px;
}
