.link {
  color: var(--secondary);
  font-weight: var(--font-medium);
  line-height: 21px;
  overflow-wrap: break-word;
}

.link:hover {
  color: var(--secondary);
  text-decoration: underline !important;
}
