.serviceContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.serviceTable {
  width: 100%;
  margin-bottom: 16px;
}

.rightSpacing {
  margin-right: 0;
}

.leftSpacing {
  margin-left: 0;
}
