.container {
  max-width: 100%;
}

.nameAndBadge {
  display: inline-flex;
  gap: var(--harmony-unit-1);
  cursor: pointer;
  max-width: 100%;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
}
