.root {
  margin-left: var(--harmony-unit-9);
  display: flex;
  gap: var(--harmony-unit-4);
  justify-content: center;
  align-items: center;
}

.toggleRepostContainer,
.toggleFavoriteContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
