.titleContainer {
  display: flex;
  align-items: center;
}
.titleAndIcon {
  display: flex;
  align-items: center;
  margin-right: 4px;
}
.title {
  margin-left: 6px;
  font-weight: var(--harmony-font-bold);
  font-size: var(--harmony-font-s);
}
.line {
  flex-grow: 1;
  height: 1px;
  background: var(--harmony-n-150);
}
