.input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.labelText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 8px;
  border: 2px solid var(--neutral-light-7);
  border-radius: 999px;
  outline: 0;

  font-size: var(--font-2xl);
  font-weight: var(--font-bold);
  line-height: 29px;

  cursor: pointer;

  transition: all var(--quick);
}

.labelText:hover {
  color: var(--white);
  background-color: var(--secondary-light-2);
  border-color: var(--secondary-light-2);
}
.input:checked + .labelText:not(:hover) {
  color: var(--white);
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.input:focus-within + .labelText:not(:hover) {
  outline: 2px solid var(--secondary);
  border-color: white;
}

.labelText:hover {
  transform: var(--grow);
}

.labelText:active {
  transform: var(--shrink);
}
