.pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--harmony-unit-1);
  height: var(--harmony-unit-6);
  padding: 0 var(--harmony-unit-3);
  background-color: var(--harmony-white);
  color: var(--harmony-text-subdued);
  border-radius: var(--harmony-border-radius-2xl);
  border: 1px solid var(--harmony-border-strong);
  cursor: pointer;
  user-select: none;
  transition: all 0.12s ease-out;
}

.large {
  height: var(--harmony-unit-8);
  padding: 0 var(--harmony-unit-4);
  color: var(--harmony-text-default);
  box-shadow: var(--harmony-shadow-near);
}

.pill:not(.disabled):hover {
  background-color: var(--harmony-s-200);
  color: var(--harmony-static-white);
  border: 1px solid var(--harmony-secondary);
}

.large:not(.disabled):hover {
  background-color: var(--harmony-s-100);
  border: 1px solid var(--harmony-s-200);
  box-shadow: none;
}

.selected,
.pill:not(.disabled):active {
  background-color: var(--harmony-s-400);
  color: var(--harmony-static-white);
  border: 1px solid var(--harmony-s-400);
}

.large:not(.disabled):active,
.large.selected {
  box-shadow: none;
}

.disabled {
  opacity: 0.45;
}

.disabled:hover {
  background-color: var(--harmony-white);
  border: 1px solid var(--harmony-border-strong);
}

.icon path {
  fill: currentColor;
}

.icon {
  margin-right: var(--harmony-unit-1);
  width: var(--harmony-unit-4);
  height: var(--harmony-unit-4);
}
