.collectiblesWrapper {
  min-width: 738px;
}

.wrapper {
  padding: 24px 0;
  margin-top: 4px;
  max-width: 1080px;
  border: 1px solid var(--neutral-light-8);
  border-radius: 8px;
  box-shadow: 0 16px 20px -5px var(--table-shadow);
  background: var(--neutral-light-10);
  text-align: left;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.header button {
  min-width: 82px;
}

.headerText {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 0 24px;
}

.title {
  font-weight: var(--font-heavy);
  font-size: var(--font-2xl);
  background: var(--page-header-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}

.subtitle {
  font-weight: var(--font-bold);
  font-size: var(--font-m);
  margin-bottom: 16px;
}

.badges {
  display: inline;
}

.badges svg {
  margin-left: 8px;
}

.noVisibleCollectible {
  font-weight: var(--font-bold);
  color: var(--neutral-light-4);
  font-size: var(--font-m);
  margin: 32px 0 16px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

.perspectiveCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--neutral-light-8);
  padding: 8px;
  background: var(--white);
  color: var(--neutral);
  font-weight: var(--font-bold);
}

.media {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-sizing: border-box;
  border: 4px solid var(--neutral-light-10);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 200px;
  height: 200px;
  animation: fadeInVisible 1s;
}

.playIcon {
  position: absolute;
  top: 80px;
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
}

.playIcon circle {
  fill: none;
}

.playIcon path {
  fill: #fffa;
}

.imageWrapper {
  position: relative;
}

.stamp {
  position: absolute;
  bottom: 18px;
  left: 12px;
  z-index: 10000;
  font-size: var(--font-2xs);
  color: var(--white);
}

.created {
  padding: var(--unit-1) var(--unit-2);
  border-radius: 50px;
  border: 1px solid var(--white);
  background: var(--primary);
}

.owned {
  padding: var(--unit-1) var(--unit-2);
  border-radius: 50px;
  border: 1px solid var(--white);
  background: var(--secondary);
}

.nftTitle {
  padding: 10px 0 12px 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detailsContainer {
  width: 216px;
  margin: 8px;
}

.detailsContainer > div {
  width: inherit;
}

.details {
  margin: 56px 24px 24px 0;
  max-width: 312px;
  min-width: 208px;
}

.detailsTitle {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 32px;
}

.detailsStamp {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: var(--font-xs);
  line-height: 15px;
  color: var(--static-white);
  gap: var(--unit-2);
}

.date {
  margin-top: 8px;
  margin-bottom: 20px;
  font-weight: var(--font-medium);
}

.detailsStamp .created,
.detailsStamp .owned {
  border: none;
}

.detailsDescription {
  margin: var(--unit-6) 0;
  color: var(--neutral-light-2);
  font-weight: var(--font-medium);
  line-height: 18px;
  overflow-wrap: break-word;
}

.link {
  display: flex;
  align-items: center;
  color: var(--secondary);
  font-weight: var(--font-demi-bold);
  text-decoration: underline !important;
  margin-bottom: var(--unit-6);
}

.link:hover {
  color: var(--secondary);
}

.linkIcon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.linkIcon path {
  fill: var(--secondary);
}

.volumeIcon {
  position: absolute;
  bottom: 32px;
  margin-left: -40px;
  width: 32px;
  height: 32px;
  padding: 6px;
  border: 2px solid var(--neutral-light-5);
  border-radius: 100%;
}

.volumeIcon path {
  fill: var(--neutral-light-5);
}

.modalHeader {
  margin: 0 var(--unit-6);
  padding: var(--unit-6);
  border-bottom: 1px solid var(--neutral-light-8);
}

.modalTitle {
  color: var(--neutral);
  font-size: 22px;
}

.modalBody {
  width: 100%;
  max-width: fit-content;
  border-radius: 12px;
  background-color: var(--neutral-light-10);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.detailsMediaWrapper {
  margin: 24px;
}

.detailsMediaWrapper img {
  border-radius: 8px;
  width: auto;
  pointer-events: none;
  cursor: default;
  max-height: 70vh;
  max-width: 70vw;
}

.detailsMediaWrapper.svg {
  width: 40vw;
}

.detailsMediaWrapper video {
  border-radius: 8px;
  max-height: 70vh;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.dateWrapper {
  display: flex;
  margin: 8px 0;
}

.dateTitle {
  color: var(--neutral-light-4);
}

.date {
  margin: 0 8px;
  color: var(--neutral-light-2);
}

.detailsButtonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.detailsButton {
  padding: 0 var(--unit-4);
}
.detailsButton .detailsButtonText {
  color: var(--neutral-light-4);
  font-size: var(--font-m);
  letter-spacing: 0;
  text-transform: uppercase;
}
.detailsButton .detailsButtonIcon {
  margin-right: var(--unit-1) !important;
}
.detailsButton .detailsButtonIcon path {
  fill: var(--neutral-light-4);
}

.detailsButton.mobileDetailsButton {
  width: 100%;
  height: var(--unit-9);
}

.nftModal {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  overflow: auto;
}

.nftDrawer {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 100;
  height: 100%;
}

.nftDrawer .detailsMediaWrapper {
  margin: 48px 24px 0;
  max-width: none;
  max-height: none;
  height: auto;
}

.nftDrawer .detailsMediaWrapper img {
  border-radius: 8px;
  max-width: 100%;
  pointer-events: none;
  cursor: default;
}

.nftDrawer .volumeIcon {
  position: relative;
  margin: 0;
  top: -40px;
  right: calc(-100vw + 88px);
}

.nftDrawer .details {
  width: 100%;
  max-width: none;
  min-width: unset;
  margin: 0;
  padding: 24px;
}

.nftDrawer .detailsTitle {
  text-align: center;
  font-size: var(--font-m);
  line-height: 28px;
}

.editModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  margin: 0 24px;
}

.editModalBody {
  width: 100%;
  max-width: 620px;
}

.editListSection {
  width: 100%;
  margin-top: 32px;
}

.editListHeader {
  text-align: center;
  margin-bottom: 20px;
}

.editRow {
  position: relative;
  background: transparent;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-right: 1px solid var(--neutral-light-7);
  border-bottom: 1px solid var(--neutral-light-7);
  border-left: 1px solid var(--neutral-light-7);
  font-size: var(--font-xs);
  animation: fadeInVisible 0.5s;
}

.editRow > div {
  padding: 0 8px;
}

.editRow svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.editRow:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top: 1px solid var(--neutral-light-7);
}

.editRow:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.editMedia {
  width: 40px;
  height: 40px;
}

.editMediaEmpty {
  width: 56px;
  height: 42px;
}

.editRowTitle {
  flex-grow: 1;
  font-size: var(--font-m);
  width: 260px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.editStamp {
  font-size: var(--font-2xs);
  color: var(--white);
}

.editHidden {
  animation: fadeInHidden 1s;
}

.editHidden div {
  opacity: 0.5;
}

.editHidden svg {
  width: 16px;
  height: 16px;
}

.showButton {
  opacity: 1;
}

.editTableContainer {
  max-height: 20vh;
  overflow-y: auto;
}

.tableTopShadow {
  box-shadow: inset 0 14px 14px -14px rgba(0, 0, 0, 0.15);
}

.tableBottomShadow {
  box-shadow: inset 0 -14px 14px -14px rgba(0, 0, 0, 0.15);
}

.tableVerticalShadow {
  box-shadow: inset 0 14px 14px -14px rgba(0, 0, 0, 0.15),
    inset 0 -14px 14px -14px rgba(0, 0, 0, 0.15);
}

.verticalDivider {
  background: var(--neutral-light-8);
  width: 1px;
  height: 20px;
  margin: 0 8px;
  padding: 0 !important;
}

.drag path {
  fill: var(--neutral-light-6);
  transition: all 0.07s ease-in-out;
}

.drag:hover path,
.drag:active path {
  fill: var(--neutral);
}

.editDrawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 360px;
  padding: 30px 22px;
  text-align: center;
}

.editDrawerIcon {
  margin: 16px 0;
  width: 80px;
  height: 80px;
}

.editDrawerTitle {
  font-size: 28px;
  background: var(--page-header-gradient);
  font-weight: var(--font-heavy);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 34px;
  margin-bottom: 16px;
}

.editDrawerContent {
  color: var(--neutral);
  font-size: var(--font-2xl);
  line-height: 28px;
}

.embedModalTitle {
  font-weight: var(--font-heavy);
  font-size: var(--font-l);
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--neutral-light-4);
}

.embedModalHeader {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--neutral-light-8);
}

.embedContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 43rem;
  padding: 1.5rem;
}

.embedFrame {
  width: 100%;
  border: 1px solid var(--neutral-light-8);
  border-radius: 0.75rem;
}

.embedDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.embedDetailsTitle {
  margin-bottom: 0.5rem;
  font-size: var(--font-l);
  line-height: 22px;
  font-weight: var(--font-demi-bold);
  color: var(--neutral);
}

.embedTextPanel {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  width: 100%;
}

.embedTooltip {
  flex: 1 1 0;
}

.embedCopyWrapper {
  position: relative;
  cursor: pointer;
}

.embedCopyContainer {
  min-height: 120px;
  min-width: 400px;
  border: 1px solid var(--neutral-light-6);
  background-color: var(--white);
  padding: 1.25rem 1rem;
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  line-height: 20px;
  border-radius: 0.25rem;
}

.embedClickText {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 0.5rem;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: var(--neutral-light-4);
}

.spinnerContainer {
  text-align: center;
  margin: 20px 0;
}

.spinner {
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

.spinner g path {
  stroke: var(--secondary) !important;
}

.chainIcon {
  border: 1px solid var(--neutral-light-7);
  border-radius: 50%;
  padding: 2px;
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

.mobile.collectiblesWrapper {
  min-width: unset;
}

.mobile .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
}

.mobile .header button {
  width: 100%;
}

.mobile .content {
  padding: 0 12px;
}

.mobile .subtitle {
  text-align: center;
}

.mobile .playIcon {
  top: calc(40vw - 16px);
  left: calc(40vw - 16px);
}

.mobile .media {
  width: 80vw;
  height: 80vw;
}

.mobile .detailsStamp {
  margin-top: 28px;
}

.mobile .detailsContainer {
  display: flex;
  flex-grow: 1;
}

.mobile .detailsContainer > div {
  flex-grow: 1;
}

.mobile .detailsDescription {
  margin-top: 16px;
  margin-bottom: 24px;
}

.nftDrawer .detailsMediaWrapper video {
  max-width: 100%;
}

.mobileSubtitle {
  text-align: center;
}

.mobileContent {
  padding: 0 12px;
}

.mobileButtonContainer {
  display: flex;
  gap: 8px;
  width: 100%;
}

.mobileButtonContainer .detailsButton {
  flex: 1 1 0;
}

@keyframes fadeInVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInHidden {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
