.signOut {
  padding: 24px 22px 21px;
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  line-height: 22px;
  text-align: center;
}

.nevermindButton {
  margin: 24px 0px 20px;
}

.signOutButtons {
  width: 100%;
  justify-content: center;
}

.signOutButtons .signOutButtonText {
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  letter-spacing: 0.5px;
}
