.scrubber {
  display: flex;
  align-items: center;
  width: 100%;
}

.timestampStart, .timestampEnd {
  color: var(--neutral);
  font-size: var(--font-2xs);
  line-height: 12px;
  font-family: var(--font-family);
  min-width: 40px;
}

.timestampStart {
  text-align: right;
}

.timestampEnd {
  text-align: left;
}

.scrubber.isMobile .timestampStart,
.scrubber.isMobile .timestampEnd {
  font-size: var(--font-xs);
}
