.container {
  flex-shrink: 0;
  position: relative;
  width: 100%;
}

.content {
  position: relative;
  margin: 120px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 406px;
  width: 100%;
  z-index: 5;
}

.quotePyramid {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0px auto;
  height: auto;
  width: 100%;
  max-width: 470px;
  z-index: 3;
}

.tagline {
  max-width: 470px;
  color: #480B79;
  font-family: Gilroy !important;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  margin-top: 64px;
}

.dotsBackground {
  height: 505px;	
  width: 611px;
  background-repeat: repeat;
  background-size: 500px 201px;
}

.animateTitleContainer {
  overflow: hidden;
  position: relative;
  z-index: 5;
}

/* Mobile Styles */
.isMobile .content {
  margin: 80px 0px 75px;
  min-height: 340px;
  height: auto;
}

.isMobile .tagline {
  position: relative;
  z-index: 5;
  max-width: 470px;
  color: #480B79;
  font-family: Gilroy !important;
  text-align: center;

  color: #480B79;
  font-family: Gilroy;
  font-size: 27px;
  line-height: 36px;
  padding: 0px 12px;
  margin-top: 12px;
}
