.bgWhite {
  background-color: var(--harmony-static-white);
}

.wrapper {
  margin: 0 auto;
  justify-content: center;
  width: 375px;
  display: flex;
}

.centeredContent {
  display: flex;
  justify-content: center;
}

.titleContainer {
  margin-top: var(--harmony-unit-3);
  text-align: center;
}

.title {
  color: var(--harmony-secondary);
  font-size: var(--harmony-font-l);
  font-weight: var(--harmony-font-bold);
  line-height: 140%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loadingStateContainer {
  margin-top: 200px;
}

.loadingStateSpinner {
  width: 24px;
  height: 24px;
}

.permsTitleContainer {
  margin-bottom: var(--harmony-unit-2);
  margin-top: var(--harmony-unit-8);
}

.infoSectionTitle {
  color: var(--harmony-n-700);
  line-height: 100%;
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-bold);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: var(--harmony-unit-4);
}

.container {
  width: 375px;
  flex-direction: column;
  padding: 64px 24px 0px 24px;
}

@media (max-width: 375px) {
  .wrapper {
    width: 100%;
  }

  .container {
    width: 100%;
  }
}

.list {
  display: block;
}

.tile {
  background-color: var(--harmony-n-25);
  border: 1px solid var(--harmony-n-100);
  border-radius: 8px;
  padding: var(--harmony-unit-4) var(--harmony-unit-3);
}

.permissionContainer {
  display: flex;
}

.visibilityIconWrapper {
  width: 15px;
}

.visibilityIcon {
  position: relative;
  left: -3px;
}

.atSignIcon {
  position: relative;
  top: 3px;
}

.userProfileContentContainer {
  display: flex;
  align-items: center;
}

.nonFirstPermissionContainer {
  margin-top: var(--harmony-unit-2);
  padding-top: var(--harmony-unit-2);
  border-top: solid 1px var(--harmony-n-100);
}

.permissionTextContainer {
  overflow: auto;
  margin-left: var(--harmony-unit-4);
}

.permissionDetailTextContainer {
  margin-top: var(--harmony-unit-2);
}

.permissionText {
  color: var(--harmony-neutral);
  font-weight: var(--harmony-font-medium);
  font-size: var(--harmony-font-m);
  line-height: 130%;
}

.permissionDetailText {
  color: var(--harmony-n-500);
  font-size: var(--harmony-font-s);
  font-weight: var(--harmony-font-bold);
  line-height: 180%;
}

.userInfoContainer,
.signInFormContainer {
  padding-bottom: var(--harmony-unit-4);
  margin-top: var(--harmony-unit-8);
}

.userInfo {
  margin: 0;
}

.profileImg {
  height: 48px;
}

.userInfoDisplayName,
.userInfoHandle {
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-bold);
  line-height: 120%;
  color: var(--harmony-neutral);
}

.userInfoHandle {
  font-weight: var(--harmony-font-medium);
}

.signOutButtonContainer {
  margin-top: var(--harmony-unit-2);
}

.signUpButtonContainer {
  text-align: center;
  margin-top: var(--harmony-unit-4);
}

.linkButton {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0;
  display: inline;
  height: auto;
  vertical-align: baseline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline-style: none;
  outline-width: 0px;
  /* Add padding bottom because Safari has issue where it clips off the bottom of the text otherwise */
  padding-bottom: 2px;
  background: none;
  color: var(--harmony-secondary);
  font-size: var(--harmony-font-s);
  font-weight: var(--harmony-font-medium);
  line-height: 100%;
}

.linkButton:hover,
.linkButton:active {
  color: var(--harmony-s-500);
}

.ctaButton {
  margin-top: var(--harmony-unit-8);
}

.loadingSpinner {
  margin-right: var(--harmony-unit-1);
  display: inline-block;
  height: var(--harmony-font-s);
  width: var(--harmony-font-s);
}

.permissionTextExtraLight {
  color: var(--harmony-n-400);
}

.passwordInput,
.otpInput {
  margin-top: var(--harmony-unit-4);
}

/* Remove buttons on number input */
.otpInput > input::-webkit-outer-spin-button,
.otpInput > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.otpInput > input[type='number'] {
  -moz-appearance: textfield;
}

.credentialsErrorContainer {
  display: flex;
  align-items: center;
  margin-top: var(--harmony-unit-4);
}

.credentialsErrorIcon {
  margin-right: var(--harmony-unit-3);
}

.generalErrorContainer {
  text-align: center;
}

.errorText {
  font-weight: var(--harmony-font-bold);
  color: var(--harmony-red);
  font-size: var(--harmony-font-m);
  line-height: 120%;
}

.formArea {
  padding-bottom: var(--harmony-unit-8);
}
