.pageContainer {
  user-select: none;
}

.contentContainer {
  display: inline-flex;
  flex-direction: column;
  width: 1104px;
  margin: -18px 0px 16px;
}

.pageContainer .explainerTile {
  height: auto;
}

.pageContainer .balanceTile {
  height: 243px;
  flex-grow: 99999;
}

.mobile .walletTile,
.mobile.balanceTile {
  flex: 1 0 220px;
  width: 100%;
  margin: 12px;
}

.pageContainer .walletTile,
.pageContainer .balanceTile {
  margin: 12px;
}

.rewardsMobilePageContainer {
  flex-direction: column;
  padding: 0px 12px;
}

.topBanner {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: var(--unit-4);
  font-size: var(--font-m);
  font-weight: var(--font-demi-bold);
  color: var(--static-white);
  background: linear-gradient(
    315deg,
    var(--page-header-gradient-color-1) 0%,
    var(--page-header-gradient-color-2) 100%
  );
  border-radius: var(--unit-2);
  margin-bottom: var(--unit-6);
  box-shadow: var(--box-shadow-near);
}

.topBannerText {
  flex: 1;
  text-align: center;
  line-height: 130%;
}
