.pageContainer {
  user-select: none;
}

.contentContainer {
  display: inline-flex;
  flex-direction: column;
  width: 1104px;
  margin: -18px 0px 16px;
}

.cryptoContentContainer {
  display: flex;
  margin: -12px -12px 20px -12px;
  width: calc(100% + 24px);
  flex-wrap: wrap;
  justify-content: stretch;
}

.cryptoContentContainer.mobile {
  flex-wrap: wrap;
  margin-top: 22px;
}

.pageContainer .explainerTile {
  height: auto;
}

.pageContainer .balanceTile {
  height: 243px;
  flex-grow: 99999;
}

.mobile .walletTile,
.mobile.balanceTile {
  flex: 1 0 220px;
  width: 100%;
  margin: 12px;
}

.pageContainer .walletTile,
.pageContainer .balanceTile {
  margin: 12px;
}

.rewardsMobilePageContainer {
  flex-direction: column;
  padding: 0px 12px;
}
