.tileContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 16px 20px var(--table-shadow);
  min-height: 210px;
}

/* Wallet Tile */
.walletTile {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 356px;
  padding: 32px;
}

.balanceLabel {
  font-weight: var(--font-bold);
  font-size: var(--font-m);
  text-transform: uppercase;
  color: var(--neutral-light-4);
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons > *:nth-child(2) {
  margin: 16px 0px;
}

.balanceBtn {
  background: transparent !important;
  border: 1px solid var(--neutral-light-6);
  width: 244px;
}

.balanceBtn .textClassName {
  color: var(--neutral);
  font-size: var(--font-s);
}

.balanceBtn .iconStyle path {
  fill: var(--neutral);
}

.balanceBtn.balanceDisabled {
  opacity: 0.5;
  background-color: hsla(0, 0%, 100%, 0.1);
}

/* Balance Tile */
.balanceTile {
  background: var(--page-header-gradient);
  display: inline-flex;
  flex-direction: column;
  transition: flex-grow 0.7s ease-in-out;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: var(--unit-20);
  height: var(--unit-20);
  margin: 0 auto;
  padding-top: var(--unit-2);
  padding-bottom: var(--unit-2);
}

.spinner g path {
  stroke: rgba(255, 255, 255, 0.75);
}

.balanceAmount {
  font-weight: 800;
  font-size: 96px;
  text-align: center;
  color: var(--static-white);
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 6px;
  opacity: 1;
  transition: opacity 0.07s ease-in-out;
}

.mobile .balanceAmount {
  font-size: 64px;
}

.balance {
  opacity: 1;
  transition: opacity 0.07s ease-in-out;
  margin-top: 10px;
}

.balanceAmount.hidden,
.balance.hidden {
  opacity: 0;
}

.balance,
.multipleWalletsMessage {
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.iconInfo {
  height: 16px;
  width: 16px;
  margin-left: 4px;
  margin-bottom: 2px;
}

.iconInfo:hover {
  cursor: pointer;
}

.iconInfo path {
  fill: rgba(255, 255, 255, 0.4);
}

.multipleWalletsContainer {
  margin-top: 12px;
}

.totalBalance {
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  text-transform: uppercase;
  color: var(--static-white);
}

.noClaim {
  font-weight: var(--font-bold);
  font-size: var(--font-s);
  line-height: 17px;
  text-align: center;
  color: var(--static-white);
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.levels {
  display: inline-flex;
  flex-direction: column;
  padding-left: 24px;
  position: relative;
}

.levelContainer {
  display: inline-flex;
  flex-direction: column;
}

.levelImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
}

.level {
  margin: 0px 0px 4px 0px;
}

.levelText {
  font-weight: 800;
  font-size: var(--font-m);
  line-height: 20px;
  background: var(--page-header-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.levelMore {
  font-weight: var(--font-bold);
  font-size: var(--font-m);
  line-height: 20px;
  text-transform: uppercase;
  color: var(--neutral-light-6);
}

.vip {
  font-weight: 500;
  font-size: var(--font-m);
  line-height: 24px;
  color: var(--neutral);
  margin-bottom: 16px;
}

.explainerTile .vipButton {
  background: transparent !important;
  border: 1px solid var(--neutral-light-6);
  height: 48px;
  margin-bottom: 32px;
}

.explainerTile .vipDiscordDisabled {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.explainerTile .vipTextClassName {
  font-weight: var(--font-bold);
  font-size: var(--font-s);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--neutral);
}

.explainerTile .iconDiscord {
  height: 24px;
  width: 24px;
}

.explainerTile .iconDiscord path {
  fill: var(--neutral);
}

.tba {
  font-weight: 500;
  font-size: var(--font-m);
  line-height: 24px;

  color: var(--neutral);
}

.disabled {
  opacity: 0.5;
}

.tokenHero {
  margin: 66px 64px 66px 102px;
}

.tokenHero svg,
.tokenHero img {
  width: 200px;
  height: 200px;
}
