.modalBody {
  max-width: 760px;
  min-height: 320px;
  width: 100%;
}

.modalBody.wallets {
  max-width: 720px;
  min-height: 250px;
}

.modalBody.convertingEth {
  min-height: 250px;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sendModalContainer {
  padding: 0px 48px;
}

.mobile .modalContainer {
  width: 100%;
}

.mobile .sendModalContainer {
  padding: 0px;
}

.title {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #9147cc; /* Dark secondary */
  margin-bottom: 4px;
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.titleWrapper > *:first-child {
  margin-right: 4px;
}

.titleWrapper svg {
  height: 20px;
  width: 20px;
}

.titleWrapper path {
  fill: var(--harmony-n-400);
}

.converting {
  margin-right: 6px;
}
