.settingsCard {
  flex: 1 470px; /* 246px (description) + 48px (padding) + 176px (button) */
  width: 50%;
  min-width: 300px;
  min-height: 120px;
  border-radius: 6px;
  background-color: var(--white);
  box-shadow: 0 2px 5px -2px var(--tile-shadow-3);
  padding: 24px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin: 0 4px 16px;
  text-align: left;
  flex-wrap: wrap;
}
.content {
  flex: 1;
  align-self: flex-start;
}

.title {
  color: var(--secondary);
  font-family: var(--font-family);
  font-size: var(--font-m);
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.description {
  color: var(--neutral);
  font-family: var(--font-famliy);
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  line-height: 1.2;
  min-width: 246px;
  margin-right: 16px;
  margin-bottom: 4px;
}
/** Breakpoint for collapsed cards **/
@media (max-width: 780px) {
  .settingsCard {
    text-align: center;
  }
}
