.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  transition: opacity var(--harmony-calm);
}

.collectionHeader {
  padding: 16px 16px 24px 16px;
  text-align: left;
}

.coverArtWrapper {
  height: 272px;
  width: 272px;
  min-height: 272px;
  min-width: 272px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--harmony-n-100);
  user-select: none;
}

.coverArt {
  background-color: var(--harmony-n-200) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.infoSection {
  margin-left: 38px;
  width: 100%;
}

.typeLabel {
  display: flex;
  align-items: center;
  column-gap: var(--harmony-unit-2);
  user-select: none;
  padding-top: var(--harmony-unit-4);
  padding-bottom: var(--harmony-unit-4);
}

.editableTitle {
  cursor: pointer;
}

.titleHeader {
  transition:
    opacity var(--harmony-calm),
    color var(--harmony-quick);
}

.editableTitle:hover .titleHeader {
  color: var(--harmony-n-400);
}

.editIcon {
  opacity: 0;
  transition: opacity var(--harmony-quick);
}

.editableTitle:hover .editIcon {
  opacity: 1;
}

.imageEditButtonWrapper {
  opacity: 0;
  transition: opacity var(--harmony-expressive);
  position: absolute;
  bottom: var(--harmony-unit-4);
}

.coverArtWrapper:hover .imageEditButtonWrapper {
  opacity: 1;
}

.searchInput {
  & label {
    background: none;
  }
}
