.container {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  min-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomBarContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 780px;
}

.bottomBar {
  max-width: 1080px;
  flex: 1;
}

.rightDecorator {
  margin: 0px 0px 3px auto;
}
