.titleContainer {
  margin-bottom: 22px;
  padding: 0 24px;
  display: flex;
  gap: var(--unit-2);
  align-items: center;
}

.title {
  color: var(--static-white);
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.previousPageContainer {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.prevPageText {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--static-white);
  text-transform: uppercase;
}
