.root {
  background-color: var(--neutral-light-10);
  border: 1px solid var(--neutral-light-6);
  border-radius: var(--harmony-unit-2);
  padding: var(--harmony-unit-4);
  transition: all 0.12s ease-in-out;
}

.active:hover {
  box-shadow: 0px 0px 1px -2px rgba(133, 129, 153, 0.1),
    0px 1px 0px -2px #e3e3e3, 1px 2px 5px rgba(133, 129, 153, 0.25);
  transform: scale3d(1.015, 1.015, 1.015);
  cursor: pointer;
}

.active:active {
  background-color: var(--neutral-light-9);
  box-shadow: unset;
  transform: scale3d(1, 1, 1);
  cursor: pointer;
}

.read {
  background-color: var(--white);
}
