.root {
  font-size: var(--harmony-font-medium);
  font-weight: var(--harmony-font-medium);
  line-height: 21px;
}

.link {
  font-size: inherit;
  font-weight: inherit;
  color: var(--secondary);
}

.link:hover {
  color: var(--secondary);
  text-decoration: underline !important;
}
