.profilePictureWrapper {
  height: var(--harmony-unit-10);
  width: var(--harmony-unit-10);
}

.profilePicture {
  border-radius: 50%;
  border: 2px solid var(--harmony-white);
  background-color: var(--default-profile-picture-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profilePictureSkeleton {
  border-radius: 50%;
}
