.root {
  display: flex;
}

.profilePictureBase {
  transition: all 0.07s ease-in-out;
  transform: scale3d(1, 1, 1);
}

.profilePictureBase:not(.disabled):hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

.userHeader {
  display: inline-flex;
  align-items: center;
}

.profilePicture {
  composes: profilePictureBase;
  margin-right: calc(var(--harmony-unit-2) * -1);
}

.profilePicture > div {
  border-color: var(--neutral-light-10);
}

.profilePictureExtraRoot {
  composes: profilePicture;
  position: relative;
  width: 40px;
  height: 40px;
}

.profilePictureExtra {
  position: absolute;
}

.profilePictureExtra::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  margin: 2px;
  border-radius: 50%;
  z-index: 3;
}

.profilePictureCount {
  position: absolute;
  z-index: 2;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--static-white);
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-bold);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
