.bodyClassName {
  max-width: 404px;
  background-color: var(--harmony-n-25);
  box-shadow: 0 16px 20px -5px var(--search-bar-shadow);
}

.container {
  padding: 17px 32px 19px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
}

.divider {
  border-bottom: 1px solid var(--harmony-n-200);
  margin: 16px 0px;
}

.iconRemove {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.iconRemove path {
  fill: var(--harmony-n-400);
}

.title {
  color: var(--harmony-n-400);
  font-size: var(--harmony-font-l);
  font-weight: var(--harmony-font-heavy);
  letter-spacing: 0.5px;
  line-height: 23px;
  text-align: center;
}

.toggleContainer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--harmony-neutral);
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-medium);
  line-height: 20px;
}

.toggleContainer:not(:first-child) {
  margin-top: 16px;
}

.toggleContainer.isDisabled {
  color: var(--harmony-neutral);
  opacity: 0.5;
}

.email {
  margin-bottom: 12px;
}

.permissionDeniedText {
  margin-top: 8px;
  color: var(--harmony-red);
  font-size: var(--harmony-font-s);
  font-weight: var(--harmony-font-medium);
  line-height: 18px;
}
