.settingsPageContent {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.headerContainer {
  margin-bottom: 32px;
}

.settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--unit-6);
}

.signOutButton {
  margin-bottom: 16px;
  height: 48px;
  flex: 0 0 48px;
  padding-left: 16px;
  padding-right: 16px;
}

.signOutButton .signOutButtonText {
  color: var(--neutral-light-4);
  font-weight: var(--font-demi-bold);
  font-size: var(--font-m);
}

.signOutButton .signOutButtonIcon path {
  fill: var(--neutral-light-4);
}

.version {
  align-self: center;
  flex: 0 1;
  margin-top: 80px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--neutral-light-5);
  font-family: var(--font-family);
  font-size: var(--font-xs);
  text-align: center;
}

.version span {
  line-height: 20px;
}

.link {
  color: var(--neutral-light-5);
}

.link:hover {
  color: var(--neutral-light-2);
}

.modalBody {
  max-width: 500px;
  width: 100%;
}

.modalHeader {
  margin: 0 16px;
}

.modalTitle {
  color: var(--neutral-light-4);
  font-size: var(--font-l);
  font-weight: var(--font-heavy);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.cardFull {
  flex: 1 1 100%;
}

.cardButton {
  width: 100%;
}

.cardButton .settingButtonText {
  font-size: var(--font-l);
}

.iconVerified path:nth-child(2) {
  fill: transparent;
}

.aiAttributionEnabled {
  color: var(--accent-green);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
}

.showPrivateKey {
  line-height: var(--unit-5);
}
