.settingsPageContent {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.headerContainer {
  margin-bottom: 32px;
}

.settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--unit-6);
}

.version {
  align-self: center;
  flex: 0 1;
  margin-top: 80px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--neutral-light-5);
  font-family: var(--font-family);
  font-size: var(--font-xs);
  text-align: center;
}

.version span {
  line-height: 20px;
}

.link {
  color: var(--neutral-light-5);
}

.link:hover {
  color: var(--neutral-light-2);
}

.cardFull {
  flex: 1 1 100%;
}

.iconVerified path:nth-child(2) {
  fill: transparent;
}

.aiAttributionEnabled {
  color: var(--accent-green);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
}

.showPrivateKey {
  line-height: var(--unit-5);
}
