.wrapperClassName {
  width: 100%;
  margin: auto;
}

.modalBodyStyle {
  width: 400px;
  max-width: 400px;
}

.text {
  line-height: 20px;
}

.container {
  border-top: 1px solid var(--harmony-n-100);
  padding: 24px 20px;
  margin: 0px 24px;
  font-weight: var(--harmony-font-demi-bold);
  font-size: var(--harmony-font-m);
  text-align: center;
  color: var(--harmony-neutral);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container b {
  font-weight: var(--harmony-font-bold);
}

.headerContainer {
  margin: 0px 8px;
  position: relative;
  border-bottom: none;
}

.warning {
  margin-top: 36px;
}

.btnContainer {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: var(--harmony-red);
  font-weight: var(--harmony-font-demi-bold);
  display: flex;
  width: 100%;
  text-align: left;
  margin-top: 28px;
}

.validationIcon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.loadingContainer {
  height: 48px;
  margin: 120px auto;
}

.verified {
  background-image: var(--page-header-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: var(--harmony-font-heavy);
  font-size: var(--harmony-font-3xl);
  margin-bottom: 12px;
}

.verifiedIcon {
  margin-left: 12px;
}

.profilePicture {
  height: 112px;
  width: 112px;
  border-radius: 50%;
  margin: 0px auto 8px;
  overflow: hidden;
}

.displayName {
  font-style: normal;
  font-weight: var(--harmony-font-bold);
  font-size: var(--harmony-font-xl);
  color: var(--harmony-neutral);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.handle {
  font-weight: normal;
  font-size: var(--harmony-font-m);
  color: var(--harmony-n-400);
  margin-bottom: 24px;
}

.iconVerified {
  margin-left: 4px;
}
