/**
 * Harmony Docs Color Palette
 *
 * Each defined color has variants defined by the 'dark' or 'light'
 * keyword. The number signifies an increasing value for the property, e.g.
 * -dark-2 is darker than -dark-1.
 */
html,
#harmony-root[data-theme='day'] {
  --harmony-docs-violet-v050: #f7f6fc;
  --harmony-docs-violet-v100: #f1efff;
  --harmony-docs-violet-v200: #c7bffd;
  --harmony-docs-violet-v300: #907ffb;
  --harmony-docs-violet-v400: #5a49ca;
  --harmony-docs-violet-v500: #2f2668;
  --harmony-docs-violet-v600: #201c3d;

  --harmony-docs-neutral-n050: #ffffff;
  --harmony-docs-neutral-n100: #f2f2f4;
  --harmony-docs-neutral-n200: #e7e6eb;
  --harmony-docs-neutral-n300: #cccccc;
  --harmony-docs-neutral-n400: #707070;
  --harmony-docs-neutral-n500: #3f3f3f;
  --harmony-docs-neutral-n600: #35353e;
  --harmony-docs-neutral-n700: #212226;
  --harmony-docs-neutral-n800: #111111;

  --harmony-docs-text: var(--harmony-docs-neutral-n800);
  --harmony-docs-text-muted: var(--harmony-docs-neutral-n600);
  --harmony-docs-bar-text-color: var(--harmony-docs-violet-v600);
  --harmony-docs-bar-selected-color: var(--harmony-docs-violet-v400);
  --harmony-docs-bar-hover-color: var(--harmony-docs-violet-v200);
  --harmony-docs-icon-color: var(--harmony-docs-violet-v400);
  --harmony-docs-icon-selected-color: var(--harmony-docs-violet-v050);
  --harmony-docs-deprecated-color: #ff2e2e;
  color: var(--harmony-docs-text);
}

html[data-theme='dark'],
html[data-theme='matrix'],
#harmony-root[data-theme='dark'],
#harmony-root[data-theme='matrix'],
html.dark {
  --harmony-docs-text: var(--harmony-docs-neutral-n050);
  --harmony-docs-text-muted: var(--harmony-docs-neutral-n200);
  --harmony-docs-bar-text-color: var(--harmony-docs-violet-v050);
  --harmony-docs-bar-selected-color: var(--harmony-docs-violet-v300);
  --harmony-docs-bar-hover-color: var(--harmony-docs-violet-v500);
  --harmony-docs-icon-color: var(--harmony-docs-violet-v300);
  color: var(--harmony-docs-text);
}
