.root {
  display: inline-flex;
  align-items: center;
  transition: color var(--expressive);
}

.root:hover {
  color: var(--primary);
  text-decoration: underline !important;
  text-decoration-color: var(--primary-light-2);
}

.root path {
  transition: fill var(--expressive);
}

.root:hover path {
  fill: var(--primary);
}
