.profileFormContainer {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 42px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.75);
}

.header {
  color: var(--secondary);
  font-size: var(--font-l);
  font-weight: bold;
  width: 320px;
  text-align: center;
  line-height: 26px;
  width: 250px;
  margin-bottom: 16px;
}

.moveFormUp {
  padding-top: 26px;
}

.blur {
  filter: blur(6px);
}

.profilePic {
  position: relative;
  margin-bottom: 30px;
}

.uploadText {
  width: 127px;
  color: #fafafa;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.29px;
  line-height: 19px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 37px;
  text-transform: uppercase;
  user-select: none;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 75%;
  opacity: 0;
  background-color: rgba(25, 29, 45, 0.5);
  transition: all 0.25s ease-in-out;
}

.overlay.processing {
  opacity: 1;
  padding: 35%;
}

.inputContainer {
  margin-bottom: 47px;
}

.errorInput {
  margin-bottom: 17px;
}

.errorMessage {
  margin-top: 14px;
}

.profileInput {
  text-align: center;
}

.profileInput > input {
  height: 66px !important;
  width: 354px !important;
  font-size: 20px !important;
  color: var(--neutral);
  border: 1px solid var(--neutral-light-8);
  border-radius: 4px;
}

.profileInput :global(.placeholder) {
  top: 37% !important;
  left: 19px !important;
  font-weight: var(--font-demi-bold) !important;
}

.profileInput :global(.placeholder.focus) {
  font-weight: var(--font-demi-bold) !important;
  transform: translate(0px, -12px) !important;
}

.profileInput.placeholder > input {
  color: var(--neutral-light-4);
}

.nameInput {
  margin-bottom: 22px;
}

.handleContainer {
  position: relative;
}

.handleInput > input {
  padding-left: 36px;
}

.atHandle {
  position: absolute;
  top: 24px;
  left: 20px;
  font-size: 20px;
  transition: all 0.17s ease-in-out;
  color: var(--neutral-light-4);
  font-weight: var(--font-medium);
}

.atHandleFocus {
  top: 34px;
}

.handleInput :global(.placeholder) {
  padding-left: 20px;
}

.backButton {
  position: absolute;
  top: 60px;
  left: 38px;
  background-color: #dad9e0;
}

.hide {
  opacity: 0;
}

.suggestTwitter {
  display: flex;
  width: 100%;
  max-width: 356px;
  margin-left: 40px;
  margin-top: 12px;
}

.hideTwitterButton {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  color: var(--secondary);
  font-family: var(--font-family);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
}

/* Mobile */

.isMobile.blur {
  display: none;
}

.isMobile.profileFormContainer {
  padding-top: 64px;
}

.isMobile .profileInput > input {
  height: 42px !important;
  width: 100% !important;
  max-width: 354px;
  font-size: 16px !important;
}

.isMobile .inputContainer {
  max-width: 320px;
  margin-bottom: 15px;
  width: 100%;
}

.isMobile .handleInput > input {
  line-height: normal;
  padding-left: 36px;
}

.isMobile input::-webkit-input-placeholder {
  line-height: normal !important;
}

.isMobile .atHandle {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 20px;
  transition: all 0.17s ease-in-out;
  color: var(--neutral-light-4);
  font-weight: var(--font-medium);
}

.isMobile .atHandleFocus {
  top: 12px;
}

.isMobile .profilePic {
  margin-bottom: 20px;
  overflow: hidden;
}
