.input {
  opacity: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.root {
  position: relative;
  width: var(--unit-6);
  height: var(--unit-6);
}

.root::before {
  position: absolute;
  width: var(--unit-6);
  height: var(--unit-6);
  border-radius: 50%;
  content: ' ';
  background: var(--neutral-light-6);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Use the .checked class since Firefox doesn't support :has() */
.root.checked::before {
  background: var(--white);
  border: 6px solid var(--secondary);
}

/* Use the .disabled class since Firefox doesn't support :has() */
.root.disabled::before {
  background: var(--neutral-light-7);
}
