.antModal :global(.ant-modal-header), 
.antModal :global(.ant-modal-footer), 
.antModal :global(.ant-modal-close) {
  display: none !important;
}

.antModal :global(.ant-modal) {
  line-height: 1;
}

.antModal :global(.ant-modal-content) {
  border-radius: 8px;
}

.antModal.condensed :global(.ant-modal-content) {
  border-radius: 12px;
}

.antModal :global(.ant-modal-body) {
  padding: 0;
  line-height: 1;
}

.modal {
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 2px 5px -2px rgba(133,129,153,0.25);
  padding: 16px;
  user-select: none;
  color: var(--neutral);
}

.condensed .modal {
  border-radius: 12px;
  padding: 8px;
  overflow: hidden;
}

.header {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--neutral-light-7);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 11px;
}

.header:after {
  content: '';
  width: 12px;
  padding-right: 2px;
}

.condensed .header {
  border: none;
  margin-bottom: 8px;
  padding-bottom: 0;
}

.iconRemove {
  cursor: pointer;
  height: 24px;
  width: 24px;
  padding-left: 2px;
  transition: all ease-in-out .07s;
}

.iconRemove g path {
  fill: var(--neutral-light-4);
}

.iconRemove:hover {
  transform: scale(1.1);
}

.iconRemove:hover g path {
  fill: var(--neutral);
}

.iconRemove:active {
  transform: scale(0.95);
}

.title {
  margin: 0 auto;
  color: var(--neutral-light-4);
  font-size: var(--font-l);
  font-weight: var(--font-heavy);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  justify-self: center;
}

.condensed .title {
  font-size: var(--font-m);
  font-weight: var(--font-bold);
  text-transform: none;
  letter-spacing: 0;
  color: var(--neutral);
}