.wrapper {
  height: 56px;
  width: 100%;
  background-color: var(--harmony-n-25);
  border-bottom: 1px solid var(--harmony-n-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.statBanner {
  margin-left: 233px;
  padding-left: 30px;
  padding-right: 16px;
  width: 756px;
  display: flex;
  justify-content: space-between;
}

.stats {
  width: 330px;
}

.buttons {
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.followContainer {
  display: flex;
}

.subscribeButton {
  margin-right: 6px;
}
