.button {
  background-color: var(--harmony-static-primary);
}

.button .text {
  font-size: var(--harmony-font-l);
  font-weight: var(--harmony-font-bold);
  color: var(--harmony-static-white);
}

.button .icon path {
  fill: var(--harmony-static-white);
}
