.artistChip {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.profilePictureWrapper {
  height: 42px;
  width: 42px;
  flex: 0 0 42px;
}

.profilePicture {
  box-sizing: border-box;
  height: 42px;
  width: 42px;
  flex: 0 0 42px;
  border: 1px solid var(--neutral-light-8);
  border-radius: 50%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--default-profile-picture-background);
}

.text {
  margin: 0px 8px;
  display: flex;
  flex: 1;
  flex-direction: column;

  color: var(--neutral);
  font-size: var(--font-xs);
  overflow: hidden;
}

.text > .name {
  font-weight: var(--font-bold);
  margin-bottom: 4px;
  display: flex;
  cursor: pointer;
  line-height: normal;
}

.text > .name :global(.artistPopover) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text > .name :global(.artistPopover) span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text > .name > .verified {
  margin-left: 5px;
  flex: 0 0 15px;
}

.text > .followers {
  font-weight: var(--font-medium);
}
