.remixes {
  width: 100%;
  margin: 0 auto;
  background: var(--harmony-white);
  border-radius: 12px;
  box-shadow: 0 16px 20px -5px var(--table-shadow);
  padding: 28px 0px;
}

.header {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  color: var(--harmony-secondary);
  font-weight: var(--harmony-font-heavy);
  font-size: var(--harmony-font-2xl);

  user-select: none;
  background-image: var(--page-header-gradient);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  margin-bottom: 24px;
}

/** iOS Safari doesn't do a good job persisting the title font styles to nested content */
.header > * {
  background-image: var(--page-header-gradient);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: var(--page-header-text-shadow);
}

.iconRemix {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.iconRemix path {
  fill: url(#linearGradient-1);
}

.iconRemix.matrix path {
  fill: url(#matrixHeaderGradient);
}

.tracks {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.tracks > * {
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
}
