.countContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0px 24px 0px;
  padding: 4px 8px;
  transform: scale(1);
  transition: transform 0.07s ease-in-out;
}

.countContainer:active .count {
  transform: scale(0.93);
  color: var(--harmony-primary) !important;
}

.countContainer:active svg path {
  fill: var(--harmony-primary) !important;
}

.listenCount {
  pointer-events: none;
}

.count {
  color: var(--harmony-neutral);
  font-family: var(--harmony-font-family);
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-bold);
  line-height: 15px;
  text-align: center;
  margin-right: 3px;
}

.countLabel {
  color: var(--harmony-n-400);
  font-family: var(--harmony-font-family);
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-medium);
  line-height: 15px;
  text-align: center;
}

.countContainer svg {
  height: 16px !important;
  width: 16px !important;
}

.countContainer svg path {
  fill: var(--harmony-n-400);
}

.statsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
