.trackContent {
  padding: 14px 12px 0px;
  width: 100%;
}

.tracksContainer {
  padding-top: 41px;
}

.remixes {
  width: 100%;
  margin-top: 32px;
}

.lineupHeader {
  color: var(--harmony-n-500);
  font-size: var(--harmony-font-s);
  font-weight: var(--harmony-font-bold);
  letter-spacing: 1px;
  margin-bottom: 12px;
  margin-top: 24px;
  text-transform: uppercase;
}

.originalTrack {
  margin-bottom: 16px !important;
}
