.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--unit-1);
}

.skeleton {
  background: var(--skeleton);
  width: 100%;
  height: 20px;
  min-width: 80px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
}

.skeleton.show {
  opacity: 1;
}
