/**
 * Audius Color Palette
 *
 * Each defined color has variants defined by the 'dark' or 'light'
 * keyword. The number signifies an increasing value for the property, e.g.
 * -dark-2 is darker than -dark-1.
 *
 * The palette can be themed by simply adding css or js overrides of these
 * color values. E.g.
 * ** your styles.css **
 * :root {
 *   --background: red;
 *   --neutral: blue;
 * }
 */
:root,
root {
  --background: #f3f0f7;

  --primary: #cc0fe0;
  --primary-dark-1: #b80eca;
  --primary-dark-2: #a30cb3;
  --primary-light-1: #d127e3;
  --primary-light-2: #d63fe6;

  --secondary: #7e1bcc;
  --secondary-dark-1: #7118b8;
  --secondary-dark-2: #6516a3;
  --secondary-light-1: #8b32d1;
  --secondary-light-2: #9849d6;

  --primary-secondary-text: #ffffff;

  --neutral: #858199;
  --neutral-dark-1: #78748a;
  --neutral-dark-2: #6a677a;
  --neutral-dark-3: #4d535a;
  --neutral-light-1: #9d9aad;
  --neutral-light-2: #aaa7b8;
  --neutral-light-3: #b6b3c2;
  --neutral-light-4: #c2c0cc;
  --neutral-light-5: #cecdd6;
  --neutral-light-6: #dad9e0;
  --neutral-light-7: #e7e6eb;
  --neutral-light-8: #f2f2f4;
  --neutral-light-9: #f7f7f9;
  --neutral-light-10: #fcfcfc;
  --white: #ffffff;

  --accent-red: #d0021b;
  --accent-red-dark-1: #bb0218;
  --accent-red-light-1: #d51b32;

  --accent-green: #0ba400;
  --accent-green-dark-1: #0a9400;
  --accent-green-light-1: #23ad1a;

  --accent-orange: #ff9400;
  --accent-orange-dark-1: #f28100;
  --accent-orange-light-1: #ffa70f;

  --accent-blue: #1ba1f1;
  --accent-purple: #8e51cf;

  --special-green: #0f9e48;
  --special-light-green: #13c65a;

  /* Semantic text */
  --text-default: var(--neutral);
  --text-subdued: var(--neutral-light-4);
  --text-disabled: var(--neutral-light-7);

  /* Semantic Borders */
  --border-default: var(--neutral-light-8);
  --border-strong: var(--neutral-light-7);

  /* Semantic Background */
  --background-default: var(--background);
  --background-surface-1: var(--neutral-light-10);
  --background-surface-2: var(--neutral-light-9);
  --background-white: var(--white);

  /* Semantic Other */
  --focus: var(--secondary);

  --primary-gradient: linear-gradient(135deg, #ee00ed 0%, #c514e0 100%);
  --secondary-gradient: linear-gradient(315deg, #6b0fb3 0%, #7e1bcc 100%);
  --page-header-gradient-color-1: #5b23e1;
  --page-header-gradient-color-2: #a22feb;
}

/**
 * Static color palette. Never overridden by theme.
 * You should not override these values!
 */
:root,
root {
  --static-primary: #cc0fe0;
  --static-primary-dark-1: #b80eca;
  --static-primary-dark-2: #a30cb3;
  --static-primary-light-1: #d127e3;
  --static-primary-light-2: #d63fe6;

  --static-secondary: #7e1bcc;
  --static-secondary-transparent: rgba(126, 27, 204, 0.85);
  --static-secondary-dark-1: #7118b8;
  --static-secondary-dark-2: #6516a3;
  --static-secondary-light-1: #8b32d1;
  --static-secondary-light-2: #9849d6;

  --static-neutral: #858199;
  --static-neutral-dark-1: #78748a;
  --static-neutral-dark-2: #6a677a;
  --static-neutral-dark-3: #4d535a;
  --static-neutral-light-1: #9d9aad;
  --static-neutral-light-2: #aaa7b8;
  --static-neutral-light-3: #b6b3c2;
  --static-neutral-light-4: #c2c0cc;
  --static-neutral-light-5: #cecdd6;
  --static-neutral-light-6: #dad9e0;
  --static-neutral-light-7: #e7e6eb;
  --static-neutral-light-8: #f2f2f4;
  --static-neutral-light-9: #f7f7f9;
  --static-neutral-light-10: #fcfcfc;
  --static-white: #ffffff;
  --static-black: #000000;

  --static-accent-red: #d0021b;
  --static-accent-red-dark-1: #bb0218;
  --static-accent-red-light-1: #d51b32;

  --static-accent-green: #0ba400;
  --static-accent-green-dark-1: #0a9400;
  --static-accent-green-light-1: #23ad1a;

  --static-accent-orange: #ff9400;
  --static-accent-orange-dark-1: #f28100;
  --static-accent-orange-light-1: #ffa70f;
}
