/**
 * Audius Type System
 *
 * When using, ensure that the Avenir Next LT Pro font-face is available.
 */

:root,
root {
  --font-family: 'Avenir Next LT Pro', 'Helvetica Neue', Helvetica, Arial,
    sans-serif !important;

  --font-2xs: 10px;
  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 18px;
  --font-xl: 20px;
  --font-2xl: 24px;
  --font-3xl: 32px;
  --font-4xl: 36px;

  --font-ultra-light: 100;
  --font-regular: 400;
  --font-medium: 500;
  --font-demi-bold: 600;
  --font-bold: 700;
  --font-heavy: 900;
}

body * {
  font-family: var(--font-family) !important;
}
