.filterContainer {
  z-index: 1;
  position: relative;
}

.filterContainer .filterInput {
  border-radius: 6px;
  height: 28px;
  border: 1px solid var(--neutral-light-6);
  background-color: var(--neutral-light-9);
}
.filterContainer .filterInput:hover {
  border: 1px solid var(--neutral-light-4);
}
