.link {
  all: unset;
  font-weight: 500;
  color: var(--primary-dark-2);
}

.link:hover:not(.disabled) {
  cursor: pointer;
  opacity: 0.75;
}

.link.disabled,
.link.disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}
