.page {
  display: flex;
  justify-content: flex-start;
}

.spinner {
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

.spinner g path {
  stroke: var(--harmony-secondary) !important;
}

.userName:hover {
  cursor: pointer;
  color: var(--harmony-primary);
  text-decoration: underline;
  text-decoration-color: var(--harmony-p-100);
}

.cardsContainer {
  margin: -8px;
}

.cardsContainer > * {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
}
