.updateDot {
  display: block;
  margin-right: 4px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--harmony-secondary);
}

.mobileUpdateDot {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--harmony-white);
  border-radius: 100%;
  background: var(--harmony-secondary);
  z-index: 100;
}
