/* Stats Container */

.stat {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 64px;
  height: 76px;
  text-align: center;
  display: inline;
  background: -webkit-linear-gradient(315deg, #7652cc 2.04%, #b05ce6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.label,
.description {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--font-l);
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #bec5e0;
  user-select: none;
}

.loading {
  height: var(--unit-3);
  width: var(--unit-3);
}
