.container {
  background-color: var(--harmony-secondary);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .container {
    justify-content: center;
  }
}
