.checkMark {
  margin-right: 8px;
}

.iconWrapper {
  height: 16px;
  margin-top: -1px;
}

.incompleteCircle {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  border: 1px solid var(--harmony-static-white);
  background-color: var(--harmony-static-white);
  margin-right: 6px;
}
