.header {
  border-bottom: 1px solid var(--harmony-n-100);
}

.tabBodyHeader {
  width: 100%;
}

.tabBodyHeader .headerWrapper {
  background: var(--harmony-white);
  text-align: left;
  padding: 16px 28px;
  box-shadow: 0 16px 20px -5px var(--table-shadow);
}

.title {
  color: var(--harmony-secondary);
  font-size: var(--harmony-font-xl);
  font-weight: var(--harmony-font-bold);
  letter-spacing: 0.25px;
  line-height: 25px;
}

.description {
  margin-top: 6px;
  color: var(--harmony-neutral);
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-medium);
  letter-spacing: 0;
  line-height: 23px;
}

.section {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 8px;
}

.section > *,
.lifestyle > * {
  margin: 4px;
}

.section > *:nth-child(5n + 1) {
  flex-basis: 100%;
}

.section > *:nth-child(5n + 2),
.section > *:nth-child(5n + 3),
.section > *:nth-child(5n + 4),
.section > *:nth-child(5n + 5) {
  flex-basis: calc(50% - 8px);
}

.quadrupleHeaderSectionElevenTile > *:nth-child(1),
.quadrupleHeaderSectionElevenTile > *:nth-child(2),
.quadrupleHeaderSectionElevenTile > *:nth-child(3),
.quadrupleHeaderSectionElevenTile > *:nth-child(4),
.quadrupleHeaderSectionElevenTile > *:nth-child(9) {
  flex-basis: 100%;
}

.quadrupleHeaderSectionElevenTile > *:nth-child(5),
.quadrupleHeaderSectionElevenTile > *:nth-child(6),
.quadrupleHeaderSectionElevenTile > *:nth-child(7),
.quadrupleHeaderSectionElevenTile > *:nth-child(8),
.quadrupleHeaderSectionElevenTile > *:nth-child(10),
.quadrupleHeaderSectionElevenTile > *:nth-child(11) {
  flex-basis: calc(50% - 8px);
}

.spinner {
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

.spinner g path {
  stroke: var(--harmony-secondary) !important;
}

.tabContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--header-padding-top);
}

.tabBar {
  position: fixed;
  top: 92px;
  margin-top: 0px;
  margin-top: env(safe-area-inset-top, 0px);
  left: 0px;
  right: 0px;
  z-index: 10;
}

.pageContainer {
  margin-top: 48px;
}

.lineupContainer {
  padding: 24px 11px 12px;
}
