.container {
  flex-direction: column;
}
/* Bottom Section */

.tracksLineupContainer {
  padding: 16px 12px 0px;
  width: 100%;
}

.cardLineupContainer {
  padding: 16px 11px 0px;
}

/* Empty Section */
.emptyTab {
  margin: 8px 12px;
  padding: 30px 24px;
  border: 1px solid var(--neutral-light-8);
  border-radius: 6px;
  background-color: var(--harmony-white);
  box-shadow: 0 0 1px 0 var(--tile-shadow-1), 0 1px 0 0 var(--tile-shadow-2),
    0 2px 5px -2px var(--tile-shadow-3);

  color: var(--harmony-neutral);
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-medium);
  line-height: 26px;
  text-align: center;
}

.emoji {
  margin-left: 3px;
}

.iconReposts {
  height: 24px !important;
}

.overflowNav {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
