.profileContainer {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: stretch;
  margin: 12px 0px 36px;
}

.artistProfileContainer {
  flex: 1 0 auto;
  height: 88px;
  border-radius: 6px;
  background-color: var(--white);
  box-shadow: var(--table-shadow) 0px 16px 20px 0px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

/** The profile chip extends past page padding on smaller widths */
@media screen and (max-width: 1024px) {
  .artistProfileContainer {
    margin-left: 12px;
  }
}

.artistLeftContainer {
  display: inline-flex;
  align-items: center;
}

.artistProfilePictureWrapper {
  margin-left: -26px;
  margin-right: 15px;
  height: 108px;
  width: 108px;
}

.artistProfilePicture {
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid var(--neutral-light-8);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 72.99%,
    rgba(0, 0, 0, 0.4) 100%
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: var(--table-shadow) 0px 16px 20px 0px;
  background-color: var(--default-profile-picture-background);
}

.artistNameContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.artistName {
  color: var(--neutral);
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 4px;
  display: inline-flex;
  align-items: center;
}

.iconVerified {
  margin-left: 8px;
  position: relative;
  top: -2px;
}

.artistHandle {
  color: var(--neutral);
  font-size: 16px;
  font-weight: 600;
}

.artistProfileButton {
  margin-right: 20px;
}

.artistProfileButton .artistProfileButtonText {
  font-size: 18px;
  font-weight: bold;
}
