.container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 300px;
  min-width: 300px;
  margin-bottom: 8px;
}

.rowContainer {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2px;
}

.label {
  font-weight: var(--font-bold);
  font-size: var(--font-m);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--neutral-light-4);
}

.value {
  font-weight: var(--font-bold);
  font-size: var(--font-m);

  text-align: right;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--neutral);
}