.container {
  align-items: center;
  align-self: stretch;
  border-radius: var(--unit-3);
  border: 1px solid var(--border-default);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.row {
  align-items: center;
  align-self: stretch;
  background: var(--background-white);
  display: flex;
  justify-content: space-between;
  padding: var(--unit-3) var(--unit-6);
}

.row:not(:first-child) {
  border-top: 1px solid var(--border-default);
}

.row:first-child,
.row:last-child {
  background: var(--background-surface-1);
}

.finalPrice {
  color: var(--focus);
}
