.container {
  padding: 0px 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}

.title {
  color: var(--secondary);
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  line-height: 38px;
  max-width: 314px;
  margin-bottom: 14px;
}

.subtitle {
  color: var(--secondary-light-2);
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  margin-bottom: 64px;
}

.animationContainer {
  height: 110px;
  width: 110px;
  margin-bottom: 16px;
}

.animationContainer svg path {
  fill: var(--secondary);
}
