.horizontalLogo {
  cursor: pointer;
  max-width: 132px;
}

.modal {
  min-width: 726px;
  max-width: 726px;
}

.modalCloseIcon {
  color: var(--neutral-light-4);
}

.modalTitle {
  font-weight: var(--font-heavy);
}
