.horizontalLogo {
  cursor: pointer;
  max-width: 132px;
}

.modal {
  min-width: 726px;
  max-width: 726px;
}

.modalCloseIcon {
  color: var(--harmony-n-400);
}

.modalTitle {
  font-weight: var(--harmony-font-heavy);
}
