.container {
  height: var(--harmony-spacing-4xl);
  position: relative;
  border-bottom: solid 1px var(--harmony-border-default);
  z-index: 2;
}

.logoContainer {
  padding-left: inherit;
  padding-right: inherit;
  position: absolute;
  left: 0;
}
