.root {
  border: transparent;
  & svg path {
    fill: var(--harmony-white);
  }
}

.tiktok {
  background: #fe2c55;
}

.instagram {
  background: radial-gradient(
      61.46% 59.09% at 36.25% 96.55%,
      #ffd600 0%,
      #ff6930 48.44%,
      #fe3b36 73.44%,
      rgba(254, 59, 54, 0) 100%
    ),
    radial-gradient(
      202.83% 136.37% at 84.5% 113.5%,
      #ff1b90 24.39%,
      #f80261 43.67%,
      #ed00c0 68.85%,
      #c500e9 77.68%,
      #7017ff 89.32%
    );
}

.twitter {
  background: #1ba1f1;
}
