# JetBrains
.idea/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Misc
.DS_Store
._*
.Spotlight-V100
.Trashes

# ESLint
.eslintcache

# Build and test
dist/
build/
coverage/
target/

# Cache
.cache/

# Env
*keypair.json
*.so