:global(#ghost) {
  position: absolute;
  /* Position the ghost outside of the viewport so that the browser can use its image as the
     draggable element */
  left: -100%;
}

:global(#ghost > div) {
  background: var(--secondary);
  margin-left: 15px;
  margin-top: 2px;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  height: 26px;
  border-radius: 6px;
  color: var(--static-white);
  font-size: var(--harmony-font-s);
  font-weight: var(--harmony-font-medium);
  letter-spacing: 0.1px;
}
