.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--harmony-unit-6);
  padding: var(--harmony-unit-6) var(--harmony-unit-4);

  font-size: var(--harmony-font-l);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--harmony-unit-2);
  padding-bottom: var(--harmony-unit-4);
  border-bottom: 1px solid var(--neutral-light-8);

  font-weight: var(--harmony-font-heavy);
  text-transform: uppercase;
  color: var(--neutral-light-2);
}

.subheader {
  padding: 0 var(--harmony-unit-12);

  line-height: 130%;
  font-weight: var(--harmony-font-bold);
  text-align: center;
  text-transform: capitalize;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--harmony-unit-4);
  padding: var(--harmony-unit-4) var(--harmony-unit-6);
  border: 1px solid var(--neutral-light-7);
  border-radius: var(--harmony-unit-2);
  background: var(--neutral-light-10);

  font-weight: var(--harmony-font-demi-bold);
}

.features > li {
  display: flex;
  align-items: center;
  gap: var(--harmony-unit-3);
}

.icon {
  width: var(--harmony-unit-6);
  height: var(--harmony-unit-6);
}

.icon path {
  fill: var(--harmony-secondary);
}
