.root {
  display: flex;
  align-items: center;
  column-gap: var(--harmony-unit-2);
}

.label {
  display: flex;
  align-items: center;
  color: var(--harmony-text-subdued);
  gap: var(--harmony-unit-2);
  letter-spacing: 2px;
  user-select: none;
  text-transform: uppercase;
}

.icon {
  width: calc(var(--unit) * 4.5);
  height: calc(var(--unit) * 4.5);
}

.icon path {
  fill: var(--harmony-text-subdued);
}
