.amountHeader {
  width: 100%;
  text-align: right;
}

.rowContainer {
  height: 79px;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.rowCol {

}

.colImg {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  margin-right: 24px;
}

.colAddress {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-m);
  
  color: #BEC5E0;
  flex: 1;
}

.colAmount {

}

.modalRow {
  padding: 0px 24px;
  border-bottom: 1px solid #3F415B;
}

.modalRow:last-child {
  border-bottom: none;
}