.confirmationBox {
  width: 100%;
  background-color: var(--white);
  padding: 24px 32px 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  text-align: center;
  margin-bottom: 24px;
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  line-height: 22px;
  color: var(--neutral);
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
