.container {
  display: inline-flex;
  align-items: center;
  height: 72px;
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 72px;
  z-index: 100;
  transition: all 0.15s ease-in-out;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 0px solid rgba(255, 255, 255, 0);
}

.contentContainer {
  display: inline-flex;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  padding: 0px 100px;
  max-width: 1440px;
}

.invertColors {
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* Left Icons */
.iconContainer {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-right: 30px;
  opacity: 1;
  transition: all 0.15s ease-in-out;
  transform: scale3d(1, 1, 1);
}

.icon:hover {
  opacity: 0.8;
  transform: scale3d(1.1, 1.1, 1.1);
}

.icon:active {
  opacity: 0.8;
  transform: scale3d(0.99, 0.99, 0.99);
}

.icon path {
  transition: fill 0.07s ease-in-out;
  fill: var(--harmony-static-white);
}
.invertColors .icon path {
  fill: var(--harmony-secondary);
}

/* Center Logo */
.leftLogo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.horizontalLogo {
  cursor: pointer;
  max-width: 132px;
}

.horizontalLogo {
  transition: filter 0.07s ease-in-out;
  filter: brightness(0) invert(1);
}

.invertColors .horizontalLogo {
  filter: none;
}

/* Right Links */
.linkContainer {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  color: var(--harmony-static-white);
}

.resources {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  cursor: pointer;
}

.resourcesIcon {
  width: 16px;
  height: 16px;
}

.resourcesIcon path {
  fill: var(--harmony-static-white);
}

.resourcesMenu {
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--border-border-strong, #e7e6eb);
  background: var(--background-bg-white, #fff);
  box-shadow:
    0px 8px 16px 0px rgba(0, 0, 0, 0.08),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  min-width: 618px;
  max-width: 618px;
}

.menuItemContainer {
  display: flex;
  gap: 16px;
  width: 288px;
  padding: 16px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid var(--harmony-static-white);
}

.menuItemContainer:hover {
  background: var(--harmony-n-50);
  border: 1px solid var(--harmony-n-150);
}

.menuItemContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  line-height: 20px;
}

.menuItemTitle {
  font-weight: 700;
}

.menuItemSubtitle {
  font-weight: 500;
}

.menuItemIcon path {
  fill: var(--harmony-secondary);
}

.menuItemIconStroke path {
  fill: none;
  stroke: var(--harmony-secondary);
}

.popup {
  border-radius: 12px !important;
  border: 1px solid var(--harmony-n-150) !important;
  box-shadow:
    0px 8px 16px 0px rgba(0, 0, 0, 0.08),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04) !important;
  padding: 0 !important;
  user-select: none !important;
  transform: translateX(16px) !important;
}

.rightLink {
  cursor: pointer;
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-bold);
  letter-spacing: 0.2px;
  line-height: 19px;
  text-align: center;
  margin-right: 26px;
  transition: all 0.15s ease-in-out;
  transform: scale3d(1, 1, 1);
}

.rightLink:hover {
  text-decoration: underline;
  opacity: 0.8;
  transform: scale3d(1.03, 1.03, 1.03);
}

.rightLink:active {
  opacity: 0.8;
  transform: scale3d(0.99, 0.99, 0.99);
}

.invertColors .linkContainer {
  color: var(--harmony-secondary);
}

.signUp {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7e1bcc;
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-bold);
  letter-spacing: 0.2px;
  text-align: center;
  padding: 11px 26px 10px;
  border-radius: 4px;
  background-color: var(--harmony-static-white);
  transform: scale3d(1, 1, 1);
  transition: all 0.15s ease-in-out;
}

.signUp:hover {
  transform: scale3d(1.03, 1.03, 1.03);
  background-color: #f7f7f7;
  color: #7e1bcc;
  box-shadow: 0 10px 20px -1px rgba(25, 0, 96, 0.5);
}

.signUp:active {
  transform: scale3d(0.99, 0.99, 0.99);
  background-color: #f2f2f2;
  box-shadow: 0 0 2px -1px rgba(25, 0, 96, 0.5);
}

.invertColors .signUp {
  border: 1px solid var(--harmony-n-150);
}

.invertColors .signUp:hover {
  color: var(--harmony-static-white);
  background-color: #dc19f0;
  box-shadow: 0 10px 20px -2px rgba(253, 0, 254, 0.5);
  border: none;
}

.invertColors .signUp:active {
  background-color: #ba02ce;
  box-shadow: 0 0 2px -2px rgba(253, 0, 254, 0.5);
}

/* Mobile Styles */
.mobileContainer {
  position: fixed;
  width: 100%;
  top: 0px;
  padding: 0px 22px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  bottom: 72px;
  z-index: 100;
  transition: all 0.15s ease-in-out;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 0px solid rgba(255, 255, 255, 0);
}

.mobileContainer.invertColors {
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.kebabMenu {
  height: 32px;
  width: 32px;
  padding-right: 2px;
}

.trendingIcon {
  height: 28px;
  width: 28px;
}

.kebabMenu path,
.trendingIcon path {
  fill: var(--harmony-static-white);
}

.invertColors path {
  fill: var(--harmony-s-400);
}

.iconLink {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  transform: scale3d(1, 1, 1);
  text-decoration-color: var(--harmony-static-white) !important;
}

.iconLink:not(:last-child) {
  margin-right: 24px;
}

.iconLink:hover {
  text-decoration: underline var(--harmony-static-white) !important;
  opacity: 0.8;
  transform: scale3d(1.03, 1.03, 1.03);
}

.iconLink:active {
  opacity: 0.8;
  transform: scale3d(0.99, 0.99, 0.99);
}

.linkIcon {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}

.linkIcon path {
  fill: var(--harmony-static-white);
}

.iconLinkText {
  color: var(--harmony-static-white);
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-bold);
  letter-spacing: 0.2px;
  white-space: nowrap;
}

.invertColors .iconLinkText {
  color: var(--harmony-secondary);
}

.invertColors .linkIcon path {
  fill: var(--harmony-secondary);
}

.invertColors .iconLink {
  text-decoration-color: var(--harmony-secondary) !important;
}

.invertColors .iconLink:hover {
  text-decoration: underline var(--harmony-secondary) !important;
}
