.modalRoot {
  position: absolute;
  height: 100%;
  width: 100%;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.app {
  --nav-width: 240px;
  --nav-width-minus-border: 239px;
  --mobile-min-width: 280px;
  --play-bar-height: 88px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.app.mobileApp {
  min-width: var(--mobile-min-width);
  overflow: visible;
}

.notificationWrapper {
  position: absolute;
  left: 256px;
  top: 56px;
  z-index: 5;
}

.mainContentWrapper {
  margin-left: var(--nav-width);
  margin-bottom: 88px;
  width: 100%;
  text-align: center;
  /* Show scrollbar always so the page doesn't jump around. */
  overflow-y: scroll;
  overflow-x: hidden;
}

.mainContentWrapper.noScroll {
  overflow-y: hidden;
}

.mainContentWrapperMobile {
  min-height: calc(100vh - calc(env(safe-area-inset-top, 0px) + 40px));
  position: relative;
  margin-left: 0px;
  overflow-y: visible;
  overflow-x: visible;
  margin-top: calc(env(safe-area-inset-top, 0px) + 40px);
  margin-bottom: 0;
}
