.container {
  background-color: #e000db;
  color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 48px;
  align-items: center;
  padding: 0px 24px;
  justify-content: center;
  font-family: "Gilroy";
  font-size: 18px;
}

.container div:first-child {
  margin-right: 12px;
}

.container svg {
  width: 120px !important;
  height: 30px !important;
}

.container path {
  fill: #ffffff;
}
