.deactivated {
  color: var(--neutral);
  font-size: var(--font-m);
  font-weight: var(--font-medium);
  text-align: center;

  margin-top: 38px;
  padding: 3px;
  user-select: none;
}
.deactivated:not(.mobile) {
  /** Offset to undo desktop left padding **/
  width: calc(100% + 229px);
  margin-left: -229px;
}
.deactivatedText {
  margin: 42px 0;
  padding: 22px 0;
}

.mobile.deactivated {
  margin: 0;
  padding: 24px 12px;
  background-color: var(--white);
}
.mobile .deactivatedText {
  margin: 24px 0 12px;
}
