.root {
  display: inline-flex;
  column-gap: var(--harmony-unit-2);
}

.root:hover .icon path {
  fill: var(--harmony-primary);
}

.text {
  max-width: 180px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.singleLink {
  white-space: nowrap;
}
