.outerContainer {
  height: 100%;
}

.contentContainer {
  max-width: 610px;
  margin: 0 auto;
}

.hideTwitterButton {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
