.info {
  margin-bottom: 8px;
}

.bottom {
  margin-top: 8px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  width: 100%;
  color: var(--accent-red);
}

.track {
  width: 100%;
  display: flex;
  align-items: center;
}

.artwork {
  height: 34px;
  width: 34px;
  box-sizing: border-box;
  border: 1px solid var(--neutral-light-8);
  border-radius: 3.33px;
  overflow: hidden;
  margin-right: 8px;
}

.by {
  margin: 0px 4px;
}

.iconVerified {
  margin-left: 4px;
}

.artistName {
  display: inline-flex;
  align-items: center;
}

.disableInfo {
  margin-bottom: var(--unit-6);
}

.toggleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--unit-4);
  font-weight: var(--font-bold);
  font-size: 22px;
}

.remixDisabled {
  color: var(--neutral-light-4);
}

.subtext {
  margin-bottom: var(--unit-4);
  font-weight: var(--font-medium);
  font-size: 18px;
}

.divider {
  height: 1px;
  background: var(--neutral-light-8);
  margin: var(--unit-6) 0;
}
