.discover .spin {
  margin: 0 auto;
}

.mainLineup {
  flex: 2.67;
  min-width: 0;
}

.tabBody {
  /* Should be 1080px, but account for extra room for hover to grow */
  min-width: 1100px;

  /* Compensate for padding of .lineupContainer */
  left: -10px;
  top: -10px;
}

.tabElement {
  max-width: 1100px;
  overflow: visible;
}