.twitterButton {
  height: 64px !important;
  min-width: 273px !important;
}

.twitterTextContainer {
  text-align: left;
  padding: 2px 14px;
}

.twitterButton {
}

.twitterButton .text {
  font-size: var(--font-l) !important;
  font-weight: var(--font-bold) !important;
}

.twitterButton .icon {
  height: 24px;
  width: 24px;
}
