.rewardClaimedToast {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rewardClaimedToastIcon {
  margin-inline-end: 8px;
}
.rewardClaimedToastIcon > :global(.emoji) {
  margin-bottom: 0;
}

.seeMoreCaret {
  margin-left: 2px;
  height: 12px;
  width: 10px;
}

.seeMoreCaret path {
  fill: var(--harmony-static-white);
}
