.pageContainer {
  user-select: none;
}

.sectionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 32px 0px;
}

.topSection {
  flex-direction: row;
  gap: var(--harmony-unit-8);
  align-items: stretch;
  flex-wrap: wrap;
}

.topSection.isArtist > * {
  flex: 1;
}

/* Stat Tile Styles  */

.statsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.statTileContainer {
  flex: 1 1 120px;
  width: 100%;
  height: 72px;
  border-radius: 6px;
  background: var(--harmony-gradient);
  box-shadow: var(--table-shadow) 0px 16px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6px 0px;
}

.statValue {
  font-size: 32px;
  font-weight: bold;
  color: var(--harmony-static-white);
  text-shadow: 0 1px 2px rgba(39, 31, 71, 0.25);
  margin-bottom: 4px;
  user-select: none;
}

.statTitle {
  font-size: 12px;
  font-weight: bold;
  color: var(--harmony-static-white);
  opacity: 0.5;

  letter-spacing: 1px;
  user-select: none;
  text-transform: uppercase;
}

.spinner {
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

.spinner g path {
  stroke: var(--harmony-secondary) !important;
}

.chartFallback {
  height: 368px;
}

.tracksTableWrapper {
  margin-top: 50px;
  min-height: 518px;
  width: 100%;
}
