.button {
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transition: all var(--quick);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: var(--unit-6);
  padding-right: var(--unit-6);
}

.button:focus {
  outline: none !important;
}

.button.noIcon {
  padding-left: var(--unit-8);
  padding-right: var(--unit-8);
}

.button.medium {
  height: var(--unit-12);
}

.button.small {
  height: var(--unit-8);
}

.button.tiny {
  height: var(--unit-7);
  padding-left: var(--unit-4);
  padding-right: var(--unit-4);
}

.button .icon svg {
  width: var(--unit-6);
}

.button .icon path {
  fill: var(--neutral);
  transition: all var(--quick);
}

.button .icon.left {
  margin-right: var(--unit-3);
}

.button .icon.left.noText {
  margin: 0;
}

.button .icon.right {
  margin-left: var(--unit-3);
}

.button .icon.right.noText {
  margin: 0;
}

.button .icon {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.textLabel {
  vertical-align: middle;
  transition: all var(--quick);
}

/* Primary Button */

.primary {
  border: none;
  border-radius: 4px;
  background: var(--primary);
}

.primary .textLabel {
  color: var(--primary-secondary-text);
  font-size: var(--font-l);
  font-weight: var(--font-bold);
}

.primary .icon g path,
.primary .icon use {
  fill: var(--primary-secondary-text);
}

.primary.includeHoverAnimations:hover:enabled {
  transform: var(--grow);
  background: var(--primary);
}

.primary.includeHoverAnimations:active:enabled {
  transform: perspective(1px) scale3d(0.99, 0.99, 0.99);
  background: var(--primary);
}

/* PrimaryAlt Button */

.primaryAlt {
  height: 46px;
  border: none;
  border-radius: 4px;
  background: var(--primary);
}

.primaryAlt .textLabel {
  color: var(--primary-secondary-text);
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  letter-spacing: 0.5px;
}

.primaryAlt .icon path,
.primaryAlt .icon use {
  fill: var(--primary-secondary-text);
}

.primaryAlt.includeHoverAnimations:hover:enabled {
  transform: var(--grow);
  background: var(--primary-light-1);
}

.primaryAlt.includeHoverAnimations:active:enabled {
  transform: perspective(1px) scale3d(0.99, 0.99, 0.99);
  background: var(--primary-dark-1);
}

/* Secondary Button */

.secondary {
  border: 1px solid var(--primary-dark-1);
  border-radius: 4px;
  background: var(--white);
}

.secondary .textLabel {
  color: var(--primary);
  font-size: var(--font-l);
  font-weight: var(--font-bold);
}

.secondary.small .textLabel {
  font-size: var(--font-s);
  letter-spacing: 0.5px;
}

.secondary.tiny .textLabel {
  font-size: 11px;
  letter-spacing: 0.3px;
}

.secondary .icon path,
.secondary .icon use {
  fill: var(--primary);
}

.secondary.includeHoverAnimations:hover:enabled {
  transform: var(--grow);
  border: 1px solid var(--primary-dark-2);
  background: var(--primary);
}

.secondary.includeHoverAnimations:hover:enabled .textLabel {
  color: var(--primary-secondary-text);
}

.secondary.includeHoverAnimations:hover:enabled .icon path,
.secondary.includeHoverAnimations:hover:enabled .icon use {
  fill: var(--primary-secondary-text);
}

.secondary.includeHoverAnimations:active:enabled {
  transform: perspective(1px) scale3d(0.99, 0.99, 0.99);
  border: 1px solid var(--primary-dark-2);
  background: var(--primary-dark-2);
}

/* Common Button */

.common {
  border: 1px solid var(--neutral-light-6);
  border-radius: 4px;
  background: var(--white);
}

.common.small {
  padding: 0 var(--unit-4);
}

.common .textLabel {
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  letter-spacing: 0.5px;
}

.common.tiny .textLabel {
  font-size: 11px;
  letter-spacing: 0.3px;
}

.common .icon path,
.common .icon use {
  fill: var(--neutral);
}

.common.includeHoverAnimations:hover:enabled {
  transform: var(--grow);
  border: 1px solid var(--primary-dark-2);
  background: var(--primary);
}

.common.includeHoverAnimations:hover:enabled .textLabel {
  color: var(--primary-secondary-text);
}

.common.includeHoverAnimations:hover:enabled .icon path,
.common.includeHoverAnimations:hover:enabled .icon use {
  fill: var(--primary-secondary-text);
}

.common.includeHoverAnimations:active:enabled {
  transform: perspective(1px) scale3d(0.99, 0.99, 0.99);
  border: 1px solid var(--primary-dark-2);
  background: var(--primary-dark-2);
}

.common.includeHoverAnimations:active:enabled .textLabel {
  color: var(--primary-secondary-text);
}

.common.includeHoverAnimations:active:enabled .icon path {
  fill: var(--primary-secondary-text);
}

/* Common Alt Button */

.commonAlt {
  border: 1px solid var(--neutral-light-6);
  border-radius: 4px;
  background: var(--white);
}

.commonAlt .textLabel {
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  letter-spacing: 0.5px;
}

.commonAlt .icon path,
.commonAlt .icon use {
  fill: var(--neutral);
}

.commonAlt:hover:enabled {
  transform: var(--grow);
  border: 1px solid var(--neutral-light-6);
  background: var(--neutral-light-10);
}

.commonAlt.includeHoverAnimations:active:enabled {
  transform: perspective(1px) scale3d(0.99, 0.99, 0.99);
  border: 1px solid var(--neutral-light-6);
  background: var(--neutral-light-8);
}

/* Glass Button */

.glass {
  border: 1px solid var(--white);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}

.glass .textLabel {
  text-transform: uppercase;
  color: var(--white);
  font-size: var(--font-l);
  font-weight: var(--font-bold);
}

.glass .icon path,
.glass .icon use {
  fill: var(--white);
}

.glass.includeHoverAnimations:hover:enabled {
  transform: var(--grow);
  background-color: rgba(255, 255, 255, 0.2);
}

.glass.includeHoverAnimations:active:enabled {
  transform: perspective(1px) scale3d(1, 1, 1);
  background-color: rgba(255, 255, 255, 0.05);
}

/* Disabled Button */

.disabled {
  border-radius: 4px;
  background-color: var(--neutral-light-7);
  cursor: default;
  transform: none;
  border: none;
}

.disabled .textLabel {
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  color: var(--white);
}

.disabled .icon path,
.disabled .icon use {
  fill: var(--white);
}

/* White Button */

.white {
  border: none;
  border-radius: 4px;
  background-color: var(--static-neutral-light-10);
  box-shadow: 0 1px 0 0 var(--neutral-light-4),
    0 4px 12px -4px rgba(0, 0, 0, 0.3);
}

.white .textLabel {
  color: var(--secondary);
  font-family: var(--font-family);
  font-size: var(--font-l);
  font-weight: var(--font-demi-bold);
}

.white .icon path,
.white .icon use {
  fill: var(--secondary);
}

.white.includeHoverAnimations:hover:enabled {
  transform: var(--grow);
  background-color: var(--static-white);
  box-shadow: 0 1px 0 0 var(--neutral-light-5),
    0 5px 20px -3px rgba(0, 0, 0, 0.3);
}

.white.includeHoverAnimations:active:enabled {
  background-color: #eeeeee;
  box-shadow: 0 1px 0 0 var(--neutral-light-4),
    0 4px 12px -4px rgba(0, 0, 0, 0.3);
  transform: perspective(1px) scale3d(0.99, 0.99, 0.99);
}

/* Text Button */
.textButton {
  background: none;
  border: none;
  outline: none;
  padding: 8px 24px;
  font-weight: var(--font-bold);
}

.textButton.button.medium,
.textButton.button.small,
.textButton.button.tiny {
  height: unset;
}

.textButton.medium,
.textButton.medium .textLabel {
  font-size: var(--font-m);
}
.textButton.small,
.textButton.small .textLabel {
  font-size: var(--font-s);
}
.textButton.tiny,
.textButton.tiny .textLabel {
  font-size: var(--font-xs);
}

.textButton.button .icon svg {
  width: calc(1em - 2px);
  height: calc(1em - 2px);
}

.textButton:hover .textLabel {
  color: var(--secondary);
}

.textButton .icon.left {
  margin-right: var(--unit-1);
}

.textButton .icon.right {
  margin-left: var(--unit-1);
}

.textButton .icon path {
  transition: all var(--quick);
}

.textButton:hover .icon path {
  fill: var(--secondary);
}
