.playlistForm {
  display: flex;
  align-items: stretch;
}

.form {
  flex: 1 auto;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.actionsWrapper {
  margin-top: 24px;
}

.form > *:not(:last-child) {
  margin-bottom: 20px;
}

.form .description {
  height: 100%;
}
