.droppableLink {
  background-color: rgba(0, 0, 0, 0);
  transition: background 0.07s ease-in-out;
  border-radius: 6px;
  width: 100%;
  position: relative;
}

.droppableLink::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 70%;
  left: 20px;
  bottom: 0;
  opacity: 0;
  border-radius: 2px;
  background-color: var(--harmony-secondary);
  transition: opacity 0.13s ease-in-out;
}

.droppableLinkHoverTrack {
  background-color: rgba(152, 73, 214, 0.15);
}

.droppableLinkHoverPlaylist::after {
  opacity: 1;
}

.droppableLinkActive > * {
  color: var(--harmony-secondary);
}

.droppableLinkInactive > * {
  opacity: 0.6;
  cursor: not-allowed;
}
