.photo {
  position: relative;
  cursor: pointer;

  overflow: hidden;
  flex: 0 0 48px;
  height: 48px;
  border-radius: 30px;
  border: 1px solid var(--harmony-white);
  box-shadow: 0 0 1px 0 rgba(133, 129, 153, 0.5);

  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--default-profile-picture-background);
}

.linkGroup {
  margin: 0px 16px 25px;
}

.navAnchor {
  padding-top: 17px;
  border-top: 1px solid var(--harmony-n-100);
  display: block;
  text-align: center;
}

.profileCompletionContainer {
  display: flex;
  justify-content: center;
}
