.navButton {
  height: 36px;
  padding: 0 20px;
}

.navButton > .navButtonText {
  font-size: var(--font-xs);
  font-weight: var(--font-demi-bold);
  letter-spacing: 0px;
}

.createAccount > .navButtonText {
  font-weight: var(--font-bold);
  font-size: var(--font-s);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.createAccount > .navButtonText {
  margin-right: 8px !important;
}

.upload > .navButtonText {
  color: var(--neutral-light-4);
}

.upload .navButtonIcon {
  margin-right: 8px !important;
}

.upload > .navButtonIcon path {
  fill: var(--neutral-light-4);
}

.spinner {
  display: block;
  height: 16px;
  width: 16px;
}

.spinner g path {
  stroke: var(--neutral-light-4) !important;
}
