.header {
  background: var(--harmony-white);
  border-bottom: 1px solid var(--harmony-n-100);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 16px;
  min-height: 56px;
  flex-shrink: 0;
}

svg.logo.matrixLogo path {
  fill: url(#matrixHeaderGradient) !important;
}

.earlyAccess {
  font-size: 10px;
  position: absolute;
  font-weight: var(--harmony-font-bold);
  top: 34px;
  color: var(--harmony-primary);
  left: 58px;
  letter-spacing: 0.5px;
}
