.root {
  position: relative;
  margin: 20px auto 0;
  height: 208px;
  width: 208px;
}

.fadeIn {
  --border-width: 1px;
  border: var(--border-width) solid var(--currently-playing-border);
  box-shadow: 0 1px 20px -3px var(--currently-playing-default-shadow);
  border-radius: var(--unit-2);
  overflow: hidden;
  transition: opacity 0.07s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
}

.fadeIn:hover {
  opacity: 0.96;
}

.borderOffset {
  position: absolute;
  left: calc(-1 * var(--border-width));
  top: calc(-1 * var(--border-width));
}
