.wrapper {
  min-height: 40px;
  background: var(--harmony-n-25);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid var(--harmony-n-100);
  -webkit-app-region: drag;
}

.backButton,
.forwardButton {
  height: 20px;
  width: 20px;
  margin: 0 16px;
  -webkit-app-region: no-drag;

  transition: all 0.07s ease-in-out;
}

.backButton path,
.forwardButton path {
  fill: var(--harmony-n-400);
}

.forwardButton:hover {
  transform: scale(1.1);
}

.backButton:hover path,
.forwardButton:hover path {
  fill: var(--harmony-n-600);
}

.backButton:hover {
  transform: scale(1.1) rotate(180deg);
}

.backButton:active {
  transform: scale(0.95) rotate(180deg);
}

.forwardButton:active {
  transform: scale(0.95);
}

.backButton {
  transform: rotate(180deg);
}
