package pages

type NodePageView struct {
	Endpoint     string
	EthAddress   string
	CometAddress string
}

templ (p *Pages) NodePageHTML(data *NodePageView) {
	@p.layout.SiteFrame() {
		<div>Endpoint: { data.Endpoint }</div>
		<div>Eth Address: { data.EthAddress }</div>
		<div>Comet Address: { data.CometAddress }</div>
	}
}
