.content:not(.isMobile) {
  padding: 24px;
  text-align: center;
  --spacing: 24px;
}
.content.isMobile {
  --spacing: 16px;
}

.helpText {
  font-size: var(--font-s);
}

.headerText {
  color: var(--secondary);
  font-weight: var(--font-bold);
  font-size: var(--font-l);
  line-height: 20px;
  margin-bottom: var(--spacing);
  text-align: center;
  white-space: pre-line;
}

.signInInput {
  margin: 12px auto;
  max-width: 360px;
}
.continueButton {
  display: block;
  margin: var(--spacing) auto 0;
}
.isMobile .continueButton {
  width: 100%;
}

.error {
  color: var(--accent-red);
  font-weight: var(--font-demi-bold);
}
.error :global(.emoji) {
  margin-left: 4px;
}
