.button {
  height: unset !important;
  padding: 10px 0;
  border-radius: 100px;
  border: 1px solid var(--neutral-light-4);
  background: var(--white);
}
.buttonText {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--font-xs) !important;
  color: var(--neutral) !important;
  letter-spacing: unset !important;
}
.button:hover {
  transform: scale3d(1.01, 1.01, 1.01) !important;
  border: unset !important;
}
.button:active {
  transform: scale3d(0.99, 0.99, 0.99) !important;
}
.button:hover .buttonText,
.button:active .buttonText {
  color: var(--white) !important;
}
.button.primary:hover,
.button.primary:hover .buttonText {
  background: var(--primary) !important;
}
.button.primary:active,
.button.primary:active .buttonText {
  background: var(--primary-dark-2) !important;
}
.button.secondary:hover,
.button.secondary:hover .buttonText {
  background: var(--secondary-light-2) !important;
}
.button.secondary:active,
.button.secondary:active .buttonText {
  background: var(--secondary) !important;
}
