.ctaBanner {
  user-select: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.ctaBanner .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--harmony-unit-4);
  padding: var(--harmony-unit-4) 0;
}

.ctaBanner.isMobile .content {
  gap: var(--harmony-unit-2);
}

.ctaBanner .contentSelection {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.07s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  gap: var(--harmony-unit-2);
}

.ctaBanner:hover .contentSelection {
  border-bottom: 1px solid var(--white);
}

.pill {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.4);
}

.pill .pillText {
  padding-top: 1px;
  text-transform: uppercase;
  color: var(--static-white);
}

.text {
  color: var(--static-white);
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  line-height: 130%;
  text-align: center;
}

.text.small {
  font-size: var(--font-s);
}

.isMobile .text {
  font-size: var(--font-s);
}

.arrow {
  height: var(--harmony-unit-5);
  width: var(--harmony-unit-5);
  flex-shrink: 0;
}

.arrow.small {
  height: var(--harmony-unit-3);
  width: var(--harmony-unit-3);
}

.isMobile .arrow {
  height: var(--harmony-unit-4);
  width: var(--harmony-unit-4);
}

.arrow path {
  fill: var(--static-white);
}
