package pages

import (
	"github.com/AudiusProject/audius-protocol/core/console/htmlviews/layout"
	"github.com/AudiusProject/audius-protocol/core/console/types"
)

templ BlockPage(data *types.BlockPageData) {
	@layout.HeaderBar() {
		<div class="uk-card uk-card-body uk-card-default">
			<h3 class="uk-card-title">{ data.Hash }</h3>
			<p class="uk-margin">
				<div>Height: { data.Height }</div>
				<div>Hash: { data.Hash }</div>
				<div>Proposer: { data.Proposer }</div>
			</p>
		</div>
	}
}
