package pages

import "github.com/AudiusProject/audius-protocol/core/console/pages"
import "github.com/AudiusProject/audius-protocol/core/console/htmlviews/layout"

templ BlockPage(data pages.BlockPageData) {
  @layout.HeaderBar() {
    <div>Height: { data.Height }</div>
    <div>Hash: { data.Hash }</div>
    <div>Proposer: { data.Proposer }</div>
  }
}
