/**
 * Avenir font
 */
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 100;
  src: url('./AvenirNextLTPro-UltLt.otf');
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 500;
  src: url('./AvenirNextLTPro-Medium.otf');
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 600;
  src: url('./AvenirNextLTPro-Demi-Bold.otf');
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 700;
  src: url('./AvenirNextLTPro-Bold.otf');
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 900;
  src: url('./AvenirNextLTPro-Heavy.otf');
}
