.optionContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.loader {
  height: 40px;
  width: 40px;
  margin: 0 auto;
}
