.root {
  gap: var(--unit-4);
  padding: var(--unit-4) var(--unit-6);
  flex-direction: column;
  cursor: pointer;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-2);
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--unit-2);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  text-align: left;
}

.value {
  display: inline-flex;
  flex-shrink: 1;
  gap: var(--unit-2);
  flex-wrap: wrap;
}

.selectedValue {
  display: inline-flex;
  align-self: flex-start;
  padding: var(--unit-2);
  align-items: center;
  gap: var(--unit-1);
  border-radius: 2px;
  border: 1px solid var(---border-strong);
  background: var(--neutral-light-8);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
