.wrapper {
  width: 100%;
  display: flex;
}

.wrapper.horizontal {
  flex-direction: row;
  align-items: center;
}
.wrapper.horizontal .label {
  margin-right: 8px;
}

.wrapper.vertical {
  flex-direction: column;
}
.wrapper.vertical .label {
  margin-bottom: 4px;
}

.label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.dropdownInput {
  position: relative;
  width: 100%;
  text-align: left;
}

.dropdownInput > :global(.ant-select) {
  width: 100%;
  outline: none;
  height: 100%;
}

.dropdownInput > :global(.ant-select) div {
  width: 100%;
}

.wrapper.large > .dropdownInput {
  height: 50px;
}
.wrapper.medium > .dropdownInput {
  height: 34px;
}
.wrapper.small > .dropdownInput {
  height: 24px;
}
.wrapper.large > .dropdownInput > :global(.ant-select) {
  font-size: var(--harmony-font-m);
}
.wrapper.medium > .dropdownInput > :global(.ant-select) {
  font-size: var(--harmony-font-xs);
}
.wrapper.small > .dropdownInput > :global(.ant-select) {
  font-size: var(--harmony-font-xs);
}

.wrapper > .dropdownInput :global(.ant-select-selection-item),
.wrapper > .dropdownInput :global(.ant-select-selection-search) {
  height: 100%;
}
.wrapper.large > .dropdownInput :global(.ant-select-selection-item),
.wrapper.large > .dropdownInput :global(.ant-select-selection-search) {
  line-height: 48px;
}
.wrapper.medium > .dropdownInput :global(.ant-select-selection-item),
.wrapper.medium > .dropdownInput :global(.ant-select-selection-search) {
  line-height: 32px;
}
.wrapper.small > .dropdownInput :global(.ant-select-selection-item),
.wrapper.small > .dropdownInput :global(.ant-select-selection-search) {
  line-height: 22px;
}

.wrapper .dropdownInput :global(.ant-select-selection-search input) {
  height: calc(100% - 2px) !important;
  font-weight: 500;
  color: var(--harmony-neutral);
}
.wrapper.large .dropdownInput :global(.ant-select-selection-search input) {
  line-height: 48px;
}
.wrapper.medium .dropdownInput :global(.ant-select-selection-search input) {
  line-height: 32px;
}
.wrapper.small .dropdownInput :global(.ant-select-selection-search input) {
  line-height: 22px;
}

.wrapper .dropdownInput :global(.ant-select-selection-search) {
  left: 16px;
  right: 16px;
}
.wrapper .dropdownInput :global(.ant-select-selector) {
  height: 100%;
  background-color: var(--harmony-n-25);
  border: 1px solid var(--harmony-n-100) !important;
  border-radius: 4px;
  transition: border ease-in-out 0.1s;
  padding: 0 16px;
  box-shadow: none !important;
}
.alternative .dropdownInput :global(.ant-select-selector) {
  background-color: var(--harmony-white);
}

.wrapper .dropdownInput:hover :global(.ant-select-selector) {
  border-color: var(--harmony-n-200) !important;
}
.wrapper.focused .dropdownInput :global(.ant-select-selector) {
  border-color: var(--harmony-secondary) !important;
}
.wrapper.error .dropdownInput :global(.ant-select-selector) {
  border-color: var(--accent-red) !important;
}
.wrapper.error .dropdownInput :global(.ant-select-selector:hover) {
  border-color: var(--accent-red-dark-1) !important;
}
.wrapper.disabled .dropdownInput :global(.ant-select-selector) {
  background-color: var(--harmony-n-100);
  cursor: default !important;
}

.placeholder {
  height: 100%;
  color: var(--harmony-n-400);
  font-weight: 500;
}
.wrapper.large .placeholder {
  line-height: 48px;
  font-size: var(--harmony-font-m);
}
.wrapper.medium .placeholder {
  line-height: 32px;
  font-size: var(--harmony-font-xs);
}
.wrapper.small .placeholder {
  line-height: 22px;
  font-size: var(--harmony-font-xs);
}

.arrow {
  margin-right: 4px;
  cursor: pointer;
}

.arrow path {
  fill: var(--harmony-neutral);
}

.dropdownInput :global(.ant-select-selection-item) {
  opacity: 1 !important;
  position: absolute;
  /* This is pretty hacky, but we can't override display: flex here to center since
     ant relies on being able to inline style the component to display: none.
  */

  color: var(--harmony-neutral);
  font-weight: 500;
}
.wrapper.large .dropdownInput :global(.ant-select-selection-item) {
  font-size: var(--harmony-font-m);
}
.wrapper.medium .dropdownInput :global(.ant-select-selection-item) {
  font-size: var(--harmony-font-xs);
}
.wrapper.small .dropdownInput :global(.ant-select-selection-item) {
  font-size: var(--harmony-font-xs);
}

/* Dropdown */
.select {
  padding: 8px 0;
  border-radius: 6px;
}
.select:has(.footer) {
  padding-bottom: 0;
}
.select :global(.rc-virtual-list-holder-inner) {
  padding: 0 8px;
}
.select :global(.ant-select-dropdown) {
  background-color: var(--harmony-white);
  box-shadow: 0 0 2px 0 rgba(133, 129, 153, 0.3),
    0 2px 5px -2px rgba(133, 129, 153, 0.3);
  animation-duration: 0.18s;
}
.select,
.select > div {
  background: var(--harmony-white);
}
.select :global(.ant-select-dropdown) {
  z-index: var(--harmony-layer-popup);
  padding: 8px 0;
  margin-top: 4px;
  text-align: left;
  background: var(--harmony-white);
}
.select :global(.ant-select-item) {
  min-height: unset;
  text-align: left;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-medium);
  color: var(--harmony-neutral);
  transition: all ease-in-out 0.04s;
}

.select
  :global(
    .ant-select-item-option-selected:not(.ant-select-item-option-active)
  ) {
  background-color: unset;
}

.select :global(.ant-select-item-option-active),
.select
  :global(.ant-select-item-option-selected.ant-select-item-option-active) {
  background: var(--harmony-secondary);
  color: var(--darkmode-static-white);
}

.large.select :global(.ant-select-item) {
  font-size: var(--harmony-font-m);
  line-height: 28px;
  height: 32px;
}

.select .footer:global(.ant-select-item-option) {
  cursor: default;
  margin: 0 -8px;
  padding: 0px !important;
  background-color: unset;
  color: var(--harmony-neutral);
}
