.formTile {
  width: 100%;
  background-color: var(--harmony-white);

  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.basic {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 8px;
}

.preview {
  margin-right: 24px;
  padding-bottom: 16px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 8px;
  justify-content: space-between;
}

.form {
  flex: 1 auto;
  min-width: 335px;
}
.form > div {
  margin-bottom: 14px;
}
.form > div.description > .textArea > textarea {
  min-height: 90px;
}
.form > div.description {
  margin-bottom: 12px;
}
.form > div.downloadOptions {
  margin: 0;
}

.categorization {
  display: flex;
  align-items: center;
}
.categorization > div {
  flex: 1 auto;
}
.categorization > div:first-child {
  margin-right: 14px;
}

.menuButton {
  padding: 0px 10px;
}
.advancedButton {
  margin-left: 24px;
}

.remixSwitch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 24px;

  color: var(--harmony-neutral);
  font-size: var(--harmony-font-s);
  font-weight: var(--harmony-font-medium);
  letter-spacing: 0;
  line-height: 18px;
}

.remixText {
  margin-right: 4px;
}

.remixEdit {
  margin-left: 4px;
  color: var(--harmony-secondary);
  cursor: pointer;
  transition: all 0.18s ease-in-out;
}

.remixEdit:hover {
  color: var(--harmony-s-500);
}

.advanced {
  max-height: 0;
  overflow: hidden;
  padding: 0 8px;
  transition: max-height ease-in-out 0.18s, margin ease-in-out 0.18s;
}
.advanced.show {
  max-height: 800px;
  margin-top: 16px;
}
.advanced.visible {
  overflow: visible;
}
.advanced > div {
  margin-bottom: 16px;
}

.release {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--harmony-unit-6);
}

.releaseButton {
  margin-top: 18px;
}

.trackId {
  display: flex;
}
.trackId > div {
  flex: 1 auto;
}
.trackId > div:first-child {
  margin-right: 38px;
}

.divider {
  display: flex;
  align-items: center;
}
.divider > .label {
  font-weight: 500;
  line-height: 14px;
  font-size: 12px;
  margin-right: 16px;
}
.divider > .border {
  flex: 1 auto;
  border-top: 1px solid var(--harmony-n-100);
}

.licenseMenus {
  display: flex;
  justify-content: space-between;
}
.licenseMenus > div {
  width: 30%;
}

.licenseInfo {
  margin-left: 20px;
  text-align: left;
  font-size: 12px;
  line-height: 18px;
}

.children {
  margin-top: 16px;
}

.hiddenTrackButton {
  height: 35px !important;
}

.hiddenTrackButton .hiddenTrackButtonText {
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-demi-bold);
}

.error {
  border-color: var(--accent-red) !important;
}

.error:hover {
  border-color: var(--accent-red-dark-1) !important;
}

.trackAvailabilityButton .trackAvailabilityButtonText {
  font-size: var(--harmony-font-xs);
}

.datePicker {
  flex-shrink: 0;
}

.floatRight {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  margin: -8px;
}

.floatRight > * {
  margin: 8px;
}
