.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputRoot {
  display: flex;
  align-items: center;
  gap: var(--harmony-unit-2);
  padding: 0 var(--harmony-unit-4);
  border: 1px solid var(--neutral-light-8);
  border-radius: var(--harmony-unit-1);
  background-color: var(--neutral-light-10);
  transition: border ease-in-out 0.1s;
}

.small {
  --gap: -4px;
  --harmony-font-size: var(--harmony-font-s);
  height: 34px;
}

.medium {
  --gap: 0px;
  --harmony-font-size: var(--harmony-font-m);
  height: 50px;
}

.large {
  --gap: var(--harmony-unit-1);
  --harmony-font-size: var(--harmony-font-xl);
  height: 66px;
}

.root:hover {
  border-color: var(--neutral-light-6);
}

.focused {
  border-color: var(--harmony-secondary);
}

.warning,
.warning.focused {
  border-color: var(--accent-orange);
}

.error,
.error.focused {
  border-color: var(--accent-red);
}

.error:hover,
.error:hover.focused {
  border-color: var(--accent-red-dark-1);
}

.disabled {
  background-color: var(--neutral-light-9);
  border-color: var(--neutral-light-8);
}

.textInput {
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  background: none;
  font-size: var(--harmony-font-size);
  font-weight: var(--harmony-font-medium);
}

.textInput::placeholder,
.label {
  color: var(--neutral-light-4);
  font-weight: var(--harmony-font-medium);
}

.inputRow {
  width: 100%;
  justify-content: space-between;
}

.inputContainer {
  flex: 1 1 0;
}

/** 
 * Flex container so that the absolutely positioned elevated placeholder
 * starts out centered vertically
 **/
.elevatedLabel {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: var(--harmony-font-size);
}

/** Add the "*" to required fields, but have it disappear when elevated **/
.required:not(.focused) .elevatedLabel .placeholder:not(.hasValue)::after {
  content: ' *';
}

/** Push the input down a bit to make room for the elevated placeholder **/
.elevatedLabel .inputRow {
  padding-top: calc(var(--harmony-font-xs));
}

/** Position the elevated label absoutely on top of the input **/
.label {
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease;
}

/** Move the elevated label to the top left if focused or has text **/
.focused .elevatedLabel .label,
.hasValue {
  transform: translate(0px, calc(-1em - var(--gap)));
  font-size: var(--harmony-font-xs);
}

/** Make a container for the character count... **/
.characterCount {
  position: relative;
  padding-top: var(--harmony-unit-2);
  align-self: flex-start;
  color: var(--neutral-light-4);
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-bold);
}

/** ... then position the actual count absolutely relative to that **/
.characterCount span {
  position: absolute;
  right: 0;
}
