.input {
  width: 100%;
  position: relative;
  font-size: 12px;
  line-height: 14px;

  display: flex;
}
.input.horizontal {
  flex-direction: row;
  align-items: center;
}
.input.horizontal .label {
  margin-right: 8px;
}
.input.vertical {
  flex-direction: column;
}
.input.vertical .label {
  margin-bottom: 4px;
}

.label {
  font-weight: 500;
  line-height: 14px;
  white-space: nowrap;
}
