/* Tabs */
.tabs {
  border-radius: 6px;
  background-color: var(--neutral-light-7);
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--unit-3) 3px;
}

.isMobile {
  padding: var(--unit-2) 3px;
}

.tab {
  z-index: 3;
  flex: 1 1 auto;
  padding: 0px 12px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: all .07s ease-in-out;
  color: var(--neutral);
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: var(--font-demi-bold);
}

.separator {
  opacity: 1;
  width: 1px;
  background: var(--neutral-light-5);
  height: 15px;
  transition: all ease-in-out .18s;
}

.separator.invisible {
  opacity: 0;
}

.tabBackground {
  position: absolute;
  z-index: 2;
  top: 3px;
  bottom: 3px;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 2px 5px -2px rgba(106,103,122,0.5);
}

.containerFullWidth {
  width: 100%;
}

.tabFullWidth {
  flex: 1;
  text-align: center;
}
