.wrapper {
  width: 100%;
  display: flex;
  position: relative;
}

.wrapper.horizontal {
  flex-direction: row;
}
.wrapper.horizontal .label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 8px;
}

.wrapper.vertical {
  flex-direction: column;
}
.wrapper.vertical .label {
  margin-bottom: 4px;
}

.label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.tagInput {
  width: 100%;
  border: 1px solid var(--neutral-light-8);
  border-radius: 6px;
  padding: 4px 16px;
  background-color: var(--neutral-light-10);
  color: var(--neutral);
  font-weight: 500;
  gap: 8px;

  cursor: text;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  user-select: none;
  transition: border ease-in-out 0.1s;
}
.wrapper.normal > .tagInput {
  min-height: 50px;
}
.wrapper.small > .tagInput {
  min-height: 34px;
}
.wrapper.normal.horizontal .label {
  max-height: 50px;
}
.wrapper.small.horizontal .label {
  max-height: 34px;
}
.tagInput:hover {
  border-color: var(--neutral-light-6);
}
.wrapper.focused .tagInput {
  border-color: var(--secondary);
}

.flash {
  background-color: var(--white);
  color: var(--neutral);
}

.flash g path {
  fill: var(--neutral);
}

.newTagInput {
  height: 20px;
  margin: 4px;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  width: 0;
}

.activeInput {
  width: 100px;
}

.tagCount {
  position: absolute;
  right: 16px;
  bottom: 10px;
  color: var(--neutral-light-4);
  font-size: 12px;
  font-weight: 500;
}
.tagCount.nearLimit {
  color: var(--accent-orange);
  font-weight: var(--font-bold);
}
