.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--harmony-n-100);
  background-color: var(--harmony-n-25);
  border-radius: var(--harmony-unit-1);
  transition: border ease-in-out 0.1s;
}

.root.medium {
  font-size: var(--harmony-font-m);
}

.root.small {
  padding: 6px 0 6px var(--harmony-unit-2);
  font-size: var(--harmony-font-xs);
}

.root textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  border: 0;
  padding: 0;
  color: var(--harmony-neutral);
  font-weight: var(--harmony-font-medium);
  line-height: 150%;
  overflow: visible;
  caret-color: var(--harmony-secondary);
}

.root:hover textarea {
  border-color: var(--harmony-n-200);
}

/* Using .focus class since Firefox doesn't support :has() */
.root.focus {
  border-color: var(--harmony-secondary);
}

.root.error,
.root.error.focused {
  border-color: var(--harmony-red);
}

.root.error:hover,
.root.error:hover.focused {
  border-color: var(--harmony-dark-red);
}

.root textarea::placeholder {
  color: var(--harmony-n-400);
  font-weight: 500;
}

.root.noResize textarea {
  resize: none;
}

.scrollArea {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: var(--harmony-unit-1);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding: var(--harmony-unit-2) var(--harmony-unit-4);
}

.characterCount {
  color: var(--harmony-n-400);
  font-size: var(--harmony-font-xs);
  font-weight: var(--harmony-font-medium);
  align-self: flex-end;
  padding-right: var(--harmony-unit-4);
  padding-bottom: var(--harmony-unit-2);
}

.characterCount.nearLimit {
  color: var(--harmony-orange);
  font-weight: var(--harmony-font-bold);
}

.left {
  display: flex;
  position: relative;
  width: 100%;
}

textarea::selection {
  background: var(--harmony-s-500);
  color: var(--harmony-static-white);
}

textarea.transparentTextArea {
  color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.displayElementContainer {
  left: 0;
  top: 0;
  line-height: 150%;
  position: relative;
  text-align: left;
  pointer-events: none;
  overflow-wrap: anywhere;
}

.displayElementContainer::after {
  content: '.';
  opacity: 0;
  float: right;
}

.right {
  display: flex;
  align-items: flex-end;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bottomRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--harmony-unit-1);
}

.children {
  display: flex;
  align-items: center;
  overflow: visible;
}
