.modalBody {
  max-width: 720px;
  min-height: 320px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}

.textContainer {
  max-width: 378px;
  margin-right: 22px;
  line-height: 25.6px;
}

.button {
  margin-top: 72px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tierWrapper {
  width: 242px;
}
