.tierContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 241px;
  min-height: 547px;
  padding: 40px 18px 14px;
  border-radius: 16px;
  border: 2px solid var(--harmony-n-150);
  background-color: var(--harmony-n-25);
}

.tierContainer.compact {
  min-height: 320px;
  width: 100%;
}

.tierContainer.tierContainerActive {
  border: none;
  background-color: var(--harmony-white);
}

.badgeTierText {
  margin: 8px 0px;
}

.divider {
  height: 1px;
  width: 80px;
  background-color: var(--harmony-n-200);
  margin: 24px 0px;
}

.imageWrapper {
  margin-bottom: 24px;
}

.tierContainerWrapper {
  position: relative;
}

.tierContainerWrapper.tierContainerActive.compact {
  margin-top: 36px;
}

.tierContainerWrapper.compact {
  width: 100%;
}

.tierContainerWrapper.tierContainerActive {
  border-radius: 20px;
  padding: 4px;
  background-image: var(--harmony-gradient);
  box-shadow: 0px 6px 15px var(--page-header-text-shadow-color);
}
