.editableRow {
  display: flex;
  align-items: center;
}

.editableRow path {
  fill: var(--harmony-neutral);
}

.left {
  min-width: 100px;
  color: var(--harmony-neutral);
  font-size: var(--harmony-font-s);
  font-weight: var(--harmony-font-medium);
  text-align: left;
  margin-left: 16px;
  user-select: none;
}

.left.top {
  align-self: flex-start;
  margin-top: 16px;
}

.right {
  width: 100%;
  height: 100%;
  position: relative;
}

.input,
.textarea {
  color: var(--harmony-secondary);
  font-size: var(--harmony-font-s);
  font-weight: var(--harmony-font-medium);
  border: none;
  outline: none;
  width: 100%;
  padding: 0;
  background: var(--harmony-white);
}

.isDisabled .input,
.isDisabled .textArea {
  color: var(--harmony-n-500) !important;
}

.input {
  height: 40px;
}

.input.hasPrefix {
  padding-left: 12px;
}

.prefix {
  position: absolute;
  color: var(--harmony-s-500);
  font-size: var(--harmony-font-s);
  font-weight: var(--harmony-font-medium);
  top: 13px;
}

.isDisabled .prefix {
  color: var(--harmony-n-500) !important;
}

.textarea {
  padding: 16px 8px 16px 0;
  height: 96px;
  resize: none;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--harmony-n-400);
}
