/* Dropdown & submenu placement adjustment */

.dropdown:global(.ant-tooltip-placement-rightTop .ant-tooltip-content),
.dropdown:global(.ant-tooltip-placement-right .ant-tooltip-content),
.dropdown:global(.ant-tooltip-placement-rightBottom .ant-tooltip-content) {
  margin-left: -2px;
}

.dropdown:global(.ant-tooltip-placement-leftTop .ant-tooltip-content),
.dropdown:global(.ant-tooltip-placement-left .ant-tooltip-content),
.dropdown:global(.ant-tooltip-placement-leftBottom .ant-tooltip-content) {
  margin-right: -2px;
}

.dropdown:global(.ant-tooltip-placement-bottomLeft .ant-tooltip-content),
.dropdown:global(.ant-tooltip-placement-bottom .ant-tooltip-content),
.dropdown:global(.ant-tooltip-placement-bottomRight .ant-tooltip-content) {
  margin-top: -2px;
}

.dropdown:global(.ant-tooltip-placement-topRight .ant-tooltip-content),
.dropdown:global(.ant-tooltip-placement-top .ant-tooltip-content),
.dropdown:global(.ant-tooltip-placement-topLeft .ant-tooltip-content) {
  margin-bottom: -2px;
}

.subMenu:global(.ant-menu-submenu-placement-rightTop) ul,
.subMenu:global(.ant-menu-submenu-placement-right) ul,
.subMenu:global(.ant-menu-submenu-placement-rightBottom) ul {
  margin-left: -4px;
}

.subMenu:global(.ant-menu-submenu-placement-leftTop) ul,
.subMenu:global(.ant-menu-submenu-placement-left) ul,
.subMenu:global(.ant-menu-submenu-placement-leftBottom) ul {
  margin-right: -4px;
}

.subMenu:global(.ant-menu-submenu-popup) {
  background: var(--white);
}

/* Add z-index to corretly overlay submenu */
.dropdown:global(.ant-tooltip){
  z-index: 1;
  padding: 0px;
}

.dropdown:global(.ant-tooltip .ant-tooltip-inner){
  padding: 8px 0px;
}

.dropdownContainer {
  display: flex;
  user-select: none;
  width: 100%;
  height: 100%;
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  line-height: 14px;
}

/* Hide the arrows */
.dropdown :global(.ant-menu-submenu-arrow),
.dropdown :global(.ant-tooltip-arrow),
.dropdown :global(.ant-dropdown-menu-submenu-arrow) {
  display: none
}

.dropdown :global(.ant-tooltip-inner) {
  padding: 0px;
  box-shadow: none;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 0 2px 0 rgba(133,129,153,0.3), 0 2px 5px -2px rgba(133,129,153,0.3);
}

.dropdown :global(.ant-menu) {
  background: rgba(0,0,0,0);
  border: none;
}

.dropdown :global(.ant-menu:before) {
  background: red !important;
}
.dropdown :global(.ant-menu:after) {
  background: blue !important;
}

.dropdown :global(.ant-menu-item) {
  height: 24px;
  width: 176px;
  border-radius: 4px;
  transition: all ease-in-out .04s;
  line-height: 1 !important;
}

.subMenuTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iconCaretRight {
  width: 12px;
  margin-left: 4px;
}
.iconCaretRight g path {
  fill: var(--neutral);
}

/* Override the placement since antd doesn't support right alignment. */
.dropdown :global(.ant-dropdown) {
  left: 100% !important;
  top: -100% !important;
}
.subMenu :global(.ant-dropdown-menu-submenu-popup) {
  left: 100% !important;
}

.dropdown :global(.ant-dropdown),
.subMenu:global(.ant-dropdown-menu-light) {
  padding: 0px 8px;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 0 2px 0 rgba(133,129,153,0.3), 0 2px 5px -2px rgba(133,129,153,0.3);
  animation-duration: 0.18s;
}

.dropdown :global(.ant-menu-root.ant-menu-vertical),
.subMenu :global(.ant-menu-root.ant-menu-vertical) {
  box-shadow: none;
  padding: 0px 8px;
}

.subMenu :global(.ant-menu.ant-menu-sub.ant-menu-vertical) {
  padding: 8px;
  background-color: var(--white);
} 

.subMenu :global(.ant-menu-vertical .ant-menu-item:not(:last-child)) {
  margin-bottom: 0px;
}

.dropdown :global(.ant-menu-vertical > .ant-menu-item),
.subMenu :global(.ant-menu-vertical > .ant-menu-item) {
  min-width: 180px;
  padding: 0;
  border-radius: 4px;
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  color: var(--neutral);
  line-height: 16px !important;
  min-height: 24px;
  height: auto;
  white-space: normal;
  display: flex;
  align-items: center;
  margin: 0px;
}

.dropdown :global(.ant-menu-vertical .ant-menu-submenu .ant-menu-submenu-hidden) {
  display: none;
}

.dropdown :global(.ant-menu-vertical .ant-menu-submenu) {
  min-width: 180px;
  border-radius: 4px;
  line-height: 1 !important;
  height: 24px;
  display: block;
  align-items: center;
  margin: 0px;
}

.dropdown :global(.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title) {
  width: 100%;
  border-radius: 4px;
  padding: 0px;
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  color: var(--neutral);
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0px;
}

.dropdown :global(.ant-menu-vertical .ant-menu-item:not(:last-child)) {
  margin: 0px;
  width: 100%;
}

.dropdown :global(.ant-menu-submenu-title) {
  padding: 0;
  border-radius: 4px;
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  color: var(--neutral);
  transition: all ease-in-out .04s;
}
.subMenuTitle {
  height: 100%;
  width: 100%;
  padding: 0px 8px;
}

/* Prevent the antd menu background color */
.dropdown :global(.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected) {
  background-color: var(--secondary);
  color: var(--static-white);
}

.subMenu :global(.ant-menu-item) {
  border-radius: 4px;
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  color: var(--neutral);
  transition: all ease-in-out .04s;
}
.dropdown :global(.ant-menu-item:hover),
.dropdown :global(.ant-menu-submenu-title:hover),
.dropdown :global(.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title:hover),
.subMenu :global(.ant-menu-item:hover) {
  background: var(--secondary);
  color: var(--static-white);
}

.dropdown :global(.ant-menu-item:hover) path,
.subMenuTitle:hover g path {
  fill: var(--static-white);
}

.itemWrapper {
  user-select: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

/* Transition Submenu on hide to match menu */
.subMenu.hide {
  display: none;
}