.btn {
  margin: 24px 0px;
}

.btn svg {
  height: 20px;
}

.title {
  font-weight: 600;
  font-size: var(--font-m);
  line-height: 24px;
  text-align: center;
  color: var(--neutral);
  text-align: center;
  margin: 24px 0px;
  max-width: 622px;
}