.modalBody {
  max-width: 720px;
}

.modalHeader {
  font-weight: var(--font-heavy);
  color: var(--neutral-light-2);
}

.modalHeader h2 {
  color: var(--neutral-light-2);
  font-weight: var(--font-heavy);
}

.modalHeaderDismissButton {
  color: var(--neutral-light-2);
}

.modalTitleIcon path,
.modalBody .learnMoreArrow path {
  fill: var(--neutral-light-2);
}

.isRemix {
  margin-bottom: var(--unit-6);
}

.doneButtonContainer {
  display: flex;
  justify-content: center;
}

.doneButtonContainer .doneButton {
  font-size: var(--font-l);
}

.learnMoreButton {
  align-self: flex-start;
  padding: 0;
  color: var(--neutral-light-2);
}

.learnMoreArrow {
  width: var(--unit-4);
  height: var(--unit-4);
}

.innerDescription {
  display: flex;
  flex-direction: column;
  gap: var(--unit-4);
}
