.modalWrapper > div {
  width: 720px;
}

.modalHeader {
  font-weight: var(--font-heavy);
  color: var(--neutral-light-2);
}

.modalHeader h2 {
  color: var(--neutral-light-2);
  font-weight: var(--font-heavy);
}

.modalHeaderDismissButton {
  color: var(--neutral-light-2);
}

.modalTitleIcon path {
  fill: var(--neutral-light-2);
}

.section {
  display: flex;
  align-items: center;
  color: var(--neutral);
  font-size: var(--font-m);
  font-weight: var(--font-medium);
  line-height: 20px;
  transition: opacity 0.2s ease-in-out;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.sectionTitleClassname {
  font-weight: 600;
  font-size: var(--font-l);
}

.switchContainer {
  margin-left: auto;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.availabilityRowIcon {
  margin: 0 10px;
  width: 24px;
  height: 24px;
}

.availabilityRowIcon path {
  fill: var(--neutral);
}

.radioItem {
  position: relative;
  display: flex;
  align-items: start;
  padding: 24px 0;
  border-top: 1px solid var(--neutral-light-7);
}

.radioItem:first-child {
  padding-top: 0;
  border: none;
}

.radioItem::before {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  content: ' ';
  background: var(--neutral-light-6);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.selected.radioItem::before {
  background: var(--white);
  border: 6px solid var(--secondary);
}

.radioItem:hover {
  cursor: pointer;
}

.specialAccessRadioItem {
  align-items: center;
}

.specialAccessRadioItem:not(:first-child) {
  border: none;
  padding: 0;
}

.specialAccessRadioItem:last-child {
  margin-bottom: 0;
}

.specialAccessRadioItem > div {
  width: calc(100% - 32px);
  margin-left: 32px;
}

.radioInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.availabilityRowContent {
  width: calc(100% - 28px);
  margin-left: 28px;
}

.availabilityRowTitle {
  display: flex;
  margin-bottom: 8px;
  font-weight: var(--font-bold);
  font-size: 22px;
}

.availabilityRowDescription {
  font-weight: var(--font-medium);
  font-size: 18px;
  line-height: 140%;
  margin-left: 8px;
}

.availabilityRowSelection {
  margin-top: 8px;
  padding: 16px;
  background: var(--neutral-light-10);
  border: 1px solid var(--neutral-light-7);
  border-radius: 4px;
  font-weight: 600;
  font-size: var(--font-l);
}

.collectibleGated {
  padding: 0;
  margin-top: 16px;
}

.hiddenSection {
  display: flex;
}

.hiddenSection > div:last-child {
  width: 304px;
  margin-left: 12px;
}

.hiddenSection > div:first-child {
  width: 304px;
  margin-right: 12px;
}

.availabilityRowSelection > div:not(:last-child),
.availabilityRowSelection > div > div:not(:last-child) {
  margin-bottom: 12px;
}

.doneButtonContainer {
  display: flex;
  justify-content: center;
}

.doneButtonContainer .doneButton {
  font-size: var(--font-l);
}

.selected .availabilityRowTitle {
  color: var(--secondary);
}

.selected path {
  fill: var(--secondary);
}

.supportersInfo {
  margin-left: 8px;
}

.supportersInfo path {
  fill: var(--neutral-light-7);
}

.learnMore {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 16px 6px 0 8px;
  color: var(--secondary);
  font-weight: var(--font-bold);
  font-size: var(--font-s);
}

.learnMoreArrow {
  width: 16px;
  height: 16px;
}

.collectibleGated .dropdownInput:has(:global(.ant-select)) {
  height: 72px;
}

.dropdownInput :global(.ant-select-selection-item),
.dropdownInput :global(.ant-select-selection-placeholder) > div {
  display: flex;
  align-items: center;
}

.collectibleGated .dropdown :global(.ant-select-item) {
  padding: 16px;
  height: unset;
}

.dropdownRow {
  display: flex;
  align-items: center;
}

.dropdownRow > span {
  margin-left: 8px;
  font-weight: var(--font-demi-bold);
  font-size: var(--font-l);
}

:global(.ant-select-selection-item) .dropdownRow > img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

:global(.ant-select-item) .dropdownRow > img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}
