.header {
  border-bottom: 1px solid var(--neutral-light-8);
}

.lineupContainer {
  margin-top: 12px;
  padding: 0px 11px;
  min-width: 0;
  width: 100%;
}

.pageContainer {
  --tab-height: 48px;
  margin-top: var(--tab-height);
  width: 100vw;
}

.tabContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: var(--header-padding-top);
}

.tabBar {
  position: fixed;
  top: 52px;
  margin-top: 0px;
  margin-top: env(safe-area-inset-top, 0px);
  left: 0;
  right: 0;
  z-index: 1;
}

.spinner {
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

.spinner g path {
  stroke: var(--secondary) !important;
}

.noResults {
  color: var(--neutral);
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-medium);
  max-width: 305px;
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}

.noResults svg {
  height: 60px;
  width: 60px;
}

.noResults span {
  color: var(--neutral-light-4);
  font-size: var(--harmony-font-l);
}

.noResults > * {
  margin-bottom: 16px;
}
