.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.gap1 {
  gap: var(--harmony-unit-1);
}
.gap2 {
  gap: var(--harmony-unit-2);
}
.gap3 {
  gap: var(--harmony-unit-3);
}
.gap4 {
  gap: var(--harmony-unit-4);
}
.gap5 {
  gap: var(--harmony-unit-5);
}
.gap6 {
  gap: var(--harmony-unit-6);
}

.gapAuto {
  justify-content: space-between;
}
