/**
 * On-demand fonts
 * Fonts here are fetched on demand
 */

/*
 * Gilroy Font
 * Used in public site, don't want to prefetch these
 * for every DApp load.
 */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 950;
  font-display: block;
  src: url('../fonts/Gilroy-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url('../fonts/Gilroy-Heavy.woff2') format('woff2');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url('../fonts/Gilroy-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 200;
  font-display: block;
  src: url('../fonts/Gilroy-UltraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 100;
  font-display: block;
  src: url('../fonts/Gilroy-Thin.woff2') format('woff2');
}
/* End Manual Font Imports */


:root {
  --font-family: 'Avenir Next LT Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;

  --font-2xs: 10px;
  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 18px;
  --font-xl: 20px;
  --font-2xl: 24px;
  --font-3xl: 32px;
  --font-4xl: 36px;

  --font-ultra-light: 100;
  --font-regular: 400;
  --font-medium: 500;
  --font-demi-bold: 600;
  --font-bold: 700;
  --font-heavy: 900;
}