.filterContainer {
  z-index: 1;
  position: relative;
}

.filterContainer .filterInput {
  border-radius: 6px;
  height: 28px;
  border: 1px solid var(--harmony-n-200);
  background-color: var(--harmony-n-50);
}
.filterContainer .filterInput:hover {
  border: 1px solid var(--harmony-n-400);
}
