.container {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.container svg {
  height: 100%;
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container svg {
  overflow: visible;
}

.container circle {
  fill: transparent;
  stroke: #dadada;
  stroke-width: 10;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  stroke-dasharray: 283;
  stroke-dashoffset: 200;

  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-name: spin;
}
