.lineupContainer {
  margin-top: 12px;
  margin-bottom: 8px;
  padding: 0px 12px;
  min-width: 0;
  flex: 1;
}

.lineupContainer.playing {
  margin-bottom: 54px;
}

.header {
  border-bottom: 1px solid var(--harmony-n-100);
}
