.rowContainer {
  display: inline-flex;
  height: 48px;
  align-items: center;
  width: 100%;
}

.colRank {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 8px;
}

.colTotalReq {
  font-family: Avenir Next LT Pro;
  font-weight: normal;
  font-size: var(--font-m);
  text-align: right;
  color: var(--neutral);
}

.colNum {
  width: 106px;
  padding: 32px 0px 0px;
}

.colName {
  flex: 1;
}

.rowCol.colTotalReq {
  width: 166px;
  padding-right: 32px;
}