.root {
  width: 720px;
}

.content {
  display: inline-flex;
  flex-direction: column;
  gap: var(--harmony-unit-4);
}

.switchLabel {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.switchLabelText {
  font-size: var(--harmony-font-xl);
  font-weight: var(--harmony-font-bold);
}

.description {
  font-size: var(--harmony-font-l);
  font-weight: var(--harmony-font-medium);
  line-height: 150%;
}

.doneButton {
  align-self: center;
}
