.root {
  text-align: left;
}

.heading {
  display: flex;
  padding: var(--unit-4);
  gap: var(--unit-3);
  align-self: stretch;
}

.headingText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-2);
  flex: 1;
}

.caret {
  transition: transform var(--expressive) !important;
}

.caret path {
  fill: var(--neutral-light-4);
}

.caretExpanded {
  transform: rotate(180deg);
}

.title {
  font-size: var(--font-l);
  font-weight: var(--font-heavy);
  line-height: var(--unit-6);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.loading {
  height: var(--unit-10);
  width: var(--unit-10);
  width: 100%;
  margin: var(--unit-8) auto;
}

.trackDivider {
  margin-top: 0;
  margin-bottom: 0;
}

.suggestedTrack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--unit-4);
  gap: var(--unit-3);
}

.trackDetails {
  display: flex;
  align-items: center;
  gap: var(--unit-3);
}

.trackArtwork {
  height: var(--unit-10);
  width: var(--unit-10);
  border-radius: 2px;
  border: 0.5px solid var(--neutral-light-8);
}

.trackInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.trackName {
  overflow: hidden;
  color: var(--neutral);
  text-overflow: ellipsis;
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  line-height: normal;
}

.artistName {
  color: var(--neutral-light-4);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
}

.refreshButton {
  all: unset;
  cursor: pointer;
  padding-top: var(--unit-4);
  padding-bottom: var(--unit-4);
  align-self: center;
}

.refreshContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--unit-1);
  transition: transform var(--quick);
}

.refreshButton:hover .refreshContent {
  transform: var(--grow-large);
}

.refreshIcon path {
  fill: var(--neutral-light-4);
}

.refreshText {
  color: var(--neutral-light-4);
  text-align: center;
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  line-height: 16px;
  text-transform: capitalize;
}

.suggestedTrackSkeleton {
  composes: suggestedTrack;
  height: 72px;
}
