.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #F7F7F9;
  background: var(--white);
  width: 100%;
  padding: 8px;
  margin-top: 0px;
  margin-top: env(safe-area-inset-top, 0px);
}

.img {
  height: 24px;
}

.img path {
  fill: var(--neutral-light-4);
}

