.statContainer {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--font-s);
  line-height: 17px;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #BEC5E0;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 17px 4px;
}

.statLabel {
  color: #777C96;
}
