/* ===Base Styles=== */
.button {
  --button-color: var(--primary);
  --text-color: var(--static-white);
  --overlay-color: transparent;
  --overlay-opacity: 0;
  border: 1px solid var(--button-color);
  border-radius: var(--unit-1);
  color: var(--text-color);
}

/* Overlay used for hover/press styling */
.button::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color, transparent);
  opacity: var(--overlay-opacity, 0);
  pointer-events: none;
}

/* === Sizes === */

/* Small */
.buttonSmall {
  gap: var(--unit-1);
  height: var(--unit-8);
  padding: var(--unit-2) var(--unit-3);
}

.iconSmall {
  width: var(--unit-4);
  height: var(--unit-4);
}

.textSmall {
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  line-height: var(--unit-4);
  text-transform: capitalize;
}

/* Default */
.buttonDefault {
  gap: var(--unit-2);
  height: var(--unit-12);
  padding: var(--unit-3) var(--unit-6);
}

.iconDefault {
  width: var(--unit-5);
  height: var(--unit-5);
}

.textDefault {
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  line-height: calc(4.5 * var(--unit));
  text-transform: capitalize;
}

/* Large */
.buttonLarge {
  gap: var(--unit-2);
  height: var(--unit-15);
  padding: var(--unit-5) var(--unit-6);
}

.iconLarge {
  width: var(--unit-6);
  height: var(--unit-6);
}

.textLarge {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  line-height: var(--unit-5);
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

/* === Color Variants === */

/* Primary */
.primary {
  --text-color: var(--static-white);
  --button-color: var(--primary);
  background: var(--button-color);
  box-shadow: var(--shadow-near);
}

.primary:hover {
  --overlay-color: var(--static-white);
  --overlay-opacity: 0.1;
  box-shadow: var(--shadow-mid);
}

.primary:active {
  --overlay-color: var(--static-black);
  --overlay-opacity: 0.2;
  box-shadow: none;
}

/* Secondary */
.secondary {
  --button-color: var(--neutral-light-5);
  --text-color: var(--text-default);
  background: transparent;
}

.secondary:hover {
  --button-color: var(--primary);
  --text-color: var(--primary);
}
.secondary:active {
  --button-color: var(--primary-dark-2);
  --text-color: var(--primary-dark-2);
}

/* Tertiary */
.tertiary {
  --button-color: var(--border-strong);
  --text-color: var(--secondary);
  background: var(--static-white);
}
.tertiary:hover {
  --text-color: var(--secondary-light-1);
  box-shadow: var(--shadow-mid);
}
.tertiary:active {
  --overlay-color: var(--static-black);
  --overlay-opacity: 0.2;
}

/* Destructive */
.destructive {
  --button-color: var(--accent-red);
  --text-color: var(--accent-red);
  background: transparent;
}
.destructive:hover {
  --text-color: var(--static-white);
  background: var(--button-color);
}
.destructive:active {
  --button-color: var(--accent-red-dark-1);
  --text-color: var(--static-white);
  background: var(--button-color);
}

/* Ghost */
.ghost {
  --button-color: var(--neutral-light-5);
  --text-color: var(--text-default);
  background: transparent;
}
.ghost:hover {
  --button-color: var(--neutral);
}
.ghost:active {
  --button-color: var(--neutral-light-5);
  background: var(--background-surface-2);
}

/* Disabled states */
.primary.disabled {
  --button-color: var(--neutral-light-7);
  --text-color: var(--background-white);
}

/* Plain */
.plain {
  --button-color: transparent;
  --text-color: var(--neutral);
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  height: 100%;
}

.secondary.disabled,
.tertiary.disabled,
.destructive.disabled,
.ghost.disabled {
  opacity: 0.45;
}
