.button {
  cursor: pointer;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transition: all .07s ease-in-out;

  display: inline-flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}
.button:focus {
  outline: none !important;
}
.button.noIcon {
  padding-left: 32px;
  padding-right: 32px;
}
.button.large {
  height: 64px;
  width: 304px;
}
.button.medium {
  height: 48px;
}
.button.small {
  height: 32px;
}
.button.tiny {
  height: 28px;
  padding-left: 16px;
  padding-right: 16px;
}
.button.isMobile {
  width: 100%;
}
.button.medium.isMobile {
  height: 40px;
}
.button .icon svg {
  width: 16px;
}
.button.large svg {
  width: 32px;
  height: 32px;
}
.button .icon g path {
  fill: var(--neutral);
}
.button .icon.left {
  margin-right: 12px;
}
.button .icon.right {
  margin-left: 12px;
}
.button .icon {
  display: inline-flex;
  align-items: center;
}

.textLabel {
  vertical-align: middle;
  transition: all .07s ease-in-out;
}

/* Twitter Button */
.twitter {
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 5px -2px rgba(133,129,153,0.25), 0 2px 5px -2px rgba(27,161,241,0.25);
  padding: 10px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 48px;
  width: 132px;
  background-color: var(--static-twitter-blue);
}

.twitter:hover {
  transform: translateY(-1px) scale3d(1.04, 1.04, 1.04);
  background-color: #32AAF2;
  box-shadow: 0 2px 10px -2px rgba(133,129,153,0.25), 0 2px 10px -2px rgba(27,161,241,0.25);
}

.twitter:active {
  transform: translateY(0px) scale3d(0.99, 0.99, 0.99);
  background-color: #1891D9;
  box-shadow: 0 2px 3px -2px rgba(133,129,153,0.25), 0 2px 3px -2px rgba(27,161,241,0.25);
}

.twitter.verified:hover {
  transform: none;
  background-color: var(--static-white);
  box-shadow: 0 2px 5px -2px rgba(133,129,153,0.25), 0 2px 5px -2px rgba(27,161,241,0.25);
}

.twitter.verified:active {
  transform: none;
  background-color: var(--static-white);
  box-shadow: 0 2px 5px -2px rgba(133,129,153,0.25), 0 2px 5px -2px rgba(27,161,241,0.25);
}

.twitter.verified {
  height: 50px;
  width: 134px;
  border: 1px solid var(--static-twitter-blue);
  background-color: var(--static-white);
  cursor: default;
}

.twitter path {
  fill: var(--static-white)
}

.twitter.verified path {
  fill: var(--static-twitter-blue)
}

.twitter .textLabel {
  margin-left: 16px;
  color: var(--static-white);
  font-size: var(--font-m);
  font-weight: var(--font-demi-bold);
}

.twitter.large .textLabel {
  color: var(--static-white);
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  letter-spacing: 0;
}

.twitter.verified .textLabel {
  margin-left: 12px;
  color: var(--static-twitter-blue);
}

