.modalWrapper {
  height: 100%;
}

.modalBody {
  height: 100%;
  max-width: 720px;
  max-height: 720px;
}

.modalWrapper iframe {
  max-height: 100% !important;
  min-height: 720px !important;
  max-width: 100% !important;
  margin: 0 auto !important;
}
