.container {
  overflow: visible;
  width: 100vw;
  min-height: calc(100% - 41px);
  left: 0;
  right: 0;
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

/* Header Section */
.header {
  text-align: center;
  user-select: none;
  border-bottom: 1px solid var(--neutral-light-6);
  padding-bottom: 12px;
}

.title {
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  color: var(--secondary);
  margin: 24px auto 8px;
}

.subTitle {
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  line-height: 21px;
  padding: 0px 32px 16px;
}

/* Continue Button */
.continueButton {
  margin-bottom: 0px;
}

.continueButton .continueButtonText {
  font-size: var(--font-l);
  font-weight: var(--font-bold);
}

/* Card Section */
.userCard {
  margin: 0px 8px 8px;
  width: 144px !important;
  flex: 0 !important;
}

.cards.hide {
  opacity: 0;
}

.cards.show {
  transition: opacity 0.14s ease-in-out !important;
  opacity: 1;
}

.mobileButtonContainer {
  margin-bottom: 24px;
}

/* Pill Section */
.pillSection {
  flex-wrap: wrap;
  justify-content: center;
}

.pill {
  margin-bottom: 8px;
}

/* Card Section */
.cardSection {
  /* 
   * Because the bottom section is position fixed
   * add padding bottom equal to the bottom section height
   */
  padding: 16px 16px calc(148px + env(safe-area-inset-bottom, 16px));
  background-color: var(--neutral-light-9);
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pickForMe {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;

  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  letter-spacing: 0.13px;
  line-height: 18px;
  transition: all 0.07s ease-in-out;
}

.pickForMe:active {
  transform: scale(0.98);
  transform: scale(1.03);
  text-decoration: underline;
  color: var(--neutral-light-2);
}

.iconWand {
  margin-right: 8px;
  height: 20px;
  width: 20px;
}

.pickForMe:active .iconWand path {
  fill: var(--neutral-light-2);
}

/* Bottom */
.bottomSection {
  user-select: none;
  overflow: hidden;
  margin-top: 0;
  width: 100%;
  height: calc(116px + env(safe-area-inset-bottom, 16px));
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 20;
  background: var(--white);
  border-top: 1px solid var(--neutral-light-8);
  padding-top: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

/* Following Count */
.followCount {
  margin-top: 8px;
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-m);
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
}

.removeMarginTop {
  margin-top: 0px !important;
}
