.statsRow {
  display: flex;
  align-items: center;
  color: var(--harmony-n-400);
  font-weight: bold;
}

.statItem {
  display: flex;
  align-items: center;
  margin-right: 18px;
  cursor: pointer;
  transition: 0.11s all ease-in-out;
}

.statItem path {
  transition: 0.11s all ease-in-out;
}

.statItem path {
  fill: var(--harmony-n-400);
}

.statItem > span {
  color: var(--harmony-neutral);
  transition: 0.11s all ease-in-out;
}

.statItem > * {
  margin-right: 4px;
}

.statItem svg {
  position: relative;
}

.iconFavorite svg {
  height: 22px;
  width: 22px;
  top: 1px;
}

.small.statsRow {
  width: 90px;
  justify-content: space-between;
  margin: 0 auto;
}

.small.statsRow .statItem {
  margin: 0;
}

.small.statsRow span {
  font-size: var(--harmony-font-xs);
  color: var(--harmony-n-400);
}

.small.statsRow svg {
  height: 14px !important;
  width: 14px !important;
}

.small.statsRow path {
  fill: var(--harmony-n-400);
}

.statItem:hover {
  color: var(--harmony-primary) !important;
}

.statItem:hover > span {
  color: var(--harmony-primary);
}

.statItem:hover path {
  fill: var(--harmony-primary);
}
