.container {
  flex-shrink: 0;
  margin: 200px 0px 320px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  position: relative;
}

:global(#landingPage) .title {
  font-family: 'Avenir Next LT Pro' !important;
}

.title {
  color: #7e1bcc;
  font-size: 56px;
  font-weight: 900;
  line-height: 68px;
  width: 100%;
  text-align: center;
  user-select: none;
}

.subTitle {
  color: #858199;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  width: 100%;
  text-align: center;
}

.cardMoveContainer {
  user-select: none;
}

.artistsContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  width: calc(100% + 60px);
  margin: 48px 0 24px;
}

/*  Artist Component */

.artistContainer {
  display: inline-flex;
  flex-direction: column;
}

.artistImageWrapper {
  border: 2px solid var(--harmony-border-strong);
  border-radius: 50%;
  height: 192px;
  width: 192px;
  overflow: hidden;
}

.artistImage {
  height: 100%;
  width: 100%;
}

.artistName {
  color: #858199;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin: 18px auto 0px;
}

.byArtistName {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: right;
  margin-top: 4px;
}

/* Mobile */

.mobileContainer {
  overflow: hidden;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 56px 0 120px;
}

.mobileContainer .content {
  padding: 0 16px;
}

.mobileContainer .title {
  z-index: 1;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  user-select: none;
}

.mobileContainer .subTitle {
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.mobileContainer .artistsContainer {
  width: 100%;
}

.mobileContainer .artistCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileContainer .artistImageWrapper {
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
}

.mobileContainer .artistName {
  margin: 0px auto;
}
