.container {
  display: inline-block;
  position: relative;
}

.defaultCompletionIcon {
  height: 12px;
  width: 12px;
  border: 2px solid var(--harmony-neutral);
  border-radius: 50%;
}

.completionIcon {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 16px;
  height: 1px;

  border-radius: 50%;
}

.emptyCompletionIcon {
  height: 18px;
  width: 18px;
}
.checkIcon,
.removeIcon {
  z-index: 15;
}

.checkIcon > svg path,
.removeIcon > svg path {
  fill: var(--harmony-white);
}
