.skeletonContainer {
  width: 100%;
  display: flex;
  align-items: center;
}
.skeleton {
  height: 32px;
  border-radius: 8px;
}
.skeleton:nth-child(1) {
  height: 40px;
}
.skeleton:nth-child(2) {
  margin-left: 8px;
}
.skeleton:nth-child(3) {
  margin-left: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 6px 10px;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0px 2px 5px var(--tile-shadow-3), 0px 1px 0px var(--tile-shadow-2),
    0px 0px 1px var(--tile-shadow-1);
}

.usersContainer {
  display: flex;
  align-items: center;
  font-size: var(--font-s);
}
.profilePicture {
  cursor: pointer;
}
.name {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-weight: var(--font-bold);
  color: var(--neutral);
  white-space: nowrap;
}
.name > span:hover {
  cursor: pointer;
  color: var(--primary);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--primary-light-2);
  text-decoration-color: var(--primary-light-2);
}
.badge {
  height: 12px;
  margin-left: 4px;
}

.wasTippedByContainer {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.wasTippedByIcon {
  width: 14px;
  height: 14px;
}
.wasTippedByIcon path {
  fill: var(--neutral-light-4);
}
.wasTippedByText {
  margin-left: 6px;
  color: var(--neutral-light-4);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.tippers {
  display: flex;
  margin-left: 4px;
  color: var(--neutral);
}
.tippers:hover {
  cursor: pointer;
  color: var(--primary);
}
.tipperName {
  display: flex;
  align-items: center;
  font-weight: var(--font-medium);
}
.tipperSeparator {
  margin: 0 4px;
}
.andOthers {
  margin-left: 4px;
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.buttons {
  display: flex;
  align-items: center;
}

.sendTipButton {
  height: unset !important;
  margin-left: 8px;
  padding: 10px 0;
  border-radius: 100px;
  border: 1px solid var(--neutral-light-4);
  background: var(--white);
}
.sendTipButtonText {
  display: flex;
  align-items: center;
  font-weight: var(--font-bold);
  font-size: var(--font-xs);
  color: var(--neutral-light-4);
  text-transform: uppercase;
}
.sendTipButton:hover {
  transform: scale3d(1.01, 1.01, 1.01) !important;
  border: unset;
}
.sendTipButton:active {
  transform: scale3d(0.99, 0.99, 0.99) !important;
}
.sendTipButton:hover .sendTipButtonText,
.sendTipButton:active .sendTipButtonText {
  color: var(--white);
}
.sendTipButton:active,
.sendTipButton:active .sendTipButtonText {
  background: var(--primary-dark-2) !important;
}
.sendTipName {
  margin-left: 2.5px;
  max-width: 302px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dismissButton {
  margin-left: var(--unit-2);
  transform: scale3d(1, 1, 1);
  transition: all 0.07s ease-in-out !important;
}

.dismissButton:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.dismissButton:active {
  transform: scale3d(0.95, 0.95, 0.95);
}

.dismissIcon {
  width: var(--unit-8);
  height: var(--unit-8);
}

.dismissIcon path {
  fill: var(--neutral-light-4);
}
