/* These classes map to the Harmony typography styles. They are organized into category+size variants
 * (ex. titleXl). Using a variant on its own will apply the 'Default' font weight.
 * Some categories have additional weight variants ('Light' or 'Strong'). Those
 * can be applied _in addition_ to the base class when needed.
 * Example usage:
 ```
 import cn from 'classnames'
 import typeStyles from 'components/typography/typograph.module.css'

 export const Component = () => (
    <>
      <p className={cn(typeStyles.title, typeStyles.titleM)}>
        I am the title in a default weight
      </p>
      <p className={cn(typeStyles.body, typeStyles.bodyM, typeStyles.bodyStrong)}>
        I am the body copy and I am bold and important!
      </p>
    </>
 ```
*/

.text {
  position: relative;
  box-sizing: border-box;
  font-family: var(--harmony-font-family);
}

/* --- Color Classes --- */
.colorHeading {
  color: var(--harmony-secondary);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: var(--harmony-gradient);
}

.colorDefault {
  color: var(--harmony-text-default);
}

.colorSubdued {
  color: var(--harmony-text-subdued);
}

.colorDisabled {
  color: var(--harmony-text-disabled);
}

.colorDanger {
  color: var(--harmony-red);
}

.colorWarning {
  color: var(--harmony-orange);
}

/* --- Display Styles --- */
.display {
  font-weight: var(--harmony-font-bold);
}

.displayStrong {
  font-weight: var(--harmony-font-heavy);
}

/* 96 / 120 */
.displayXl {
  font-size: var(--harmony-font-9xl);
  line-height: var(--harmony-line-height-6xl);
}

/* 72 / 88 */
.displayL {
  font-size: var(--harmony-font-8xl);
  line-height: var(--harmony-line-height-5xl);
}

/* 56 / 68 */
.displayM {
  font-size: var(--harmony-font-7xl);
  line-height: var(--harmony-line-height-4xl);
}

/* 42 / 52 */
.displayS {
  font-size: var(--harmony-font-6xl);
  line-height: var(--harmony-line-height-3xl);
}

/* --- Heading Styles --- */
.heading {
  font-weight: var(--harmony-font-bold);
}

.headingStrong {
  font-weight: var(--harmony-font-heavy);
}

/* 36 / 40 */
.headingXl {
  font-size: var(--harmony-font-5xl);
  line-height: var(--harmony-line-height-2xl);
}

/* 28 / 32 */
.headingL {
  font-size: var(--harmony-font-3xl);
  line-height: var(--harmony-line-height-xl);
}

/* 24 / 32 */
.headingM {
  font-size: var(--harmony-font-2xl);
  line-height: var(--harmony-line-height-xl);
}

/* 20 / 24 */
.headingS {
  font-size: var(--harmony-font-xl);
  line-height: var(--harmony-line-height-l);
}

/* --- Title Styles --- */
.title {
  font-weight: var(--harmony-font-bold);
}

.titleStrong {
  font-weight: var(--harmony-font-heavy);
}

.titleWeak {
  font-weight: var(--harmony-font-demi-bold);
}

/* 18 / 24 */
.titleL {
  font-size: var(--harmony-font-l);
  line-height: var(--harmony-line-height-l);
}

/* 16 / 20 */
.titleM {
  font-size: var(--harmony-font-m);
  line-height: var(--harmony-line-height-m);
}

/* 14 / 16 */
.titleS {
  font-size: var(--harmony-font-s);
  line-height: var(--harmony-line-height-s);
}

/* 12 / 16 */
.titleXs {
  font-size: var(--harmony-font-xs);
  line-height: var(--harmony-line-height-s);
}

/* --- Label Styles --- */
.label {
  font-weight: var(--harmony-font-bold);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.labelStrong {
  font-weight: var(--harmony-font-heavy);
}

.labelWeak {
  font-weight: var(--harmony-font-medium);
}

/* 20 / 24 */
.labelXl {
  font-size: var(--harmony-font-xl);
  line-height: var(--harmony-line-height-l);
}

/* 16 / 16 */
.labelL {
  font-size: var(--harmony-font-m);
  line-height: var(--harmony-line-height-s);
}

/* 14 / 16 */
.labelM {
  font-size: var(--harmony-font-s);
  line-height: var(--harmony-line-height-s);
}

/* 12 /12 */
.labelS {
  font-size: var(--harmony-font-xs);
  line-height: var(--harmony-line-height-xs);
}

/* 10 / 12 */
.labelXs {
  font-size: var(--harmony-font-2xs);
  line-height: var(--harmony-line-height-xs);
}

/* --- Body Styles --- */
.body {
  font-weight: var(--harmony-font-medium);
}

.bodyStrong {
  font-weight: var(--harmony-font-demi-bold);
}

.bodyWeak {
  font-weight: var(--harmony-font-regular);
}

/* 18 / 24 */
.bodyL {
  font-size: var(--harmony-font-l);
  line-height: var(--harmony-line-height-l);
}

/* 16 / 20 */
.bodyM {
  font-size: var(--harmony-font-m);
  line-height: var(--harmony-line-height-m);
}

/* 14 / 20 */
.bodyS {
  font-size: var(--harmony-font-s);
  line-height: var(--harmony-line-height-m);
}

/* 12 / 16 */
.bodyXs {
  font-size: var(--harmony-font-xs);
  line-height: var(--harmony-line-height-s);
}

/* --- Special Styles --- */
.link {
  color: var(--harmony-focus);
}

.link:hover {
  color: var(--harmony-focus);
  text-decoration: underline !important;
}
