.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 161px;
}

.header h2 {
  margin: unset;
}

.headerPrimary {
  display: flex;
  align-items: center;
}

.iconRobot {
  margin-right: 12px;
  height: var(--harmony-unit-8);
  width: var(--harmony-unit-8);
}

.iconRobot path {
  fill: url(#linearGradient-1);
}

.matrix path {
  fill: url(#matrixHeaderGradient);
}

.headerSecondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--harmony-neutral);
  font-size: var(--harmony-font-xl);
  font-weight: var(--harmony-font-medium);
  letter-spacing: 0.71px;
  line-height: 25px;
}

.headerSecondary .iconVerified {
  margin-left: 4px;
}

.headerSecondary .link {
  cursor: pointer;
  margin: 0px 4px;
  color: var(--harmony-secondary);
  transition: all 0.18s ease-in-out;
  display: flex;
  align-items: center;
}

.headerSecondary .link:hover {
  color: var(--harmony-s-500);
  text-decoration: underline;
}
