.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--unit-2);
}

.title {
  color: var(--neutral);
  font-family: Avenir Next LT Pro;
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  line-height: 20px;
}

.description {
  color: var(--neutral);
  font-size: var(--font-m);
  font-weight: var(--font-medium);
  line-height: 130%;
}

.switch :global(label) {
  width: 48px;
  height: 26px;
}
