.container {
  width: 100%;
  padding: 24px 44px 42px;
}

.searchBar {
  height: 54px;
}

.searchIcon {
  position: absolute;
  right: 2px;
}

.genreButton {
  background-color: rgba(1, 1, 1, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  color: var(--harmony-neutral);
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-demi-bold);
  border: 1px solid var(--neutral-light-2);
  border-radius: 12px;
  transition: all 0.25s;
  margin-bottom: 10px;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.1s ease-in-out;
}

.genreButton:active {
  transform: scale(0.9);
  transition: all 0s ease;
}

:not(.isMobile).genreButton:hover {
  background-color: var(--harmony-s-100);
  color: var(--harmony-static-white);
  border: 1px solid var(--harmony-s-100);
}

.genreButton.selected {
  background-color: var(--harmony-secondary);
  border: 1px solid var(--harmony-secondary);
  color: var(--darkmode-static-white);
  transform: scale(1);
  transition: all 0.1s ease-in-out;
}
