.container {
  width: 100%;
  display: flex;
  border-radius: 8px;
  padding: 9px 34px;
  align-items: center;
  background: var(--page-header-gradient);
  color: var(--static-white);
  align-items: center;
  transition: all 180ms;
  cursor: pointer;
  transform: scale3d(1, 1, 1);
}

.container:hover {
  transform: scale3d(1.01, 1.01, 1.01);
}

.container:active {
  transform: scale3d(0.99, 0.99, 0.99);
}

.container.mobile {
  flex-direction: column;
}

.container path {
  fill: var(--static-white);
}

.rewardsText {
  font-size: var(--harmony-font-xl);
  font-weight: var(--harmony-font-heavy);
  margin-right: auto;
  display: flex;
  align-items: center;
}

.iconCrown {
  position: relative;
  margin-right: 5px;
}

.iconCrown svg {
  width: var(--harmony-unit-5);
  height: var(--harmony-unit-5);
}

.rewardsText.mobile {
  margin-right: unset;
  margin-bottom: 8px;
}

.descriptionText {
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-bold);
  white-space: nowrap;
}

.learnMore {
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-bold);
  margin-left: auto;
  display: flex;
  align-items: center;
}
