.link {
  color: var(--secondary);
  font-weight: var(--font-demi-bold);
  line-height: 21px;
  margin-left: var(--unit-1);
  margin-right: var(--unit-1);
}

.link:hover {
  color: var(--secondary);
  text-decoration: underline !important;
}
