.container {
  position: absolute;
  bottom: 300px;
  right: 30px;
  min-height: 200px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 0;
  background-color: var(--harmony-white);
  display: flex;
  flex-direction: column;
  padding: 8px;
  text-align: center;
  border: 1px solid var(--harmony-n-200);
}

.current {
  margin-bottom: 16px;
  font-weight: var(--harmony-font-medium);
}

.title {
  font-size: var(--harmony-font-large);
  font-weight: var(--harmony-font-bold);
  width: 100%;
  margin: 10px 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.inputContainer input {
  width: 80%;
  padding: 4px;
  margin-bottom: 10px;
  border: 2px solid var(--harmony-n-150);
}

.success {
  color: var(--harmony-secondary);
}

.error {
  color: red;
}
