.header {
  margin: 0px 8px;
  padding: 8px 0px;
  height: 48px;
  border-bottom: 1px solid var(--neutral-light-7);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.iconRemove {
  position: absolute;
  left: 0;
  top: 8px;
  cursor: pointer;
  height: 32px;
  width: 32px;
  padding-left: 2px;
  transition: all ease-in-out .07s;
}

.iconRemove g path {
  fill: var(--neutral-light-4);
}

.title {
  margin: 0 auto;
  color: var(--neutral-light-4);
  font-size: var(--font-l);
  font-weight: var(--font-heavy);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  justify-self: center;
}


.scrollable {
  min-height: 0;
  max-height: 600px;
  height: 100%;
  overflow-y: auto;
  padding: 0 11px;
  overflow-x: hidden;
}

.scrollable :global(.simplebar-scrollbar) {
  width: 6px;
  border-radius: 4px;
  opacity: 0.5;
}

.scrollable :global(.simplebar-scrollbar:before) {
  width: 6px;
}

.user {
  padding: 14px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loadingAnimation {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: none;
}

.loadingAnimation.show {
  opacity: 1;
  display: block;
}

.loadingAnimation > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingAnimation svg {
  max-height: 24px;
  max-width: 24px;
}

.loadingAnimation g path {
  stroke: var(--neutral-light-3) !important;
}

.followButton {
  flex: 0 0 82px;
}

.artistChipContainer :global(.name) {
	color: #858199;
	font-family: "Avenir Next LT Pro";
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
  margin-bottom: 8px;
}

.artistChipContainer :global(.followers) {
	width: 104px;
	color: #858199;
	font-family: "Avenir Next LT Pro";
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
}

.modalBody {
  max-height: 80vh;
}