.proposal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 18px 20px;
  border-top: 1px solid var(--neutral-light-8);
  cursor: pointer;
}

.left {
  width: 100%;
  margin-bottom: 24px;
}

.right {
  width: 100%;
}

