.root {
  background-color: var(--white);
}

.form {
  margin: var(--unit-4);
  padding: var(--unit-2) var(--unit-4);
}

.icon {
  width: 1.5em;
  height: 1.5em;
}

.icon g path {
  fill: var(--primary);
}

.icon:hover g path {
  fill: var(--secondary);
}
