.root {
  background-color: var(--white);
}

.form {
  margin: var(--unit-4);
  padding: var(--unit-2) var(--unit-4);
}

.icon {
  width: 1.5em;
  height: 1.5em;
  display: block; /* Prevent descender space */
}

.icon path {
  fill: var(--primary);
}

button.sendButton {
  display: block; /* Prevent descender space */
}

.sendButton:not(:disabled) .icon:hover path {
  fill: var(--secondary);
}
