.container {
  display: flex;
  flex-direction: column;
}

.hideTracksSection {
  border-bottom: 1px solid var(--harmony-n-200);
  padding: 8px 0px;
  margin-bottom: 8px;
}

.modalBodyStyle {
  max-width: 404px;
  padding-bottom: 24px;
}

.section {
  margin: 8px 0px;
  display: flex;
  align-items: center;
  color: var(--harmony-neutral);
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-medium);
  line-height: 20px;
  transition: opacity 0.2s ease-in-out;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.disabledSection {
  opacity: 0.5;
}

.switchContainer {
  margin-left: auto;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.modalTitleStyle {
  font-size: var(--harmony-font-l);
  line-height: 23px;
  letter-spacing: 0.5px;
  font-weight: var(--harmony-font-heavy);
  color: var(--harmony-n-400);
}
