.inputContainer {
  padding: var(--harmony-unit-4);

  border-radius: 8px;
  border: 1px solid var(--harmony-border-strong);
  background: var(--harmony-bg-surface-1);
}

.inputRoot {
  background: var(--harmony-bg-white);
}
