.datePickerField {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 34px;
  width: 300px;
}

.label {
  color: var(--neutral-light-4);
  font-size: var(--font-s);
  line-height: 14px;
  margin-bottom: var(--harmony-unit-1);
}

.iconCalendar {
  height: 20px;
  width: 20px;
  margin-right: var(--harmony-unit-4);
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.displayValue {
  font-weight: var(--font-medium);
  font-size: var(--font-l);
  line-height: 18px;
}

.datePickerField :global(.SingleDatePicker_picker) {
  top: -110px !important;
  left: 128px !important;
}

.datePickerField :global(.DateInput_fang) {
  display: none;
}

/* New Styles for date picker */
:global(.CalendarMonth_caption) {
  color: var(--neutral);
  text-align: center;
  font-family: Avenir Next LT Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: var(--font-demi-bold);
}

:global(.CalendarDay) {
  font-family: var(--font-family);
  line-height: 38px;
  color: var(--neutral);
  font-size: var(--font-s);
  font-weight: var(--font-demi-bold);
  border: 1px solid var(--border-strong);
  background: #fff;
}

:global(.CalendarDay):hover {
  background: var(--neutral-light-8);
}

:global(.CalendarDay__selected) {
  background-color: var(--secondary);
  color: var(--static-white);
  border: 1px solid var(--border-strong);
}

:global(.CalendarDay__selected):hover {
  background-color: var(--secondary);
  color: var(--static-white);
  border: 1px solid var(--border-strong);
}

:global(.CalendarDay__blocked_out_of_range) {
  color: var(--neutral-light-7);
}

:global(.CalendarDay__blocked_out_of_range):hover {
  color: var(--neutral-light-7);
  background: #fff;
}

:global(.DayPicker_weekHeader) {
  top: 58px;
}

:global(.DayPickerNavigation_button__horizontalDefault) {
  padding: 2px 16px;
}

:global(.CalendarMonth_caption) {
  padding-bottom: 40px;
}

:global(.DayPickerNavigation_svg__horizontal) path {
  stroke-width: 64px;
  stroke: var(--neutral);
}
