/* Form display component */
.previewTile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--harmony-unit-4) var(--harmony-unit-6);
  gap: var(--harmony-unit-4);

  border: 1px solid var(--harmony-border-default);
  border-radius: 8px;
}

/* Modal styles */
.root {
  width: 720px;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.modalTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: var(--harmony-font-heavy);
  font-size: var(--harmony-font-xl);
  line-height: 25px;

  text-align: center;
  text-transform: uppercase;

  color: var(--harmony-n-600);
}

.modalTitle :global(*) {
  color: var(--harmony-n-600);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.caret {
  color: var(--harmony-n-400);
  height: 14px;
  width: 14px;
}
