.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title {
  line-height: 20px;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-2);
}

.valueDisplay {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  background: var(--neutral-light-8);
  border: 1px solid var(--border-strong);
  border-radius: 2px;
  margin-top: var(--unit-2);
  gap: var(--unit-2);

  font-family: 'Avenir Next LT Pro';
  font-weight: var(--font-demi-bold);
  font-size: var(--font-m);
  line-height: 20px;
  text-transform: uppercase;
}

.calendarIcon {
  height: 14px;
  width: 14px;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.modalHeading {
  margin-bottom: var(--unit-2);
}

.titleIcon {
  height: 18px;
  width: 18px;
}

.datePicker {
  background-color: var(--neutral-light-10);
  border: 1px solid var(--neutral-light-9);
  border-radius: 4px;
  width: 100%;
  padding: var(--unit-3) var(--unit-4);
  transition: border ease-in-out 0.1s;
}

.datePicker:hover {
  border: 1px solid var(--neutral-light-6);
}

.datePicker:focus-within {
  border: 1px solid var(--secondary);
}

.datePicker :global(.DateInput_input) {
  background-color: var(--neutral-light-10);
  border: none;
  color: var(--neutral);
  font-weight: var(--font-medium);
  font-size: var(--font-l);
  line-height: 18px;
  width: 100%;
  padding: 0;
}

.releaseDateTimePicker {
  align-items: flex-start;
  height: auto;
}
.hourInput {
  height: 60px !important;
}

.meridianDropdownInput {
  height: 60px !important;
}

.releaseDateHint {
  padding: 0;
}
.meridianDropdownInput :global(.ant-select-selection-item) {
  display: flex;
  align-items: center;
}
