.stemFilesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 24px;
}

.modalContainer {
  max-width: 536px;
  /* Need to account for the dropdown outside modal */
  overflow-y: visible !important;
  overflow-x: visible !important;
  display: flex;
  flex-direction: column;
}

.dropzoneTitle {
  font-size: var(--harmony-font-l);
  font-weight: var(--harmony-font-heavy);
  color: var(--harmony-n-400);
}

.dropZone {
  min-height: 175px;
  margin-bottom: 8px;
  box-shadow: none;
  margin-top: 16px;
  padding: var(--harmony-unit-6);
  background: var(--harmony-bg-surface-1);
  border: 1px solid var(--harmony-border-default);
}

.dropzoneMessage {
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-medium);
}

.dropzoneIcon {
  margin: 24px;
  height: 48px;
  width: 48px;
}

.dropzoneIcon g path {
  fill: var(--harmony-n-400);
}

.deleteButton {
  margin-left: auto;
  margin-right: 22px;
  height: 20px;
  width: 20px;
}

.dropdownContainer {
  width: 242px;
  margin-right: 16px;
}

.dropdownText {
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-medium);
}

.dropzoneDisabled {
  color: var(--harmony-n-400);
  cursor: auto !important;
}

.dropzoneDisabled path {
  fill: var(--harmony-n-400) !important;
}

.stemPreview {
  padding-top: var(--harmony-unit-2);
  padding-bottom: var(--harmony-unit-2);
  border-top: none;
  border-bottom: 1px solid var(--harmony-border-default);
}
.stemPreview:last-child {
  border-bottom: none;
}
.stemPreview:hover {
  background: var(--harmony-bg-surface-1);
  border-top: none;
}
