.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-4);
}

.switch :global(label) {
  width: 48px;
  height: 26px;
}
