/**
 * Audius Animation Options
 *
 * In order to provider consistent animations durations and
 * easings across the app, prefer using predefined values.
 */

:root,
root {
  --harmony-quick: 0.07s ease-in-out;
  --harmony-expressive: 0.18s ease-in-out;
  --harmony-hover: 0.14s cubic-bezier(0.44, 0, 0.56, 1);
  --harmony-press: 0.1s cubic-bezier(0.44, 0, 0.56, 1);
  --harmony-calm: 0.5s ease-in-out;
}
