/**
 * Audius Border-Radius Options
 *
 */
:root,
root {
  --border-radius-xs: 2px;
  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 12px;
  --border-radius-xl: 16px;
  --border-radius-2xl: 320px;
}
