/**
 * Audius Color Palette
 */

/* Theme Color Definitions */
:root {
  /* Static Colors */
  --harmony-static-white: #FFFFFF;
  --harmony-static-black: #000000;
  --harmony-static-primary: #CC0FE0;

  /* Default Theme (Day Theme) */
  /* Primary Colors */
  --harmony-primary: #CC0FE0;
  --harmony-p-100: #D63FE6;
  --harmony-p-200: #D127E3;
  --harmony-p-300: #CC0FE0;
  --harmony-p-400: #B80ECA;
  --harmony-p-500: #A30CB3;

  /* Secondary Colors */
  --harmony-secondary: #7E1BCC;
  --harmony-s-100: #9849D6;
  --harmony-s-200: #8B32D1;
  --harmony-s-300: #7E1BCC;
  --harmony-s-400: #7118B8;
  --harmony-s-500: #6516A3;

  /* Neutral Colors */
  --harmony-neutral: #858199;
  --harmony-n-25: #FCFCFC;
  --harmony-n-50: #F7F7F9;
  --harmony-n-100: #F2F2F4;
  --harmony-n-150: #E7E6EB;
  --harmony-n-200: #DAD9E0;
  --harmony-n-300: #CECDD6;
  --harmony-n-400: #C2C0CC;
  --harmony-n-500: #B6B3C2;
  --harmony-n-600: #AAA7B8;
  --harmony-n-700: #9D9AAD;
  --harmony-n-800: #858199;
  --harmony-n-900: #78748A;
  --harmony-n-950: #6A677A;

  /* Special Colors */
  --harmony-white: #FFFFFF;
  --harmony-background: #F3F0F7;
  --harmony-blue: #1BA1F1;
  --harmony-orange: #FF9400;
  --harmony-red: #D0021B;
  --harmony-dark-red: #BB0218;
  --harmony-green: #0F9E48;
  --harmony-light-green: #13C65A;
  --harmony-gradient: linear-gradient(315deg, #5B23E1 0%, #A22FEB 100%);
}

/* Day Theme */
html[data-theme='day'] {
  /* Primary Colors */
  --harmony-primary: #CC0FE0;
  --harmony-p-100: #D63FE6;
  --harmony-p-200: #D127E3;
  --harmony-p-300: #CC0FE0;
  --harmony-p-400: #B80ECA;
  --harmony-p-500: #A30CB3;

  /* Secondary Colors */
  --harmony-secondary: #7E1BCC;
  --harmony-s-100: #9849D6;
  --harmony-s-200: #8B32D1;
  --harmony-s-300: #7E1BCC;
  --harmony-s-400: #7118B8;
  --harmony-s-500: #6516A3;

  /* Neutral Colors */
  --harmony-neutral: #858199;
  --harmony-n-25: #FCFCFC;
  --harmony-n-50: #F7F7F9;
  --harmony-n-100: #F2F2F4;
  --harmony-n-150: #E7E6EB;
  --harmony-n-200: #DAD9E0;
  --harmony-n-300: #CECDD6;
  --harmony-n-400: #C2C0CC;
  --harmony-n-500: #B6B3C2;
  --harmony-n-600: #AAA7B8;
  --harmony-n-700: #9D9AAD;
  --harmony-n-800: #858199;
  --harmony-n-900: #78748A;
  --harmony-n-950: #6A677A;

  /* Special Colors */
  --harmony-white: #FFFFFF;
  --harmony-background: #F3F0F7;
  --harmony-blue: #1BA1F1;
  --harmony-orange: #FF9400;
  --harmony-red: #D0021B;
  --harmony-dark-red: #BB0218;
  --harmony-green: #0F9E48;
  --harmony-light-green: #13C65A;
  --harmony-gradient: linear-gradient(315deg, #5B23E1 0%, #A22FEB 100%);
}

/* Dark Theme */
html[data-theme='dark'] {
  /* Primary Colors */
  --harmony-primary: #C74BD3;
  --harmony-p-100: #A945B9;
  --harmony-p-200: #B748C6;
  --harmony-p-300: #C74BD3;
  --harmony-p-400: #C556D4;
  --harmony-p-500: #C563D6;

  /* Secondary Colors */
  --harmony-secondary: #9147CC;
  --harmony-s-100: #7440A4;
  --harmony-s-200: #8244B8;
  --harmony-s-300: #9147CC;
  --harmony-s-400: #975ACD;
  --harmony-s-500: #9A60CF;

  /* Neutral Colors */
  --harmony-neutral: #BEC5E0;
  --harmony-n-25: #35364F;
  --harmony-n-50: #393A54;
  --harmony-n-100: #3F415B;
  --harmony-n-150: #4E4F6A;
  --harmony-n-200: #5A5E78;
  --harmony-n-300: #696D88;
  --harmony-n-400: #777C96;
  --harmony-n-500: #868AA4;
  --harmony-n-600: #9399B3;
  --harmony-n-700: #A2A8C2;
  --harmony-n-800: #BEC5E0;
  --harmony-n-900: #CFD5EC;
  --harmony-n-950: #D9DEF1;

  /* Special Colors */
  --harmony-white: #32334D;
  --harmony-background: #242438;
  --harmony-blue: #58B9F4;
  --harmony-orange: #EFA947;
  --harmony-red: #F9344C;
  --harmony-dark-red: #C43047;
  --harmony-green: #6CDF44;
  --harmony-light-green: #13C65A;
  --harmony-gradient: linear-gradient(315deg, #7652CC 0%, #B05CE6 100%);
}

/* Matrix Theme */
html[data-theme='matrix'] {
  /* Primary Colors */
  --harmony-primary: #0CF10C;
  --harmony-p-100: #0CF10C;
  --harmony-p-200: #0CF10C;
  --harmony-p-300: #0CF10C;
  --harmony-p-400: #0CF10C;
  --harmony-p-500: #0CF10C;

  /* Secondary Colors */
  --harmony-secondary: #184F17;
  --harmony-s-100: #184F17;
  --harmony-s-200: #184F17;
  --harmony-s-300: #184F17;
  --harmony-s-400: #184F17;
  --harmony-s-500: #184F17;

  /* Neutral Colors */
  --harmony-neutral: #21B404;
  --harmony-n-25: #1D211B;
  --harmony-n-50: #202A1D;
  --harmony-n-100: #1A2F15;
  --harmony-n-150: #1B3714;
  --harmony-n-200: #1C5610;
  --harmony-n-300: #1D5E0F;
  --harmony-n-400: #1D660E;
  --harmony-n-500: #1F850A;
  --harmony-n-600: #1F9508;
  --harmony-n-700: #20A406;
  --harmony-n-800: #21B404;
  --harmony-n-900: #21B404;
  --harmony-n-950: #21B404;

  /* Special Colors */
  --harmony-white: #1F211F;
  --harmony-background: #191818;
  --harmony-blue: #58B9F4;
  --harmony-orange: #EFA947;
  --harmony-red: #F9344C;
  --harmony-dark-red: #C43047;
  --harmony-green: #6CDF44;
  --harmony-light-green: #13C65A;
  --harmony-gradient: linear-gradient(315deg, #7652CC 0%, #B05CE6 100%);
}
