/**
 * Audius Type System
 *
 * When using, ensure that the Avenir Next LT Pro font-face is available.
 */
:root,
root {
  --harmony-font-family: 'Avenir Next LT Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  /* Font Sizes */
  --harmony-font-2xs: 10px;
  --harmony-font-xs: 12px;
  --harmony-font-s: 14px;
  --harmony-font-m: 16px;
  --harmony-font-l: 18px;
  --harmony-font-xl: 20px;
  --harmony-font-2xl: 24px;
  --harmony-font-3xl: 28px;
  --harmony-font-4xl: 32px;
  --harmony-font-5xl: 36px;
  --harmony-font-6xl: 42px;
  --harmony-font-7xl: 56px;
  --harmony-font-8xl: 72px;
  --harmony-font-9xl: 96px;

  /* Line Heights */
  --harmony-line-height-xs: 12px;
  --harmony-line-height-s: 16px;
  --harmony-line-height-m: 20px;
  --harmony-line-height-l: 24px;
  --harmony-line-height-xl: 32px;
  --harmony-line-height-2xl: 40px;
  --harmony-line-height-3xl: 52px;
  --harmony-line-height-4xl: 68px;
  --harmony-line-height-5xl: 88px;
  --harmony-line-height-6xl: 120px;

  /* Font Weights */
  --harmony-font-ultra-light: 100;
  --harmony-font-regular: 400;
  --harmony-font-medium: 500;
  --harmony-font-demi-bold: 600;
  --harmony-font-bold: 700;
  --harmony-font-heavy: 900;
}
