/**
 * Audius Sizing/Spacing Options
 *
 * We operate on a 4px unit grid. CSS files should prefer to use sizing variables
 * defined in this file rather than establishing their own sizings, particularly
 * for margin/padding spacing.
 */
:root,
root {
  --harmony-unit: 4px;

  --harmony-unit-1: 4px;
  --harmony-unit-2: 8px;
  --harmony-unit-3: 12px;
  --harmony-unit-4: 16px;
  --harmony-unit-5: 24px;
  --harmony-unit-6: 32px;
  --harmony-unit-7: 40px;
  --harmony-unit-8: 48px;
  --harmony-unit-9: 56px;
  --harmony-unit-10: 64px;
  --harmony-unit-11: 72px;
  --harmony-unit-12: 80px;
  --harmony-unit-13: 96px;
  --harmony-unit-14: 112px;
  --harmony-unit-15: 144px;
  --harmony-unit-16: 160px;
}
