/**
 * Audius Sizing/Spacing Options
 *
 * We operate on a 4px unit grid. CSS files should prefer to use sizing variables
 * defined in this file rather than establishing their own sizings, particularly
 * for margin/padding spacing.
 */
:root,
root {
  --unit: 4px;

  --unit-1: 4px;
  --unit-2: 8px;
  --unit-3: 12px;
  --unit-4: 16px;
  --unit-5: 20px;
  --unit-6: 24px;
  --unit-7: 28px;
  --unit-8: 32px;
  --unit-9: 36px;
  --unit-10: 40px;
  --unit-11: 44px;
  --unit-12: 48px;
  --unit-13: 52px;
  --unit-14: 56px;
  --unit-15: 60px;
  --unit-16: 64px;
  --unit-17: 68px;
  --unit-18: 72px;
  --unit-19: 76px;
  --unit-20: 80px;
  --unit-21: 84px;
  --unit-22: 88px;
  --unit-23: 92px;
  --unit-24: 96px;
  
  --unit-half: 2px;
  --negative-unit: -4px;
  --negative-unit-2: -8px;
}
