.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 8px 0px;
}

.buttons > *:first-child {
  margin-right: 40px;
}

.buttonsLeft {
  display: inline-flex;
}

.buttonsRight {
  display: inline-flex;
  justify-content: flex-end;
}

.deleteButton {
  border-color: var(--accent-red);
}

.deleteButton .deleteButtonText {
  color: var(--accent-red);
}

.deleteButton:hover {
  border-color: var(--accent-red);
  background-color: var(--accent-red);
}

.deleteButton:hover .deleteButtonText {
  color: var(--white);
}

.deleteButton:active .deleteButtonText {
  color: var(--white);
}

.deleteButton:active {
  border-color: var(--accent-red-dark-1);
  background-color: var(--accent-red-dark-1);
}

.saveChangesButton {
  margin-left: 24px;
}