.tag {
  padding: 5px 8px;
  height: 17px;
  border-radius: 2px;
  line-height: normal;
  background-color: var(--neutral-light-4);
  user-select: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.tag.clickable {
  cursor: pointer;
  transition: all ease-in-out .04s;
}
.tag.clickable:hover {
  background-color: var(--secondary);
  color: var(--white);
}
.tag.clickable:active {
  transform: scale(0.96);
}

.textLabel {
  color: var(--white);
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.75px;
  line-height: 8px;

  vertical-align: top;
  text-transform: uppercase;
  white-space: nowrap;
  word-break: keep-all;
  text-decoration: none;
  /*text-shadow: 0 1px 2px rgba(39,31,71,0.25);*/
}
