.container {
  position: relative;
}

.label {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--font-s);
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #BEC5E0;
  margin-bottom: 11px;
}

.input {
  padding: 14px 16px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #3F415B;
  border-radius: 6px;
  color: #BEC5E0;
  mix-blend-mode: normal;
  width: 100%;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BEC5E0;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.input:focus {
  outline: none;
}

.rightLabel {
  position: absolute;
  top: 41px;
  right: 10px;
  color: #777C96;
}

textarea {
  resize: none;
  height: 100%;
}