.wrapper {
  height: 24px;
  width: 24px;
}

.image {
  height: 24px;
  width: 24px;
  border: 2px solid var(--harmony-white);
  border-radius: 50%;
  box-sizing: border-box;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--neutral-light-10);
}

.imageSkeleton {
  border-radius: 50%;
}

.wrapper:not(:first-child) {
  margin-left: calc(-1 * 8px);
}
