.repostInfo {
  min-width: 0;
  max-width: 60%;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.repostInfo.large {
  font-size: var(--font-xs);
  font-weight: var(--font-demi-bold);
}

.repostInfo.medium,
.repostInfo.small {
  font-size: var(--font-2xs);
  font-weight: var(--font-demi-bold);
  letter-spacing: 0.25px;
}

.repostProfileImages {
  display: flex;
  margin-right: 4px;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
  display: inline-flex;
}

.showNonEmpty:hover * {
  color: var(--primary);
}

.showNonEmpty:hover path {
  fill: var(--primary);
}

.repostText {
  color: var(--neutral-light-4);
  min-width: 0;
  display: flex;
  align-items: center;
}

.repostText span {
  margin-left: 4px;
  margin-top: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repostText .iconRepost {
  width: 14px;
  min-width: 14px;
  height: 18px;
}

.repostSkeleton {
  position: absolute;
  border-radius: 4px;
  overflow:hidden;
  width: 30%;
}

.repostSkeleton > div > :global(.ant-skeleton-title) {
  margin: 0;
}

.repostSkeletonSmall > div > :global(.ant-skeleton-title) {
  height: 8px;
}

.iconRepost g path {
  fill: var(--neutral-light-4);
}
