.titleIcon path {
  fill: var(--neutral-light-2);
}

.modalText {
  text-align: center;
}

.modalButton {
  font-size: var(--font-l) !important;
  font-weight: var(--font-bold) !important;
}

.modalFooter {
  column-gap: var(--unit-2);
  padding: 0 var(--unit-6) var(--unit-6);
}
