.root {
  display: flex;
  align-items: center;
  column-gap: var(--unit-2);
}

.label {
  text-transform: uppercase;
  color: var(--neutral-light-4);
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  letter-spacing: 3px;
  line-height: 18px;

  user-select: none;
}

.icon {
  height: var(--unit-4);
  width: var(--unit-4);
}

.icon path {
  fill: var(--neutral-light-4);
}
