.pageContainer {
  width: 100%;
  position: relative;
}

.pageContainer .inset {
  padding: 0px var(--harmony-unit-15) var(--harmony-unit-15);
}

.pageContainer .flush {
  top: calc(-1 * 44px);
  padding: 0;
}

.pageContent {
  margin: auto;
  width: 100%;
}

.inset.medium > .pageContent {
  max-width: 1080px;
}
.inset.large > .pageContent {
  min-width: 720px;
  max-width: 1080px;
}

.headerContainer {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 13;
}

.frosted {
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 10;
  padding-inline: var(--harmony-unit-15);
}

.headerBoxShadow {
  height: 5px;
  width: 100%;
  box-shadow: var(--box-shadow-mid);
  position: relative;
  top: -5px;
}

.searchWrapper {
  position: absolute;
  top: var(--harmony-unit-8);
  left: var(--harmony-unit-15);
}
