/* ===Base Styles=== */
.button {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  transition: transform var(--harmony-hover);
}

.button:focus {
  outline: none !important;
}

/* Only add hover styles on devices which support it */
@media (hover: hover) {
  .button:not(.disabled):hover {
    transform: scale(1.04);
  }
}

.button:not(.disabled):active {
  transform: scale(0.98);
}

.button.disabled {
  pointer-events: none;
}

.icon path {
  fill: currentColor;
}

.fullWidth {
  width: 100%;
}
