/* ===Base Styles=== */
.button {
  --text-color: var(--text-default);
  background: transparent;
  border: none;
  color: var(--text-color);
}

/* === Sizes === */

/* Default */
.buttonDefault {
  gap: var(--unit-1);
  height: var(--unit-4);
}

.iconDefault {
  width: var(--unit-4);
  height: var(--unit-4);
}

.textDefault {
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  line-height: var(--unit-4);
}

/* Large */
.buttonLarge {
  gap: var(--unit-2);
  height: var(--unit-5);
}

.iconLarge {
  width: var(--unit-5);
  height: var(--unit-5);
}

.textLarge {
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  line-height: calc(4.5 * var(--unit-5));
}

/* === Color Variants === */

/* Default */
.default {
  --text-color: var(--text-default);
}

.default:hover {
  --text-color: var(--secondary);
}

.default:active {
  --text-color: var(--secondary-dark-2)
}

/* Subdued */
.subdued {
  --text-color: var(--text-subdued);
}

.subdued:hover {
  --text-color: var(--secondary);
}
.subdued:active {
  --text-color: var(--secondary-dark-2);
}

/* Inverted */
.inverted {
  --text-color: var(--static-white);
}
.inverted:hover {
  opacity: 0.8;
}
.inverted:active {
  opacity: 0.5;
}

/* Disabled states */
.disabled {
  opacity: 0.2;
}

.subdued.disabled {
  --text-color: var(--text-default);
}