.tooltip.fillParent {
  width: 100%;
}

.toast:global(.ant-tooltip) {
  max-width: none;
}

.toast.hideCaret :global(.ant-tooltip-arrow) {
  display: none;
}

.toast:global(.ant-tooltip-placement-right .ant-tooltip-arrow),
.toast:global(.ant-tooltip-placement-rightTop .ant-tooltip-arrow),
.toast:global(.ant-tooltip-placement-rightBottom .ant-tooltip-arrow) {
  left: 2px;
  border-width: 5px 5px 5px 0;
  border-right-color: var(--harmony-secondary);
}

.toast:global(.ant-tooltip-placement-bottom .ant-tooltip-arrow),
.toast:global(.ant-tooltip-placement-bottomTop .ant-tooltip-arrow),
.toast:global(.ant-tooltip-placement-bottomBottom .ant-tooltip-arrow) {
  border-width: 5px 0px 5px 5;
  border-bottom-color: var(--harmony-secondary);
}

.toast :global(.ant-tooltip-inner) {
  padding: 8px 14px;
  color: var(--harmony-static-white);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  background-color: var(--harmony-secondary);
  border-radius: 8px;
  white-space: nowrap;
}

.toast:global(.ant-tooltip-placement-right) {
  padding-left: 6px;
}

.toast:global(.ant-tooltip-placement-left) {
  padding-right: 6px;
}
