.button {
  all: unset;
  cursor: pointer;
  display: flex;
  color: var(--harmony-text-subdued);
  transition: border ease-in-out 0.1s;
}

.button:hover {
  color: var(--harmony-n-300);
}

.button svg {
  transition: all var(--quick);
}

.button {
  & svg path {
    fill: currentColor;
  }
}

.button:focus-visible {
  border: 1px solid var(--harmony-secondary);
  border-radius: var(--harmony-border-radius-s);
}
