.root {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-6);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: var(--harmony-unit-2);
}

.buttonContainer.mobile {
  flex-direction: column;
}

.summaryTableRow {
  flex-direction: column;
  align-items: flex-start;
}

.summaryTableRowValue {
  width: 100%;
}
