.body {
  flex-direction: column;
  align-items: unset;
}

.bodyText {
  display: flex;
  align-items: center;
}

.profilePicture {
  margin-right: var(--harmony-unit-2);
}

.sayThanks {
  margin-top: var(--harmony-unit-3);
  font-size: var(--font-large);
  color: var(--neutral-light-4);
}

.reactionList {
  display: flex;
}
