.body {
  flex-direction: column;
  align-items: unset;
}

.bodyUser {
  display: flex;
  align-items: center;
}

.profilePicture {
  margin-right: var(--harmony-unit-2);
}

.userNameLink {
  font-weight: var(--harmony-font-bold) !important;
}

.trending {
  display: inline-flex;
  align-items: center;
  margin-top: var(--harmony-unit-3);
}

.trendingIcon {
  margin-right: var(--harmony-unit-2);
  height: 18px;
  width: 20px;
}

.trendingIcon path {
  fill: var(--neutral-light-4);
}
