.container {
  width: 720px;
}

.content {
  display: inline-flex;
  padding-top: 24px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.input {
  max-width: 260px;
  width: 260px;
}

.currentLabel {
  display: inline-flex;
  padding-left: 28px;
  max-width: 240px;
  width: 240px;
  font-family: var(--font-family);
  font-weight: var(--font-demi-bold);
  font-size: var(--font-m);
  text-align: center;
  color: var(--neutral);
  flex: 1;
  text-align: left;
}

.audioLabel {
  margin-left: 4px;
}