.modalHeader {
  margin: 0px 16px;
}

.modalBody {
  max-width: 480px;
  width: 100%;
}

.modalTitle {
  color: var(--neutral-light-4);
  font-size: var(--font-l);
  font-weight: var(--font-heavy);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
