.modalHeader h2 {
  font-weight: var(--font-heavy);
  color: var(--neutral-light-2);
}

.modalHeaderDismissButton {
  color: var(--neutral-light-2);
}

.modalTitleIcon path,
.modalBody .learnMoreIcon path {
  fill: var(--neutral-light-2);
}

.modalBody {
  max-width: 480px;
}

.subtitle {
  margin-bottom: var(--unit-6);
  font-weight: var(--font-bold);
  font-size: var(--font-l);
}

.subtitle {
  margin-bottom: var(--unit-6);
  font-weight: var(--font-bold);
  font-size: var(--font-l);
}

.description {
  margin-bottom: var(--unit-6);
  font-weight: var(--font-medium);
  font-size: var(--font-l);
  line-height: 150%;
}

.learnMoreButton {
  margin-bottom: var(--unit-6);
  padding: 0;
  color: var(--neutral-light-2);
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
}

.buttonsContainer .button {
  width: 212px;
}

.buttonsContainer .buttonText {
  font-size: var(--font-l);
}
