.skeletonContainer {
  width: 100%;
  display: flex;
  align-items: center;
}
.skeleton {
  height: 32px;
  border-radius: 8px;
}
.skeleton:nth-child(1) {
  height: 40px;
}
.skeleton:nth-child(2) {
  margin-left: 8px;
}
.skeleton:nth-child(3) {
  margin-left: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 6px 10px;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0px 2px 5px var(--tile-shadow-3), 0px 1px 0px var(--tile-shadow-2),
    0px 0px 1px var(--tile-shadow-1);
}

.usersContainer {
  display: flex;
  align-items: center;
  font-size: var(--font-s);
  column-gap: 10px;
}
.recipientContainer {
  display: flex;
  align-items: center;
}
.senderContainer {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.profilePictureWrapper {
  cursor: pointer;
}
.profilePicture {
  border: 1px solid var(--neutral-light-8);
}
.name {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-weight: var(--font-bold);
  color: var(--neutral);
  white-space: nowrap;
}
.name > span:hover {
  cursor: pointer;
  color: var(--primary);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--primary-light-2);
  text-decoration-color: var(--primary-light-2);
}
.badge {
  height: 12px;
  margin-left: 4px;
}

.wasTippedByContainer {
  display: flex;
  align-items: center;
}
.wasTippedByIcon {
  width: 14px;
  height: 14px;
}
.wasTippedByIcon path {
  fill: var(--neutral-light-4);
}
.wasTippedByText {
  margin-left: 6px;
  color: var(--neutral-light-4);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.tippers {
  display: flex;
  align-items: center;
  margin-left: 4px;
  color: var(--neutral);
}
.tippers:hover {
  cursor: pointer;
  color: var(--primary);
}
.tipperName {
  display: flex;
  align-items: center;
  font-weight: var(--font-medium);
}
.tipperName > span {
  white-space: nowrap;
}
.tipperSeparator {
  margin: 0 4px;
}
.andOthers {
  margin-left: 4px;
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.buttons {
  display: flex;
  align-items: center;
}

.sendTipButton {
  margin-left: 8px;
}
.sendTipButtonTextContainer {
  display: flex;
}
.sendTipButtonText {
  color: var(--neutral-light-4) !important;
}
.sendTipName {
  margin-left: 2.5px;
  max-width: 302px;
  overflow: hidden;
  text-overflow: ellipsis;
}
