.root {
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-6);
}

.readTheDocs {
  color: var(--harmony-secondary);
  text-decoration: underline !important;
}

.readTheDocs:active,
.readTheDocs:hover {
  color: var(--secondary-dark-2);
}

.appName {
  font-size: var(--harmony-font-l);
  font-weight: var(--harmony-font-bold);
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.descriptionLabel {
  font-size: var(--harmony-font-s);
  font-weight: var(--harmony-font-heavy);
  text-transform: uppercase;
  line-height: 16px;
  opacity: 0.5;
  margin-bottom: var(--harmony-unit-2);
}

.description {
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-medium);
  line-height: 1.3;
  word-wrap: break-word;
}

.keyRoot {
  display: flex;
  align-items: center;
  background-color: var(--neutral-light-10);
  border-radius: var(--harmony-unit-1);
  border: 1px solid var(--neutral-light-8);
  gap: var(--harmony-unit-6);
  padding: var(--harmony-unit-4) var(--harmony-unit-6);
}

.keyLabel {
  min-width: 60px;
  width: 60px;
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-bold);
  color: var(--neutral-light-2);
  text-transform: uppercase;
  text-align: center;
}

.keyDivider {
  margin: calc(var(--harmony-unit-4) * -1) 0;
  flex-grow: 0;
  border-width: 0px thin 0px 0px;
  border-style: solid;
  border-color: var(--neutral-light-8);
  height: auto;
  align-self: stretch;
}

.keyText {
  width: 210px;
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-medium);
  color: var(--harmony-neutral);
  overflow-wrap: anywhere;
}

.goBack {
  all: unset;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  align-self: flex-start;
}

.goBackIcon {
  transform: scaleX(-1);
  margin-right: var(--harmony-unit-2);
}

.goBackIcon path {
  fill: var(--neutral-light-4);
}

.goBack:hover .goBackIcon path {
  fill: var(--neutral-light-2);
}

.goBack:active .goBackIcon path {
  fill: var(--harmony-neutral);
}

.goBackText {
  font-size: var(--harmony-font-l);
  font-weight: var(--harmony-font-bold);
  color: var(--neutral-light-4);
}

.goBack:hover .goBackText {
  color: var(--neutral-light-2);
}

.goBack:active .goBackText {
  color: var(--harmony-neutral);
}
