.content {
  display: flex;
  flex-direction: column;
  gap: var(--unit-6);
}

.actionsContainer {
  display: flex;
  gap: var(--unit-2);
}

.errorContainer {
  text-align: center;
}

.errorText {
  text-align: center;
  font-weight: var(--font-bold);
  color: var(--accent-red);
  font-size: var(--font-m);
  line-height: 120%;
}
