/* These classes map to the Harmony typography styles. They are organized into category+size variants
 * (ex. Title/Large is titleLarge). Using a variant on its own will apply the 'Default' font weight.
 * Some categories have additional weight variants ('Light' or 'Strong'). Those
 * can be applied _in addition_ to the base class when needed.
 * Example usage:
 ```
 import cn from 'classnames'
 import typeStyles from 'components/typography/typograph.module.css'

 export const Component = () => (
    <>
      <div className={typeStyles.titleMedium}>I am the title in a default weight</div>
      <div className={cn(typeStyles.bodyMedium, typeStyles.bodyStrong)}>
        I am the body copy and I am bold and important!
      </div>
    </>
 ```
*/

.inherit {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: inherit;
}

.root {
  color: var(--text-color);
}

/* Display Styles */
.display {
  font-weight: var(--font-bold);
}

/* 96 / 120 */
.displayXLarge {
  font-size: var(--unit-24);
  line-height: calc(var(--unit) * 30);
}

/* 72 / 88 */
.displayLarge {
  font-size: var(--unit-18);
  line-height: var(--unit-22);
}

/* 56 / 68 */
.displayMedium {
  font-size: var(--unit-14);
  line-height: var(--unit-17);
}

/* 42 / 52 */
.displaySmall {
  font-size: calc(var(--unit) * 10.5);
  line-height: var(--unit-13);
}

.displayStrong {
  font-weight: var(--font-heavy);
}

/* Heading Styles */
.heading {
  font-weight: var(--font-bold);
}

/* 40 / 44 */
.headingXxLarge {
  font-size: var(--unit-10);
  line-height: var(--unit-11);
}

/* 36 / 40 */
.headingXLarge {
  font-size: var(--unit-9);
  line-height: var(--unit-10);
}

/* 28 / 32 */
.headingLarge {
  font-size: var(--unit-7);
  line-height: var(--unit-8);
}

/* 24 / 32 */
.headingMedium {
  font-size: var(--unit-6);
  line-height: var(--unit-8);
}

/* 20 / 24 */
.headingSmall {
  font-size: var(--unit-5);
  line-height: var(--unit-6);
}

.headingStrong {
  font-weight: var(--font-heavy);
}

/* Title Styles */
.title {
  font-weight: var(--font-bold);
}

/* 18 / 24 */
.titleLarge {
  font-size: calc(var(--unit) * 4.5);
  line-height: var(--unit-6);
}

/* 16 / 20 */
.titleMedium {
  font-size: var(--unit-4);
  line-height: var(--unit-5);
}

/* 14 / 16 */
.titleSmall {
  font-size: calc(var(--unit) * 3.5);
  line-height: var(--unit-4);
}

/* 12 / 16 */
.titleXSmall {
  font-size: var(--unit-3);
  line-height: var(--unit-4);
}

.titleWeak {
  font-weight: var(--font-demi-bold);
}

.titleStrong {
  font-weight: var(--font-heavy);
}

/* Label Styles */
.label {
  font-weight: var(--font-bold);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* 20 / 24 */
.labelXLarge {
  font-size: var(--unit-5);
  line-height: var(--unit-6);
  text-transform: uppercase;
}

/* 16 / 16 */
.labelLarge {
  font-size: var(--unit-4);
  line-height: var(--unit-4);
  text-transform: uppercase;
}

/* 14 / 16 */
.labelMedium {
  font-size: calc(var(--unit) * 3.5);
  line-height: var(--unit-4);
  text-transform: uppercase;
}

/* 12 /12 */
.labelSmall {
  font-size: var(--unit-3);
  line-height: var(--unit-3);
  text-transform: uppercase;
}

/* 10 / 12 */
.labelXSmall {
  font-size: calc(var(--unit) * 2.5);
  line-height: var(--unit-3);
  text-transform: uppercase;
}

.labelWeak {
  font-weight: var(--font-medium);
}

.labelStrong {
  font-weight: var(--font-heavy);
}

/* Body Styles */
.body {
  font-weight: var(--font-medium);
}

/* 18 / 24 */
.bodyLarge {
  font-size: calc(var(--unit) * 4.5);
  line-height: var(--unit-6);
}

/* 16 / 20 */
.bodyMedium {
  font-size: var(--unit-4);
  line-height: var(--unit-5);
}

/* 14 / 20 */
.bodySmall {
  font-size: calc(var(--unit) * 3.5);
  line-height: var(--unit-5);
}

/* 12 / 20 */
.bodyXSmall {
  font-size: var(--unit-3);
  line-height: var(--unit-5);
}

.bodyStrong {
  font-weight: var(--font-demi-bold);
}

.bodyWeak {
  font-weight: var(--font-regular);
}

/* Special Styles */

.link {
  color: var(--focus);
}

.link:hover {
  color: var(--focus);
  text-decoration: underline !important;
}
