.container {
  flex-shrink: 0;
  margin-top: 160px;
  flex-shrink: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1110px;
  margin: 0px 48px;
  position: relative;
}

.foreground {
  position: relative;
  z-index: 5;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productShot {
  margin-bottom: 70px;
  user-select: none;
  width: 100%;
  max-width: 1110px;
}

.title {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  color: #a3a1b2;
  font-size: 42px;
  font-weight: 800;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
}

.coloredTitle {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 800;
  line-height: 88px;
  text-align: center;
  margin-bottom: 16px;
}

@media (max-width: 1240px) {
  .coloredTitle {
    font-size: 48px;
    line-height: 60px;
  }
}

@media (max-width: 994px) {
  .coloredTitle {
    font-size: 34px;
    line-height: 60px;
  }
}

.coloredTitleWord {
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background: linear-gradient(315deg, #5b23e1 0%, #a22feb 100%);
  margin-bottom: 16px;
  user-select: none;
}

.subText {
  color: #858199;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  width: 100%;
  max-width: 1110px;
}

.descriptionBody {
  overflow: hidden;
}

.dotsLogo {
  user-select: none;
  width: 382px;
  position: absolute;
  top: 230px;
  z-index: 0;
}

.dotsLeft {
  left: -118px;
}

.dotsRight {
  right: -118px;
}

.textAnimate {
  margin-right: 8px;
  overflow: hidden;
  display: inline-flex;
}

.mobileContainer .textAnimate:last-child {
  margin-right: 0;
}

.gradient1 {
  background: linear-gradient(315deg, #8a2be8 0%, #a22feb 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gradient2 {
  background: linear-gradient(315deg, #832ae7 0%, #882ae8 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gradient3 {
  background: linear-gradient(315deg, #7127e4 0%, #812ae7 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gradient4 {
  background: linear-gradient(315deg, #6c25e3 0%, #6e26e3 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gradient5 {
  background: linear-gradient(315deg, #5b23e1 0%, #6926e3 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Mobile Styles */

.mobileContainer {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0px 48px;
  overflow: hidden;
}

.mobileContainer .dotsLogo {
  width: 440px;
  position: absolute;
  z-index: 0;
  top: 130px;
  left: -100%;
  right: -100%;
  margin: 0px auto;
}

.mobileContainer .textSection {
  position: relative;
  z-index: 10;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.mobileContainer .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #a3a1b2;
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  text-align: center;
  position: relative;
  /* Counteract the spacing on the last character */
  left: 6px;
  max-width: 351px;
  margin: -12px auto 0px;
  user-select: none;
}

.mobileContainer .titleColor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 800;
  font-size: 42px;
  line-height: 52px;
  max-width: 500px;
  text-align: center;
  text-transform: uppercase;

  background: linear-gradient(315deg, #5b23e1 0%, #a22feb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 16px 24px;
}

.mobileContainer .coloredTitleWord {
  margin-bottom: 0px;
  user-select: none;
}

.mobileContainer .textAnimate:not(:first-child) .coloredTitleWord {
  margin-right: -8px;
}

.mobileContainer .textAnimate {
  overflow: visible;
}

.mobileContainer .textAnimate:last-child {
  margin-right: 0;
}

.mobileContainer .textDescription {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 0px 20px;
}

.mobileContainer .textDescription p {
  margin-bottom: 16px;
}
