.container {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 320px 120px 0;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1240px;
  display: inline-flex;
  flex-direction: column;
}

:global(#landingPage) .title {
  font-family: 'Avenir Next LT Pro' !important;
}

.title {
  color: #7e1bcc;
  font-size: 56px;
  font-weight: 900;
  line-height: 68px;
  text-align: center;
  user-select: none;
}

.subTitle {
  color: #858199;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

.tracksContainer {
  flex: 1;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  transition: all 0.3s ease-in-out;
  margin-top: 24px;
}

@media (max-width: 1380px) {
  .tracksContainer {
    max-width: 700px;
    margin: 24px auto 0;
  }
}

.trackMoveContainer {
  user-select: none;
}

.trackContainer {
  user-select: none;
  cursor: pointer;
}

.track {
  overflow: hidden;
  height: 280px;
  width: 280px;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
  background-size: cover;
}

.track:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.track:active {
  transform: scale3d(0.99, 0.99, 0.99);
}

.trackContent {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 19px;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0);
}

.trackContent:hover,
.trackContent:active {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.trackTitleContainer {
  margin-top: 24px;
  text-align: center;
}

.trackTitle {
  color: #858199;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}

.track .trackArtist {
  opacity: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  margin-bottom: 19px;
  transition: all 0.07s ease-in-out;
}

.track .listenOnAudius {
  opacity: 0;
  width: 154px;
  transition: all 0.07s ease-in-out;
}

.track:hover .trackTitle {
  opacity: 1;
}

.track:hover .trackArtist {
  opacity: 1;
}

.track:hover .listenOnAudius {
  opacity: 1;
}

.lines {
  position: absolute;
  left: -10%;
  right: -10%;
  width: 120%;
  height: auto;
  z-index: 0;
}

/* Mobile */

.mobileContainer {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 16px 0px;
  position: relative;
  height: auto;
  overflow: hidden;
}

.mobileContainer .title {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  user-select: none;
}
.mobileContainer .subTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.mobileContainer .tracksContainer {
  width: 100%;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 24px;
}

.mobileContainer .trackContainer {
  max-width: 165px;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.mobileContainer .trackImage {
  height: 164px;
  width: 164px;
  border-radius: 8px;
  margin-bottom: 14px;
  background-size: cover;
  background-position: center;
}

.mobileContainer .trackTitle {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  margin: 0px auto 2px;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
}

.mobileContainer .mobileIconArrow {
  height: 12px;
  width: 12px;
  margin-left: 4px;
}

.mobileContainer .mobileIconArrow path {
  fill: #858199;
}

.mobileContainer .trackArtist {
  color: #858199;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  margin: 0px auto;
}

.mobileContainer .lines {
  position: absolute;
  left: -10%;
  right: -10%;
  width: 500%;
  height: auto;
  top: 65%;
  z-index: 0;
}
