:global(#landingPage) .heroContainer .title {
  font-family: 'Avenir Next LT Pro' !important;
}

.container {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

/* BG Images */
.bg {
  padding: 100px;
  z-index: 1;
  width: 100%;
  min-height: 920px;
  height: 104vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);
}

.parallaxBg {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #7400ff;
}

.bgImageLoading {
  filter: blur(3px);
  opacity: 0.8;
}

.imgContainer {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.fgContainer {
  user-select: none;
  z-index: 10;
}

.foreground {
  height: auto;
  /* Adjust vw and vh values for image placement */
  --vw-adjusted: calc(100vw - 100px);
  --vh-adjusted: calc(100vh + 300px);
  /* Take the max of view height and width so that the image always fills the space */
  min-height: max(var(--vh-adjusted), var(--vw-adjusted));
}

.foregroundImg {
  height: 100vh;
  min-height: 960px;
}

@media (max-width: 1387px) {
  .container .textContent .subtitle {
    max-width: 500px;
  }
}

.bgContainer {
  z-index: 0;
}

.background {
  user-select: none;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  position: absolute;
}

.textContent {
  position: relative;
  z-index: 10;
  margin: 0px auto;
  width: 100%;
  max-width: 1240px;
}

.buttonContentParallax {
  position: relative;
  z-index: 30;
  width: 100%;
  display: flex;
  max-width: 1240px;
  margin-top: 24px;
}

.content {
  position: relative;
  z-index: 10;
  /* padding-top: 16px; */
}

.title {
  max-width: 800px;
  color: #ffffff;
  font-size: 160px;
  font-weight: 900;
  line-height: 132px;
  text-transform: uppercase;
  text-shadow:
    0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 42px 33px rgba(0, 0, 0, 0.05),
    0px 22px 18px rgba(0, 0, 0, 0.04),
    0px 12.5px 10px rgba(0, 0, 0, 0.035),
    0px 7px 5px rgba(0, 0, 0, 0.03),
    0px 2.8px 2.2px rgba(0, 0, 0, 0.02);
  transform: translateZ(0);
  /*for older browsers*/
  will-change: transform;
  letter-spacing: 0.02em;
  user-select: none;
}

.subtitle {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 24px;
  text-shadow:
    0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 42px 33px rgba(0, 0, 0, 0.05),
    0px 22px 18px rgba(0, 0, 0, 0.04),
    0px 12.5px 10px rgba(0, 0, 0, 0.035),
    0px 7px 5px rgba(0, 0, 0, 0.03),
    0px 2.8px 2.2px rgba(0, 0, 0, 0.02);
  transform: translateZ(0);
  /*for older browsers*/
  will-change: transform;
  margin-bottom: 72px;
}

.buttonContent {
  display: flex;
  position: relative;
  z-index: 30;
}

.appLinksContentParallax {
  position: relative;
  z-index: 25;
  width: 100%;
  display: flex;
  max-width: 1240px;
}

.appLinksContent {
  padding-top: 24px;
  display: flex;
  position: relative;
  z-index: 30;
}

.googlePlayBtn {
  margin-left: 8px;
}

.ctaButton {
  user-select: none;
  transition: all 0.15s ease-in-out;
  display: inline-flex;
  align-items: center;
  height: 48px;
  border: none;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow:
    0px 0px 1px -2px rgba(133, 129, 153, 0.1),
    0px 1px 0px -2px #e3e3e3,
    1px 2px 5px rgba(133, 129, 153, 0.25);
  color: #7e1bcc;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  transform: scale3d(1, 1, 1);
  margin-right: 48px;
}

.ctaButton path {
  fill: #7e1bcc;
}

.mobileContainer .ctaButton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 0;
  margin-bottom: 24px;
}

.ctaButton:hover {
  cursor: pointer;
  transform: scale3d(1.03, 1.03, 1.03);
  box-shadow:
    0px 0px 1px -2px rgba(133, 129, 153, 0.1),
    0px 1px 0px -2px #e3e3e3,
    0px 17px 21px rgba(133, 129, 153, 0.15);
}

.ctaButton:active {
  cursor: pointer;
  transform: scale3d(0.99, 0.99, 0.99);
  box-shadow:
    0px 0px 1px -2px rgba(133, 129, 153, 0.1),
    0px 1px 0px -2px #e3e3e3,
    0px 17px 21px rgba(133, 129, 153, 0.15);
}

.ctaMessage {
  margin-right: 8px;
}

.secondaryCtaMessage {
  margin-left: 12px;
}

.downloadButton {
  user-select: none;
  transition: all 0.15s ease-in-out;
  display: inline-flex;
  align-items: center;
  height: 48px;
  border: none;
  border-radius: 6px;
  background: none;
  color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  transform: scale3d(1, 1, 1);
  cursor: pointer;
}

.downloadButton path {
  fill: #ffffff;
}

.downloadButton:hover {
  transform: scale3d(1.03, 1.03, 1.03);
  background: rgba(255, 255, 255, 0.2);
}

.downloadButton:active {
  transform: scale3d(0.99, 0.99, 0.99);
  background: rgba(255, 255, 255, 0.1);
}

.glyphPattern {
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 0;
}

/* Mobile */
.mobileContainer {
  height: 850px;
  min-height: calc(104vh + 100px);
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
  width: 100%;
}

.mobileBG {
  user-select: none;
  min-width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.mobileImgBG {
  min-height: calc(134vh + 100px);
  min-width: 100%;
  width: 300%;
  margin: 0px -125% 0px;
}

.mobileContainer .content {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;

  background-size: auto 140%;
  background-position: 40% 10%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);
}

.mobileContainer .content .title {
  letter-spacing: -0.02em;
  color: #ffffff;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  text-shadow:
    0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 42px 33px rgba(0, 0, 0, 0.05),
    0px 22px 18px rgba(0, 0, 0, 0.04),
    0px 12.5px 10px rgba(0, 0, 0, 0.035),
    0px 7px 5px rgba(0, 0, 0, 0.03),
    0px 2.8px 2.2px rgba(0, 0, 0, 0.02);
  /* margin-bottom: 24px; */
  user-select: none;
}

.mobileContainer .content .subtitle {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 48px;
  text-shadow:
    0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 42px 33px rgba(0, 0, 0, 0.05),
    0px 22px 18px rgba(0, 0, 0, 0.04),
    0px 12.5px 10px rgba(0, 0, 0, 0.035),
    0px 7px 5px rgba(0, 0, 0, 0.03),
    0px 2.8px 2.2px rgba(0, 0, 0, 0.02);
}

.mobileContainer .glyphPattern {
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 0px;
  left: 0;
  transform: scale3d(3, 3, 3);
}
