.container {
  flex-shrink: 0;
  margin: 320px 0 200px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  position: relative;
}

.productShot {
  width: 100%;
  max-width: 807px;
}

:global(#landingPage) .title {
  font-family: 'Avenir Next LT Pro' !important;
}

.title {
  user-select: none;
  color: #7e1bcc;
  font-size: 56px;
  font-weight: 900;
  line-height: 68px;
  width: 100%;
  text-align: center;
}

.subTitle {
  color: #858199;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  width: 100%;
  text-align: center;
  margin-bottom: 36px;
}

.cardMoveContainer {
  margin-bottom: 32px;
  user-select: none;
}

.artistsContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

/*  Artist Component */

.artistContainer {
  display: inline-flex;
  flex-direction: column;
}

.artistImageWrapper {
  border: 2px solid var(--harmony-border-strong);
  border-radius: 50%;
  height: 192px;
  width: 192px;
  overflow: hidden;
  cursor: pointer;
}

.artistImageWrapper:hover {
  opacity: 0.85;
  transform: opacity var(--harmony-quick);
}

.artistImage {
  height: 100%;
  width: 100%;
  stroke-width: 2px;
  stroke: #fff;
}

.artistName {
  color: #858199;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  margin: 18px auto 0px;
  cursor: pointer;
}

.byArtistName {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: right;
  margin-top: 4px;
}

/* Mobile */

.mobileContainer {
  overflow: hidden;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 72px 0 56px;
  padding: 0 16px;
}

.mobileContainer .title {
  z-index: 1;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.mobileContainer .subTitle {
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.mobileContainer .artistsContainer {
  margin: unset;
  max-width: 400px;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 36px;
}

.mobileContainer .artistImageWrapper {
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
}

.mobileContainer .artistName {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  margin: 0px auto;
}
