.root {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: var(--harmony-unit-6);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--harmony-unit-2);
  transition: all ease-in-out 0.2s;
  margin-bottom: 0px;
  overflow: hidden;
  padding: var(--harmony-unit-10);
}

.buttonContainer {
  width: 100%;
  max-width: 750px;
  display: flex;
  gap: var(--harmony-unit-4);
  align-items: center;
  justify-content: center;
}
