.root {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  width: 100%;
  user-select: none;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 16px;
  background-color: var(--harmony-bg-surface-1);
}

.header {
  border-bottom: 1px solid var(--harmony-border-strong);
  border-radius: 8px 8px 0 0;
}

.footer {
  border-top: 1px solid var(--harmony-border-strong);
  border-radius: 0 0 8px 8px;
}

/* keep */
.shortScroll {
  max-height: 444px;
}

.tracks {
  display: flex;
  padding: 16px 0;
  flex-direction: column;
  background-color: var(--harmony-bg-white);
}
