.root {
  opacity: 1;
  position: relative;
  cursor: pointer;
}

.input {
  cursor: inherit;
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.switchTrack {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 48px;
  height: 26px;
  border-radius: 99px;
  position: relative;
  transition: background-color 0.2s;
  background-color: var(--neutral-light-6);
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.switchThumb {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  transition: 0.2s;
  background: var(--neutral-light-9);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.input:checked + .switchTrack {
  background-color: var(--secondary);
}

.input:checked + .switchTrack .switchThumb {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switchTrack:active .switchThumb {
  width: 20px;
}

.disabled {
  opacity: 0.5;
  cursor: auto;
  pointer-events: none;
}
