.overlayStyle {
  z-index: 20000;
}

/* Remove the default antd popover arrow */
.overlayStyle > :global(.ant-popover-content) > :global(.ant-popover-arrow) {
  display: none;
}

/* Remove the default antd popover inner content spacing*/
.overlayStyle
  > :global(.ant-popover-content)
  > :global(.ant-popover-inner)
  > div
  > :global(.antd-popover-inner-content) {
  padding: 0px;
}

/* Remove the default antd popover inner content spacing*/
.overlayStyle
  > :global(.ant-popover-content)
  > :global(.ant-popover-inner)
  > div
  > :global(.antd-popover-inner-content)
  > :global(.ant-popover-inner) {
  box-shadow: none;
  background-color: inherit;
  border-radius: 0px;
  padding: 0px;
}

.overlayStyle :global(.ant-popover-inner) {
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

.overlayStyle :global(.ant-popover-inner-content) {
  padding: 0px;
}

.overlayStyle:global(.ant-popover-placement-right),
.overlayStyle:global(.ant-popover-placement-rightTop),
.overlayStyle:global(.ant-popover-placement-rightBottom) {
  padding-left: 9px;
}

.overlayStyle:global(.ant-popover-placement-left),
.overlayStyle:global(.ant-popover-placement-leftTop),
.overlayStyle:global(.ant-popover-placement-leftBottom) {
  padding-right: 9px;
}

.overlayStyle:global(.ant-popover-placement-top),
.overlayStyle:global(.ant-popover-placement-topLeft),
.overlayStyle:global(.ant-popover-placement-topRight) {
  padding-bottom: 9px;
}

.overlayStyle:global(.ant-popover-placement-bottom),
.overlayStyle:global(.ant-popover-placement-bottomLeft),
.overlayStyle:global(.ant-popover-placement-bottomRight) {
  padding-top: 9px;
}

:global(.ant-popover-open):hover {
  color: var(--harmony-primary);
  text-decoration: underline;
  text-decoration-color: var(--primary-light-2);
}
