.modalBody {
  max-width: 560px;
  width: 100%;
}

.modalHeader {
  margin: 0px 16px;
  border-bottom-color: var(--neutral-light-7);
}

.modalTitle {
  color: var(--neutral);
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  letter-spacing: 0.5px;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.icon path {
  fill: var(--neutral);
}

.scrollable {
  min-height: 0;
  max-height: 690px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable :global(.simplebar-scrollbar) {
  width: 6px;
  border-radius: 4px;
  opacity: 0.5;
}

.scrollable :global(.simplebar-scrollbar:before) {
  width: 6px;
}

.user {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}
.user:hover {
  background: var(--neutral-light-10);
}
.user:active {
  background: var(--neutral-light-9);
}
.user.notLastUser {
  border-bottom: 1px solid var(--neutral-light-7);
}

.artistChipContainer :global(.name) {
  color: var(--neutral);
  font-family: var(--font-family);
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  line-height: normal;
  margin-bottom: 8px;
}
.artistChipContainer :global(.followers) {
  text-align: left;
  width: 104px;
  color: var(--neutral);
  font-family: var(--font-family);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  line-height: normal;
}

.loadingAnimation {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: none;
}
.loadingAnimation.show {
  opacity: 1;
  display: block;
}
.loadingAnimation > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingAnimation svg {
  max-height: 24px;
  max-width: 24px;
}
.loadingAnimation g path {
  stroke: var(--neutral-light-3) !important;
}
