/**
 * Audius Color Palette
 *
 * Each defined color has variants defined by the 'dark' or 'light'
 * keyword. The number signifies an increasing value for the property, e.g.
 * -dark-2 is darker than -dark-1.
 */
:root {
  --secondary-transparent: rgba(126, 27, 204, 0.85);

  /* --white everywhere except darkmode, which is static*/
  --darkmode-static-white: var(--harmony-white);

  --ai-primary: #1fd187;
  --ai-secondary: #0fc578;

  --primary-gradient-alt-1: linear-gradient(135deg, #d63fe6 0%, #a30cb3 100%);
  --page-header-gradient: linear-gradient(
    -22deg,
    var(--harmony-gradient-color-1) 0%,
    var(--harmony-gradient-color-2) 100%
  );
  --page-header-text-shadow-color: rgba(162, 47, 235, 0.2);
  --page-header-text-shadow: 0px 2px 4px var(--page-header-text-shadow-color);
  --accent-red-gradient: linear-gradient(
    315deg,
    var(--harmony-dark-red) 0%,
    var(--harmony-red) 100%
  );
  --play-button-triangle: var(--harmony-static-white);
  --action-sheet-text: var(--harmony-secondary);
  --track-slider-rail: var(--harmony-neutral);
  --track-slider-handle: var(--harmony-static-white);
}

:root {
  --image-shadow: rgba(10, 10, 10, 0.35);
  --tile-shadow-1: rgba(133, 129, 153, 0.1);
  --tile-shadow-2: #e3e3e3;
  --tile-shadow-3: rgba(133, 129, 153, 0.25);
  --tile-shadow-1-alt: rgba(133, 129, 153, 0.2);

  --currently-playing-border: #ffffff;
  --currently-playing-default-shadow: rgba(242, 242, 242, 0.5);

  --card-image-shadow: rgba(133, 129, 153, 0.75);

  --input-background: rgba(255, 255, 255, 0.8);

  --search-bar-background: rgba(255, 255, 255, 0.8);
  --search-bar-expanded: rgba(255, 255, 255, 1);
  --search-bar-border: rgba(143, 149, 152, 0.1);
  --search-bar-shadow: rgba(133, 129, 153, 0.15);

  --nav-column-group-header: var(--harmony-n-400);
  --nav-column-link: var(--harmony-n-950);
  --nav-column-link-hover: var(--harmony-n-950);

  --scrubber-hover: var(--primary-gradient-alt-1);
  --stems-token-value-slider-background: var(--harmony-gradient);
  --stems-token-value-slider-background-error: var(--accent-red-gradient);

  --table-shadow: rgba(133, 129, 153, 0.15);

  --mask: rgba(243, 240, 247, 0.5);
  --skeleton-gradient: linear-gradient(
    90deg,
    #f7f7f9 25%,
    #f2f2f4 37%,
    #f7f7f9 63%
  );
  --skeleton: var(--harmony-n-50);
  --skeleton-highlight: var(--harmony-n-100);
  --profile-completion-shadow-1: rgba(126, 27, 204, 0.05);
  --profile-completion-shadow-2: rgba(133, 129, 153, 0.2);

  --default-profile-picture-background: var(--harmony-n-400);

  --notification-panel-box-shadow: rgba(0, 0, 0, 0.25);
  --notification-border: rgba(133, 129, 153, 0.2);
  --notification-background: #ffffff;
  --notification-border-hover: rgba(133, 129, 153, 0.2);
  --notification-background-hover: #ffffff;
  --notification-background-box-shadow: 0 2px 15px -4px rgba(133, 129, 153, 0.2);
  --notification-border-active: rgba(133, 129, 153, 0.2);
  --notification-background-active: #fafafa;

  --notification-unread-border: rgba(126, 27, 204, 0.3);
  --notification-unread-background: rgba(152, 73, 214, 0.02);
  --notification-unread-border-hover: rgba(126, 27, 204, 0.3);
  --notification-unread-background-hover: rgba(152, 73, 214, 0.02);
  --notification-unread-background-box-shadow: 0 2px 15px -4px rgba(126, 27, 204, 0.15);
  --notification-unread-border-active: rgba(126, 27, 204, 0.3);
  --notification-unread-background-active: rgba(152, 73, 214, 0.06);

  --page-header-gradient-1: rgb(252, 252, 252);
  --page-header-gradient-2: rgba(252, 252, 252, 0.85);
  --page-header-gradient-2-alt: rgba(252, 252, 252, 0.95);
  --next-and-previous-buttons: var(--harmony-neutral);

  --segmented-progress-bar-segment-1: linear-gradient(
    180deg,
    #ed75f9 0%,
    #cc0fe0 100%
  );
  --segmented-progress-bar-segment-2: linear-gradient(
    180deg,
    #e477fb 0%,
    #b815db 100%
  );
  --segmented-progress-bar-segment-3: linear-gradient(
    180deg,
    #d069f5 0%,
    #9f0ad4 100%
  );
  --segmented-progress-bar-segment-4: linear-gradient(
    180deg,
    #cc75fa 0%,
    #8908ce 100%
  );
  --segmented-progress-bar-segment-5: linear-gradient(
    180deg,
    #af4dff 0%,
    #7305c8 100%
  );
  --segmented-progress-bar-segment-6: linear-gradient(
    180deg,
    #9c45ff 0%,
    #5c03c2 100%
  );
  --segmented-progress-bar-segment-7: linear-gradient(
    180deg,
    #833bfb 0%,
    #4600bc 100%
  );
}
