@import './colors.css';
@import './sizing.css';
@import './emoji.css';
@import './ant-overrides.css';
@import './shadows.css';

#root *,
body * {
  font-family: var(--harmony-font-family) !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--harmony-neutral);
}

body {
  background: var(--background);
  backface-visibility: hidden;
  /** Turn off user select so the web app behaves more like "an app" */
  user-select: none;
}
