@import 'assets/styles/colors.css';
@import 'assets/styles/sizing.css';
@import 'assets/styles/type.css';
@import 'assets/styles/emoji.css';
@import 'assets/styles/ant-overrides.css';
@import 'assets/styles/shadows.css';

#root *,
body * {
  font-family: var(--font-family) !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--neutral);
}

body {
  background: var(--background);
  backface-visibility: hidden;
  /** Turn off user select so the web app behaves more like "an app" */
  user-select: none;
}
