:root {
  /*
   * Default/Near
   * - onPress state on card elements
   */
  --box-shadow-near: 0px 0px 1px -2px var(--tile-shadow-1),
    0px 1px 0px -2px var(--tile-shadow-2), 0px 2px 5px -2px var(--tile-shadow-3);
  --drop-shadow-near: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08));

  /*
   * Default/Far
   * - Hover state for card elements.
   * - Larger cards/sections without hover states
   * - Modal Shadows
   */
  --box-shadow-far: 0px 0px 1px -2px var(--tile-shadow-1),
    0px 1px 0px -2px var(--tile-shadow-2), 0px 16px 20px var(--table-shadow);
  --drop-shadow-far: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.04))
    drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.08));

  /* Mid shadow from Harmony */
  --box-shadow-mid: 0px 4px 8px 0px #0000000f, 0px 0px 4px 0px #0000000a;
}
