:root {
  --harmony-font-family: 'Avenir Next LT Pro', 'Helvetica Neue', Helvetica, Arial,
    sans-serif !important;

  --harmony-font-2xs: 10px;
  --harmony-font-xs: 12px;
  --harmony-font-s: 14px;
  --harmony-font-m: 16px;
  --harmony-font-l: 18px;
  --harmony-font-xl: 20px;
  --harmony-font-2xl: 24px;
  --harmony-font-3xl: 32px;
  --harmony-font-4xl: 36px;

  --harmony-font-ultra-light: 100;
  --harmony-font-regular: 400;
  --harmony-font-medium: 500;
  --harmony-font-demi-bold: 600;
  --harmony-font-bold: 700;
  --harmony-font-heavy: 900;
}
