.popup {
  padding: var(--unit-2);
}

.menu {
  all: unset;
}

.item {
  display: flex;
  align-items: center;
  gap: var(--unit-2);
  padding: var(--unit-2) var(--unit-3);
  border-radius: var(--unit);
  font-size: var(--font-m);
  font-weight: var(--font-demi-bold);
  color: var(--neutral);
}

.item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--unit-5);
  height: var(--unit-5);
}

.item path {
  fill: var(--neutral);
}

.item:hover {
  cursor: pointer;
  color: var(--primary-secondary-text);
  background: var(--secondary);
}

.item:hover path {
  fill: var(--primary-secondary-text);
}
