.scrollbar {
  height: 100%;
  min-height: 0;
}

.scrollbar :global(.ps__thumb-y) {
  opacity: 0.5;
  background-color: var(--neutral-dark-3);
}

.scrollbar :global(.ps__rail-y) {
  margin-top: var(--unit);
  margin-bottom: var(--unit);
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

/* Cancel the default of perfect scroll, which always shows the scrollbar when hovering over container. Our desired behavior is to
only show the scrollbar for ~1s, then fade away if not scrolling. */
:global(.ps:hover).scrollbar > :global(.ps__rail-y),
:global(.ps:hover).scrollbar > :global(.ps__rail-x) {
  opacity: 0;
}

:global(.scrollbar--hovered-visible).scrollbar:not(:global(.ps--scrolling-y))
  > :global(.ps__rail-y),
:global(.scrollbar--hovered-visible).scrollbar:not(:global(.ps--scrolling-x))
  > :global(.ps__rail-x) {
  opacity: 0.6;
}

:global(.ps--focus).scrollbar > :global(.ps__rail-x),
:global(.ps--focus).scrollbar > :global(.ps__rail-y),
:global(.ps--scrolling-x).scrollbar > :global(.ps__rail-x),
:global(.ps--scrolling-y).scrollbar > :global(.ps__rail-y) {
  opacity: 0.6 !important;
}

.scrollbar > :global(.ps__rail-y):hover,
.scrollbar > :global(.ps__rail-x):hover {
  opacity: 0.9 !important;
}
