.addressContainer {
  display: flex;
  align-items: center;
  gap: var(--unit-6);
  padding: 0 var(--unit-6);
  border-radius: var(--unit-1);
  border: 1px solid var(--border-default);
  background: var(--default-background-surface-1);
}

.leftContainer {
  display: flex;
  justify-content: center;
}

.middleContainer {
  width: 50;
  display: flex;
  flex: 1;
  flex-shrink: 1;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: var(--unit-4) var(--unit-6);
  border-right: 1px solid var(--border-default);
  border-left: 1px solid var(--border-default);
}

.rightContainer {
  display: flex;
  flex-shrink: 1;
}

.address {
  overflow: ellipsis;
}
