.connector {
  width: var(--harmony-spacing-xl);
  min-width: unset;
}

.underline {
  position: absolute;
  bottom: -3px;
  display: block;
  height: 3px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--harmony-primary);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
