.tagsTitleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.tagsContent {
  padding: 8px;
  background: var(--white);
  border-radius: 4px;
  box-shadow: 0px 2px 5px var(--tile-shadow-3), 0px 1px 0px var(--tile-shadow-2),
    0px 0px 1px var(--tile-shadow-1);
}
.topTagsIcon {
  width: 18px;
  height: 18px;
}
.tagsTitleText {
  margin-left: 6px;
  font-weight: var(--font-bold);
  font-size: var(--font-s);
}
.tagsLine {
  margin-left: 12px;
  background: var(--neutral-light-7);
  width: 106px;
  height: 1px;
}

.tags {
  margin-top: 32px;
}

.tags > .tagsContent {
  display: flex;
  flex-wrap: wrap;
}
.tags > .tagsContent > .tag {
  margin: 4px 8px 4px 0;
}
