.textContainer {
  position: relative;
  display: inline-flex;
  gap: 4px;
  max-width: 100%;
}

.textCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.changeCell.increase {
  color: var(--accent-green);
}
.changeCell.decrease {
  color: var(--accent-orange);
}
