.textContainer {
  position: relative;
  display: inline-flex;
  gap: 4px;
  max-width: 100%;
}

.textCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.icon {
  margin-right: 22px;
}

.changeCell.increase {
  color: var(--harmony-green);
}
.changeCell.decrease {
  color: var(--harmony-orange);
}

.typeText {
  line-height: 150%;
}
