.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--notification-background-active);
  height: 100%;
  width: 100%;
}

.spacer {
  visibility: hidden;
  flex: 0.5;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--font-xl);
  font-weight: var(--font-medium);
  letter-spacing: 0.3px;
  color: var(--neutral-light-2);
  margin: auto 80px 0px;
}

.container > * {
  margin-top: 24px;
}

.container > *:last-child {
  margin-top: auto;
  margin-bottom: 160px;
}

.button {
  margin-top: auto;
  background-color: var(--primary);
}

.spinner svg {
  height: 22px !important;
  width: 22px !important;
}