Dockerfile*
docker-compose*
comms-linux
wip
.vscode
*.md
# .git
.gitignore
.editorconfig
tmp
storage/storageserver/weather-map/*
!storage/storageserver/weather-map/dist
# needed for make build.fast
!build/comms-linux-amd64
