.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--harmony-unit-6);
  text-align: center;
  height: 100%;
  justify-content: space-around;
  font-weight: var(--font-bold);
}

.actionList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--harmony-unit-3);
}

.actionItemIcon {
  min-width: 44px;
  display: inline-flex;
}

.actionButton {
  width: 100%;
}

/* The following have intentionally increased specificity to override stems button specificity */
.actionButton .actionButtonLabel {
  font-size: var(--font-l);
  font-weight: var(--font-bold);
}

.actionButton .shareIcon path {
  fill: var(--secondary) !important;
}

.actionButton .shareActionLabel {
  color: var(--secondary);
}
