.searchBar {
  height: 54px;
  margin: 24px 48px 0px;
}

.searchIcon {
  position: absolute;
  right: 2px;
}

.modalBody {
  overflow: hidden;
  height: 650px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  margin: 0px 16px;
}

.listContent {
  padding: 0px 32px 24px;
}

.list {
  user-select: none;
  font-size: var(--font-xs);
  background-color: var(--white);
}

.listItem {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: var(--font-l);
  font-weight: var(--font-demi-bold);
  color: var(--neutral);
}

.listItem.disabled .playlistName,
.listItem.disabled .imageWrapper {
  opacity: 0.5;
}

.listItem:not(.disabled):hover {
  cursor: pointer;
  color: var(--white);
  background: var(--secondary);
}

.add {
  margin-right: var(--harmony-spacing-m);
}

.add path:nth-child(1) {
  fill: var(--secondary);
}

.add path:nth-child(2) {
  fill: var(--white);
}

.listItem:hover .add path:nth-child(1) {
  fill: var(--white);
}

.listItem:hover .add path:nth-child(2) {
  fill: var(--secondary);
}

.listItem:hover .image {
  border: 1px solid var(--white);
}

.imageWrapper {
  height: 32px;
  width: 32px;
  margin-right: 8px;
  flex-shrink: 0;
}

.image {
  border-radius: 4px;
}

.playlistName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 32px;
}
