package components

import "fmt"

templ (c *Components) Link(format string, args ...interface{}) {
	<a href={ templ.URL(fmt.Sprintf("%s%s", c.baseUrl, fmt.Sprintf(format, args...))) }>
		{ children... }
	</a>
}

templ (c *Components) ExternalLink(format string, args ...interface{}) {
	<a href={ templ.URL(fmt.Sprintf(format, args...)) } target="_blank">
		{ children... }
	</a>
}
