.modalBody {
  width: 100%;
  max-width: 1080px;
  /* Need to account for the dropdown outside modal */
  overflow-y: visible !important;
  overflow-x: visible !important;
}

.segmentedControlContainer {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}
