.editActionsContainer {
  display: flex;
  justify-content: space-between;
}

.createActionsContainer {
  display: flex;
  justify-content: center;
}

.buttonsLeft {
  display: inline-flex;
}

.buttonsRight {
  display: inline-flex;
  justify-content: flex-end;
}

.deleteButton {
  border-color: var(--accent-red);
}

.deleteButton .deleteButtonText {
  color: var(--accent-red);
}

.saveChangesButton {
  margin-left: 24px;
}

.cancelButton {
  border-color: var(--neutral-light-6);
}

.cancelButton .cancelButtonText {
  color: var(--neutral-light-1);
}
