.settingsCard {
  height: 112px;
  border-radius: 6px;
  background-color: var(--white);
  box-shadow: 0 2px 5px -2px var(--tile-shadow-3);
  padding: 24px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  margin-bottom: 16px;
  text-align: left;
}


.title {
  color: var(--secondary);
  font-family: var(--font-family);
  font-size: var(--font-m);
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.description {
  color: var(--neutral);
  font-family: var(--font-famliy);
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
}