.header > * {
  display: flex;
  align-items: center;
}

.iconRobot {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.iconRobot path {
  fill: url(#linearGradient-1);
}

.matrix path {
  fill: url(#matrixHeaderGradient);
}

.subHeader {
  padding: var(--harmony-unit-3) var(--harmony-unit-6);
  text-align: left;
  margin: 0px calc(var(--harmony-unit-3) * -1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
  background-color: var(--white);
  font-weight: var(--font-medium);
  font-size: var(--font-m);
  line-height: 130%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
}

.user {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--neutral);
  font-size: var(--font-m);
  font-weight: var(--font-medium);
  letter-spacing: 0.57px;
  line-height: 20px;
}

.iconVerified {
  margin-left: 4px;
}

.link {
  margin: 0 4px 0 0;
  color: var(--secondary);
  display: flex;
  align-items: center;
}

.container {
  padding: 0px 12px;
  width: 100%;
}

.tracksContainer {
  width: 100%;
  padding-top: 48px;
}
