.row {
  display: flex;
  justify-content: center;
  background: var(--harmony-white);
}

.item {
  padding: var(--harmony-unit-6);
}

.loader {
  height: var(--harmony-unit-8);
  width: var(--harmony-unit-8);
}
