.tableRepostButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.icon {
  width: 18px;
  height: 18px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
