.emptyTab {
  color: var(--harmony-neutral);
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-medium);
  width: 100%;
  text-align: center;

  margin-top: 38px;
  user-select: none;
}
