.tagsTitleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.topTagsIcon {
  width: 18px;
  height: 18px;
}
.tagsTitleText {
  margin-left: 6px;
  font-weight: var(--harmony-font-bold);
  font-size: var(--harmony-font-s);
}
.tagsLine {
  margin-left: 12px;
  background: var(--harmony-n-150);
  width: 106px;
  height: 1px;
}
