.wrapper {
  position: absolute;
  z-index: var(--layer-popup);
}

.popup {
  background-color: var(--white);
  border-radius: var(--unit-2);
  border: 1px solid var(--neutral-light-7);
  box-shadow: 0 16px 20px 0 var(--tile-shadow-1-alt);
  padding: var(--unit-2);
  user-select: none;
}

.header {
  border: none;
  margin-bottom: var(--unit-1);
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header:after {
  content: '';
  width: var(--unit-2);
  padding-right: var(--unit-half);
}

.title {
  margin: 0 auto;
  justify-self: center;
  font-size: var(--font-m);
  font-weight: var(--font-bold);
  color: var(--neutral);
}

.iconRemove {
  cursor: pointer;
  height: var(--unit-6);
  width: var(--unit-6);
  padding-left: var(--unit-half);
  transition: all var(--quick);
}

.iconRemove g path {
  fill: var(--neutral-light-4);
}

.iconRemove:hover {
  transform: scale(1.1);
}

.iconRemove:hover g path {
  fill: var(--neutral);
}

.iconRemove:active {
  transform: scale(0.95);
}
