.container {
  display: inline-flex;
  align-items: center;
  gap: var(--harmony-unit-6);
  max-width: 100%;
}

.artwork {
  height: var(--harmony-unit-10);
  width: var(--harmony-unit-10);
  border-radius: var(--harmony-unit-1);
  border: 1px solid var(--border-default);
  overflow: hidden;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
}
