.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.noPurchasesTile {
  align-items: center;
  gap: var(--unit-8);
  justify-content: center;
  padding: var(--unit-10);
  width: 100%;
}

.noPurchasesContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--unit-2);
  justify-content: center;
}
