.notificationDot {
  display: block;
  border-radius: 100%;
  background: var(--harmony-secondary);
}

.large {
  width: var(--harmony-unit-3);
  height: var(--harmony-unit-3);
}

.small {
  width: var(--harmony-unit-2);
  height: var(--harmony-unit-2);
}
