.actionsBar {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  background: var(--neutral-light-8);

  height: 48px;
  border-radius: 10px;
}

.actionsBar > div .actionsBar button {
  width: 48px !important;
  height: 48px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionsBar svg {
  width: 36px !important;
  height: 36px !important;
}

.activeButton path {
  fill: var(--primary) !important;
}

.disabledButton path {
  fill: var(--neutral-light-6) !important;
}

.animatedFavoriteButton {
  position: relative;
  top: 2px;
}

.repostButton {
  height: 32px !important;
  width: 32px !important;
}

.favoriteButton {
  height: 32px;
  width: 32px;
}

.animatedBottomButton svg {
  height: 40px !important;
  width: 40px !important;
}

.animatedFavoriteButton svg {
  height: 30px !important;
  width: 30px !important;
}

.iconContainer {
  width: 24px;
  height: 24px;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2px;
}

.icon {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon path {
  fill: var(--neutral);
}

.iconCast svg {
  margin-top: 1px;
  width: 26px !important;
  height: 26px !important;
}
