.container {
  flex-direction: column;
}

.background {
  background-color: var(--white);
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  position: initial;
}

.header :global(.headerTitle) {
  color: var(--secondary);
  font-size: var(--font-m);
  letter-spacing: 0.44px;
  background-image: none;
  text-shadow: none;
  -webkit-text-fill-color: inherit;
}

.body :global(.emoji) {
  vertical-align: inherit;
  line-height: 24px;
  margin: 0px 4px 4px;
}

.body {
  text-align: left;
  user-select: none;
  margin: 8px 12px 16px;
  color: var(--neutral);
  font-family: var(--font-family);
  font-size: var(--font-s);
  font-weight: var(--font-medium);
  line-height: 24px;
}
