/* Stats Container */

.container {
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  min-width: 228px;
  box-sizing: border-box;
  align-items: center;
}

.status {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  height: 62px;
  text-align: center;
  letter-spacing: 0.02em;
  display: inline;
  background: -webkit-linear-gradient(315deg, #7652cc 2.04%, #b05ce6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.label,
.description {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-l);
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #bec5e0;
  user-select: none;
}

.loadingContainer {
  height: 62px;
  display: flex;
  align-items: center;
}
