.signInInput {
  margin: 12px auto;
  max-width: 360px;
}

.continueButton {
  display: block;
  margin: var(--spacing) auto 0;
  font-size: var(--font-l);
}
.continueButton.isMobile {
  width: 100%;
}

.spinner {
  display: block;
  height: 18px;
  width: 18px;
  margin: 3px;
}

.spinner g path {
  stroke: var(--white) !important;
}
