.notice {
  display: flex;
  width: 100%;
  pointer-events: none;
  justify-content: center;
  z-index: 10000;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.17s ease-in-out;
  transition-delay: 0s;
}

.notice.show {
  opacity: 1;
  top: 24px;
  top: calc(24px + env(safe-area-inset-top, 0px));
  /* Delay coming in since this triggers on page load */
  transition-delay: 3s;
}

.notice.show.shouldPadTop {
  opacity: 1;
  top: 48px;
  top: calc(48px + env(safe-area-inset-top, 0px));
  /* Delay coming in since this triggers on page load */
  transition-delay: 3s;
}

.content {
  pointer-events: none;
  margin: 0 20px;
  position: relative;
  background: var(--page-header-gradient);
  padding: 12px 64px;
  box-shadow: 0px 16px 20px rgba(133, 129, 153, 0.15);
  border-radius: 8px;
  color: var(--harmony-static-white);
  font-size: var(--harmony-font-m);
  line-height: 22px;
  text-align: center;
  font-weight: var(--harmony-font-bold);
}

.contentShow {
  pointer-events: all;
}

.iconRemove {
  cursor: pointer;
  position: absolute;
  left: 16px;
}

.iconRemove path {
  fill: var(--harmony-static-white);
}

.content i {
  margin-left: 2px;
}
